<div *ngIf="displaypc">
    <div class="container" style="margin-top:104px;">
        <!-- feedbackmsg -->
        <feedback-message></feedback-message>
        <!-- EOFM -->
        <!-- Code to add Loader -->
        <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div class="row">
            <div class="divClass col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 maindiv-margin-mob">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row titlebox my-4">
                        <h6 class="">
                            Submit Feedback
                        </h6>
                    </div>
                    <form [formGroup]="feedbackForm">
                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12 div-padding">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding inputfield-margin-mob">
                                    <label for="category">
                                        <b>Select category:</b>
                                    </label>
                                    <select tabindex="1" class="form-control" formControlName="category">
                                        <option value="" disabled selected> Select Category </option>
                                        <option value="{{cat.categoryName}}" *ngFor="let cat of this.stringService.getCategories() let i=index;">
                                            {{cat.categoryName}}
                                        </option>
                                    </select>
                                </div>
                                <!-- <div *ngIf="showSubcategories" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding inputfield-margin-mob" style="padding-top: 20px">
                                    <label for="subcategory">
                                        <b>Select subcategory:</b>
                                    </label>
                                    <select tabindex="1" class="form-control" formControlName="subcategory">
                                        <option value="" disabled selected> Select SubCategory </option>
                                        <option value="subcat" *ngFor="let subcat of subcategories">
                                            {{subcat}}
                                        </option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-4 mob-div-padding" style="padding-left: 1px;">
                                <label for="feedback">
                                    <b>Give Your Feedback Here.</b>
                                </label>
                                <textarea class="form-control" rows="5" formControlName="feedback"></textarea>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="displaypc">
                        <button class="submit-btn btn btn-jsw" [disabled]="!(feedbackForm.valid)" (click)="onSubmitClick()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- for mobile -->
<div *ngIf="displaymobile">
    <div class="container">
        <!-- feedbackmsg -->
        <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole" style="margin-top: 145px;">
            <feedback-message class="feedback-mob"></feedback-message>
        </div>
        <div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole" style="margin-top: 79px;">
            <feedback-message class="feedback-mob"></feedback-message>
        </div>
        <!-- EOFM -->
        <!-- Code to add Loader -->
        <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 maindiv-margin-mob">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row titlebox my-4">
                        <h6 class="">
                            Submit Feedback
                        </h6>
                    </div>
                    <form [formGroup]="feedbackForm">
                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12 div-padding">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding inputfield-margin-mob" style="margin-bottom:8px;">
                                    <label for="category" class="label-mob">
                                        <b>Select category:</b>
                                    </label>
                                    <select tabindex="1" class="form-control" formControlName="category">
                                        <option value=""> Select Category </option>
                                        <option value="{{cat.categoryName}}" *ngFor="let cat of this.stringService.getCategories() let i=index;">
                                            {{cat.categoryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>    
                                <!-- <div *ngIf="showSubcategories" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding inputfield-margin-mob" style="margin-bottom:8px;">
                                    <label for="subcategory" class="label-mob">
                                        <b>Select subcategory:</b>
                                    </label>
                                    <select tabindex="1" class="form-control" formControlName="subcategory">
                                        <option value=""> Select SubCategory </option>
                                        <option value="subcat" *ngFor="let subcat of subcategories">
                                            {{subcat}}
                                        </option>
                                    </select>
                                </div> -->
                            
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  mob-div-padding" style="padding-left: 1px;">
                                <label for="feedback" class="label-mob">
                                    <b>Give Your Feedback Here.</b>
                                </label>
                                <textarea class="form-control" rows="5" formControlName="feedback"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="btn-mob">
                        <button class="submit-btn btn btn-jsw" [disabled]="!(feedbackForm.valid)" (click)="onSubmitClick()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>