.titlebox {
    background-color: #222;
    color: #d8b56f;
    height: 3em;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: center;
    justify-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    padding-top: 27px;
}

.div-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.submit-btn {
    margin-top: 1rem;
    margin-bottom: 10px;
}

.btn-jsw[disabled],
.btn-jsw[disabled]:hover,
.btn-jsw[disabled]:focus,
.btn-jsw[disabled]:hover {
    background: #ae995a;
    color: unset;
}

.feedbackMessage {
    max-height: 30vh;
    z-index: 1000;
    text-align: center;
    margin-top: 6.5em !important;
    margin-bottom: 0.5em !important;
}

.divClass {
    margin-top: -10px
}

@media screen and (max-width:810px) and (min-width:300px) {
    .mob-div-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .btn-mob {
        text-align: center;
        margin-top: 10px;
    }
    .label-mob {
        display: inline-block;
        margin-bottom: 1px;
    }
    .feedback-mob {
        max-height: 30vh;
        z-index: 1000;
        text-align: center;
        margin-top: 3.5em !important;
        margin-bottom: 0px !important;
    }
    .maindiv-margin-mob {
        margin-top: -40px;
    }
    .alert 
    {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0px !important;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
}