.btn-jsw {
    border: 1px solid #ae995a;
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.titlebox {
    background-color: #222;
    color: #d8b56f;
    height: 3em;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 2em;
    margin-top: 4rem !important;
    margin-bottom: 30px !important;
}

.filter-box {
    padding: 3em 0;
    height: 100vh;
    overflow: hidden;
}

.info-box {
    border: 1px solid #ececec;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    padding: .5em 2em;
    margin-left: 12px;
    margin-right: 12px;
    // margin: 0px 0em 0px 46px;
}

.link {
    cursor: pointer;
    color: #007bff !important;
    text-decoration: underline;
}

.prev-back-btn{
    justify-content: space-between;
}

.card-text{
    font-size: 1.5rem;
}
.main-row-mob{
    justify-content: center;
}

@media screen and (max-width:810px) and (min-width:300px) {
    .prev-back-btn{
        justify-content: center;
    }
    .pagination{
        display: flex;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
    }
    .titlebox {
        background-color: #222;
        color: #d8b56f;
        height: 3em;
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 0 2em;
        margin-top: 4rem !important;
        margin-bottom: 30px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .info-box {
        border: 1px solid #ececec;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        padding: 1em 1em;
        // margin: 0px 0em 0px 46px;
    }
    .inputfield-margin-mob{
        margin-bottom: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        // font-size: 18px;
    }
    .main-row-mob{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .card-text{
        font-size: 1.25rem;
    }
    .btn-jsw {
        border: 1px solid #ae995a;
        color: #fff;
        background: #ae995a;
        padding: .25em 0em;
        transition: all .3s ease 0s;
        width: 114px;
    }
    .btn-jsw:hover {
        border: 1px solid #ae995a;
        color: #ae995a;
        background: #0d0e0f;
        padding: .25em 0em;
        transition: all .3s ease 0s;
        width: 114px;
    }
   
}

@media screen and (max-width:825px) and (min-width:351px) {
    .modal-align{
        margin-top:12%;
    }
}


@media screen and (max-width:350px) {
    .modal-align{
        margin-top:25%;
    }
}