<div class="container">
    <feedback-message></feedback-message>
    <!-- EOFM -->
    <!-- Code to add Loader -->
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="row mt-3">
        <div class="filter-box col-md-2" *ngIf = "displaypc" style="right: 6%;margin-top: 6rem;">
            <h5>Categories</h5>
            <!-- <div *ngFor="let category of categoryArray let i=index;"> 
                <input type="checkbox" id="myCheck" [checked] = "category.isSelected"" (click)="setCategory(i)" > &nbsp; {{category.categoryName}}
            </div> -->
            <div *ngFor="let category of categoryArray let i=index;">
                <input type="checkbox" id="myCheck" [checked]="category.isSelected" (click)="setCategory(i)"> &nbsp; {{category.categoryName}}
            </div>
            <br>
        </div>
        <!-- <div *ngIf = "displaymobile"> -->
          
        <!-- </div> -->

        <div class="prod-box col-md-10 mb-5">
            <div class="row titlebox">
                <h6 class="">Feedback</h6>
            </div> 
            <form [formGroup]="feedbackForm">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 div-padding inputfield-margin-mob" *ngIf = "displaymobile">
                    <label for="category">
                        <b>Select category:</b>
                    </label>
                    <select tabindex="8" class="col-12 col-sm-12" (click)="valueChanges()" style="height: 40px;" class="form-control" formControlName="category">
                        <option style="font-size: 18px;" value="" >All</option>
                        <option *ngFor="let category of categoryArray let i=index;" value="{{category.categoryName}}">
                            {{category.categoryName}}
                        </option>
                    </select> 
                </div>
            </form>    
            <div class="row main-row-mob">
                <!-- <div class="mt-2 mb-2"> -->
                <div class="col-5 mb-2 col-sm-2 col-12 col-md-5 info-box" *ngFor="let feedback of feedbackArr"> 
                    <strong class="card-text">{{feedback.category}}</strong>
                    <p class="info">{{feedback.feedback}}<a class="link" data-toggle="modal" data-target="#morecontent" *ngIf="feedback.showMore" (click)="showMore(feedback)">see more</a></p>
                    <p class="info"><strong>{{feedback.businessName}}</strong><span><i> - {{feedback.businessRole}}</i></span>
                        <br><i>{{feedback.city}}</i>,<span><i>{{feedback.state}}</i></span>
                        <br><i>{{feedback.createdAt}}</i></p>
                    <!-- <p class="info"></p> -->  
                </div>
                    <!-- <div>
                        hjkkkkkk
                    </div> -->
                <!-- </div> -->
            </div>

           
            <div class="row mt-4 d-flex prev-back-btn">
                <div class="button-box">
                    <button class="btn-jsw" (click)="onPrevClick()" [disabled]="!isPrevious || isNoRecords">Prev</button>
                    <button class="btn-jsw" (click)="onNextClick()" [disabled]="!isNext || isNoRecords">Next</button>
                </div>
                <div class="pagination" *ngIf="displaypc">
                    <p><strong>{{startRecord}}-{{endRecord}} </strong><span>of {{totalRecords}} Records</span></p>
                </div>
            </div>
            <div class="pagination row" *ngIf="displaymobile">
                <p><strong>{{startRecord}}-{{endRecord}} </strong><span>of {{totalRecords}} Records</span></p>
            </div>
            <!-- Modal -->
            <div class="modal fade modal-align" id="morecontent" tabindex="-1" role="dialog" aria-labelledby="morecontentTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong><h4>{{selectedFeedback.category}}</h4></strong>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" (click)="close()">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <p class="info">{{selectedFeedback.originalFeedback}}</p>
                            <p class="info"><strong>{{selectedFeedback.businessName}}</strong><span><i> - {{selectedFeedback.businessRole}}</i></span>
                                <br><i>{{selectedFeedback.city}}</i>,<span><i>{{selectedFeedback.state}}</i></span>
                                <br><i>{{selectedFeedback.createdAt}}</i></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>