<!--    **********************************  FOOTER  ***********************************     -->




<footer id="appFooter" class="container-fluid" style="border-bottom:0px !important; padding-left: 2.3em;
    padding-right: 2.3em;padding-top: 1.688em; ">

    <div class="row" style="margin:0px; ">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 af-content-1" style="padding:0;">
            <div *ngIf="isLogin" class="col-lg-12 af-contact" style="padding:0;">
                <i [style.color]="clientColor" class="fa fa-phone-square fa-lg" id="contact-icon" aria-hidden="true"></i>&nbsp; <span style="font-weight:500px !important">Customer Service :  </span> {{programHelplineNo}}
            </div>
            <div *ngIf="isRewardGallery" class="col-lg-10 af-disclaimer" style="padding:10px 0px 0px 0px ;">
                {{footerMsg}}
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding:0;">

            <div class="col-lg-12 text-right af-copy" style="padding:0.5em 3em 0px 0px ;">
                {{stringService.getStaticContents().f2Copyright}}&copy; {{stringService.getStaticContents().f2Year}}
            </div>
        </div>

    </div>



</footer>

<!--    ****************************    END OF FOOTER   ******************************    -->