/*********************************************      Text Styles     **************************************/

.af-contact {
    font-family: HelveticaNeueTT;
    color: #cccccc;
    font-size: 0.9em;
}

.af-disclaimer {
    color: #cccccc;
    font-family: HelveticaNeueLight;
    font-size: 0.9em;
    line-height: 1.1;
}

.af-links {
    font-family: HelveticaNeueTT;
    color: #c9c9c9;
    font-size: 0.9em;
}

.f2-text {
    font-family: HelveticaLight !important;
    font-size: 0.9em !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: white!important;
}

.af-copy {
    font-family: HelveticaNeueLight;
    font-size: 0.9em;
    color: white;
}

.af-links-border {
    border-right: 1px solid #c9c9c9;
}


/*********************************************************************************************************/

@font-face {
    font-family: "HelveticaNeue";
    src: url('/assets/fonts/HelveticaNeue-Medium.otf');
}

@font-face {
    font-family: "HelveticaNeueLTStd-LtEx";
    src: url('/assets/fonts/HelveticaNeue-Light.otf');
}

@font-face {
    font-family: "HelveticaLight";
    src: url('/assets/fonts/HelveticaNeue-Light.otf');
}

#appBody {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5%;
    background-color: #333333;
    color: white;
}

footer {
    min-height: 16.97vh;
    left: 0;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: #333333;
    color: #bfbbbb;
    line-height: 15px;
}

#clientWebAppContainer {
    height: 100%;
    overflow: hidden;
}

.footer {
    padding: 1px;
}

#annectosLogo {
    height: 25px;
}

#annectosLogoDiv {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.app-copy {
    font-family: HelveticaLight;
    color: #dddcdc;
}

.row1 p,
.row2 p {
    margin: 0px !important;
}

.row2 {
    padding: 0px 0px 0px 0px;
    line-height: 1em !important;
    margin: 0px !important;
}

div img {
    vertical-align: baseline;
}

.user-menu {
    position: absolute !important;
    top: 5vh !important;
    margin-top: 50px !important;
}

.user-menu-options {}

#contact-icon {
    color: #E42528;
}

#bellIcon {
    color: #E42528;
}

#badgeIcon {
    background: white;
    position: absolute;
    top: 8px;
    left: 34px;
    color: black;
    padding: 2px 4px 2px 4px;
}

.linkSelected {
    color: white;
    font-weight: bold;
}

#testimonial {
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
}

#about,
#testimonial,
#user {
    height: 4vh;
    text-align: center;
    padding: 5px 0;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#bell {
    padding: 0px;
}

@media screen and (max-width: 1200px) {
    .af-content-1 {
        padding-bottom: 1px;
    }
}

@media (min-width:300px) and (max-width:500px) {
    .af-copy {
        font-family: HelveticaNeueLight;
        font-size: 0.9em;
        color: white;
        padding: 1em !important;
    }
}