<footer id="appFooter" class="container-fluid row client-bar" style="    padding-left: 2.3em;
    padding-right: 2.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top:0.5em;">
    <div class="col-md-6 col-lg-6 col-sm-6" style="padding-left:0;">
        <img [src]="programLogo" alt="Inner page logo" style="height: 13vh; width: auto;  padding-left: 2em; padding: 1em 2.2em;">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6" style="    font-size: 1em; display: flex;">
        <span class="cf-font" style="float:right;">
                    </span>
    </div>
</footer>