#appHeader {
    height: 20%;
    width: 100%;
    background-color: white;
    color: black;
    padding: 0px !important;
}

#appHeader2 {
    font-family: "HelveticaLight";
}

.font-home {
    font-family: "HelveticaLight";
}

#appBody {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ecf0f1;
}

#appFooter {
    height: 9.092vh;
    background-color: white;
    color: black;
}

.linkSelected {
    background-color: #d44434;
    color: white !important;
}

.linkSelected>div {
    color: white !important;
}

.linkSelected>div i {
    color: white !important;
}

#home-iconDashBoard1 {
    margin-top: 15px;
    margin-left: 48px;
}

#home-iconDashBoard2 {
    margin-left: 30px
}

#home-iconClaims1 {
    margin-top: 15px;
    margin-left: 46px
}

#home-iconClaims2 {
    margin-left: 37px
}

#home-iconMyRedemption1 {
    margin-top: 15px;
    margin-left: 45px;
}

#home-iconMyRedemption2 {
    margin-left: 15px;
}

#home-iconRewardGallery1 {
    margin-top: 15px;
    margin-left: 47px;
}

#home-iconRewardGallery2 {
    margin-left: 15px
}

#home-iconChannels1 {
    margin-top: 15px;
    margin-left: 47px;
}

#home-iconChannels2 {
    margin-left: 35px;
}

#iconStard1 {
    margin-top: 10px;
    margin-left: 40px;
}

#iconStard2 {
    margin-left: 30px;
}

#iconCart {
    margin-top: 10px;
    margin-left: 30px;
}

#iconRed {
    color: #E42528;
}

#badgeIcon {
    background: red;
    position: absolute;
    top: 0px;
    left: 60px;
}

#homeClientDsc {
    height: 5vh;
    width: auto;
    padding-top: 1.5vh;
    padding-left: 50px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    font-family: HelveticaNeue;
}

#home-card {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 10vh;
    background-color: white;
    color: black;
    padding: 0px !important;
}

.home-bar {
    display: flex;
    justify-content: center;
}

.home-flex {
    display: flex;
    justify-content: flex-end;
}

.home-inner-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.client-bar {
    display: flex;
    align-items: center;
}

.cf-font {
    font-family: HelveticaNeueTT;
    color: #333333;
}