<!-- <body> -->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/banner.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:35px" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
<div class="container">
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <feedback-message></feedback-message>
    <feedback-message1></feedback-message1>
    <div class="row">
        <div class="col-md-12 main-div-mob">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Add Claim</h6>
                </div>
                <form [formGroup]="claimsForm">

                    <div *ngIf="displaypc" class="row subheading-box my-4" style="margin-top: 3.5rem;">
                        <strong>
                            Invoice Information
                        </strong>
                    </div>
                    <div *ngIf="displaymobile" class="row subheading-box margin-div">
                        <strong>
                            Invoice Information
                        </strong>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field components-gap div-padding-mob">
                            <label for="invoiceNumber" class="label-align">
                                {{stringService.getfieldLabels().invoiceNumber}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="invoiceNumber">
                            <div *ngIf="claimsForm.controls['invoiceNumber'].hasError('required') &&
	                            claimsForm.controls['invoiceNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().invoiceNumberReq}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field more-gap div-padding-mob">
                            <label for="transactionDate" class="label-align">
                                {{stringService.getfieldLabels().transactionDate}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" (change)="valueChange()" formControlName="transactionDate" placeholder="" type="date">
                            <div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
                                        claimsForm.controls['transactionDate'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field components-gap div-padding-mob">
                            <label for="invoiceAmount" class="label-align">{{stringService.getfieldLabels().invoiceAmount}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="number" formControlName="invoiceAmount">
                            <div *ngIf="claimsForm.controls['invoiceAmount'].hasError('required') &&
                                        claimsForm.controls['invoiceAmount'].touched" class="alert-error">
                                {{stringService.getErrorMessage().invoiceAmountReq}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field more-gap div-padding-mob">
                            <label for="invoiceAmountExcludingVAT" class="label-align">{{stringService.getfieldLabels().invoiceAmountExcludingTax}}
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="number" formControlName="invoiceAmountExcludingVAT">
                            <!-- <div *ngIf="claimsForm.controls['invoiceAmountExcludingVAT'].hasError('required') &&
	                            claimsForm.controls['invoiceAmountExcludingVAT'].touched" class="alert-error">
                                {{stringService.getErrorMessage().invoiceAmountExcludingTaxReq}}
                            </div> -->
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-5 detail-field components-gap div-padding-mob">
                            <label for="debitPartyId" class="label-align">{{stringService.getfieldLabels().distributor}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select class="form-control" style="" id="debitPartyId" formControlName="debitPartyId" (change)="onDistributorSelected(claimsForm.value.debitPartyId)">
                                <option class="" value="" disabled selected> Select Distributor </option>
                                <option class="" *ngFor="let distributor of distributors" value="{{distributor.userDetails.userId}}"> {{distributor.userDetails.userName}}</option>
                            </select>
                            <div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
                                                                claimsForm.controls['debitPartyId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>
                        </div>
                        <div class="col-md-1 margin-top">
                            OR
                        </div>
                        <div class="col-md-5 col-9 col-sm-9 col-lg-5 detail-field more-gap div-padding-mob">
                            <label class="label-align">Search Distributor
                                <!-- <sup style="color:#ff0062">*</sup> -->
                            </label>
                            <input type="text" class="form-control" placeholder="Enter mobile number" formControlName="distributorMobileNo">
                            <!-- <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
                                                claimsForm.controls['distributorMobileNo'].touched" class="">
                                {{stringService.getErrorMessage().distributorMobileNumberReq}}
                            </div> -->
                            <!-- <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched"
                                class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                            </div> -->
                        </div>
                        <div class="col-md-1 col-3 col-sm-3 col-lg-1">
                            <button *ngIf="displaypc" type="button" style="margin-top: 2rem;" class="btn" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern')) ||  disableSearchDistributer"
                                (click)="onSearchDistributorClick()">
                                <i class="fa fa-search" style="font-size: larger !important" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="displaymobile" type="button" style="margin-top: 25px;" class="btn" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern')) ||  disableSearchDistributer"
                                (click)="onSearchDistributorClick()">
                                <i class="fa fa-search" style="font-size: larger !important" aria-hidden="true"></i>
                            </button>

                        </div>
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field components-gap div-padding-mob" *ngIf="showDistributorFoundMessage">
                            <label class="label-align" for="distributorName">Distributor Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="distributorName" readonly>
                        </div>
                        <div class="col-md-6 detail-field div-padding-mob" *ngIf="showDistributorFoundMessage">
                            <label class="label-align" for="distributorMobileNo">Mobile Number
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="distributorMobileNo">

                        </div>
                    </div>
                    <div class="row"  *ngIf="showDistributornotFoundMessage">
                        Distributor not found. Please enter a correct mobile number or enter the name of the distributor below
                    </div>

                    <div class="row"  *ngIf="showDistributorFoundMessage">
                        Distributor found
                    </div>
                    <div class="col-md-6 detail-field components-gap div-padding-mob" *ngIf="showDistributornotFoundMessage">
                        <label for="distributorName" class="label-align">Enter Distributor Name
                            <sup style="color:#ff0000">*</sup>
                        </label>
                        <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="distributorName" readonly>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field components-gap div-padding-mob">
                            <label class="label-align" for="invoiceDocument"> {{stringService.getfieldLabels().invoiceUpload}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input type="file" (change)="onFileChange($event)" class="form-control" formControlName="invoiceDocument">
                            <div *ngIf="!(isFileSelected) && (claimsForm.controls['invoiceDocument'].touched)" class="alert-error">
                                {{stringService.getErrorMessage().invoiceUploadReq}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field div-padding-mob">
                            <label class="label-align" for="vatPercentage">{{stringService.getfieldLabels().vatPercentage}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input type="number" class="form-control" value="18" disabled>
                            <div *ngIf="claimsForm.controls['vatPercentage'].hasError('required') &&
                                    claimsForm.controls['vatPercentage'].touched" class="alert-error">
                                {{stringService.getErrorMessage().vatPercentageReq}}
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div *ngIf="displaypc" class="row d-flex" style="padding-top: 2%;">
                <div *ngIf="canUploadClaim">
                    <button tabindex="8" type="button" class="btn btn-jsw my-4" [disabled]="!(claimsForm.valid && allowToAddClaim && isFileSelected && (claimsForm.value.debitPartyId|| claimsForm.value.distributorName))" (click)="onAddFormClick()">Add Invoice</button>
                </div>
                <div>
                    <button tabindex="8" type="button" class="btn btn-jsw my-4" (click)="onResetFormClick()" style="margin-left:1rem">Reset</button>
                </div>
            </div>
            <div *ngIf="displaymobile" class="row d-flex" style="padding-top: 2%;">
                <div class="col-6 col-sm-6" *ngIf="canUploadClaim">
                    <button tabindex="8" type="button" class="btn btn-jsw btn-block" style="padding-left:0px; padding-right:0px;" [disabled]="!(claimsForm.valid &&  allowToAddClaim && isFileSelected && (claimsForm.value.debitPartyId|| claimsForm.value.distributorName))" (click)="onAddFormClick()">Add Invoice</button>
                </div>
                <div class="col-6 col-sm-6">
                    <button tabindex="8" type="button" class="btn btn-jsw btn-block" (click)="onResetFormClick()" style="padding-left: 0px; padding-right: 0px;">Reset</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- </body> -->
<style>
    @media screen and (max-width: 812px)and (min-width:310px) {
        .label-align {
            margin-bottom: -0.5rem;
            font-size: 18px;
        }
        .components-gap {
            margin-bottom: 10px;
        }
        .more-gap {
            margin-bottom: -9px;
        }
    }
</style>