$font-family: Roboto;
.contact-form {}

.alert-error {
    font-size: 11px;
    color: red;
    padding-top: 0.5%;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}
.downloadlinkMob{
    padding-top: 10px;

}

.width {
    width: 14rem;
}

.purchaseDetails {
    margin-top: 1rem;
}

.table-caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.margin-top {
    text-align: center;
    margin-top: 2.2rem;
}

.margin-div {
    margin-top: 3.5rem;
}

.dealer-table1-card {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -5px;
    margin-top: 20px;
}

.dealer-table1-card-modal {
    margin-left: -15px;
    margin-right: -9px;
    margin-bottom: 31px;
    margin-top: 20px;
}

.dealer-table1-card-body {
    padding: 0.25rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 15px;
}

.card-dealer-main-div {
    margin-top: -17px;
    padding: 11px;
}

.card-dealer-modalcard-main-div {
    margin-top: -60px;
    padding: 11px;
}

.dealer-card-header {
    font-size: 15px;
    margin-bottom: 5px;
}

.dealer-card-header-subdiv {
    padding-left: 14px;
    font-size: 20px;
}

.dealer-card-contentheader {
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

.dealer-card-contentsubheader {
    padding-left: 14px;
    font-size: 15px;
    margin-bottom: 7px;
}

.card-content-div {
    margin-bottom: 5px;
    font-size: 15px;
    padding: 16px;
    padding-top: 1px;
}

.dealer-card-content-padding {
    padding-left: 10px;
}

.bottom-div {
    float: right;
    padding-top: 1rem;
}

.download-link-mobile {
    float: right;
    padding: 10px 20px;
    font-size: 16px;
}

.download-link-mobile>span {
    margin-left: 6px;
}

// mobile responsive code
@media screen and (max-width:810px) and (min-width:321px) {
    .bannerImage
   {
    height: 150px;
    margin-top: -47px !important;
   } 
    .modal-header-mob-font {
        font-size: 24px;
    }
    .mob-font {
        font-size: 14px;
    }
    .mob-modal-card-font {
        font-size: 15px;
    }
    .main-div-mob {
        margin-top: -49px;
        margin-bottom: 16px;
    }
    .div-margin-mob {
        margin-top: 0px;
        marging-bottom: 0px;
    }
    .margin-top {
        margin-top: 0px;
    }
    .margin-div {
        margin-bottom: 5px;
        margin-top: -0.5rem;
    }
    .div-padding-mob {
        padding-left: 0px;
        padding-right: 0px;
    }
    .maindiv-margin-mob {
        margin-top: -56px;
    }
    .mob-div-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .label-margin-mob {
        margin-bottom: 0px;
    }
    .inputfield-margin-mob {
        margin-bottom: 7px;
    }
    .badge-component {
        padding: 0.6em 0.78em;
        border-radius: 1.6em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    .shadow-prop {
        box-shadow: 0 2px 6px #adadad;
    }
    .mob-font-small {
        font-size: 17px;
        opacity: 0.8;
    }
    .card-heading-div {
        margin-bottom: -15px;
        padding-left: 14px;
    }
    .bottom-div {
        float: right;
        padding-top: 0.5rem;
        marging-bottom: 4px;
        font-size: 17px;
    }
    .btn-mob-prev-next
    {
        margin-top:12px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width:320px) {
    .modal-mob-font {
        font-size: 20px;
    }
    .mob-font {
        font-size: 12px;
    }
    .main-div-mob {
        margin-top: -14px;
        margin-bottom: 16px;
    }
    .div-margin-mob {
        margin-top: 0px;
        marging-bottom: 0px;
    }
    .margin-top {
        margin-top: 0px;
    }
    .margin-div {
        margin-bottom: 5px;
        margin-top: -0.5rem;
    }
    .div-padding-mob {
        padding-left: 0px;
        padding-right: 0px;
    }
    .maindiv-margin-mob {
        margin-top: -60px;
    }
    .mob-div-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .label-margin-mob {
        margin-bottom: 0px;
    }
    .inputfield-margin-mob {
        margin-bottom: 7px;
    }
    .badge-component {
        padding: 0.6em 0.78em;
        border-radius: 1.6em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    .shadow-prop {
        box-shadow: 0 2px 6px #adadad;
    }
    .mob-font-small {
        font-size: 17px;
        opacity: 0.8;
    }
    .card-heading-div {
        margin-bottom: -15px;
        padding-left: 14px;
    }
    .bottom-div {
        float: right;
        padding-top: 0.5rem;
        marging-bottom: 4px;
        font-size: 17px;
    }
    .btn-mob-prev-next
    {
        margin-top:12px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}