<!--invoice value product start-->
<div *ngIf="showIVP">
    <div class="invoice-title wrapper">
        <div class="row title-text">
            <div class="col-lg-4 col-md-3 col-sm-5 col-xs-12 ac-fonts">
                Invoice no :{{invoiceInfo.invoiceNumber}}
            </div>
            <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-8  col-sm-2 col-sm-offset-5 col-xs-12 ">
                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i>
            </div>
        </div>


    </div>
    <div class="invoice-content">
        <table class="borderless  table-imp ">
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceNumber}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceNumber}}</td>

            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.transactionDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().uploadDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().total}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmount}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().totalVat}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmountExcludingVAT}}</td>
            </tr>
            <tr *ngIf="!invoiceInfo.debitPartyId">
                <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                <td class="invoice-td-content">
                    {{invoiceInfo.distributorName}}
                </td>
                <tr *ngIf="invoiceInfo.debitPartyId">
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                    <td class="invoice-td-content">
                        {{invoiceInfo.debitPartyInfo.userDetails.userName}}
                    </td>
                </tr>
                <tr *ngIf="invoiceInfo.vatPercentage">
                    <td class="invoice-td"> {{stringService.getfieldLabels().vatPercentage}}</td>
                    <td class="invoice-td"> {{invoiceInfo.vatPercentage}}%</td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().status}}</td>
                    <td class="invoice-td-content text-capitalize">
                        <span class="fa fa-square {{invoiceInfo.approvalStatus}}"> </span> {{invoiceInfo.approvalStatus}}</td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().points}}</td>
                    <td class="invoice-td-content"> {{invoiceInfo.pointsEarned}}</td>
                </tr>
                <tr *ngIf="isPaymentQualificationSet">
                    <td class="invoice-td-title">Payment Status</td>
                    <td class="invoice-td-content"> {{paymentStatus}}</td>
                </tr>
        </table>

        <div>
            <a href="{{invoiceInfo.invoiceDocument}}" target="_blank" class="cd-download" (click)="download()" download> {{stringService.getfieldLabels().downloadHardCopy}}</a>
        </div>

        <div class="invoice-sku" *ngIf="invoiceInfo.purchaseDetails">
            {{stringService.getfieldLabels().skuDetails}}
            <table class="table table-striped">
                <thead id="myclaims-table-head">
                    <tr>
                        <th class="tr-details">{{stringService.getfieldLabels().sku}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().quantity}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().unitPrice}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().packagingUnit}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().discounts}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().total}}</th>
                        <th class="tr-details text-capitalize">{{stringService.getfieldLabels().pointsEarned}} {{configService.getTerminology()}} </th>
                        <th class="tr-details text-capitalize">{{stringService.getfieldLabels().boosterPoints}} {{configService.getTerminology()}} </th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let info of invoiceInfo.purchaseDetails  let i = index;  ">
                        <td> {{info.productId}} &nbsp; {{info.productName}} </td>
                        <td> {{info.quantity}} </td>
                        <td> {{info.MRP}} </td>
                        <td> {{info.packagingUnit}} </td>
                        <td> {{info.discount}} </td>
                        <td> {{info.totalPrice}} </td>
                        <td *ngIf="!info.salesPoint"> 0</td>
                        <td *ngIf="info.salesPoint"> {{info.salesPoint}} </td>
                        <td *ngIf="!info.boosterPoints"> 0 </td>
                        <td *ngIf="info.boosterPoints"> {{info.boosterPoints}} </td>
                    </tr>
                </tbody>
            </table>
            <div class="invoice-sku" *ngIf="invoiceInfo.comment">
                Comment :
                <div class="comments">
                    {{invoiceInfo.comment}}
                </div>
            </div>

        </div>




    </div>
    <div id="footer" class="text-right">

        <button [style.background-color]="clientColor" type="button" class="btn closebtn" (click)="closeInvoice()"> {{stringService.getButtonLabels().close}}
        </button>

    </div>
</div>

<!--invoice value product ends-->

<!--invoice value brand start-->
<div *ngIf="showIVB">
    <div class="invoice-title wrapper">
        <div class="row title-text">
            <div class="col-lg-4 col-md-3 col-sm-5 col-xs-7">
                Invoice no :{{invoiceInfo.invoiceNumber}}
            </div>
            <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-8  col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-3">
                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i>
            </div>
        </div>


    </div>
    <div class="invoice-content">
        <table class="borderless table table-imp ">
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceNumber}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceNumber}}</td>

            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.transactionDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().uploadDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().total}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmount}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().totalVat}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmountExcludingVAT}}</td>
            </tr>
            <tr *ngIf="!invoiceInfo.debitPartyId">
                <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                <td class="invoice-td-content">
                    {{invoiceInfo.distributorName}}
                </td>
                <tr *ngIf="invoiceInfo.debitPartyId">
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                    <td class="invoice-td-content">
                        {{invoiceInfo.debitPartyInfo.userDetails.userName}}
                    </td>
                </tr>
                <tr *ngIf="invoiceInfo.vatPercentage">
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().vatPercentage}}</td>
                    <td class="invoice-td-content"> {{invoiceInfo.vatPercentage}}%</td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().status}}</td>
                    <td class="invoice-td-content text-capitalize">
                        <span class="fa fa-square {{invoiceInfo.approvalStatus}}"> </span> {{invoiceInfo.approvalStatus}}</td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{configService.getTerminology()}}</td>
                    <td class="invoice-td-content"> {{invoiceInfo.pointsEarned}}</td>
                </tr>
                <tr *ngIf="isPaymentQualificationSet">
                    <td class="invoice-td-title">Payment Status</td>
                    <td class="invoice-td-content"> {{paymentStatus}}</td>
                </tr>
        </table>

        <div>
            <a href="{{invoiceInfo.invoiceDocument}}" target="_blank" class="cd-download" download> {{stringService.getfieldLabels().downloadHardCopy}}</a>
        </div>

        <div class="invoice-sku" *ngIf="invoiceInfo.purchaseDetails">
            {{stringService.getfieldLabels().skuDetails}}
            <table class="table table-striped">
                <thead id="myclaims-table-head">
                    <tr>
                        <th class="tr-details">{{stringService.getfieldLabels().brandName}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().quantity}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().unitPrice}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().packagingUnit}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().discounts}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().total}}</th>
                        <th class="tr-details text-capitalize">{{stringService.getfieldLabels().pointsEarned}} {{configService.getTerminology()}} </th>
                        <th class="tr-details text-capitalize">{{stringService.getfieldLabels().boosterPoints}} {{configService.getTerminology()}} </th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let info of invoiceInfo.purchaseDetails  let i = index;  ">
                        <!-- <td> {{info.productId}} &nbsp; {{info.productName}} </td> -->
                        <td> {{info.brandName}} </td>
                        <td> {{info.quantity}} </td>
                        <td> {{info.MRP}} </td>
                        <td> {{info.packagingUnit}} </td>
                        <td> {{info.discount}} </td>
                        <td> {{info.totalPrice}} </td>
                        <td *ngIf="!info.salesPoint"> 0</td>
                        <td *ngIf="info.salesPoint"> {{info.salesPoint}} </td>
                        <td *ngIf="!info.boosterPoints"> 0 </td>
                        <td *ngIf="info.boosterPoints"> {{info.boosterPoints}} </td>
                    </tr>
                </tbody>
            </table>
            <div class="invoice-sku" *ngIf="invoiceInfo.comment">
                Comment :
                <div class="comments">
                    {{invoiceInfo.comment}}
                </div>
            </div>

        </div>




    </div>
    <div id="footer" class="text-right">
        <!--<a class="btn btn-gray" > CLOSE </a>-->

        <button [style.background-color]="clientColor" type="button" class="btn closebtn" (click)="closeInvoice()"> {{stringService.getButtonLabels().close}}
        </button>

    </div>
</div>

<!--invoice value brand ends-->



<!--invoice quantity product starts-->
<div *ngIf="showIQP">
    <div class="invoice-title wrapper">
        <div class="row title-text">
            <div class="col-lg-4 col-md-3 col-sm-5 col-xs-7">
                Invoice no :{{invoiceInfo.invoiceNumber}}
            </div>
            <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-8  col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-3">
                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i>
            </div>
        </div>


    </div>
    <div class="invoice-content">
        <table class="borderless table table-imp ">
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceNumber}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceNumber}}</td>

            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.transactionDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().uploadDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().total}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmount}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().totalVat}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmountExcludingVAT}}</td>
            </tr>
            <tr>
                <tr *ngIf="!invoiceInfo.debitPartyId">
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                    <td class="invoice-td-content">
                        {{invoiceInfo.distributorName}}
                    </td>
                    <tr *ngIf="invoiceInfo.debitPartyId">
                        <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                        <td class="invoice-td-content">
                            {{invoiceInfo.debitPartyInfo.userDetails.userName}}
                        </td>
                    </tr>
                    <tr>
                        <td class="invoice-td-title"> {{stringService.getfieldLabels().vatPercentage}}</td>
                        <td class="invoice-td-content"> {{invoiceInfo.vatPercentage}}%</td>
                    </tr>
                    <tr>
                        <td class="invoice-td-title"> {{stringService.getfieldLabels().status}}</td>
                        <td class="invoice-td-content text-capitalize">
                            <span class="fa fa-square {{invoiceInfo.approvalStatus}}"> </span> {{invoiceInfo.approvalStatus}}</td>
                    </tr>
                    <tr>
                        <td class="invoice-td-title"> {{stringService.getfieldLabels().points}}</td>
                        <td class="invoice-td-content"> {{invoiceInfo.pointsEarned}}</td>
                    </tr>
                    <tr *ngIf="isPaymentQualificationSet">
                        <td class="invoice-td-title">Payment Status</td>
                        <td class="invoice-td-content"> {{paymentStatus}}</td>
                    </tr>
        </table>

        <div>
            <a href="{{invoiceInfo.invoiceDocument}}" target="_blank" class="cd-download" download> {{stringService.getfieldLabels().downloadHardCopy}}</a>
        </div>

        <div class="invoice-sku" *ngIf="invoiceInfo.purchaseDetails">
            {{stringService.getfieldLabels().skuDetails}}
            <br>
            <table class="table table-striped">
                <thead id="myclaims-table-head">
                    <tr>
                        <th class="tr-details">{{stringService.getfieldLabels().sku}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().packagingUnit}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().quantity}}</th>
                        <th class="tr-details text-capitalize">{{stringService.getfieldLabels().pointsEarned}} {{configService.getTerminology()}} </th>
                        <th class="tr-details text-capitalize">{{stringService.getfieldLabels().boosterPoints}} {{configService.getTerminology()}} </th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let info of invoiceInfo.purchaseDetails  let i = index;  ">
                        <td> {{info.productName}} </td>
                        <td> {{info.packagingUnit}} </td>
                        <td> {{info.quantity}} </td>
                        <td *ngIf="!info.salesPoint"> 0</td>
                        <td *ngIf="info.salesPoint"> {{info.salesPoint}} </td>
                        <td *ngIf="!info.boosterPoints"> 0 </td>
                        <td *ngIf="info.boosterPoints"> {{info.boosterPoints}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="invoice-sku" *ngIf="invoiceInfo.comment">
            Comment :
            <div class="comments">
                {{invoiceInfo.comment}}
            </div>

        </div>




    </div>
    <div id="footer" class="text-right">

        <button [style.background-color]="clientColor" type="button" class="btn closebtn" (click)="closeInvoice()"> {{stringService.getButtonLabels().close}}
        </button>

    </div>
</div>
<!--invoice quantity product ends-->

<!--invoice quantity brand starts-->
<div *ngIf="showIQB">
    <div class="invoice-title wrapper">
        <div class="row title-text">
            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-7">
                Invoice no :{{invoiceInfo.invoiceNumber}}
            </div>
            <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-5  col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-3">
                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i>
            </div>
        </div>


    </div>
    <div class="invoice-content">
        <table class="borderless table table-imp ">
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceNumber}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceNumber}}</td>

            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().invoiceDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.transactionDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().uploadDate}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.createdAt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().total}}</td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmount}}</td>
            </tr>
            <tr>
                <td class="invoice-td-title"> {{stringService.getfieldLabels().totalVat}} </td>
                <td class="invoice-td-content"> {{invoiceInfo.invoiceAmountExcludingVAT}}</td>
            </tr>
            <tr *ngIf="!invoiceInfo.debitPartyId">
                <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                <td class="invoice-td-content">
                    {{invoiceInfo.distributorName}}
                </td>
                <tr *ngIf="invoiceInfo.debitPartyId">
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().distributor}}</td>
                    <td class="invoice-td-content">
                        {{invoiceInfo.debitPartyInfo.userDetails.userName}}
                    </td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().vatPercentage}}</td>
                    <td class="invoice-td-content"> {{invoiceInfo.vatPercentage}}%</td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().status}}</td>
                    <td class="invoice-td-content text-capitalize">
                        <span class="fa fa-square {{invoiceInfo.approvalStatus}}"> </span> {{invoiceInfo.approvalStatus}}</td>
                </tr>
                <tr>
                    <td class="invoice-td-title"> {{stringService.getfieldLabels().points}}</td>
                    <td class="invoice-td-content"> {{invoiceInfo.pointsEarned}}</td>
                </tr>
        </table>

        <div>
            <!--<a href="">{{stringService.getfieldLabels().downloadHardCopy}}</a>-->
            <a href="{{invoiceInfo.invoiceDocument}}" target="_blank" class="cd-download" download> {{stringService.getfieldLabels().downloadHardCopy}}</a>
        </div>

        <div class="invoice-sku" *ngIf="invoiceInfo.purchaseDetails">
            {{stringService.getfieldLabels().skuDetails}}
            <table class="table table-striped">
                <thead id="myclaims-table-head">
                    <tr>
                        <th class="tr-details">{{stringService.getfieldLabels().sku}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().packagingUnit}}</th>
                        <th class="tr-details">{{stringService.getfieldLabels().quantity}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let info of invoiceInfo.purchaseDetails  let i = index;  ">
                        <td> {{info.brandName}}</td>
                        <td> {{info.packagingUnit}} </td>
                        <td> {{info.quantity}} </td>
                    </tr>
                </tbody>
            </table>
            <div class="invoice-sku" *ngIf="invoiceInfo.comment">
                Comment :
                <div class="comments">
                    {{invoiceInfo.comment}}
                </div>
            </div>

        </div>




    </div>
    <div id="footer" class="text-right">

        <button [style.background-color]="clientColor" type="button" class="btn closebtn" (click)="closeInvoice()"> {{stringService.getButtonLabels().close}}
        </button>

    </div>
</div>
<!--invoice quantity brand ends-->