<!-- <div class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div> -->


<!--Banner for Engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/banner.jpg" class="bannerImage" width="100%" style="margin-top: -47px;" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>


<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="container">
    <div class="row">
        <!-- Form Block -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 maindiv-margin-mob">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div *ngIf="displaypc" class="row titlebox my-4">
                    <h6 class="">
                        Claims List
                    </h6>
                </div>
                <div *ngIf="displaymobile" class="row titlebox" style="margin-bottom: 15px; margin-top: 27px">
                    <h6 class="">
                        Claims List
                    </h6>
                </div>
            </div>
            <form *ngIf="displaypc" [formGroup]="filterMyClaimForm">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12 row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <label for="statusFilter">
                                <b>Status:</b>
                            </label>
                            <select tabindex="1" class="form-control" formControlName="statusFilter">
                                <option value="" disabled selected>Select Status</option>
                                <option value="all">All</option>
                                <option value="pending">Pending</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                                <option value="hold">Hold</option>
                            </select>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <label for="timeFilter">
                                <b>Claim Period:</b>
                            </label>
                            <select tabindex="1" class="form-control" formControlName="timeFilter">
                                <option value="" disabled selected>Select Claim Period</option>
                                <option value="all">All</option>
                                <option value="thisMonth">Last 30 days</option>
                                <option value="thisWeek">Last 7 days</option>
                                <option value="thisQuarter">Last 3 months</option>
                                <option value="selectTimePeriod">Custom Period</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 row " *ngIf="this.fromTo === true">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label for="startDate">
                                <b>From:</b>
                            </label>
                            <input class="form-control " type="date" id="startDate" formControlName="startDate" lang="en">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label for="endDate">
                                <b>To:</b>
                            </label>
                            <input class="form-control " type="date" id="endDate" formControlName="endDate" lang="en">
                        </div>
                    </div>
                </div>
            </form>
            <!-- Form code for mobile -->
            <form *ngIf="displaymobile" [formGroup]="filterMyClaimForm">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12 mob-div-padding">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mob-div-padding">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mob-div-padding inputfield-margin-mob">
                            <label for="statusFilter" class=" label-margin-mob">
                                <b>Status:</b>
                            </label>
                            <select tabindex="1" class="form-control" formControlName="statusFilter">
                                <option value="" disabled selected>Select Status</option>
                                <option value="all">All</option>
                                <option value="pending">Pending</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                                <option value="hold">Hold</option>
                            </select>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mob-div-padding inputfield-margin-mob">
                            <label for="timeFilter" class=" label-margin-mob">
                                <b>Claim Period:</b>
                            </label>
                            <select tabindex="1" class="form-control" formControlName="timeFilter">
                                <option value="" disabled selected>Select Claim Period</option>
                                <option value="all">All</option>
                                <option value="thisMonth">Last 30 days</option>
                                <option value="thisWeek">Last 7 days</option>
                                <option value="thisQuarter">Last 3 months</option>
                                <option value="selectTimePeriod">Custom Period</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 row " *ngIf="this.fromTo === true">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label for="startDate">
                                <b>From:</b>
                            </label>
                            <input class="form-control " type="date" id="startDate" formControlName="startDate" lang="en">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label for="endDate">
                                <b>To:</b>
                            </label>
                            <input class="form-control " type="date" id="endDate" formControlName="endDate" lang="en">
                        </div>
                    </div>
                </div>
            </form>


            <button *ngIf="displaypc" class="btn btn-jsw" (click)="filter()" [disabled]="fromToDateInvalid===true" style="margin-left: 1rem;margin-top: 1rem;margin-bottom:10px;">Filter</button>
            <div *ngIf="displaymobile" style="text-align: center;">
                <button class="btn btn-jsw" (click)="filter()" style="margin-top: 1rem;" [disabled]="fromToDateInvalid===true">Filter</button>
            </div>
            <div *ngIf="displaypc" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-4">

                <table class="table">
                    <tbody>
                        <tr class="head">
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsSerial}}</strong>
                            </td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsId}}</strong>
                            </td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsInvoice}}</strong>
                            </td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsDate}}</strong>
                            </td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsTotal}}</strong>
                            </td>
                            <td></td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsTotalVat}}</strong>
                            </td>
                            <td></td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsDistributor}}</strong>
                            </td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsStatus}}</strong>
                            </td>
                            <td>
                                <strong>{{stringService.getStaticContents().myClaimsPointEarned}}</strong>
                            </td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                            <td style="padding-left:1.5em">{{serialSkip+i+1}}</td>
                            <td style="color: #02f;" data-toggle="modal" data-target="#myModal" (click)="detailClick(info)">
                                <i style="cursor:pointer;"> {{info.secondarySalesId}}</i>
                            </td>
                            <td> {{info.invoiceNumber}}</td>
                            <td>{{info.createdAt | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-right">{{info.invoiceAmount}}</td>

                            <td></td>
                            <td class="text-right">{{info.invoiceAmountExcludingVAT}}</td>
                            <td></td>
                            <td>
                                <div *ngIf="!info.debitPartyId">
                                    {{info.distributorName}}
                                </div>
                                <div *ngIf="info.debitPartyId">
                                    {{info.debitPartyInfo.userDetails.userName}}
                                </div>

                            </td>

                            <td class="text-capitalize">
                                <span stsyle="padding-right:3em;" class=""> </span> {{info.approvalStatus}}</td>
                            <td class="text-center"> {{info.pointsEarned}} </td>
                            <td class="text-center">
                                <a class="mc-black" (click)="downloadDocument()" href="{{info.invoiceDocument}}" target="_blank">
                                    <i style="font-size: 1.4em;" id="mc-em" class="fa fa-download fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- MObile Card start here -->
            <div *ngIf="displaymobile">
                <div class="col-12 card-dealer-main-div" *ngFor="let info of myClaimsInfo let i = index;" style="margin-top:-8px;">

                    <div>
                        <div class="card shadow-prop dealer-table1-card">
                            <div class="card-body dealer-table1-card-body row">


                                <div class="col-lg-6 col-md-6 col-sm-5 col-5">
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsSerial}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsId}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsInvoice}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsDate}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsTotal}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsTotalVat}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsDistributor}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsStatus}}</b>
                                    </div>
                                    <div class="row mob-font">
                                        <b>{{stringService.getStaticContents().myClaimsPointEarned}}</b>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-7 col-7">
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{serialSkip+i+1}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font" style="color: #02f;" data-toggle="modal" data-target="#myModal" (click)="detailClick(info)">
                                        <i style="cursor:pointer;"> {{info.secondarySalesId}}</i>
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.invoiceNumber}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.createdAt | date: 'dd/MM/yyyy'}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.invoiceAmount}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.invoiceAmountExcludingVAT}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.distributorName}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.approvalStatus}}
                                    </div>
                                    <div class="row dealer-card-content-padding mob-font">
                                        {{info.pointsEarned}}
                                    </div>
                                </div>

                            </div>
                            <div class="mob-font" style="margin-top: 10px;">
                                <a class="download-link-mobile" (click)="downloadDocument()" href="{{info.invoiceDocument}}" target="_blank">
                                    <i style="font-size: 1.4em;" id="mc-em" class="fa fa-download fa-lg"></i>
                                    <span>Download</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- MOBILE CARD END HERE   -->
            </div>
            <!-- BAck and Previous Button for PC -->
            <div *ngIf="noRecordMessage" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found.</div>
            <div class="row">
                <div *ngIf="displaypc" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" style="padding-top: 1rem;">
                    <button class="btn btn-jsw" style="margin-right: 1rem;" [disabled]="isPrevious || isNoRecords" (click)="onPrevClick()" type="submit">Previous</button>
                    <button class="btn btn-jsw" [disabled]="isNext || isNoRecords" (click)="onNextClick()" type="submit">Next</button>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" *ngIf="true">
                    <span class="bottom-div"> {{startRecord}} - {{endRecord}} of {{totalRecords}} Records</span>
                </div>
            </div>
            <!-- BAck and Previous Button for Mobile -->
            <div *ngIf="displaymobile" class="col-12 col-sm-12 btn-mob-prev-next">
                <button class="btn btn-sm col-6 col-sm-6" [disabled]="isPrevious || isNoRecords" (click)="onPrevClick()" type="submit" style="width:128.61px;color: #000;background: #ae995a;">Previous</button>
                <button class="btn btn-sm col-6 col-sm-6" [disabled]="isNext || isNoRecords" (click)="onNextClick()" type="submit" style="width:128.61px;color: #000;background: #ae995a;">Next</button>
            </div>
            <!-- claims details popup ForPC -->
            <div *ngIf="displaypc">
                <div class="modal fade modalcommon" id="myModal" *ngIf="this.showDetail === true" style="z-index: 99999;">
                    <div class="modal-dialog" style="margin-right: 13rem;margin-top: 6rem;max-width: 54rem !important;">
                        <div class="modal-content contentcommon">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" *ngIf="this.claimDetail.invoiceNumber"> Invoice Number: &nbsp;{{this.claimDetail.invoiceNumber}}</h4>
                                <h4 class="modal-title" *ngIf="!this.claimDetail.invoiceNumber"> Invoice Number: NA</h4>
                                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body div2">
                                <table class="borderless  table-imp ">
                                    <tr>
                                        <td class="width"> {{stringService.getfieldLabels().invoiceNumber}}: </td>
                                        <td class="width"> {{this.claimDetail.invoiceNumber}}</td>

                                    </tr>
                                    <tr>
                                        <td class="width"> {{stringService.getfieldLabels().invoiceDate}}:</td>
                                        <td class="width"> {{this.claimDetail.transactionDate | date: 'dd/MM/yyyy' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="width"> {{stringService.getfieldLabels().uploadDate}}:</td>
                                        <td class="width"> {{this.claimDetail.createdAt | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width"> {{stringService.getfieldLabels().total}}:</td>
                                        <td class="width"> {{this.claimDetail.invoiceAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td class="width"> {{stringService.getfieldLabels().totalVat}}: </td>
                                        <td class="width"> {{this.claimDetail.invoiceAmountExcludingVAT}}</td>
                                    </tr>
                                    <tr *ngIf="!this.claimDetail.debitPartyId">
                                        <td class="width"> {{stringService.getfieldLabels().distributor}}:</td>
                                        <td class="width">
                                            {{this.claimDetail.distributorName}}
                                        </td>
                                        <tr *ngIf="this.claimDetail.debitPartyId">
                                            <td class="width"> {{stringService.getfieldLabels().distributor}}:</td>
                                            <td class="width">
                                                {{this.claimDetail.debitPartyInfo.userDetails.userName}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="this.claimDetail.vatPercentage">
                                            <td class="invoice-td"> {{stringService.getfieldLabels().vatPercentage}}:</td>
                                            <td class="invoice-td"> {{this.claimDetail.vatPercentage}}%</td>
                                        </tr>
                                        <tr>
                                            <td class="width"> {{stringService.getfieldLabels().status}}:</td>
                                            <td class="width text-capitalize"> {{this.claimDetail.approvalStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width"> {{stringService.getfieldLabels().points}}:</td>
                                            <td class="width"> {{this.claimDetail.pointsEarned}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width">Payment Status:</td>
                                            <td class="width"> {{paymentStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width">Comment:</td>
                                            <td class="width"> {{this.claimDetail.comment}}</td>
                                        </tr>
                                </table>
                                <div>
                                    <a href="{{this.claimDetail.invoiceDocument}}" target="_blank" class="cd-download" (click)="download()">Download Invoice</a>
                                </div>
                                <div class="purchaseDetails" *ngIf="this.purchaseDetails">
                                    {{stringService.getfieldLabels().skuDetails}}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="tr-details">{{stringService.getfieldLabels().sku}}</th>
                                                <th class="tr-details">{{stringService.getfieldLabels().quantity}}</th>
                                                <th class="tr-details">{{stringService.getfieldLabels().unitPrice}}</th>
                                                <th class="tr-details">{{stringService.getfieldLabels().packagingUnit}}</th>
                                                <th class="tr-details">{{stringService.getfieldLabels().discounts}}</th>
                                                <th class="tr-details">{{stringService.getfieldLabels().total}}</th>
                                                <th class="tr-details text-capitalize">{{stringService.getfieldLabels().pointsEarned}} {{configService.getTerminology()}}
                                                </th>
                                                <th class="tr-details text-capitalize">{{stringService.getfieldLabels().boosterPoints}} {{configService.getTerminology()}}
                                                </th>


                                            </tr>
                                        </thead>
                                        <tr *ngFor="let info of this.purchaseDetails  let i = index;  ">
                                            <td> {{info.productId}} &nbsp; {{info.productName}} </td>
                                            <td> {{info.quantity}} </td>
                                            <td> {{info.MRP}} </td>
                                            <td> {{info.packagingUnit}} </td>
                                            <td> {{info.discount}} </td>
                                            <td> {{info.totalPrice}} </td>
                                            <td *ngIf="!info.salesPoint"> 0</td>
                                            <td *ngIf="info.salesPoint"> {{info.salesPoint}} </td>
                                            <td *ngIf="!info.boosterPoints"> 0 </td>
                                            <td *ngIf="info.boosterPoints"> {{info.boosterPoints}} </td>
                                        </tr>
                                    </table>
                                    <div class="invoice-sku" *ngIf="this.claimDetail.comment">
                                        Comment :
                                        <div class="comments">
                                            {{this.claimDetail.comment}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- claims details popup For Mobile -->
            <div *ngIf="displaymobile">
                <div class="modal fade modalcommon" id="myModal" *ngIf="this.showDetail === true" style="z-index: 99999; margin-top: 30%;margin-right:10px;">
                    <div class="modal-dialog" style="width:100%;">
                        <div class="modal-content contentcommon">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h3 class="modal-title modal-header-mob-font" *ngIf="this.claimDetail.invoiceNumber"> Invoice Number: &nbsp;{{this.claimDetail.invoiceNumber}}</h3>
                                <h3 class="modal-title modal-header-mob-font" *ngIf="!this.claimDetail.invoiceNumber"> Invoice Number: NA</h3>
                                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body div2" style="font-size: 15px;">
                                <table class="borderless  table-imp ">
                                    <tr style="margin-bottom: 3px;">
                                        <td class="width"> {{stringService.getfieldLabels().invoiceNumber}}: </td>
                                        <td class="width"> {{this.claimDetail.invoiceNumber}}</td>

                                    </tr>
                                    <tr style="margin-bottom: 3px;">
                                        <td class="width"> {{stringService.getfieldLabels().invoiceDate}}:</td>
                                        <td class="width"> {{this.claimDetail.transactionDate | date: 'dd/MM/yyyy' }}</td>
                                    </tr>
                                    <tr style="margin-bottom: 3px;">
                                        <td class="width"> {{stringService.getfieldLabels().uploadDate}}:</td>
                                        <td class="width"> {{this.claimDetail.createdAt | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr style="margin-bottom: 3px;">
                                        <td class="width"> {{stringService.getfieldLabels().total}}:</td>
                                        <td class="width"> {{this.claimDetail.invoiceAmount}}</td>
                                    </tr>
                                    <tr style="margin-bottom: 3px;">
                                        <td class="width"> {{stringService.getfieldLabels().totalVat}}: </td>
                                        <td class="width"> {{this.claimDetail.invoiceAmountExcludingVAT}}</td>
                                    </tr>
                                    <tr style="margin-bottom: 3px;" *ngIf="!this.claimDetail.debitPartyId">
                                        <td class="width"> {{stringService.getfieldLabels().distributor}}:</td>
                                        <td class="width">
                                            {{this.claimDetail.distributorName}}
                                        </td>
                                        <tr style="margin-bottom: 3px;" *ngIf="this.claimDetail.debitPartyId">
                                            <td class="width"> {{stringService.getfieldLabels().distributor}}:</td>
                                            <td class="width">
                                                {{this.claimDetail.debitPartyInfo.userDetails.userName}}
                                            </td>
                                        </tr>
                                        <tr style="margin-bottom: 3px;" *ngIf="this.claimDetail.vatPercentage">
                                            <td class="invoice-td"> {{stringService.getfieldLabels().vatPercentage}}:</td>
                                            <td class="invoice-td"> {{this.claimDetail.vatPercentage}}%</td>
                                        </tr>
                                        <tr style="margin-bottom: 3px;">
                                            <td class="width"> {{stringService.getfieldLabels().status}}:</td>
                                            <td class="width text-capitalize"> {{this.claimDetail.approvalStatus}}</td>
                                        </tr>
                                        <tr style="margin-bottom: 3px;">
                                            <td class="width"> {{stringService.getfieldLabels().points}}:</td>
                                            <td class="width"> {{this.claimDetail.pointsEarned}}</td>
                                        </tr>
                                        <tr style="margin-bottom: 3px;">
                                            <td class="width">Payment Status:</td>
                                            <td class="width"> {{paymentStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width">Comment:</td>
                                            <td class="width"> {{this.claimDetail.comment}}</td>
                                        </tr>
                                </table>
                                <div class="downloadlinkMob">
                                    <a href="{{this.claimDetail.invoiceDocument}}" target="_blank" class="cd-download" (click)="download()">Download Invoice</a>
                                </div>



                                <div class="purchaseDetails" *ngIf="this.purchaseDetails">
                                    {{stringService.getfieldLabels().skuDetails}}

                                    <div *ngFor="let info of this.purchaseDetails  let i = index;" class="col-12 col-sm-12 ard-dealer-modalcard-main-div">

                                        <!-- <div> -->
                                        <div class=" card shadow-prop dealer-table1-card-modal ">
                                            <div class="col-12 col-sm-12 card-body dealer-table1-card-body row ">


                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().sku}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().quantity}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().unitPrice}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().packagingUnit}}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().discounts}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().total}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().pointsEarned}} {{configService.getTerminology()}}</b>
                                                    </div>
                                                    <div class="row mob-modal-card-font">
                                                        <b>{{stringService.getfieldLabels().boosterPoints}} {{configService.getTerminology()}}</b>
                                                    </div>

                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="row dealer-card-content-padding mob-modal-card-font ">
                                                        {{info.productId}} &nbsp; {{info.productName}}
                                                    </div>
                                                    <!-- <div class="row dealer-card-content-padding mob-modal-card-font" style="color: #02f; " data-toggle="modal " data-target="#myModal " (click)="detailClick(info) "> -->

                                                    <div class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.quantity}}
                                                    </div>
                                                    <div class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.MRP}}
                                                    </div>
                                                    <div class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.packagingUnit}}
                                                    </div>
                                                    <div class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.discount}}
                                                    </div>
                                                    <div class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.totalPrice}}
                                                    </div>
                                                    <div *ngIf="!info.salesPoint" class="row dealer-card-content-padding mob-modal-card-font">
                                                        0
                                                    </div>
                                                    <div *ngIf="info.salesPoint" class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.salesPoint}}
                                                    </div>
                                                    <div *ngIf="!info.boosterPoints" class="row dealer-card-content-padding mob-modal-card-font">
                                                        0
                                                    </div>
                                                    <div *ngIf="info.boosterPoints" class="row dealer-card-content-padding mob-modal-card-font">
                                                        {{info.boosterPoints}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- <div class="invoice-sku " *ngIf="this.claimDetail.comment ">
                                            Comment :
                                            <div class="comments ">
                                                {{this.claimDetail.comment}}
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>