$font-family:Roboto;
p {
    font-family: $font-family;
}

.card-img-top {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.titlebox
{
    background-color: #222;
    color: #d8b56f;
    height: 3em;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: center;
    justify-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.info-box1 {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.con-img {
    background: #c7c7c7;
    width: 15em;
    height: 8em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.con-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.noRecords {
    font-family: Roboto;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.zoom-img{
    background-color:#000;
    background-image:none;
    max-height: 100vh; 
    overflow-y:scroll;  
    z-index:1000; 
    position:fixed; 
    width:84%; 
    height: 81%; 
    top:15%; 
    left:8%;
    text-align:center; 
}


@media screen and (max-width:820px) and (min-width:310px)
{
    .back-link-font
    {
        font-size: 17px;
    }
    .container
    {
        margin-bottom: -39px;
        margin-top: -30px;
    }
    .back-btn{
        position: fixed;
        bottom: 15px;
        left: 15px;
        background-color: #f7f7f7;
        box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.6);
        padding: 13px 20px;
        z-index: 1200;
        font-size: 22px;
        border-radius: 50%;
    }
    .set-mobile-align-link
    {
        margin-top:53px;
    }
    .set-mobile-align-link-top
    {
        margin-bottom:-18px;
    }
    .titlebox
    {
        background-color: #222;
        color: #d8b56f;
        height: 3em;
        display: -ms-flexbox;
        display: flex;
        -ms-grid-column-align: center;
        justify-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        margin-top: 10px;
    }

}

@media screen and (max-width:350px) and (min-width:300px)
{

    .main-img{
        width: 185px !important;
    }

    .videoC{
        width: 230px !important;
    }
 
}