<div class="spinner" style="z-index: 9999;top:59%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/Events.png" class="" width="100%"/>
</div>

<!--Banner For mobile (Only for other user-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/Events.png" class="" width="100%"/>
</div>
<div class="container container-for-mobile">

    <div class="row titlebox my-4 title-for-mobile" style="padding-top:22px;">
        Past Events
    </div>
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole ||
            this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
            this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="row mob-tab" style="justify-content: center">
            <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="engineer-tab" data-toggle="tab"  role="tab" aria-controls="engineer" aria-selected="false" (click)="setEventprofile(i = 2)">Engineer</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="activity-tab" data-toggle="tab"  role="tab" aria-controls="activity" aria-selected="true" (click)="setEventprofile(i = 0)">Dealer</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" id="distributor-tab" data-toggle="tab"  role="tab" aria-controls="distributor" aria-selected="true" (click)="setEventprofile(i = 1)">Distributor</a>
                </li>
               
            </ul>
    </div>
    <div class="row mobile-adjust-div">
        <div class="col-md-12 mt-3 info-box">
            <table class="table table-striped table-bordered" *ngIf="displaypc">
                <thead>
                    <tr style="background-color: #ae995a;">
                        <th scope="col">Event Name</th>
                        <th scope="col">Dates</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody *ngFor="let past of pastEvents">

                    <tr>
                        <th>{{past.eventName}}</th>
                        <td>{{past.startDate}} - {{past.endDate}}</td>
                        <td>
                            <a style="color: #02f;" (click)="showgallery(past)">
                                <i style="cursor:pointer;">View Details</i>
                            </a>
                        </td>
                    </tr>
                </tbody>


            </table>
            <!--Mobile Responsive Cards starts here-->
            <div class="col-12" *ngIf="displaymobile" style="padding-left:0.6px;padding-right: 0.6px;margin-top: -6.4px;">

                <div *ngFor="let past of pastEvents">
                    <div class="card" style="margin-left:-9px;margin-right:-9px;margin-bottom: 12px;margin-top:12px;box-shadow: 0 2px 6px #adadad;">
                        <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                            <div class="row" style="margin-bottom: 5px">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Event Name</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{past.eventName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Dates</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{past.startDate}} - {{past.endDate}}</p>
                                </div>
                            </div>
                            <div class="row" style="font-size: 15px;text-align:right;padding-top:8px;">
                                <div class="col-12">
                                    <a style="color: #02f;" (click)="showgallery(past)">
                                        <i style="cursor:pointer;">View Details</i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End of Mobile responsive cards-->
            <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Events Found</div>

        </div>
    </div>
</div>