<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/Events.png" class="" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/Events.png" class="" width="100%" />
</div>

<div class="container">
    <div class="row titlebox my-4 title-for-mobile" style="padding-top:22px;">
        Events List
    </div>
    <feedback-message></feedback-message>
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="row" style="justify-content: center">
        <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="engineer-tab" data-toggle="tab" role="tab" aria-controls="engineer" aria-selected="false" (click)="setEventprofile(i = 2)">Engineer</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="activity-tab" data-toggle="tab"  role="tab" aria-controls="activity" aria-selected="true" (click)="setEventprofile(i = 0)">Dealer</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" id="distributor-tab" data-toggle="tab" role="tab" aria-controls="distributor" aria-selected="true" (click)="setEventprofile(i = 1)">Distributor</a>
            </li>

        </ul>
    </div>
    <div class="row d-flex justify-content-center mt-5 mobile-spacing" *ngIf="carddiv == true">

        <div class="card info-box col-md-4" *ngFor="let upcoming of upcomingEvents; let i = index;">

            <div class="card-body ">
                <img class="card-img-top main-img" [src]="upcoming.bannerImage">
            </div>
            <div class="card-body content-card-padding">
                <h5 class="card-title align-left content-header-element">{{upcoming.eventName}}</h5>
                <p class="card-text align-left mobile-font content-element">{{upcoming.startDate}} - {{upcoming.endDate}}</p>
                <p class="card-text align-left mobile-font">{{upcoming.location}}</p>
                <a *ngIf="displaypc" class="btn-jsw" data-toggle="modal" data-target="#imgGallery" (click)="seeDetails(upcoming)">See Details</a>
                <div>
                    <a *ngIf="displaymobile" class="btn-jsw" (click)="showdetailsdiv(upcoming)">See Details</a>
                </div>

                <p id="reg{{upcoming.eventId}}" style="color:red; display:none; margin-top:5%">Registered to this event</p>

                <div *ngIf="upcoming.allowRegistration === true && (this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole ||
                    this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole ||
                    this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole)" class="button-spacing">
                    <a *ngIf="displaypc" class="btn-jsw" style="display:none" href="" id="{{upcoming.eventId}}" data-toggle="modal" (click)="register(upcoming)" data-target="#RegisterMe">Register Me</a>
                    <a *ngIf="displaymobile" class="btn-jsw" id="{{upcoming.eventId}}" href="" id="{{upcoming.eventId}}" data-toggle="modal" (click)="register(upcoming)" data-target="#RegisterMe">Register Me</a>
                </div>
            </div> 
        </div>
        <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Events Found</div>
    </div>
    <div *ngIf="seedetailsdiv && displaymobile" style="margin-bottom:17px;">
        <div class="col-md-12 col-sm-12 col-12" style="margin-top:52px;padding:0;">
            <img class="d-block w-100" style="margin-bottom:4%;" src={{bannerImage}}>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-4 col-4" style="font-size:15px;">
                    <strong>Event Name</strong>
                </div>
                <div class="col-sm-8 col-8" style="font-size:15px;">{{eventName}}</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                    <div class="col-sm-4 col-4" style="font-size:15px;">
                        <strong>Description</strong>
                    </div>
                    <div class="col-sm-8 col-8" style="font-size:15px;">{{eventDescrption}}</div>
                </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-4 col-4" style="font-size:15px;">
                    <strong> Venue</strong>
                </div>
                <div class="col-sm-8 col-8" style="font-size:15px;">{{eventVenue}}</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-4 col-4" style="font-size:15px;">
                    <strong>Contact</strong>
                </div>
                <div class="col-sm-8 col-8" style="font-size:15px;">{{contact}}</div>
            </div>
        </div>
        <div class="row" style="display:flex;justify-content: center; margin-top:20px;margin-bottom:14px;">
            <button (click)="showcarddiv()" class="btn-jsw" style="font-size:15px;">Back</button>
        </div>
    </div>


    <div *ngIf="showData===true" class="modal fade" id="imgGallery" style="z-index: 99999;">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imgGalleryTitle">{{eventName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"  (click)="cancel()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 info-box1">
                        <img class="d-block w-100" style="margin-bottom:4%;" src={{bannerImage}}>
                        <h5>
                            <strong>Event Name :</strong> {{eventName}}</h5>
                        <h5>
                            <strong>Description :</strong> {{eventDescrption}}</h5>
                        <h5>
                            <strong>Event Venue :</strong> {{eventVenue}}</h5>
                        <h5>
                            <strong>Contact :</strong> {{contact}}</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <form [formGroup]="registrationForm">
        <div class="modal fade" id="RegisterMe" tabindex="-1" style="z-index: 99999;">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content modal-width">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imgGalleryTitle">Register for event</h5>

                        <button type="button" class="close" data-dismiss="modal" id="closePopup" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Name" class="modal-mobile-label">Your Name</label>
                            <input type="text" class="form-control" formControlName="userName">
                            <div class="alert-error modal-mobile-label" *ngIf="registrationForm.controls['userName'].hasError('required') &&registrationForm.controls['userName'].touched">
                                Name is Required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="modal-mobile-label">Contact Number</label>
                            <input type="mobile" class="form-control" formControlName="mobileNumber">

                            <div class="alert-error modal-mobile-label" *ngIf="registrationForm.controls['mobileNumber'].hasError('required') &&registrationForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().mobileNumReq}}
                            </div>
                            <div class="alert-error modal-mobile-label" *ngIf="registrationForm.controls['mobileNumber'].hasError('pattern') &&
                                registrationForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().invalidMobileNumber}}

                            </div>

                            <div class="alert-error modal-mobile-label" *ngIf="registrationForm.controls['mobileNumber'].hasError('minlength') &&
                                registrationForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}

                            </div>
                            <div class="alert-error modal-mobile-label" *ngIf="registrationForm.controls['mobileNumber'].hasError('maxlength') &&
                                registrationForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="Age" class="modal-mobile-label">Your Address</label>
                            <textarea class="w-100" formControlName="address"></textarea>
                            <div class="alert-error modal-mobile-label" *ngIf="registrationForm.controls['address'].hasError('required') &&registrationForm.controls['address'].touched">
                                Address is Required
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p *ngIf="this.showRegisteredMessage===true" style="color:red">You are Already Registered</p>
                        <button type="button" class="btn-jsw modal-mobile-label" id="register" [disabled]="!(registrationForm.valid)" (click)="Registration()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>