<div class="spinner" style="z-index: 9999;top:56%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div *ngIf="displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/Events.png" class="" width="100%"/>
</div>
<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/Events.png" class="" width="100%"/>
</div>



<div class="container">
    <div class="col-md-12 ">
        <div class="row set-mobile-align-link-bottom">
            <!-- <div *ngIf="displaymobile" class="back-btn">
                <i class="fa fa-chevron-left"  (click)="backtopastEvents()" aria-hidden="true"></i>
            </div> -->
            <div *ngIf="displaypc" class="col-md-12 back-link-font ">
                <a style="color: #02f;" (click)="backtopastEvents()">
                    <i style="cursor:pointer;">Back to Past Event List</i>
                </a>
            </div>
        </div>


        <div  class="row titlebox my-4" style="padding-top:22px">
            Event Details
        </div>
        <div class="row" *ngIf="displaypc">
            <div class="col">
                <p>
                    <strong>Event Name : </strong> {{eventName}}</p>
                <p>
                    <strong>Event Description: </strong>{{eventdescription}}
                </p>
                <p>
                    <strong>Event Venue :</strong> {{eventVenue}}</p>
                <p>
                    <strong>Contact :</strong> {{contact}}</p>
                <p>
                    <strong>Start Date :</strong> {{startDate}}</p>
                <p>
                    <strong>End Date :</strong> {{endDate}}</p>
            </div>
        </div>
        <!--Mobile Responsive Cards starts here-->
        <div class="row" *ngIf="displaymobile">
            <div class="col-12" style="padding-left:0.6px;padding-right: 0.6px;margin-top: -6.4px;">
                <div>
                    <div class="card" style="margin-left:0px;margin-right:0px;margin-bottom: 12px;margin-top:0px;box-shadow: 0 2px 6px #adadad;">
                        <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Event Name</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{eventName}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Event Description</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{eventdescription}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Event Venue</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{eventVenue}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Contact</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{contact}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>Start Date</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{startDate}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                    <b>End Date</b>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                    <p class="card-text">{{endDate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile responsive cards ends here-->

        <div class="row titlebox my-4" style="padding-top:22px;">
            Event Gallery
        </div>
        <!-- New code added by Trupti -->
        <div class="row" style="margin-bottom: 60px;">
            <div class="col-md-12 mt-3 info-box1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="true"
                            >Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos"
                            aria-selected="false" >Videos</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- images tab -->
                    <div class="tab-pane fade show active" id="images" role="tabpanel" aria-labelledby="images-tab">
                        <div class="row con-box">
                            <div *ngFor="let image of galleryImagesArr; let j=index;">
                                <div style="padding-top: 2rem; padding-bottom: 2rem;">
        
                                    <div class="con-img">
                                        <div style="display:flex;justify-content:flex-end;">
                                        </div>
                                        <img id="clientLogo" class="img1" [src]="image" (click)="zoom(image)" style="width: 250px;height: 145px;" alt="Image preview...">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="galleryImagesArr.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No images added.</div>
                        </div>
                    </div>
                    <!-- videoes tab -->
                    <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                        <div class="row con-box">
                            <div *ngFor="let video of galleryVideoArr; let h=index;">
                                <div style="padding-top: 1rem;">
        
                                    <div class="">
                                        <div style="display:flex;justify-content:flex-end;">
                                        </div>
                                        <video class="videoC" id="video_here" width="320" height="240" controls>
                                            <source [src]="video"> Your browser does not support the video preview.
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="galleryVideoArr.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No videos added.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- <div class="row" *ngIf="displaypc">

            <div class="card info-box" style="width: 32%" *ngFor="let gallery of galleryImages">
                <img class="card-img-top" [src]="gallery">
            </div>
            <div *ngIf="noRecordMessage" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">
                No Records Found.
            </div>


        </div>
        <div class="row" *ngIf="displaymobile">
            <div class="card info-box col-12" style="padding:0px;margin-bottom: 19px;margin-top:-7px;" *ngFor="let gallery of galleryImages">
                <img class="card-img-top" [src]="gallery">
            </div>
        </div> -->
    </div>
</div>

<!-- for zooming the image -->
<div *ngIf="isZoom" class="alert alert-info zoom-img">
    <a (click)="closeDetails()" style="color:white;float:right">X</a>
    <img id="First IMG" class="img1" [src]="imageURL" style="height:100%;" alt="Image preview...">
</div>