<!-- -------------------------- LOADER --------------------------------------------------------- -->
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<!-- -------------------------- MAIN CONTAINER --------------------------------------------------------- -->
<!-- <div class="margin-align-top-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole"></div> -->
<!-- <div class="margin-align-top-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole"></div> -->
<!-- <div class="margin-align-top" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole"></div> -->
<div class="margin-align-top-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole"></div>
<div class="margin-align-top" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole"></div>


<div class="container">

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 maindiv-margin-mob">
            <!--------------------------------- TOP HEADER------------------------------------------- -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row titlebox my-4">
                    <h6 class="">
                        My Redemptions
                    </h6>
                </div>
            </div>

            <!--------------------------------- FORM for FILTERS------------------------------------------- -->
            <form [formGroup]="filterReedemRequestsForm">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12 mob-padding">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mob-margin-inputfield">
                        <!-- ------------------------------- Order Status Filter ------------------------------------------- -->
                        <label for="orderStatusFilter" class="label-mob">
                            <b>{{stringService.getStaticContents().redeemStatus1}}</b>
                        </label>
                        <select tabindex="1" class="form-control" formControlName="orderStatusFilter">
                            <option value="" disabled selected>Select Order Status </option>
                            <option value="all">{{stringService.getStaticContents().redeemAll}}</option>
                            <option value="pending">{{stringService.getStaticContents().redeemPending}}</option>
                            <option value="confirmed">{{stringService.getStaticContents().redeemConfirmed}}</option>
                            <option value="processing">{{stringService.getStaticContents().redeemProcessing}}</option>
                            <option value="shipped">{{stringService.getStaticContents().redeemShipped}}</option>
                            <option value="completed">{{stringService.getStaticContents().redeemCompleted}}</option>
                            <option value="cancelled">{{stringService.getStaticContents().redeemCancelled}}</option>
                            <option value="returned">{{stringService.getStaticContents().redeemReturned}}</option>
                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mob-margin-inputfield">
                        <!-- ------------------------------- Approval Status Filter ------------------------------------------- -->
                        <label for="approvalStatusFilter" class="label-mob">
                            <b>{{stringService.getStaticContents().redeemApprovalStatus}}</b>
                        </label>
                        <select tabindex="1" class="form-control" formControlName="approvalStatusFilter">
                            <option value="" disabled selected>Select Approval Status</option>
                            <option value="all">{{stringService.getStaticContents().redeemApprovalStatusAll}}</option>
                            <option value="pending">{{stringService.getStaticContents().redeemApprovalStatusPending}}</option>
                            <option value="approved">{{stringService.getStaticContents().redeemApprovalStatusApproved}}</option>
                            <option value="rejected">{{stringService.getStaticContents().redeemApprovalStatusRejected}}</option>
                            <option value="returned">{{stringService.getStaticContents().redeemReturned}}</option>
                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mob-margin-inputfield">
                        <!-- ------------------------------- Period Filter ------------------------------------------- -->
                        <label for="statusFilter" class="label-mob">
                            <b>{{stringService.getStaticContents().redeemViewFor}}</b>
                        </label>
                        <select tabindex="1" class="form-control" formControlName="periodFilter">
                            <option value="" disabled selected>Select Period</option>
                            <option value="all">{{stringService.getStaticContents().redeemAll}}</option>
                            <option value="thisMonth">{{stringService.getStaticContents().redeemMonth}}</option>
                            <option value="thisWeek">{{stringService.getStaticContents().redeemWeek}}</option>
                            <option value="thisQuarter">{{stringService.getStaticContents().redeemQuarter}}</option>
                            <option value="selectTimePeriod">{{stringService.getStaticContents().redeemChoose}}</option>
                        </select>
                    </div>
                    <!-- </div> -->

                    <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 row " *ngIf="this.fromTo === true">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label for="startDate">
                                <b>From:</b>
                            </label>
                            <input class="form-control " type="date" id="startDate" formControlName="redeemStartDate" lang="en">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <label for="endDate">
                                <b>To:</b>
                            </label>
                            <input class="form-control " type="date" id="endDate" formControlName="redeemEndDate" lang="en">
                        </div>
                    </div>
                </div>
            </form>

            <!--------------------------------- Filter Button------------------------------------------- -->
            <div *ngIf="displaypc">
                <button class="btn btn-jsw" (click)="filter()" style="margin-left: 1rem;margin-top: 1rem;" [disabled]="fromToDateInvalid === true">Filter</button>
            </div>
            <div *ngIf="displaymobile" class="btn-mob-align">
                <button class="btn btn-sm" (click)="filter()" style="width:128.61px;color: #000;background: #ae995a;" [disabled]="fromToDateInvalid === true">Filter</button>
            </div>
            <!---------------------------------  List of all order records------------------------------------------- -->
            <div *ngIf="displaypc">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-4">

                    <table class="table">
                        <tbody>
                            <tr class="head">
                                <td>
                                    <strong>Order No.</strong>
                                </td>
                                <td>
                                    <strong>Order ID</strong>
                                </td>
                                <td>
                                    <strong>Order Status</strong>
                                </td>
                                <td>
                                    <strong>Approval Status</strong>
                                </td>
                                <td>
                                    <strong>Order Date</strong>
                                </td>

                                <td>
                                    <strong>Product Name</strong>
                                </td>
                                <td>
                                    <strong>Product Quantity</strong>
                                </td>
                                <td>
                                    <strong>Shipping Date</strong>
                                </td>
                                <td>
                                    <strong>Total {{configService.getTerminology()}}</strong>
                                </td>
                            </tr>
                            <tr *ngFor="let order of orderArr; let i = index" class="mc-fonts">
                                <td style="padding-left:1.5em">{{serialSkip+(i+1)}}</td>
                                <td style="color: #02f;" data-toggle="modal" data-target="#myModal" (click)="detailClick(order)">
                                    <i style="cursor:pointer;"> {{order.orderId}}</i>
                                </td>
                                <td> {{order.orderStatus}}</td>
                                <td>{{order.approvalStatus}}</td>
                                <td class="text-right">{{order.createdAt | date:'dd/MM/yyyy'}}</td>
                                <td class="text-right">{{order.productInfo.productName}}</td>
                                <td style="text-align: center;"> {{order.productQuantity}}</td>
                                <td>
                                    <span *ngIf="order.isCourierUpdated">
                                        {{order.couriers.shippingDate}}
                                    </span>
                                    <span *ngIf="!order.isCourierUpdated"> - </span>
                                </td>
                                <td class="text-center">{{order.pointsPerQuantity}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!------------------------ MObile Card start here ---------------------------------------->
            <div *ngIf="displaymobile">
                <div class="col-12" *ngFor="let order of orderArr; let i = index" style="margin-top:-8px;">


                    <div class="card shadow-prop dealer-table1-card">
                        <div class="card-body dealer-table1-card-body row">


                            <div class="col-lg-6 col-md-6 col-sm-5 col-5" style="padding-left:30px;">
                                <div class="row mob-font">
                                    <b>Order No</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Order ID</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Order Status</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Approval Status</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Order Date</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Product Name</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Product Quantity</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Shipping Date</b>
                                </div>
                                <div class="row mob-font">
                                    <b>Total {{configService.getTerminology()}}</b>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-7 col-7">
                                <div class="row dealer-card-content-padding mob-font">
                                    {{serialSkip+(i+1)}}
                                </div>
                                <div class="row dealer-card-content-padding mob-font" style="color: #02f;" data-toggle="modal" data-target="#myModal" (click)="detailClick(order)">
                                    <i style="cursor:pointer;"> {{order.orderId}}</i>
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    {{order.orderStatus}}
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    {{order.approvalStatus}}
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    {{order.createdAt | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    {{order.productInfo.productName}}
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    {{order.productQuantity}}
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    <span *ngIf="order.isCourierUpdated">
                                        {{order.couriers.shippingDate}}
                                    </span>
                                    <span *ngIf="!order.isCourierUpdated"> - </span>
                                </div>
                                <div class="row dealer-card-content-padding mob-font">
                                    {{order.pointsPerQuantity}}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!------------------------ MObile Card end here ---------------------------------------->

        </div>


        <div *ngIf="noRecordMessage" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found.</div>

        <div *ngIf="displaypc" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" style="padding-top: 1rem;">
            <button class="btn btn-jsw" style="margin-right: 1rem;" [disabled]="isPrevious || isNoRecords" (click)="redeemOnPrevClick()"
                type="submit">Previous</button>
            <button class="btn btn-jsw" [disabled]="isNext || isNoRecords" (click)="redeemOnNextClick()" type="submit">Next</button>
        </div>
        <div *ngIf="displaymobile" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" style="padding-top: 1rem; margin-top:10px;">
            <button class="btn btn-sm" style="width:128.61px;color: #000;background: #ae995a;" [disabled]="isPrevious || isNoRecords"
                (click)="redeemOnPrevClick()" type="submit">Previous</button>
            <button class="btn btn-sm" style="width:128.61px;color: #000;background: #ae995a;" [disabled]="isNext || isNoRecords" (click)="redeemOnNextClick()"
                type="submit">Next</button>
        </div>


        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" *ngIf="true">
            <span style="float: right;padding-top: 1rem; margin-bottom: 5px;"> {{startRecord}} - {{endRecord}} of {{totalRecords}} Records</span>
        </div>

        <!-- claims details popup -->
        <div class="modal fade modalcommon modal-main" id="myModal" *ngIf="this.showDetail === true">
            <div class="modal-dialog modal-align">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" *ngIf="this.order.orderId">Order Id: {{order.orderId}}</h4>
                        <h4 class="modal-title" *ngIf="!this.order.orderId">Order Id: NA</h4>
                        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body div2">
                        <table class="borderless table-font-mob">

                            <tr *ngIf="order.createdAt!== undefined">
                                <td style="width: 40%;"> Order Date </td>
                                <td>: &nbsp; {{order.createdAt | date:'dd/MM/yyyy'}}</td>

                            </tr>
                            <tr *ngIf="order.approvalStatus!== undefined">
                                <td style="width: 40%;"> Approval Status </td>
                                <td>: &nbsp; {{order.approvalStatus}}</td>

                            </tr>
                            <tr *ngIf="order.orderStatus!== undefined">
                                <td style="width: 40%;"> Order Status </td>
                                <td>: &nbsp; {{order.orderStatus}}</td>

                            </tr>

                            <tr *ngIf="order.isCourierUpdated">
                                <td style="width: 40%;"> Shipping Date </td>
                                <td>: &nbsp; {{order.couriers.shippingDate}}</td>

                            </tr>

                            <tr *ngIf="order.productQuantity!== undefined">
                                <td style="width: 40%;"> Product Quantity </td>
                                <td>: &nbsp; {{order.productQuantity}}</td>

                            </tr>

                            <tr></tr>
                            <tr *ngIf="order.shippingAddress !== undefined">
                                <td> Shipping Address</td>
                                <td>:</td>
                            </tr>
                            <tr *ngIf="order.shippingAddress.state !== undefined">
                                <td style="width: 40%;"> State </td>
                                <td>: &nbsp; {{order.shippingAddress.state}}</td>

                            </tr>
                            <tr *ngIf="order.shippingAddress.city !== undefined">
                                <td style="width: 40%;"> City </td>
                                <td>: &nbsp; {{order.shippingAddress.city}}</td>

                            </tr>
                            <tr *ngIf="order.shippingAddress.streetAddress !== undefined">
                                <td style="width: 40%;"> Street Address </td>
                                <td>: &nbsp; {{order.shippingAddress.streetAddress}}</td>

                            </tr>
                            <tr *ngIf="order.shippingAddress.pincode !== undefined">
                                <td style="width: 40%;"> Pincode </td>
                                <td>: &nbsp; {{order.shippingAddress.pincode}}</td>

                            </tr>
                            <tr *ngIf="order.shippingAddress.mobileNumber !== undefined">
                                <td style="width: 40%;"> Mobile No. </td>
                                <td>: &nbsp; {{order.shippingAddress.mobileNumber}}</td>

                            </tr>
                            <tr></tr>
                            <tr *ngIf="order.productInfo !== undefined">
                                <td> Product Info.</td>
                                <td>:</td>
                            </tr>
                            <tr *ngIf="order.productInfo.productName!== undefined">
                                <td style="width: 40%;"> Product Name </td>
                                <td>: &nbsp; {{order.productInfo.productName}}</td>

                            </tr>
                            <tr *ngIf="order.productInfo.SKU !== undefined">
                                <td style="width: 40%;"> SKU </td>
                                <td>: &nbsp; {{order.productInfo.SKU}}</td>

                            </tr>

                            <tr *ngIf="order.productInfo.shortDescription !== undefined">
                                <td style="width: 40%;" style="vertical-align: text-top;"> Short Description </td>
                                <td>: &nbsp; {{order.productInfo.shortDescription}}</td>

                            </tr>
                            <tr *ngIf="order.productInfo.longDescription !== undefined">
                                <td style="width: 40%;" style="vertical-align: text-top;"> Long Description </td>
                                <td>: &nbsp; {{order.productInfo.longDescription}}</td>

                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>