
$font-family: Roboto;
.contact-form {
}

.alert-error {
    font-size: 11px;
    color: red;
    padding-top: 0.5%;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.width {
    width: 14rem;
}

.purchaseDetails {
    margin-top: 1rem;
}
.margin-top
{
    text-align:center;
    margin-top: 2.2rem;
}
.margin-div
{
    margin-top: 3.5rem;
}
.dealer-table1-card
{
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom: -5px;
    margin-top:20px;
}
.dealer-table1-card-body
{
    padding:0.25rem;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
.card-dealer-main-div
{
    margin-top:-61px;
    padding:28px;
}
.dealer-card-header
{
    font-size: 15px;
    margin-bottom: 5px;
}
.dealer-card-header-subdiv
{
    padding-left:14px;
    font-size: 20px;
}
.dealer-card-contentheader
{
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}
.dealer-card-contentsubheader
{
    padding-left:14px;
    font-size: 15px;
    margin-bottom:7px;
}
.card-content-div
{
    margin-bottom: 5px;
    font-size:15px;
    padding:16px;
    padding-top:1px;
}
.dealer-card-content-padding
{
    padding-left:10px;
}
.modal-align
{
    margin-right: 13rem;
    margin-top: 6rem;
    max-width: 54rem;
}
.modal-main
{
    z-index: 9999 !important;
}
.modal-content
{
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
width: 100% !important;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 0.3rem;
outline: 0;
}
.table-font-mob
{
    font-size: 15px;
}

.margin-align-top
{
    margin-top: 47px;
}



// mobile responsive code

@media screen and (max-width:810px) and (min-width:310px)
{
 .main-div-mob
 {
     margin-top: -14px;
     margin-bottom: 16px;
 }
 .div-margin-mob
 {
     margin-top: 0px;
     marging-bottom:0px;
 }
 .margin-top
 {
     margin-top: 0px;
 }
 .margin-div
 {
     margin-bottom:5px;
     margin-top: -0.5rem;
 }
 .div-padding-mob
 {
     padding-left: 0px;
     padding-right: 0px;
 }

 .mob-div-padding
 {
     padding-left: 0px;
     padding-right: 0px;
    }  
 .label-margin-mob
 {
     margin-bottom: 0px;
 }
 .inputfield-margin-mob
 {
     margin-bottom: 7px;
 }
 .badge-component {
    padding: 0.6em 0.78em;
    border-radius: 1.6em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.shadow-prop {
    box-shadow: 0 2px 6px #adadad;
}

.mob-font-small {
    font-size: 17px;
    opacity: 0.8;
}

.card-heading-div {
    margin-bottom: -15px;
    padding-left: 14px;
}

.mob-padding
{
    padding-left: 0px; 
    padding-right: 0px;
}
.label-mob
{
    margin-bottom: 1px;
}
.mob-margin-inputfield
{
    margin-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}
.btn-mob-align
{
    text-align: center;
    margin-top: 16px;
}
.btn-sm
{
padding: 0.25rem 0.5rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.2rem;
}
.dealer-card-content-padding
{
    padding-left: 4px;
}
.mob-font
{
    font-size: 14px;
}
.dealer-table1-card-body
{
    padding: 0.25rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 15px;
}
.modal-align
{
    margin-top: 6rem;
    
}
.modal-main
{
    z-index: 9999 !important;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}
}

@media screen and (min-width:400px) and (max-width:500px)
{
.modal-content
{
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
width: 394px !important;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 0.3rem;
outline: 0;
}

}
@media screen and (min-width:350px) and (max-width:400px)
{
.modal-content
{
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
width: 346px !important;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 0.3rem;
outline: 0;
}
}
@media screen and (min-width:300px) and (max-width:350px)
{
    .modal-content
    {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 304px !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    }
.margin-align-top
{
    margin-top: 47px;
}
}

@media screen and (max-width:350px) and (min-width:300px)
{
    .maindiv-margin-mob
    {
        margin-top: -25px;
    }
    .margin-align-top-eng
    {
        margin-top: 154px;
    }
    .margin-align-top
    {
        margin-top: 95px; 
    }
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .maindiv-margin-mob
    {
        margin-top: 26px;
    }
    .margin-align-top-eng
    {
        margin-top: 129px;
    }
    .margin-align-top
    {
        margin-top: 62px; 
    }
}