#myclaims-table-head {
    background-color: #E5E5E5;
    font-family: HelveticaNeueLight;
}

#myclaims-filters-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#myclaims-pagination {
    display: inline;
    border-right: 0.5px solid;
    padding: 5px;
}

#myclaims-show {
    display: inline;
    padding-left: 1.5em;
}

#myclaims-filters-control2 {
    margin-left: 39%;
    padding: 0;
}

#myclaims-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    /*padding: 5px;*/
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-left: 0;
}

#myclaims-viewclaim-status {
    margin-right: 0px;
    padding-right: 0;
    /*width: 10%;*/
    font-family: HelveticaNeueTT;
    letter-spacing: 0.5px;
    font-size: 0.9em;
}

#myclaims-viewclaim-duration-filter {
    margin-left: 0;
    padding-left: 0;
    font-family: HelveticaNeueRegular;
    font-size: 0.9em;
}

#myclaims-viewclaim-title {
    margin-right: 0px;
    padding-right: 0;
    /*width: 20%;*/
    font-family: HelveticaLTSEX;
    font-size: 0.813em;
}

.myclaims-dropdown {
    background-color: white;
    /*width: 100%;
  height: 34px;*/
    height: 2.188em;
    width: 160px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 1px;
    /*box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);*/
    align-items: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    border-radius: 2px;
    border: solid 1px #cccccc;
}

.myclaims-dropdown a:hover {
    background-color: #d44434;
    color: white;
    text-align: center;
}

.myclaims-dropdown:hover .myclaims-dropdown-content {
    display: block;
}

.myclaims-dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: white;
    min-width: 110%;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 6px;
}

.myclaims-view-dropdown {
    padding: 8px;
    color: black;
}

.myclaims-view-dropdown:hover {
    color: white;
    background-color: #333333;
    cursor: pointer;
}

.myclaims-card {
    /*box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);*/
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 1px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fff;
    color: #000;
    margin-top: 1em;
}

.myclaims-header-font {
    font-family: HelveticaLight;
    font-size: 1.0em;
    letter-spacing: 0;
    vertical-align: inherit;
    height: 2.78em
}

.mc-fonts {
    font-family: MyriadRegular;
    font-size: 19px;
}

.mc-font-light {
    font-family: HelveticaNeueTT;
    font-size: 0.813em;
}

.timeline-fonts {
    font-family: HelveticaLTSEX;
    font-size: 1.125em;
    padding-left: 0;
}

.mc-number {
    font-family: HelveticaLTSEX;
    font-weight: 900;
}

.myclaims-navi {
    background-color: #333;
    border: none;
    color: white;
    height: 1.5em;
    border-radius: 3px;
}

.myclaims-page-select {
    height: 30px;
    width: 50px;
    padding-left: 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.invoice-title {
    height: 5vh;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
}

.title-text {
    padding: 0.5em;
    color: white;
    font-family: HelveticaLTSEX;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.invoice-td-title {
    font-family: HelveticaNeueLight;
    font-size: 1em;
    width: 150px;
    color: #666666;
    background-color: white;
}

.invoice-td-content {
    font-family: HelveticaNeueTT;
    width: 250px;
    color: #414141;
    background-color: white;
    padding: 1px;
    font-size: 1em;
}

/* @media screen and (max-width:810px) and (min-width:321px)  */
