<!-- 	**************************			LOADER 		*************************	-->
<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>
<!--	************************** 		END OF LOADER 		**************************	-->

<!--[Uncomment - Production]-->

<div id="redemptions-container" style="min-height:100vh; width:100%;padding:20px 40px;">
    <div class="row" style=" padding: 0;">
        <form [formGroup]="filterReedemRequestsForm">
            <div class="col-md-12 col-lg-12 col-sm-12 col-12 rs-sm-view" id="myclaims-filters">

                <div class="col-md-3 col-lg-3 col-sm-2 col-xs-5 rs-sm-viewlabel" id="myclaims-viewclaim-title">
                    {{stringService.getStaticContents().redeemViewFor}}
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 rs-sm-input" id="myclaims-viewclaim-duration-filter">
                    <div class="myclaims-dropdown"> &nbsp;&nbsp; {{filterName}}
                        <div class="myclaims-dropdown-content">
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToLifeTime()"> {{stringService.getStaticContents().redeemAll}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToMonth()"> {{stringService.getStaticContents().redeemMonth}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToWeek()"> {{stringService.getStaticContents().redeemWeek}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToQuarter()"> {{stringService.getStaticContents().redeemQuarter}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChooseStartToEnd()"> {{stringService.getStaticContents().redeemChoose}} &nbsp;
                                <i class="fa fa-caret-right" aria-hidden="true">
                    							  </i>
                            </div>
                        </div>
                        <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;"></i>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-1 col-xs-3 rs-sm-statuslabel mc-status" id="myclaims-viewclaim-status">
                    {{stringService.getStaticContents().redeemStatus1}}
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 rs-sm-input" id="myclaims-viewclaim-duration-filter">
                    <div class="myclaims-dropdown"> &nbsp;&nbsp; {{statusFilterName }}
                        <div class="myclaims-dropdown-content">
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToAll()"> {{stringService.getStaticContents().redeemAll}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToPending()"> {{stringService.getStaticContents().redeemPending}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToConfirmed()"> {{stringService.getStaticContents().redeemConfirmed}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToProcessing()"> {{stringService.getStaticContents().redeemProcessing}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToShipped()"> {{stringService.getStaticContents().redeemShipped}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToCompleted()"> {{stringService.getStaticContents().redeemCompleted}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToCancelled()"> {{stringService.getStaticContents().redeemCancelled}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToReturned()"> {{stringService.getStaticContents().redeemReturned}}
                            </div>
                        </div>
                        <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;"></i>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-1 col-xs-3 rs-sm-statuslabel mc-status" id="myclaims-viewclaim-status">
                    {{stringService.getStaticContents().redeemApprovalStatus}}
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 rs-sm-input" id="myclaims-viewclaim-duration-filter">
                    <div class="myclaims-dropdown"> &nbsp;&nbsp; {{statusFilterName }}
                        <div class="myclaims-dropdown-content">
                            <div class="myclaims-view-dropdown" (click)="redeemChangeToAllApprovalStatus()"> {{stringService.getStaticContents().redeemApprovalStatusAll}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemApprovalStatusPending()"> {{stringService.getStaticContents().redeemApprovalStatusPending}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemApprovalStatusApproved()"> {{stringService.getStaticContents().redeemApprovalStatusApproved}}
                            </div>
                            <div class="myclaims-view-dropdown" (click)="redeemApprovalStatusRejected()"> {{stringService.getStaticContents().redeemApprovalStatusRejected}}
                            </div>

                        </div>
                        <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;"></i>
                    </div>
                </div>


            </div>

            <div class="col-md-6 col-lg-6 text-center" id="myclaims-filters" *ngIf="fromTo">

                <div class="col-md-3 col-lg-3" id="myclaims-viewclaim-title">
                    {{stringService.getStaticContents().redeemStartDate}}
                </div>
                <div class="col-md-3 col-lg-3">
                    <input class="form-control" type="date" value="" id="startDate" formControlName="redeemStartDate" (change)="redeemOnStartDate(filterReedemRequestsForm.value.redeemStartDate)">

                </div>

                <div class="col-md-2 col-lg-2 text-center" id="myclaims-viewclaim-title">
                    {{stringService.getStaticContents().redeemEndDate}}
                </div>
                <div class="col-md-3 col-lg-3">
                    <input class="form-control" type="date" value="" id="endDate" formControlName="redeemEndDate" min="{{currentStartDate}}">
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 rs-sm-claimsbox" id="myclaims-filters-control">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 timeline-fonts">
                    <span class="mc-number">{{noOfRedeems}} {{stringService.getStaticContents().redeem}} </span> - {{timeline}}
                </div>
                <div class="col-md-3 col-md-offset-6 col-lg-3 col-lg-offset-6 col-sm-12 col-xs-12 rs-sm-filterbox rs-md-filterbox rs-lg-box" id="myclaims-filters-control2">
                    <div id="myclaims-pagination">
                        <button [style.background-color]="clientColor" type="button" class="myclaims-navi" [disabled]="isPrevious" (click)="redeemOnPrevClick()"><i class="fa fa-chevron-left" ></i></button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button [style.background-color]="clientColor" type="button" class="myclaims-navi" [disabled]="isNext" (click)="redeemOnNextClick()"><i class="fa fa-chevron-right" ></i></button> &nbsp;&nbsp;&nbsp;
                    </div>

                    <div id="myclaims-show" class="mc-font-light rs-lg-filterbox">
                        <span>{{stringService.getStaticContents().redeemShow}}</span>

                        <select class="input-small myclaims-page-select" (change)="redeemShowResults(value)" formControlName="redeemShowResults">
												
                            <option value="10" > {{stringService.getStaticContents().redeemTen}}</option>
                            <option value="20"> {{stringService.getStaticContents().redeemTwenty}} </option>
                            <option value="50"> {{stringService.getStaticContents().redeemFifty}} </option>

					    </select>

                        <span>{{stringService.getStaticContents().redeemPerPage}}</span>

                    </div>

                </div>

            </div>
        </form>
    </div>
    <md-card *ngIf="(isRecord)">
        <md-card-subtitle id="inner-title"> No records added yet</md-card-subtitle>
    </md-card>
    <div class="myclaims-card ">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead id="myclaims-table-head">
                    <tr style="height:3.3em;" class="tr-height">
                        <th style="text-align: right" class="myclaims-header-font">Order No.</th>
                        <th style="text-align: center" class="myclaims-header-font">Order ID</th>
                        <th style="text-align: center" class="myclaims-header-font">Order Status</th>
                        <th style="text-align: center" class="myclaims-header-font">Approval Status</th>
                        <th style="text-align: center" class="myclaims-header-font">Order Date</th>
                        <th style="text-align: center" class="myclaims-header-font">Product Name</th>
                        <th style="text-align: right" class="myclaims-header-font">Product Quantity</th>
                        <th style="text-align: center" class="myclaims-header-font">Shipping Date</th>
                        <th style="text-align: right" class="myclaims-header-font">Total {{configService.getTerminology()}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="mc-font-light" *ngFor="let order of orderArr; let i = index">
                        <td style="text-align: right">{{serialSkip+(i+1)}}</td>
                        <td> <u style="text-align: center" (click)="openDialog(i)">{{order.orderId}}
                            </u>
                        </td>
                        <td style="text-align: center">{{order.orderStatus}}</td>
                        <td style="text-align: center">{{order.approvalStatus}}</td>
                        <td style="text-align: center">{{order.createdAt | date:'dd/MM/yyyy'}}</td>
                        <td style="text-align: center">{{order.productInfo.productName}}</td>
                        <td style="text-align: right">{{order.productQuantity}}</td>
                        <td style="text-align: center">
                            <span *ngIf="order.isCourierUpdated">
                                {{order.couriers.shippingDate}}
                                </span>
                            <span *ngIf="!order.isCourierUpdated"> - </span>
                        </td>
                        <td style="text-align: right">{{order.pointsPerQuantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--[End Comment - Production]-->
<client-footer></client-footer>
<app-footer>
</app-footer>