<div class="container-fluid" id="rewards-gallery-home-container">
    <!--    **************************          SPINNER         *************************   -->
    <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
    </md-progress-circle>
    <!--    **************************      END OF SPINNER      **************************  -->

    <!--	*************************	FEEDBACK MESSAGE 	***************************		-->
    <feedback-message></feedback-message>
    <!--	***********************		END OF FEEDBACK MESSAGE 	******************		-->


    <!--    *************************   ROW 1 : SEARCH AND POINTS FILTER   **********************   -->
    <div class="row search-bar" [style.border-top-color]="clientColor">
        <div class="col-md-12 ">
            <form [formGroup]="filterForm">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-div-margin sm-custom-div-margin custom-display sm-custom-display custom-view md-custom-view">
                    <span style="margin-right: 10px; padding-top:5px">View</span>
                    <select class="form-control-custom rs-sm-margin custom-font rs-allpoint" formControlName="view" style="margin-left:-4.2em">
                        <option value=""> All {{configService.getTerminology()}} </option>
                    </select>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-display sm-custom-display lg-category md-category">
                    <input type="text" formControlName="search" class="form-control-custom rs-sm-margin font-search" style="margin-left: 7.4em; border-top-right-radius:0px; border-bottom-right-radius:0px" placeholder="Search for a Product">
                    <select formControlName="category" class="form-control-custom-cat rs-sm-margin custom-font" style="margin-left: 7.24em">
                        <option value="All Categories" >  
                             All Categories 
                        </option>	
                        <option  value="{{category.categoryId}}" *ngFor="let category of categorySubcategoryArray" > 
                            {{category.categoryName}}
                        </option>	
                    </select>

                    <button [style.background-color]="clientColor" class="btn-sm rg-search-btn rs-sm-margin" style="margin-left:22px; height:28px; padding: 2px; width: 2.5em;" (click)="setSearch()">
                        <i class="fa fa-search fa fa-lg" style="font-size:17px"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--    *********************   END OF SEARCH AND POINTS FILTER    ************************    -->



    <!--    **********************  ROW 2 - CATEGORIES AND SLABS FILTER     *******************     -->

    <div class="row category-bar text-center">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="  display: table-cell;">
            <div class=" category-text rg-category-items" style="width: 9.6em;float:right" (click)="setCategory(undefined,'All Categories')" [style.color]="isCategoryHover ? 'white' : clientColor" (mouseenter)="mouseOverCategory()" [style.background-color]="isCategoryHover ? roverElementColor : 'white'"
                (mouseleave)="mouseLeaveCategory()">All Categories </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class=" col-lg-2 col-md-2 col-sm-3 col-xs-6 rg-category-items rg-dropdown " style=" display: table-cell; " *ngFor="let category of categorySubcategoryArray; let i =index;" (mouseenter)="mouseOverCategoryIndex(i)" (mouseleave)="mouseLeaveCategoryIndex()"
                [style.background-color]="i == selectedIndex  ? clientColor : 'white'">
                <div class="rg-category-name" (click)="setCategory(category.categoryId,category.categoryName) ">
                    {{category.categoryName}}
                </div>
                <div class="rg-dropdown-content" *ngIf="category.SubCategories.length!=0">
                    <a class="rg-dd-content" *ngFor="let subcat of category.SubCategories let j=index" (mouseenter)="mouseOverSubCategoryIndex(j)" (mouseleave)="mouseLeaveSubCategoryIndex()" [style.background-color]="j == selectedSubIndex  ? clientColor : 'white'">
                        <span class="rg-category-name" (click)="setSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)" style="font-size:1em">
                            {{subcat.subCategoryName}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        </div>

        <button [style.background-color]="clientColor" class="btn rg-btn-red" style="float:right !important; font-size:0.8em; border-radius:2px !important" type="button" *ngIf="allowStarPointsConversion" (click)="goToProgramRG()">
            PROGRAM REWARD GALLERY
        </button>
    </div>


    <!--    ********************    END OF CATEGORIES AND SLABS FILTER  ***************************     -->
</div>

<div class="container-fluid" style="min-height:auto; height:auto;">
    <div class="row">
        <!--    *********************   FILTER INFO AND SORT ******************************     -->
        <div class="row" style=" padding-left: 1em;">
            <div class="col-md-12">
                <div class="col-md-2 col-lg-2 rg-category-header">
                    {{ filterText}}
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-12 rg-sortbar custom-select">
                            <div>
                                <span style="border-right: 1px solid black;">
                                    {{productsArray.length}} Items &nbsp;
                                </span>
                                <span class="rg-item-status">
                                    &nbsp;   Showing All
                                </span>
                            </div>
                            <div style="padding-right:28px">
                                Sort By :
                                <select class="rg-sort" (change)="setSort()">
                                    <option value="name" > Name </option>	
                                    <option value="points" > {{configService.getTerminology()}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 rg-filter">
                <div class="rg-filter-title">Filter </div>
                <div class="rg-clearall" [style.color]="clientColor" (click)="clearAllBrands()">
                    Clear All
                </div>
            </div>
        </div>
        <!--    **************  END OF FILTER INFO AND SORT     *****************************   -->

        <div class="row" style="padding-left: 2em;">

            <!--    *************************   BRAND FILTERS   ***************************     -->
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs rg-side-card" style="margin-top:5px">
                <div class="rg-filter-parent" style="border-radius:6px">
                    <div class="rg-brands-font">Brands
                        <i class="fa fa-caret-down fa-lg" (click)="toggleBrand()" aria-hidden="true"></i>
                    </div>
                    <div class="text-left rg-filter-child">

                        <div class="rg-filter-items rg-brands" [style.color]="i == selectedBrandIndex  ?  'white':clientColor" *ngFor="let brand of brandsArray let i=index; " [style.background-color]="i == selectedBrandIndex  ? clientColor : 'white'">
                            <div (mouseenter)="mouseOverBrandIndex(i)" (mouseleave)="mouseLeaveBrandIndex()">

                                <input type="checkbox" [checked]="brand.isSelected" (click)="setBrandsArray(i)"> {{brand.brandName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--    ********************** END OF BRAND FILTERS     ***********************     -->

            <!--    *****************************   PRODUCT LIST    **************************  -->
            <div class="col-md-9 col-lg-9" style="padding:0">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 rg-item-card-margin " *ngFor="let product of productsArray; let i=index; let isAdded of isProductAdded">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rg-item-card rg-flex custom-product" style="padding-right:0px !important;">
                        <div class="row col-md-12 col-lg-12" style="border:0px solid red; margin:0px !important;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center" style="justify-content: center; display:flex; align-items:center; height:16vh;  border: 0px solid red; margin: 0px !important; border:0px solid blue; padding:0px !important;">
                                <img class="rg-img" src="{{product.smallImage}}" (click)="goToProductDetail(product)">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6" style="border:0px solid blue; padding-right:0px !important;">
                                <div class="rg-cat-productName" style="text-overflow: ellipsis; overflow:hidden; height:1.5em !important;" (click)="goToProductDetail(product)">
                                    {{product.productName}}</div>
                                <div class="rg-cat-productCode" style="text-overflow: ellipsis; overflow:hidden; height:1.5em !important;" (click)="goToProductDetail(product)">
                                    Product Code : {{product.SKU}}</div>
                                <div [style.color]="clientColor" class="rg-cat-productPoints" style="text-overflow: ellipsis; overflow:hidden; height:1.5em !important;" (click)="goToProductDetail(product)">{{configService.getTerminology()}} : {{product.pointsPerQuantity}}</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:1em 0em !important;">
                                    <!-- [COMMENT] : Production -->
                                    <button class="btn rg-btn-red" [style.background-color]="clientColor" style="font-size:0.8em; border-radius:2px !important" type="button" [disabled]="isEligibleForRedemption" (click)="addToCart(product)">
                                            ADD TO CART
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="productsArray.length<=0" class="text-center rg-noproduct">
                    <h3> No Product Found</h3>
                </div>
            </div>
            <!--    **********************  END OF PRODUCT LIST     **************************  -->
        </div>
    </div>
</div>




<!--    *******************     CLIENT FOOTER AND APP FOOTER    **************************  -->
<client-footer></client-footer>
<app-footer></app-footer>
<!--    *******************     END OF CLIENT FOOTER AND APP FOOTER     **********************  -->