<!--Author			:	Pratik Gawand
            Description		: 	HTML for Reward Gallery page
            Date Created	: 	03 April 2017
            Date Modified	: 	03 April 2017-->




<!--<div class="container-fluid" id="rewards-gallery-home-container">-->

    <!--search bar start-->
    <!--<div class="row search-bar ">
        <div class="col-md-12 ">

            <form [formGroup]="filterForm">

                <div class="col-lg-1  col-md-2 col-sm-6 text-center">
                    View

                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <select class="form-control-custom" formControlName="view">
                                <option value=""> All Points </option>
                            </select>
                </div>


                <div class="col-lg-2 col-md-2 col-sm-6   col-md-offset-2 col-lg-offset-4 rg-search">
                    <input type="text" class="form-control-custom" formControlName="search" placeholder="Search for a Product">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6   rg-category">
                    <select class="form-control-custom">
                                <option value=""> All Categories </option>	
                            </select>
                </div>

                <div class="col-lg-1 col-md-2  col-sm-12  col-xs-12 rg-button btn-row">
                    <button class="btn-sm rg-search-btn">
                                    <i class="fa fa-search fa fa-lg"></i>
                                </button>
                </div>

            </form>
        </div>
    </div>-->
    <!--search bar ends-->



    <!--category-bar starts-->
    <!--<div class="row category-bar text-center">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12  category-text rg-category-items">All Categories </div>


        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6 rg-category-items rg-dropdown" *ngFor="let category of allCategoryAndProduct"  >
            {{category.categoryName}}
            <div class="rg-dropdown-content" *ngIf="category.SubCategories.length >0 "  >
                <div class="rg-dd-content" *ngFor="let subcat of category.SubCategories">
                    Racold Sub Category {{subcat.subCategoryName}}
                </div>

            </div>


        </div>
    </div>-->
    <!--category-bar ends-->

<!--</div>-->




    <div id="appBody" >
		<router-outlet  >

        </router-outlet>
   
	</div>





