<!--Author			:	Pratik Gawand
            Description		: 	HTML for Reward Gallery Product Detail page
            Date Created	: 	04 April 2017
            Date Modified	: 	20 April 2017-->
<!--    **************************          SPINNER         *************************   -->
<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>
<!--    **************************      END OF SPINNER      **************************  -->


<div class="container-fluid" id="rewards-gallery-home-container">

    <!--search bar start-->
    <div class="row search-bar" [style.border-top-color]="clientColor">
        <div class="col-md-12 ">

            <form [formGroup]="filterForm">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-div-margin sm-custom-div-margin custom-display sm-custom-display custom-view md-custom-view">
                    <!--<div class="col-lg-1  col-md-2 col-sm-6 text-center" style="margin-top: 4px; padding-right: 3.5em;">-->
                    <span style="margin-right: 10px; padding-top:5px">View</span>

                    <!--</div>-->
                    <!--<div class="col-lg-2 col-md-2 col-sm-6">-->
                    <select class="form-control-custom rs-sm-margin custom-font rs-allpoint" formControlName="view" style="margin-left:-4.2em">
                        <option value=""> All {{configService.getTerminology()}} </option>
                    </select>
                    <!--</div>-->
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-display sm-custom-display lg-category md-category">
                    <!--<div class="col-lg-2 col-md-2 col-sm-6   col-md-offset-2 col-lg-offset-4 rg-search">-->
                    <input type="text" class="form-control-custom rs-sm-margin font-search" style="margin-left: 7.4em; border-top-right-radius:0px; border-bottom-right-radius:0px" formControlName="search" placeholder="Search for a Product">
                    <select formControlName="category" class="form-control-custom-cat rs-sm-margin custom-font" style="margin-left: 7.24em">
                                    <option value="">  
                                        All Categories
                                     </option>	
                                    <option  value="{{category.categoryId}}" *ngFor="let category of allCategoryAndProduct" > 
                                    
                                        {{category.categoryName}} 
                                    </option>	
                        </select>
                    <!--</div>-->

                    <!--<div class="col-lg-1 col-md-2  col-sm-12  col-xs-12 rg-button btn-row">-->
                    <button [style.background-color]="clientColor" class="btn-sm rg-search-btn rs-sm-margin" style="margin-left:22px; height:28px;padding: 2px; width: 2.5em;" (click)="search()">  
                            <i class="fa fa-search fa fa-lg" style="font-size:17px"></i>
                        </button>
                    <!--</div>-->
                </div>

            </form>
        </div>
    </div>
    <!--search bar ends-->

    <!--category-bar starts-->
    <div class="row category-bar text-center">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="  display: table-cell;">
            <div class="category-text rg-category-items" style="width:9.6em;float:right" (click)="goBackToCategory()" [style.color]="isCategoryHover ? 'white' : clientColor" (mouseenter)="mouseOverCategory()" [style.background-color]="isCategoryHover ? roverElementColor : 'white'"
                (mouseleave)="mouseLeaveCategory()">All Categories </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 rg-category-items rg-dropdown" style=" display: table-cell; " *ngFor="let category of categorySubcategoriesArray  let i=index;" [style.background-color]="i == selectedIndex  ? clientColor : 'white'">
                <div class="rg-category-name" (click)="getSpecificCategory(category.categoryId,category.categoryName)" (mouseenter)="mouseOverCategoryIndex(i)" (mouseleave)="mouseLeaveCategoryIndex()">
                    {{category.categoryName}}
                </div>
                <div class="rg-dropdown-content" *ngIf="category.SubCategories.length >0 ">
                    <div class="rg-dd-content" *ngFor="let subcat of category.SubCategories let j=index" [style.background-color]="j == selectedSubIndex  ? clientColor : 'white'">
                        <div class="rg-category-name" (mouseenter)="mouseOverSubCategoryIndex(j)" (mouseleave)="mouseLeaveSubCategoryIndex()" (click)="getSpecificCategoryAndSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)">
                            {{subcat.subCategoryName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        </div>
    </div>
    <!--category-bar ends-->

</div>




<div class="container-fluid" style="min-height:100vh;padding:0;">
    <!--	*************************	FEEDBACK MESSAGE 	***************************		-->
    <feedback-message></feedback-message>
    <!--	***********************		END OF FEEDBACK MESSAGE 	******************		-->
    <div class="row" style="padding: 20px; margin-left:0px; margin-right:0px; margin-bottom:50px">
        <div class="col-md-12 rg-title">
            <div class="col-md-12 rg-title-header">
                <div class="rg-pd-productName">
                    {{product.productName}}
                </div>
                <div class="rg-back" style="font-size:13px" (click)="goToCategory()">
                    <span class="rg-back-sm" style="font-size:6px"><<  </span> {{product.category.categoryName}} </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 rg-details-card" style="padding-left:0px; padding-right:0px">


                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 rg-width rg-details-card" style="padding: 10px;">
                    <div class="col-lg-12 col-md-12" style="padding:0;">
                        <div class="hidden-xs visible-md visible-lg">
                            <div class="col-lg-6 col-md-6 col-sm-12" style="padding:0;">
                                <div class="hidden-sm hidden-xs">
                                    <div class="col-lg-3 col-md-3" style="padding:0;">
                                        <div class="col-lg-12 col-md-12   rg-img-smallbox text-center" style="padding:0;">
                                            <i class="next fa fa-angle-up fa-2x" aria-hidden="true" (click)="movePrev()"></i>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col rg-img-smallbox " *ngFor="let s of productImages let i=index">
                                            <div class="rg-img-thumbnail" (click)="showImage(i)">
                                                <img *ngIf="i<3 && s!=null" class=" rg-img " (click)="showImage(i)" src="{{s}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col rg-img-smallbox text-center">

                                            <i class="prev fa fa-angle-down fa-2x " aria-hidden="true" (click)="moveNext()"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9" style="padding-left:0px;">
                                    <div class="col-lg-12 col-md-12">


                                        <div class="myslides">
                                            <!-- <ks-swiper-container class="rg-img-box">
                                                <ks-swiper-slide class="swiper-slide" style="border:0px solid #cccccc;" *ngFor="let s of productImages ;let n = index;">
                                                    <img class="img-responsive" style="max-height:70vh; padding: 25px;" src="{{s}}" (click)="zoom(n)">
                                                </ks-swiper-slide>
                                            </ks-swiper-container> -->
                                        </div>

                                    </div>
                                    <div class="visible-sm   hidden-xs">
                                        <div class="col-md-12 rg-sm-nav">
                                            <div class="col-sm-2 col-xs-2">
                                                <i class="fa fa-angle-left fa-2x" aria-hidden="true" (click)="movePrev()"></i>
                                            </div>

                                            <div class="col-sm-2 col-xs-2" *ngFor="let s of product.image let i=index">
                                                <img *ngIf="i<3" class=" rg-img-thumbnail" (click)="showImage(i)" src="{{s}}">
                                            </div>

                                            <div class="col-sm-2 col-xs-2">
                                                <i class="fa fa-angle-right fa-2x" aria-hidden="true" (click)="moveNext()"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="visible-xs visible-sm">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="col-xs-12">
                                    <div class="col-lg-12 col-md-12 col ">

                                        <div class="myslides">
                                            <!-- <ks-swiper-container class="rg-img-box">

                                                <ks-swiper-slide class="swiper-slide" *ngFor="let s of product.image">
                                                    <img class="img-responsive" src="{{s}}">
                                                </ks-swiper-slide>
                                            </ks-swiper-container> -->
                                        </div>
                                    </div>

                                    <div class="col-xs-12 rg-sm-nav">
                                        <div class="col-sm-2">
                                            <i class="fa fa-angle-left fa-2x" aria-hidden="true" (click)="movePrev()"></i>
                                        </div>

                                        <div class="col-sm-4" *ngFor="let s of product.image let i=index">
                                            <img *ngIf="i<2" class=" rg-img-thumbnail" (click)="showImage(i)" src="{{s}}">
                                        </div>

                                        <div class="col-sm-2">
                                            <i class="fa fa-angle-right fa-2x" aria-hidden="true" (click)="moveNext()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-left:-15px">
                            <div class="col-lg-12 col-md-12">
                                <div class="rg-pd-productName-dsc" style="margin-top:-8px">
                                    <b style="  font-weight: 600; font-size:18px;">
                                         {{product.productName}}
                                     </b>
                                </div>
                                <div class="rg-pd-productCode" style="font-weight:normal; font-family:HelveticaNeueTT; font-size:13px">
                                    Product Code: {{product.SKU}}
                                </div>

                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div [style.color]="clientColor" class="rg-points rg-fontsize"> {{product.pointsPerQuantity}} {{configService.getTerminology()}}</div>
                                <div class="rg-italic" style="margin-top: -3px; font-size:13px">{{product.shippingInfo}}</div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <p class="rg-pd-productDsc-dsc" style="font-size:13px">
                                    {{product.shortDescription}}
                                </p>
                            </div>
                            <div class="div-display">
                                <label style="margin-left: 15px; font-weight:100">Quantity</label>
                                <input type="number" class="text-box" style="width:40%;  margin-left:10px; padding-left:5px" [(ngModel)]="product.quantity" (click)="onQuantityClick(product.productId, product.quantity)" (change)="onQuantityClick()" min="1" [max]="parseInteger(product.stock)">
                            </div>
                            <div class="col-lg-12" *ngIf="product.isInStock" style="font-size:0.9em; font-style:italic; color:red; margin: 5px 0px 5px 0px">
                                You have reached the stock limit {{product.stock}}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:1em 0em !important;">
                                <!--<button class="btn rg-btn-red" style="font-size:0.8em; border-radius:2px !important; margin-left: 14px;" type="button" (click)="addProductDetail()">-->
                                <button [style.background-color]="clientColor" class="btn rg-btn-red" style="font-size:0.8em; border-radius:2px !important; margin-left: 14px;" type="button" [disabled]="isEligibleForRedemption" (click)="addToCart(product)">
                                            ADD TO CART
                                    </button>
                                <!--<div *ngIf="isProductAdded[i]" class="alert-error">
                                        Added into cart
                                    </div>-->
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12 rg-product-dsc rg-pd-productCode-dsc" style="padding-left:17px; padding-right:0px">
                        <div class="pd-productDsc-title">Product Description</div>
                        <p class="rg-pd-productCode-dsc" font-> {{product.longDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- for zooming the image -->
    <div *ngIf="isZoom" class="alert alert-info" style="background-color:#000; background-image:none;max-height: 100vh; overflow-y:scroll;  z-index:1000; position:fixed; width:84%; height: 81%; top:11%; left:8%; text-align:center; ">
        <a (click)="closeDetails()" style="color:white;float:right">X</a>
        <img id="First IMG" class="img1" [src]="imageURL" style="height:100%;" alt="Image preview...">
    </div>


    <client-footer></client-footer>
    <app-footer>
    </app-footer>