<div class="container-fluid">



    <div class="row">
        <div class="action-bar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  fg-title">
                <div> Program Not Found</div>
                <div><i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i> </div>
            </div>

        </div>
        <hr class="hidden">
    </div>
    <div id="centerLabel" class="text-center">
        <h4> Program You Have Not Mapped to Any Active Program </h4>
        <h4> <small> Please Contact Annectos   </small> </h4>
    </div>

</div>