<!--    **************************          SPINNER         *************************   -->
<!-- <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle> -->
<!--    **************************      END OF SPINNER      **************************  -->


<div class="col-lg-12 rs-md-box">
    <div class="row">
        <div class="action-bar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fg-title">
                <div>
                    Information
                </div>
                <div>
                    <i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i>
                </div>
            </div>
        </div>
        <hr class="hidden">
    </div>
    <div class="welcome-rewards" style="overflow-y:auto">
        Racold Royals 2017 registration is now closed. For more information, please contact your Racold ASM
    </div>

</div>