


.extaSpace {
    height: 50px;
}
.error-msg-mob
{
    margin-top:-30px !important;
}

.ghost {
    border: 1px solid #fff;
    color: #fff;
    background: #fff;
}

.img-container-fluid {
    padding: 0 !important;
    overflow: hidden !important;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
.btn-login {
    border: 1px solid #1F1F23;
    color: #fff;
    background: #1F1F23;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-login:hover {
    border: 1px solid #1F1F23;
    color: #1F1F23;
    background: #fff;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.navigationn {
    background: #fff !important;
    padding: .5em 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dropdown-menu {
    margin: .125rem 0 0 -13em !important;
}

.dropdown,
.dropup {
    position: relative;
    display: flex;
    flex-direction: column;
    /*  align-items: flex-end; */
    margin: 0 auto;
}

.nav-link {
    color: #000 !important;
}

.size-desktop {
    height: 450px;
}

#mobile-div {
    background-image: url("https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/mbackground.png");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

.error-msg {
    margin-left: 2px;
    font-size: 16px;
    color: red;
    margin-top: 4px;
}
.error-msg2 {
    margin-left: 2px;
    font-size: 16px;
    color: red;
    margin-top: -21px;
}

.error-user-name {
    margin-top: -20px;
    font-size: 16px;
    color: red;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
        width: 400px;
        height: auto;
    }
}
@media only screen and (max-width: 825px) and (min-width: 300px) 
{
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    margin-top: 50%;
}
.error-msg-mob
{
    margin-top:0px !important;
}
.error-msg {
    margin-left: 2px;
    font-size: 16px;
    color: red;
    margin-top: -30px;
}
.error-msg2 {
    margin-left: 2px;
    font-size: 16px;
    color: red;
    margin-top: -19px;
}
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
    .dropdown-menu {
        position: static;
        margin: 0 auto !important;
    }
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        margin-top: 0 auto !important;
    }
    .small {
        padding: 0 1.05em
    }
}

.modal-backdrop.show {
    opacity: 0 !important;
}

//for mobile responsive
.logo-image-mob {
    display: block;
    max-width: 80%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}


.link-font-mob {
    font-size: 15px;
}

.component-gapping-mob {
    padding-bottom: 12px;
    padding-top: 10px;
}

.align-text {
    text-align: right;
}

.noPadding {
    padding: 0px !important;
}

.identity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -8%;
}

// .fullpage-dealer {
//     background: url('../../assets/login/login-bg.png') no-repeat;
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
// }

.idlogo {
    width: 50%;
}

.idtext {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
    padding: 2em 5em;
    text-align: center;
}

body {}

.ghost {
    border: 1px solid #fff;
    color: #fff;
    background: #fff;
}

.img-container-fluid {
    padding: 0 !important;
    overflow: hidden !important;
}

.btn-login {
    border: 1px solid #1F1F23;
    color: #fff;
    background: #1F1F23;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-login:hover {
    border: 1px solid #1F1F23;
    color: #1F1F23;
    background: #fff;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.navigationn {
    background: #fff !important;
    padding: .5em 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-bg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dropdown-menu {
    margin: .125rem 0 0 -13em !important;
}

.dropdown,
.dropup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.nav-link {
    color: #000 !important;
}

.bluesec {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1B3071;
    padding-left: 5%;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 52% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 52% 0, 81% 100%, 0% 100%);
}

.identity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -8%;
}

.fullpage {
    background: url('https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/loginnew/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.idlogo {
    width: 50%;
}

.idtext {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
    padding: 2em 5em;
    text-align: center;
}

.businessModal-mob{
    display: flex;
    margin-top: 30%;
    align-items: center;
    height: 75%;
    width: 100%;
}

.businessModal{
    display: flex;
    margin: auto;
    align-items: center;
    height: 500px;
    width: 500px;
}

.loginClass{
    display: none
}

.list-itemss{
    padding: 2em;
    border-bottom: 1px solid #e7e7e7;
}

.list-itemss:hover{
    padding: 2em;
    border-bottom: 1px solid #e7e7e7;
    background-color: #e7e7e7; 
}


/* for tablet screen */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
        width: 400px;
        height: 350px;
    }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
    .dropdown-menu {
        position: static;
        margin: 0 auto !important;
    }
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        margin-top: 0 auto !important;
    }
    .small {
        padding: 0 1.05em
    }
}

@media screen and (max-height:600px) and (min-height:300px)
{
        
    .set-form-mob 
    {
        margin-top: 15%;
    }
}
@media screen and (min-height:601px)
{
    
    .set-form-mob 
    {
        margin-top: 20%;
    }
}

