<!-- <body> -->
<!-- <ProgramSelection></ProgramSelection> -->
<!--Mobile div starts here-->
<div class="container-fluid" id="mobile-div" style="padding:16px !important; overflow:hidden;" *ngIf="displaymobile">
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="extaSpace">

    </div>
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/logo.png" class="logo-image-mob" alt="jswlogo">

    <div class="extaSpace">
    </div>
    <div class="extaSpace">
    </div>
    <div class="container-fluid set-form-mob">

        <form class="form" role="form" [formGroup]="loginForm">
            <div class="form-group component-gapping">
                <input id="emailInput" placeholder="Username" class="form-control form-control-lg" type="text" required="" formControlName="userName">
            </div>
            <div class="alert-error error-msg2" *ngIf="(loginForm.controls['userName'].hasError('required') &&
            loginForm.controls['userName'].touched) ||  invalidUserName">
                {{stringService.getErrorMessage().usernameReq}}
            </div>

            <div class="form-group component-gapping-mob">
                <input id="passwordInput" placeholder="Password" class="form-control form-control-lg" type="password" required="" formControlName="password"
                    (click)="scroll()">

            </div>
            <div class="alert-error error-msg" *ngIf="(loginForm.controls['password'].hasError('required') &&
            loginForm.controls['password'].touched) || invalidPassword">
                {{stringService.getErrorMessage().passwordReq}}
            </div>
            <div class="row error-msg-mob" *ngIf="showFeedback" style="margin-left:0px;color:red;font-size:16px; ">{{feedBackMessage}}</div>

            <div class="form-group component-gapping-mob">
                <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="checkInputs()">Login</button>
            </div>
            <div class="form-group row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 link-font-mob">
                    <small style="color:blue">
                        <a (click)="signUp()">Register Here</a>
                    </small>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 align-text link-font-mob">
                    <small>
                        <a href="" data-toggle="modal" (click)="forgotPassword()">Forgot password?</a>
                    </small>
                </div>
            </div>
        </form>

        <!-- to handle multiple business enitities -->
        <div class="modal businessModal-mob" id="showBusiness" *ngIf="showBusiness" tabindex="-1" role="dialog" aria-labelledby="morecontentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="height: 100%; width: 100%;"role="document">
                <div class="modal-content" style="height: 100%;">
                    <div>
                        <div class="modal-header" style="background: #1B3071; color: #fff;">
                            <div class="col-sm-11 col-11 col-md-11 col-lg-11">
                                Choose a Business Entity
                            </div>
                            <div class="col-sm-1 col-1 col-md-1 col-lg-1">
                                <button type="button"  style="color: #fff;" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" (click)="close()">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body" *ngFor="let beInfo of businessEntityArr let i = index;" style="padding: 0; text-align: center;">
                            <div class="col-md-12 col-lg-12 col-12 col-sm-12 list-itemss" (click)="openProgram(i)">
                                {{beInfo.businessName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- to show no programs mapped -->
        <div class="modal businessModal-mob" id="noProgramMapped" *ngIf="noProgramMapped" tabindex="-1" role="dialog" aria-labelledby="morecontentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="height: 100%; width: 100%;"role="document">
                <div class="modal-content" style="height: 100%;">
                    <div>
                        <div class="modal-header" style="background: #1B3071; color: #fff;">
                            <button type="button" style="color: #fff;" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" (click)="close()">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"  style="padding: 0; text-align: center;">
                            <div class="col-md-12 col-lg-12 col-12" style="margin-top: 12rem; font-size: larger;">
                                <p><strong> You are not enrolled into JSW Privilege Club. </strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="extaSpace">
    </div>
</div>
<!--Mobile div ends here-->

<!-- <div id="modalPasswordMobile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Forgot password</h3>
                <button type="button" class="close font-weight-light" (click)="forgotPassword()" aria-hidden="true">×</button>
            </div>
            <!-- <div class="modal-body">
                <p>Reset your password..</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div> -->
<!-- </div>
    </div>
</div> -->




<!--Desktop Login View Start-->
<div class="container-fluid" style="padding: 0 !important;  height: 100vh;overflow: hidden;" id="desktop-div" *ngIf="displaypc">
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <nav class="navbar navbar-expand-lg navigationn fixed-top" role="navigation">

        <a class="navbar-brand" href="#">
            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/logo.png" style="width:80%" alt=""> </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn-login">Login</button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2" id="login">
                        <li class="px-3 py-2">
                            <div class="col-lg-12">
                                <form id="" role="form" [formGroup]="loginForm">
                                    <div class="">
                                        <label for="username">
                                            <strong>Username</strong>
                                        </label>
                                        <input formControlName="userName" (change)="onChangeUserName()" type="text" name="username" id="username" tabindex="0" class="form-control"
                                            placeholder="User Name" value="" autocomplete="off">
                                    </div>
                                    <div class="alert-error error-msg" *ngIf="(loginForm.controls['userName'].hasError('required') &&
                                                        loginForm.controls['userName'].touched) ||  invalidUserName">
                                        {{stringService.getErrorMessage().usernameReq}}
                                    </div>
                                    <div class="alert-error error-msg" *ngIf="loginForm.controls['userName'].hasError('pattern') &&
                                                loginForm.controls['userName'].touched">
                                        {{stringService.getErrorMessage().invalidUserName}}
                                    </div>
                                    <div class="" style="margin-top: 1rem;">
                                        <label for="password">
                                            <strong>Password</strong>
                                        </label>
                                        <input tabindex="0" formControlName="password" (change)="onChangeUserPassword()" type="password" name="password" id="password"
                                            class="form-control" placeholder=" Type your Password" autocomplete="off">
                                        <div class="alert-error error-msg" *ngIf="(loginForm.controls['password'].hasError('required') &&
                                                loginForm.controls['password'].touched) || invalidPassword">
                                            {{stringService.getErrorMessage().passwordReq}}
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="showFeedback">
                                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-12">
                                        </div>
                                        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-6 col-xs-12 alert-error error-msg">
                                            {{feedBackMessage}}
                                        </div>
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <a style="color: #02f;cursor:pointer;" class="small" (click)="signUp()" tabindex="0">Register Here</a>
                                                <!-- IE 10 ISSUE -->

                                                <a style="color: #02f;cursor:pointer; float:right;" (click)="forgotPassword()" data-toggle="modal" data-target="#modalPasswordDesktop"
                                                    class="small" tabindex="0">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">&nbsp;</div>
                                            <!-- IE 10 ISSUE -->
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center">
                                                <button type="submit" class="btn-login" (click)="checkInputs()" tabindex="0">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row fullpage">
        <div class="col-md-6 bluesec">
            <img style="width: 70%;margin-left: -3rem;" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/loginnew/quote.png" class="idlogo">
        </div>
        <div class="col-md-6 identity">
            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/loginnew/logo.png" class="idlogo">
            <p class="idtext">is created to express gratitude to our partners and give appreciation to those who deserve it.</p>
            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/loginnew/icons.png" class="idlogo">
        </div>

        <!-- to handle multiple business enitities -->
        <div class="modal businessModal" id="showBusiness" *ngIf="showBusiness" tabindex="-1" role="dialog" aria-labelledby="morecontentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="height: 100%; width: 100%;"role="document">
                <div class="modal-content" style="height: 100%;">
                    <div>
                        <div class="modal-header" style="background: #1B3071; color: #fff;">
                            <div class="col-md-11">
                                Choose a Business Entity
                            </div>
                            <div class="col-md-1">
                                <button type="button"  style="color: #fff;" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" (click)="close()">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body" *ngFor="let beInfo of businessEntityArr let i = index;" style="padding: 0; text-align: center;">
                            <div class="col-md-12 col-lg-12 col-12 list-itemss" (click)="openProgram(i)">
                                {{beInfo.businessName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- to show no programs mapped -->
        <div class="modal businessModal" id="noProgramMapped" *ngIf="noProgramMapped" tabindex="-1" role="dialog" aria-labelledby="morecontentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="height: 100%; width: 100%;"role="document">
                <div class="modal-content" style="height: 100%;">
                    <div>
                        <div class="modal-header" style="background: #1B3071; color: #fff;">
                            <button type="button" style="color: #fff;" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" (click)="close()">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"  style="padding: 0; text-align: center;">
                            <div class="col-md-12 col-lg-12 col-12" style="margin-top: 12rem; font-size: larger;">
                                <p><strong> You are not enrolled into JSW Privilege Club. </strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Desktop Login View End -->