<div>
    <div class="container-fluid">

        <!-- ****************************           LOADER      *************************    -->
        <!-- <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
        </md-progress-circle> -->
        <!-- **************************         END OF LOADER       **************************   -->
        <div class="row">



            <!--SHOW BUSINESS ENTITY TEST-->

            <div *ngIf="showBusiness">
                <div *ngIf="userInfo.businessEntityInfo.length > 1">
                    <div class="row">
                        <div class="action-bar">

                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center  fg-title">
                                <div>
                                    Choose a Business Entity
                                </div>
                                <div>
                                    <i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i>
                                </div>

                            </div>

                        </div>
                        <hr class="hidden">

                        <div class="col-md-12" *ngFor="let beInfo of userInfo.businessEntityInfo let i = index;">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 group-item  text-center business" (click)="openProgram(i)">
                                <div class="col-md-12">
                                    {{beInfo.businessName}}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--END OF SHOW BUSINESS ENTITY TEST-->

            <!--BUSINESS -> PROGRAM   TEST START -->

            <div *ngIf="showProgram">


                <div *ngIf="userInfo.businessEntityInfo[businessIndex].programsMapped.length === 0">
                    <div class="row">
                        <div class="action-bar">


                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center  fg-title">
                                <div> No Program Mapped Yet</div>
                                <div><i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i> </div>
                            </div>


                        </div>
                        <hr class="hidden">
                    </div>
                    <div id="centerLabel">
                        <h3>
                            You Are Not Mapped to Any Program
                        </h3>
                    </div>

                </div>

                <div *ngIf="userInfo.businessEntityInfo[businessIndex].programsMapped.length > 0">
                    <div class="row">
                        <div class="action-bar">
                            <div class="col-md-11 text-center">
                                Choose a Program
                            </div>
                        </div>

                        <hr class="hidden">
                        <div class="col-md-12" style="padding:0px">


                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 group-item  programs program-height" (click)="openOTP(i)" style="padding:0;" *ngFor="let programInfo of programsArray let i = index;">
                                <div class="col-md-8 col-lg-8 col-sm-7 col-xs-12" (click)="openOTP(i)">
                                    <div class="col-md-12 ps-program-name" style="padding:0;">
                                        {{programInfo.programName}}
                                    </div>
                                    <div class="col-md-12 ps-program-dates" style="padding:0;">
                                        {{programInfo.programStartDate |date}} - {{programInfo.programEndDate |date }}
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-5 hidden-xs  text-center" (click)="openOTP(i)">
                                    <img class="img-rounded program-img " src="{{programInfo.programLogo[0]}}">
                                </div>
                            </div>




                        </div>

                    </div>
                </div>
            </div>
            <!--BUSINESS -> PROGRAM   TEST END -->





            <!--TEST SHOW DIRECTLY PROGRAM OF THE SINGLE BUSINESS ENTITY-->
            <!--<div *ngIf="clientUser">-->
            <div *ngIf="(userInfo.businessEntityInfo.length == 1 && showOnlyProgram) && !showProgramNotFound">

                <!--action bar start-->
                <div class="row" *ngIf="!(userInfo.businessEntityInfo[0].programsMapped.length === 0)">
                    <div class="action-bar">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center  fg-title">
                            <div>
                                Choose a Program
                            </div>
                            <div>
                                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i>
                            </div>

                        </div>
                    </div>

                    <!--<hr class="hidden">-->
                    <!--action bar ends-->

                    <!--program array starts-->
                    <div class="col-md-12" style="padding:0px">


                        <div *ngIf="userInfo.businessEntityInfo[0].programsMapped.length > 0">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 group-item  programs program-height" style="padding:0;" *ngFor="let programInfo of programsArray let i = index;">
                                <div class="col-md-8 col-lg-8 col-sm-7 col-xs-12" (click)="openOTP(i)">
                                    <div class="col-md-12 ps-program-name" style="padding:0;">
                                        {{programInfo.programName}}
                                    </div>
                                    <div class="col-md-12 ps-program-dates" style="padding:0;">
                                        {{programInfo.programStartDate |date}} - {{programInfo.programEndDate |date }}
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-5   text-center" (click)="openOTP(i)">
                                    <img class="img-rounded program-img " src="{{programInfo.programLogo[0]}}">
                                </div>
                            </div>


                        </div>



                    </div>

                </div>

                <!--program array ends-->

            </div>
            <!--END OF TEST-->
            <div>

                <div>


                    <div *ngIf="userInfo.businessEntityInfo.length === 0" class="row">

                        <div class="col-lg-12">
                            <div class="row">
                                <div class="action-bar">
                                    <div class="col-md-12 text-center">
                                        Program Not Found
                                    </div>
                                </div>
                                <hr class="hidden">
                            </div>
                            <div id="centerLabel" class="text-center">
                                <h4>
                                    You Haven't Mapped to Any Active Program </h4>
                                <h4> <small> Please Contact Annectos   </small> </h4>
                            </div>
                        </div>





                    </div>


                </div>
                <!--</div>-->

            </div>






            <div *ngIf="showOtp">
                <!--action bar start-->
                <div class="row">
                    <div class="action-bar">
                        <!--<div class="col-md-11 text-center">
                    </div>-->
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center  fg-title">
                            <div>
                                Enter OTP to Access the Program
                            </div>
                            <div>
                                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i>
                            </div>

                        </div>


                    </div>
                    <hr class="hidden">


                    <!--action bar ends-->
                    <div *ngIf="otpSent">

                        <h3> Enter OTP to Access the Program </h3>
                        <h3> <small>The OTP has being sent to <strong>{{userInfo.mobileNumber}} </strong></small> </h3>
                        <div class="row">
                            <form [formGroup]="otpForm">

                                <div class="col-md-12">
                                    <input type="text" class="form-control" formControlName="otp" placeholder="Enter OTP" required>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 alert-error otp-feedback" *ngIf="showOtpFeedBack">
                                    {{otpFeedback}}
                                </div>
                                <div class="col-md-12 otp-btn">
                                    <button type="button" class="btn red" [disabled]="!otpForm.valid" (click)="verifyOtp();"> SUBMIT OTP </button>
                                    <button type="button" class="btn gray" (click)="resendOtp();"> RESEND OTP </button>
                                </div>


                            </form>
                        </div>

                    </div>
                    <div>

                        <div class="text-center" class="text-center ps-sentFailed" *ngIf="otpSentFailed">
                            <h4> OTP Sending Failed Please Check Your Mobile Number </h4>
                            <h4> <small> Please Contact Annectos </small> </h4>
                        </div>


                    </div>
                </div>




            </div>

            <div *ngIf="showProgramNotFound" class="row">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="action-bar">

                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center  fg-title">
                                <div>
                                    Program Not Found
                                </div>
                                <div>
                                    <i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i>
                                </div>

                            </div>


                        </div>
                        <hr class="hidden">
                    </div>
                    <div id="centerLabel">

                        <h4>
                            User Not Found </h4>
                        <h4> <small> Please Contact Annectos   </small> </h4>
                    </div>
                </div>



            </div>

            <div *ngIf="noProgramMapped" class="row">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="action-bar">

                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center  fg-title">
                                <div>
                                    No Program Mapped Yet
                                </div>
                                <div>
                                    <i class="fa fa-times-circle fa-lg icon-white" (click)="closeDialog()"> </i>
                                </div>

                            </div>


                        </div>
                        <hr class="hidden">
                    </div>
                    <div id="centerLabel">

                        <h4>
                            You Are Not Mapped to Any Program </h4>

                    </div>
                </div>



            </div>