/* You can add global styles to this file, and also import other style files */

@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
.bannerMain {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #ccc;
}
.bannerMain-eng {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #ccc;
}


.feedback-message{
    max-height:30vh;
    z-index:1000;
    text-align:center;
    margin-top:-1.5em;
    margin-bottom:1.5em;
}

@media screen and(max-width:580px) {
    .bannerImage {
        height: 150px;
        margin-top: -30px;
    }
}

.bodyPadding {
    padding: 1px
}