<nav id="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <!-- About Program for Distributor -->
        <a *ngIf="this.privilegeDistributor===true 
        && (this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole
        ||this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole)" routerLink="./aboutus" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus()">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/About_Program.png ">&nbsp;&nbsp;&nbsp;{{ 'About Program' }}
        </a>
        <!-- About Program for ASM Admin -->
        <a *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"
            routerLink="./manageraboutus" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus()">

            <img style="width:8%;margin-top:-5px; " src="assets/icons/About_Program.png ">&nbsp;&nbsp;&nbsp;{{ 'About Program' }}
        </a>
        <!-- About Program for Dealer -->
        <a *ngIf="this.programUserInfo.programRole==this.stringService.getStaticContents().jswDealerProgramRole
        ||this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole" routerLink="./dealeraboutus" [routerLinkActive]="['router-link-active']" class="list-group-item " (click)="closeSubMenus()">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/About_Program.png ">&nbsp;&nbsp;&nbsp;{{ 'About Program' }}
        </a>
        <!-- About Program for Engineer -->
        <a *ngIf="this.programUserInfo.programRole===this.stringService.getStaticContents().jswEngineerProgramRole
        ||this.programUserInfo.programRole===this.stringService.getStaticContents().jswEngineerAdminProgramRole" routerLink="./home-page" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus()">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/About_Program.png ">&nbsp;&nbsp;&nbsp;{{ 'About Program' }}
        </a>
        <a *ngIf="this.privilegeDistributor===true || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"
            routerLink="./dashboard" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus()">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/dashboard.png ">&nbsp;&nbsp;&nbsp;{{ 'Dashboard' }}
        </a>
        <a *ngIf="(this.privilegeDistributor===true && this.programUserInfo.programRole !==this.stringService.getStaticContents().jswEngineerProgramRole 
        && this.programUserInfo.programRole !==this.stringService.getStaticContents().jswEngineerAdminProgramRole) || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"
            routerLink="./programtiers" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item" (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/programTier.png ">&nbsp;&nbsp;&nbsp;{{ 'Program Tiers' }}
        </a>


        <!-- <a *ngIf="this.privilegeDistributor===true && this.programUserInfo.programRole===this.stringService.getStaticContents().jswDistributorProgramRole"
            routerLink="./privileges" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/Privilege.png ">&nbsp;&nbsp;&nbsp;{{ 'Privileges' }}
        </a> -->




        <a *ngIf="this.programUserInfo.programRole===this.stringService.getStaticContents().jswDealerProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"
            routerLink="./loyalty" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/Privilege.png ">&nbsp;&nbsp;&nbsp;{{ 'Loyalty Program' }}
        </a>



        <a *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerAdminProgramRole ||
                  this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole || 
                  this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole || 
                  this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
                  this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole" routerLink="./celebrations" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item
            " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/Celebration.png ">&nbsp;&nbsp;&nbsp;{{ 'Celebrations' }}
        </a>

        <div class="nested-menu " *ngIf="this.privilegeDistributor===true   
        && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDealerProgramRole
        && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDealerAdminProgramRole">
            <a class="list-group-item " [routerLinkActive]="[ 'router-link-active'] " (click)="addExpandClass1( 'pages1') ">
                <span>
                    <img style="width:8%;margin-top:-5px; " src="assets/icons/Event.png ">&nbsp;&nbsp;&nbsp; {{ 'Events' }}</span>
            </a>
            <li class="nested " [class.expand]="showMenu1==='pages1' " id="leadmgt ">
                <ul class="submenu ">
                    <a routerLink="./events" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px; ">&nbsp;&nbsp;&nbsp;{{ 'Upcoming Events' }}
                    </a>
                    <a routerLink="./event-detail" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px; ">&nbsp;&nbsp;&nbsp;{{ 'Past Events' }}
                    </a>
                </ul>
            </li>
        </div>
        <div class="nested-menu " *ngIf="this.privilegeDistributor===true || (this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole 
            || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole)">
            <a class="list-group-item " [routerLinkActive]="[ 'router-link-active'] " (click)="addExpandClass2( 'pages2') ">
                <span>
                    <img style="width:8%;margin-top:-5px; " src="assets/icons/Contest.png ">&nbsp;&nbsp;&nbsp; {{ 'Contests' }}</span>
            </a>
            <li class="nested " [class.expand]="showMenu2==='pages2'">
                <ul class="submenu ">
                    <!-- commented for prod -->
                    <a routerLink="./ongoingcontest" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px;">&nbsp;&nbsp;&nbsp;{{ 'Ongoing' }}
                    </a>
                    <a routerLink="./upcomingcontest" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px; ">&nbsp;&nbsp;&nbsp;{{ 'Upcoming' }}
                    </a>
                    <!-- commented for prod -->
                    <a routerLink="./pastcontest" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px;">&nbsp;&nbsp;&nbsp;{{ 'Past' }}
                    </a>
                </ul>
            </li>
        </div>
        <a *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerProgramRole && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDealerProgramRole" routerLink="./ChannelsComponent" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/Lead.png">&nbsp;&nbsp;&nbsp;{{ 'My Channels' }}
        </a> 
        <div class="nested-menu " *ngIf="this.programUserInfo.programRole !==this.stringService.getStaticContents().jswDealerProgramRole 
        && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDealerAdminProgramRole">
            <a class="list-group-item " [routerLinkActive]="[ 'router-link-active'] " (click)="addExpandClass( 'pages') ">
                <span>
                    <img style="width:8%;margin-top:-5px; " src="assets/icons/Lead.png ">&nbsp;&nbsp;&nbsp; {{ 'Lead Management' }}</span>
            </a>
            <li class="nested " [class.expand]="showMenu==='pages' " id="leadmgt ">
                <ul class="submenu ">
                    <a *ngIf="this.programUserInfo.programRole===this.stringService.getStaticContents().jswEngineerProgramRole " routerLink="./add-leads" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px;">&nbsp;&nbsp;&nbsp;{{ 'Add Lead' }}
                    </a>
                    <a routerLink="./leads-list" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">

                        <img style="width:8%;margin-top:-5px;">&nbsp;&nbsp;&nbsp;{{ 'View Leads' }}
                    </a>
                </ul>
            </li>
        </div>
        <!-- claim functionality for dealer -->
        <div class="nested-menu " *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerProgramRole 
        && this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerAdminProgramRole">
            <a class="list-group-item " [routerLinkActive]="[ 'router-link-active'] " (click)="addExpandClass3( 'claims') ">
                <span>
                    <img style="width:8%;margin-top:-5px; " src="assets/icons/Lead.png ">&nbsp;&nbsp;&nbsp; {{ 'Claims' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu3==='claims' " id="claims">
                <ul class="submenu ">
                    <a *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerProgramRole 
                    && this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerAdminProgramRole" routerLink="./addclaims-invoice" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
                        <img style="width:8%;margin-top:-5px; ">&nbsp;&nbsp;&nbsp;{{ 'Add Claim' }}
                    </a>
                    <a *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerProgramRole 
                           && this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerAdminProgramRole" routerLink="./listclaims" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">

                        <img style="width:8%;margin-top:-5px; ">&nbsp;&nbsp;&nbsp;{{ 'View Claims' }}
                    </a>
                </ul>
            </li>
        </div>
        <!-- claim functionality for dealer -->
        <!-- Client User Engineers Request -->
        <a *ngIf="this.programUserInfo.programRole===this.stringService.getStaticContents().jswEngineerAdminProgramRole
        || this.programUserInfo.programRole===this.stringService.getStaticContents().jswASMAdminProgramRole || 
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole || 
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole" routerLink="./EngineersRequest" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px; " src="assets/icons/Notifications.png ">&nbsp;&nbsp;&nbsp;{{ 'Engineers Request' }}
        </a>


        <a *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorAdminProgramRole ||
        this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDealerAdminProgramRole || this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole " (click)="productClose() " href="http://www.jswneosteel.in/ "
            target="_blank " [routerLinkActive]="[ 'router-link-active'] " class="list-group-item ">
            <img style="width:8%;margin-top:-5px;" src="assets/icons/ourProduct.png ">&nbsp;&nbsp;&nbsp;{{ 'Our Products' }}
        </a>



        <a  routerLink="./rewardsgallery" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px; " src="assets/icons/Reward.png ">&nbsp;&nbsp;&nbsp;{{ 'Reward Gallery' }}
        </a>

        <!-- My Redemptions Menu  -->
        <a *ngIf="this.programUserInfo.programRole===this.stringService.getStaticContents().jswDealerProgramRole || this.programUserInfo.programRole == this.stringService.getStaticContents().jswEngineerProgramRole" routerLink="./redemptions" [routerLinkActive]="[ 'router-link-active'] "
            class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px; " src="assets/icons/Reward.png ">&nbsp;&nbsp;&nbsp;{{ 'My Redemptions' }}
        </a>

        <!-- Ask An Expert For Engineer Login   -->
        <a *ngIf="(this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && this.programUserInfo.profileId === this.stringService.getStaticContents().jswEngineerProfileId) 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerAdminProgramRole 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" routerLink="./askanexpert" [routerLinkActive]="[ 'router-link-active'] "
            class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px; " src="assets/icons/Reward.png ">&nbsp;&nbsp;&nbsp;{{ 'Ask An Expert' }}
        </a>

         <!-- Ask An Expert For normal Engineer Login   -->
         <a *ngIf="(this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && this.programUserInfo.profileId != this.stringService.getStaticContents().jswEngineerProfileId)"
            target="_blank " [routerLinkActive]="[ 'router-link-active']" (click)="expertClose()" href="http://jswaskanexpert.in/"
            class="list-group-item " (click)="closeSubMenus() ">
 
             <img style="width:8%;margin-top:-5px; " src="assets/icons/Reward.png ">&nbsp;&nbsp;&nbsp;{{ 'Ask An Expert' }}
         </a>


        <!-- REPORTS -->
        <a *ngIf="this.programRoleInfo.showReports===true" routerLink="./reports" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px;" src="assets/icons/Reports.png ">&nbsp;&nbsp;&nbsp;{{ 'Reports' }}
        </a>

        <a *ngIf="this.privilegeDistributor===true || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"
            routerLink="./testimonial" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px;" src="assets/icons/Testimonial.png ">&nbsp;&nbsp;&nbsp;{{ 'Testimonial' }}
        </a>


        <a *ngIf="this.privilegeDistributor===true " routerLink="./notifications" (click)="notificationPage() " [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " style="cursor:pointer ">
            <img style="width:8%;margin-top:-5px;" src="assets/icons/Notifications.png ">&nbsp;&nbsp;&nbsp;{{ 'Notifications' }}
        </a>


        <a *ngIf="this.privilegeDistributor===true " routerLink="./contactus" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/Contact.png ">&nbsp;&nbsp;&nbsp;{{ 'Contact Us' }}
        </a>
        <!--  Leaderboard and HallOfFame Uplaod -->
        <a *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole" routerLink="./leaderboardupload" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/Contact.png ">&nbsp;&nbsp;&nbsp;{{ 'Leaderboard Upload' }}
        </a>

        <a *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerAdminProgramRole" routerLink="./HallOfFameUpload" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">
            <img style="width:8%;margin-top:-5px;" src="assets/icons/Contact.png ">&nbsp;&nbsp;&nbsp;{{ 'Hall Of Fame Upload' }}
        </a>
        <!-- feedback module -->
        <a routerLink="./feedback" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/Contact.png ">&nbsp;&nbsp;&nbsp;{{ 'Feedback' }}
        </a>
        <!-- view feedback added by ravi -->
        <a routerLink="./viewFeedback" *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerProgramRole 
        && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDealerProgramRole 
        && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorProgramRole" [routerLinkActive]="[ 'router-link-active'] " class="list-group-item " (click)="closeSubMenus() ">

            <img style="width:8%;margin-top:-5px;" src="assets/icons/Contact.png ">&nbsp;&nbsp;&nbsp;{{ 'View Feedback' }}
        </a>
    </div>
</nav>

<script>
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == sidebar) {
            sidebar.style.width = "0";
        }
        if (event.target == open) {
            open.style.display = "none"
        }

    }
</script>