<!--Banner for Engineer-->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf=" displaypc">
        <img src="assets/assets/banner.jpg" class="bannerImage" width="100%" />
    </div> -->
    <!--Banner For mobile (Only for engineer-->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="displaymobile">
        <img src="assets/images/mobile/privilege-club.png" class="" width="100%"/>
    </div> -->
    <!--div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
        <img src="assets/banner.jpg" class="bannerImage" width="100%" />
    </div>
    <div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole  && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
        <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
    </div-->
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="container-fluid list-main-container" id="channels-details-container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile-align">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 contact-form">
            <div class="row titlebox my-4" style="margin-top:3rem;">
                <h6>
                    My Channels
                </h6>
            </div>
            <span *ngFor="let chain of channelChain let i =index;" (click)="showChainChannels(chain,i)"style="color: #02f;">
                    <a class="ch-breadcrumb" >{{chain.userName}} ></a>
               </span>
    <!--div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 md-ard " style="margin-bottom:1rem;color:  #498da7">
        
    </div -->

    <div *ngIf="displaypc" class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 md-card ch-pad" style="margin-bottom:0.2rem;" >
        <div class="table-responsive">
        <div>
            <div class="col-md-12 my-4">
                <table class="table">
                    <tr class="head">
                        <th>Name</th>
                            <!-- <th style="text-transform:uppercase">Code</th> -->
                            <th style="text-align:right">Total Sales</th>
                            <th style="text-align:right">Total Tons</th>
                            <th style="text-align:right">Points Accured</th>
                            <th style="text-align:center">View Profile</th>
                        </tr>
                    <tbody *ngIf="channelsFound">
                        <tr *ngFor="let channel of channelsInfo">
                            <td class="ch-channel-name " (click)="viewChannel(channel.userDetails,channel.userType)">
                                {{channel.userDetails.userName}} </td>
                            <!-- <td style="text-transform:uppercase">{{channel.uniqueCustomerCode}}</td> -->
                            <td style="text-align:right"> {{channel.salesDetails.totalSales | currency:'INR':true:'1.2-2' }}</td>
                            <td style="text-align:right">{{channel.salesDetails.totalSKU}}</td>
                            <!-- MODIFIED AS ON 30/03/2018 to show points from respective parent -->
                            <td style="text-align:right">{{channel.totalPointsCredited}}</td>
                            <!-- <td style="text-align:right">{{math.round(channel.salesDetails.totalPoints)}}</td>  -->
                            <td style="text-align:center"><button  class="btn custom-btn" style="color: #000;background: #ae995a;" (click)="viewProfile(channel)">View profile</button></td>
                        </tr>

                    </tbody>
                    <tbody *ngIf="!channelsFound">
                        <tr style="color: red">No further channel found </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-xl-5 col-lg-5">
                <button class="btn btn-jsw" style="margin-right: 1rem;color: #000;background: #ae995a;" [disabled]="isPrevious || isNoRecords" (click)="onPrev()" type="submit">Previous</button>
                <button class="btn btn-jsw" [disabled]="isNext || isNoRecords" (click)="onNext()" type="submit">Next</button>
            </div>
        <div class="col-xl-7 col-lg-6" *ngIf="channelsFound">
                <span style="float: right;padding-top: 1rem;"> {{startRecord}} - {{endRecords}} of {{totalRecords}} Records</span>
        </div> 
    </div>
    </div>

    <!-- MObile Card start here -->
    <div *ngIf="displaymobile">
        <div *ngIf="channelsFound">
            <div *ngFor="let channel of channelsInfo" style="padding-bottom: 1px; margin-bottom: 10px;">
                <div class="col-12 card shadow-prop card-view">                    
                    <div class="col-lg-6 col-md-6 col-sm-5 col-5 no-">
                        <div class="row mob-font">
                            <b>Name</b>
                        </div>
                        <div class="row mob-font">
                            <b>Total Sales</b>
                        </div>
                        <div class="row mob-font">
                            <b>Total Tons</b>
                        </div>
                        <div class="row mob-font">
                            <b>Points Accured</b>
                        </div>
                        <div class="row mob-font">
                            <a style="color:blue;" (click)="viewProfile(channel)"><b>View profile</b></a>
                        </div>                              
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-7 col-7">
                        <div class="row mob-font">
                                <a style="color:blue;" (click)="viewChannel(channel.userDetails,channel.userType)"><b>{{channel.userDetails.userName}}</b></a>
                        </div>
                        <div class="row mob-font">
                            <b>{{channel.salesDetails.totalSales | currency:'INR':true:'1.2-2' }}</b>
                        </div>
                        <div class="row mob-font">
                            <b>{{channel.salesDetails.totalSKU}}</b>
                        </div>
                        <div class="row mob-font">
                            <b>{{channel.totalPointsCredited}}</b>
                        </div>
                    </div>                           
                </div>
            </div>
        </div>
        <div *ngIf="!channelsFound">                
                <p  class="mob-font" style="color: red; text-align: center;">No further channel found</p>                    
        </div>
    </div>
    


    <!-- <div class="col-md-12 col-lg-12  md-card" *ngIf="!channelsFound" style="color: red">
        No Further Channel Found 
    </div> -->


    <!-- need to uncomment this for channel optimization -->
    <!-- <button [style.background-color]="clientColor" style="margin-left: auto;margin-right: auto;display: block;margin-bottom: 0%" class="btn gray custom-btn" (click)="loadMore()">Load More</button> -->
    <!-- </div> -->

    <!-- <client-footer></client-footer>
<app-footer>

</app-footer> -->