<!--
    Author          :   Deepak Terse
    Description     :   UI  which will be available in all the pages
    Date Created    :   07 March 2016
    Date Modified   :   17 March 2016
-->

<div>

    <!--    *******************************     END OF HEADER   *****************************  -->

    <!--    **********************************  BODY  ***************************************     -->
    <div id="appBody">
        <router-outlet>

        </router-outlet>
    </div>
    <!--    ****************************    END OF BODY   ************************************    -->

</div>