<div class="spinner" style="z-index: 999;top:30%;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 headerMain">


    <div class="row">
        <img src="assets/logo.png" style="height:8vh ; padding-left: 2%" />
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:5%">




    <div class="row main-div-mob">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    Forgot Password
                </div>
                <div class="row">
                        <div class="col-sm-6 col-4 btn-mob">
                                <button class="btn btn-sm" type="button" [disabled]="!forgotPasswordForm.valid" (click)="back()" style="width:126px;color: #000;background: #ae995a;">Back</button>
                
                                <!-- <button type="button" class="btn btn-jsw" (click)="back()" style="text-align:center;">Back</button> -->
                                </div>
                </div>
                <form [formGroup]="forgotPasswordForm" class="form-horizontal" style="margin-top:32px" novalidate>

                    <div class="row my-3">
                        <div class="col-md-4 detail-field">
                            <label for="userName" class="col-form-label form-labels"> User Name <sup style="color:#ff0000">*</sup> </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="userName">
                            <div class="alert-error" *ngIf="forgotPasswordForm.controls['userName'].hasError('required') &&forgotPasswordForm.controls['userName'].touched">
                                {{stringService.getErrorMessage().mobileuserName}}
                            </div>
                            <div class="alert-error" *ngIf="forgotPasswordForm.controls['userName'].hasError('pattern') &&
                                                            forgotPasswordForm.controls['userName'].touched">
                                {{stringService.getErrorMessage().invaliduserName}}
                            </div>
                            <div class="alert-error" *ngIf="invalidUserName">
                                Please Enter Valid Username
                            </div>
                        </div>
                    </div>
                </form>

            <div class="row" style="margin-top:2rem;">

                <div class="col-sm-6 col-4 btn-mob" *ngIf="!showSuccess">
                    <!-- <button type="button" [disabled]="!forgotPasswordForm.valid" (click)="sendPassword()" class="btn btn-jsw" style="text-align:center;">SUBMIT</button> -->
                    <button class="btn btn-sm" type="button" [disabled]="!forgotPasswordForm.valid" (click)="sendPassword()" style="width:126px;color: #000;background: #ae995a;">Submit</button>

                </div>
                
            </div>

                <div *ngIf="showSuccess">
                    <h3>
                        <small>
                            {{message}}
                        </small>

                    </h3>
                </div>
                <div *ngIf="showSuccess && tryAgainBtn">
                    <button type="button" (click)="tryAgain()" class="btn btn-jsw">Try again!</button>
                    <button type="button" class="btn btn-jsw" (click)="back()">Back</button>
                </div>
                <!-- <button type="button" class="btn btn-jsw" (click)="back()">Back</button> -->

            </div>

        </div>
    </div>







</div>