.headerMain {
    position: fixed;
    z-index: 10000;
    top: 0;
    padding: 1%;
    background: white;
}
@media screen and (max-width:825px) and (min-width:320px)
{

.main-div-mob
{
    margin-top:6%;
}
.btn-jsw
{
border: 1px solid #ae995a;
color: #000;
background: #ae995a;
padding: 0.25em 4em;
transition: all 0.3s ease 0s;
cursor: pointer;
width:129px;
}
.btn-mob
{
    padding-left: 0px;
    padding-right: 0px;
    // text-align: center;
}
} 