.proglist {
    display: flex;
    justify-content: space-evenly;
}

.proglistContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgbox {
    background-repeat: center no-repeat;
    height: 20em;
    margin: 0 auto;
    width: 100%;
}

.winner-icon {
    padding: 1em 2em;
    border: 0;
    width: 100%;
    height: 65%;
}

.con-img {
    background: #c7c7c7;
    width: 15em;
    height: 8em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.con-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.removeImage {
    position: absolute;
    top: 0;
}

.fileContainer [type=file] {
    opacity: 0;
    color: #CCCCCC;
}

p,
h5 {
    font-family: Roboto;
}

.padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}