    .header {
        // background-image: linear-gradient(to right bottom, rgba(0, 0, 255, .5), rgba(0, 0, 0, .6)), url('./assets/images/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 80vh;
        padding: 0 !important;
        -moz-padding: 10 !important;
    }

    .bg-light {
        box-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
    }

    .expert-sec {
        background-color: #F3FCFF;
        height: auto;
        width: 100vw;
    }

    .question-sec {
        background-color: #fff;
        height: auto;
        width: 100vw;
    }

    .bottom-sec {
        background-color: #4141F3;
        height: auto;
        width: 100vw;
    }

    .bottom-con {
        display: flex;
        /*  align-content: center;
        align-items: center; */
        justify-content: space-around;
        color: #fff;
    }

    .bottom-con a {
        color: #fff;
        text-decoration: none;
    }

    .bottom-con a:hover,
    .bottom-con a:focus {
        color: #ccc;
        text-decoration: underline;
    }

    .expert-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .main-content {
        top: 25%;
    }


    .expert-info {
        background-color: #17469E;
        padding: 2em;
        color: #fff;
        text-align: center;
        margin-top: 48px;
    }

    // .form-control {
    //     background-color: rgba(0, 0, 0, .55);
    //     border: 1px solid rgba(0, 0, 0, .8);
    //     border-radius: 50px;
    //     padding: .5em 1em;
    // }

    .ques-box {
        border: 1px solid #ccc;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, .15);
        padding: 3em;
    }

    .heading {
        font-family: inherit;
        font-weight: 400;
        font-size: 2em;
        color: #b3975b;
        letter-spacing: 0;
        text-align: center;
    }

    .subheading {
        font-family: inherit;
        font-weight: 100;
        font-size: 1.25em;
        color: #000;
        text-align: center;
    }

    .description {
        font-family: inherit;
        font-weight: 300;
        font-size: 1em;
        color: #222;
        text-align: center;
    }

    .main-info {
        font-family: inherit;
        font-weight: 100;
        font-size: 2em;
        color: #fff;
        letter-spacing: 0;
        text-align: center;
    }

    .question {
        font-family: inherit;
        font-weight: 400;
        font-size: 1.5em;
        color: #222;
    }

    .answer {
        font-family: inherit;
        font-weight: 100;
        font-size: 1.15em;
        color: #707070;
    }

    .expert-name {
        font-family: inherit;
        font-weight: 300;
        font-size: 2.15em;
        color: #fff;

        text-align: center;
    }

    .expert-bio {
        font-family: inherit;
        font-weight: 100;
        font-size: 1em;
        color: #fff;

        text-align: center;
    }

    .profile-img {
        border-radius: 50%;
    }

    h4.card-title {
        margin: 0;
        font-family: "Open Sans";
        font-size: 1rem;
    }

    .card-header {
        padding: 0;
    }

    .btn-jsw {
        border: 1px solid #ae995a;
        color: #000;
        background: #ae995a;
        padding: 0.25em 4em;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
    
    .btn-jsw:hover {
        border: 1px solid #ae995a;
        color: #ae995a;
        background: #0d0e0f;
        padding: 0.25em 4em;
        transition: all 0.3s ease 0s;
    }

    .noRecords{
        color: red;
        font-size: larger;
    }

    .qaFont {
        font-size: 24px
    }

    .askedBy{
        font-size: 17px
    }

    .dateClass{
        font-size: 15px
    }

    .btn-sm{
        color: #000;
        background: #ae995a;
        border: 1px solid #ae995a;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    .repliedBy{
        float: right;
        padding-top: 0.5rem;
        padding-left: 2rem;
    }

    .rowClass{
        margin-right: -15px;
        margin-left: -15px;
    }

    .danger{
        float: right;
        color: red;
    }

    

//Newly added 
    
    .ask-an-expt-footer{
        margin-bottom: -15px;
        background-color: #4141F3;
    }

    .question-answer-card{
        padding: 1.8em;
    }

    @media screen and (max-width:810px) and (min-width:310px)
    {
        .expert-name{
            font-size: 1.5rem;
        }

        .tabfont{
            font-size: 0.9rem;
        }

        .heading{
            font-size: 1.5rem;
        }

        .askedBy{
            font-size: 15px;
        }

        .dateClass{
            font-size: 13px;
        }

        .qaFont{
            font-size: 1rem;
        }

        .cardDiv{
            padding: 0
        }

        .prevNext{
            padding-top: 6% !important;
            margin-right: auto !important;
            margin-left: auto !important;
            padding-bottom:3% !important;
        }

        .answer-btn{
            font-size: 0.8rem;
        }

        .repliedBy{
            float: right;
            padding: 0;;
            padding-left:0;
        }

        .user-btn{
            font-size: 13px;
        }

        .answer-title{
            font-size: 1.2rem !important;
        } 

        .rowClass{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .danger{
            float: right;
            color: red;
            font-size: 13px;
        }
    }

    @media screen and (max-width:320px)
    {
        .expert-name{
            font-size: 1.3rem;
        }

        .tabfont{
            font-size: 0.8rem;
        }

        .heading{
            font-size: 1.2rem;
        }

        .askedBy{
            font-size: 13px;
        }

        .dateClass{
            font-size: 11px;
        }

        .qaFont{
            font-size: 0.9rem;
        }

        .expert-bio{
            font-size: 0.9rem;
        }

        .cardDiv{
            padding: 0
        }

        .btn-sm{
            font-size: 0.8rem;
        }

        .prevNext{
            padding-top: 6% !important;
            margin-right: -15px !important;
            margin-left: -15px !important;
            padding-bottom:3% !important;
        }

        .rowDiv{
            margin-bottom: 0
        }

        .answer-btn{
            font-size: 0.8rem;
        }

        .repliedBy{
            float: right;
            padding: 0;;
            padding-left:0;
        }

        .user-btn{
            font-size: 11px;
        }

        .answer-title{
            font-size: 1.2rem !important;
        }

        .rowClass{
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .danger{
            float: right;
            color: red;
            font-size: 11px;
        }
    }