<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<!-- <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-5" href="#"><img src="assets/logo.png" alt="" width="65%"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3 mr-5 order-lg-2" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Expert</a></li>
                <li class="nav-item">
                    <button class="btn btn-primary my-2 my-sm-0">Ask an Expert</button>
                </li>
            </ul>
        </div>
    </nav> 
</div> -->
<div class="container-fluid">
    <div class="row expert-info">
        <div class="col-md-8  mt-5 mx-auto">
            <!-- <img src="assets/images/profile/user1.jpg" class="profile-img" alt=""> -->
            <p class="expert-name" *ngIf="isEngineer">Er. {{loggedInUserName}}</p>
            <p class="expert-name" *ngIf="!isEngineer">{{loggedInUserName}}</p>
            <p class="expert-bio" *ngIf="isEngineer"><strong>Steel Making Expert</strong></p>
        </div>
    </div>
</div>

<div class="container question-sec">
    <div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <feedback-message style="max-height: 30vh;
    z-index: 1000;
    text-align: center;
    margin-top: 1.5em !important;
    margin-bottom: -1.5em !important;
    WIDTH: 80%;
    MARGIN-LEFT: 10%;">
    </feedback-message>
    <div class="mt-4">
        <!-- tabs starts here -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active tabfont" id="nav-asked-tab" data-toggle="tab" href="#nav-asked" role="tab" aria-controls="nav-asked" aria-selected="true" (click)="tabClick('showQuestionAsked')">Question Asked</a>
                <a class="nav-item nav-link tabfont" id="nav-reply-tab" data-toggle="tab" href="#nav-reply" role="tab" aria-controls="nav-reply" aria-selected="false" *ngIf="!isReadOnly" (click)="tabClick('showQuestionReplied')">Question Replied</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-asked" role="tabpanel" aria-labelledby="nav-asked-tab">
                <div class="container-fluid">
                    <div class="row mt-2 mb-5 rowDiv" style="margin-top: 2rem !important;">
                        <div class="col-md-12 expert-container">
                            <p class="heading">Question Asked</p>
                       </div>
                        <div *ngIf="isEngineer || isReadOnly" class="col-md-12 col-12 col-lg-12 col-sm-12 col-xl-12 cardDiv">
                            <div class="col-md-12 col-12 col-lg-12 col-sm-12 col-xl-12 mx-auto mt-3 ques-box question-answer-card" *ngFor="let question of questionsArray; let i = index;">
                                <div>   
                                    <span class="askedBy">Asked by: {{question.questionAskedBy}} </span>
                                    <i><span class="dateClass">at {{question.questionUpdatedAtDateTime}} from {{question.questionCityState}}</span></i>
                                    <br>
                                    <p class="qaFont"><strong>Ques : {{question.question}}</strong></p>
                                </div> 
                                <div *ngFor="let ans of question.answers" class="rowClass" style="padding: 1rem; padding-top: 0rem;">
                                    <p class="qaFont" style="margin-bottom: 0;"><strong>Ans : </strong><span>{{ans.answer}}</span></p>
                                    <i style="float:right"><span class="dateClass repliedBy">-Replied by {{ans.createdBy}} at {{ans.answeredAtDateTime}}</span></i>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="display: flex; padding: 0;">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-6">
                                            <button href="#" *ngIf="!isReadOnly" class="btn btn-sm btn-success small" data-toggle="modal" data-target="#largeModal" (click)="answerClick(i)">Answer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!(isEngineer) && !(isReadOnly)" class="col-md-12 col-12 col-lg-12 col-sm-12 col-xl-12">
                            <div class="col-md-12 col-12 col-lg-12 col-sm-12 col-xl-12 mx-auto mt-3 ques-box question-answer-card" *ngFor="let question of questionsArray; let i = index;" >
                                <div> 
                                    <span class="danger" *ngIf="question.isUnanswered">unanswered</span>
                                    <br>
                                    <span class="askedBy">Asked by: {{question.questionAskedBy}} </span>
                                    <i><span class="dateClass">at {{question.questionUpdatedAtDateTime}} from {{question.questionCityState}}</span></i>
                                    <br>
                                    <p class="question qaFont"><strong>Ques : {{question.question}}</strong></p>
                                </div>  
                                <div *ngFor="let ans of question.answers" class="rowClass" style="padding: 1rem; padding-top: 0rem;">
                                    <p class="qaFont" style="margin-bottom: 0;" style="margin-bottom:0 "><strong>Ans : </strong><span>{{ans.answer}}</span></p>
                                    <i style="float:right"><span class="dateClass repliedBy">-Replied by {{ans.createdBy}} at {{ans.answeredAtDateTime}}</span></i>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="display: flex; padding: 0;">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-6">
                                            <button href="#" class="btn btn-sm btn-success small" [disabled]="showLoader" data-toggle="modal" data-target="#largeModal" (click)="answerClick(i)">Answer</button>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6" *ngIf="question.isUnanswered">
                                            <button class="btn btn-sm btn-success small" [disabled]="showLoader" (click)="reallocateUsers(question,i)">Reallocate</button>
                                        </div>
                                    </div>
                                </div> 
                                <br> 
                                <hr  *ngIf="question.showForm">
                                <div *ngIf="question.showForm">  
                                    <form [formGroup]="usersMapForm">
                                        <div class="formgroup" >
                                            <label for="">Allocate to Users</label>
                                            <br>
                                            <input type="text" class="form-control" id="engineers" name="engineers" formControlName="engineers"  [ngbTypeahead]="searchParentUser"  [inputFormatter]="parentNameInputFormatter" [resultFormatter]="parentNameResultFormatter" />
                                        </div>
                                    </form>
                                    <br>
                                    <div class="row user-btn">
                                        <div class="col-md-3" style="margin: 5px;" *ngFor="let user of usersArr;  let j = index;">
                                            <button class="btn btn-outline user-btn">{{user.userDetails.userName}} &nbsp; <span (click)="deleteUser(j)"> x</span></button> &nbsp;
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="noRecords" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords" style="text-align:center">No Records Found.</div>
                    <div class="row">
                        <div *ngIf="displaypc" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" style="padding-top: 1rem;">
                            <button class="btn btn-jsw" style="margin-right: 1rem;" [disabled]="!isPrevious || isNoRecords" (click)="onPrevClick()" type="submit">Previous</button>
                            <button class="btn btn-jsw" [disabled]="!isNext || isNoRecords" (click)="onNextClick()" type="submit">Next</button>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" style="float: right;padding-top: 1rem;" *ngIf="true">
                            <span class="bottom-div" style="float: right;"> {{startRecord}} - {{endRecord}} of {{totalRecords}} Records</span>
                        </div>
                    </div>
                     <!-- BAck and Previous Button for Mobile -->
                    <div class="row" style="padding-top: 6%; padding-bottom:3%;" *ngIf="displaymobile">
                        <div class="col-sm-6 col-6">
                            <button class=" btn btn-sm" type="submit"  [disabled]="!isPrevious || isNoRecords" (click)="onPrevClick()" style="width:128.61px;color: #000;background: #ae995a;">Previous</button>
                        </div>
                        <div class="col-sm-6 col-6">
                            <button class="btn btn-sm" type="submit" [disabled]="!isNext || isNoRecords" (click)="onNextClick()" style="width:128.61px;color: #000;background: #ae995a;">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-reply" role="tabpanel" aria-labelledby="nav-reply-tab" >
                <div class="container-fluid">
                    <div class="row mt-2 mb-5" style="margin-top: 2rem !important;">
                        <div class="col-md-12 col-12 col-lg-12 col-sm-12 col-xl-12 expert-container">
                            <p class="heading">Question Replied</p>
                        </div>
                        <div class="col-md-12 col-12 col-lg-12 col-sm-12 col-xl-12 mx-auto mt-3 ques-box question-answer-card" *ngFor="let answer of answeresArray let i = index">
                            <div>
                                <span class="askedBy">Asked by: {{answer.answerQuestionAskedBy}} </span>
                                <i><span class="dateClass">at {{answer.answerQuestionAtDateTime}} from {{answer.answerQuestionCityState}}</span></i><br>
                                <span class="qaFont"><strong>Ques : {{answer.question}}</strong></span>
                            </div>
                            <div *ngFor="let ans of answer.answers" class="rowClass" style="padding: 1rem; padding-top: 0rem;">
                                <p class="qaFont" style="margin-bottom: 0;"><strong>Ans : </strong><span>{{ans.answer}}</span></p>
                                <i style="float:right" class="dateClass repliedBy"><span>-Replied by {{ans.createdBy}} at {{ans.answeredAtDateTime}}</span></i>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="noRecordsAns || noRecords" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords" style="text-align:center">No Records Found.</div>
                    <div class="row">
                        <div *ngIf="displaypc" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" style="padding-top: 1rem;">
                            <button class="btn btn-jsw" style="margin-right: 1rem;" [disabled]="!isPreviousAns || isNoRecords" (click)="onPrevClickAns()" type="submit">Previous</button>
                            <button class="btn btn-jsw" [disabled]="!isNextAns || isNoRecords" (click)="onNextClickAns()" type="submit">Next</button>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" style="float: right;padding-top: 1rem;" *ngIf="true">
                            <span class="bottom-div" style="float: right;"> {{startRecordAns}} - {{endRecordAns}} of {{totalRecordsAns}} Records</span>
                        </div>
                    </div>
                    <!-- BAck and Previous Button for Mobile -->
                    <!--Code for Mobile-->
                    <div class="row" style="padding-top: 6%; padding-bottom:3%;" *ngIf="displaymobile">
                        <div class="col-sm-6 col-6">
                            <button class="btn btn-sm" type="submit" [disabled]="!isPreviousAns || isNoRecords" (click)="onPrevClickAns()" style="width:128.61px;color: #000;background: #ae995a;">Previous</button>
                        </div>
                        <div class="col-sm-6 col-6">
                            <button class="btn btn-sm" type="submit" [disabled]="!isNextAns || isNoRecords" (click)="onNextClickAns()" style="width:128.61px;color: #000;background: #ae995a;">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ends here -->
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style ="top:60px;">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title answer-title" id="myModalLabel">Post Answer</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" (click)="assignAnswerForm()">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="answerForm">
                    <div class= "modal-body">
                        <div class="col-md-12 mx-auto my-5" style="text-align: center;">
                            <textarea name="answer" class="editor" id="textAreaNull" cols="30" rows="10" style="border-radius: 1px;" placeholder="" formControlName="answer"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default answer-btn" data-dismiss="modal"(click)="assignAnswerForm()">Close</button>
                        <button type="button" class="btn btn-primary answer-btn" data-dismiss="modal" (click)="addAnswer()">Post Answer</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid bottom-sec navbar-fixed-bottom"> -->
    <!-- <div class="row ask-an-expt-footer">
        <div class="col-md-12 mt-5 bottom-con">
            <p><a href=""> Privacy Policy</a> | <a href=""> Terms &amp; Condition</a> | <a href=""> Helpdesk</a></p>
            <p>2018 &copy; Copyright - annectos&acute; Rewards & Retails Pvt. Ltd.</p>
        </div>
    </div> -->
<!-- </div> -->