<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 headerMain">

    <div class="row">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/logo.png" class="logo" />
    </div>
</div>



<div class="col-lg-12 col-md-12 col-sm12" style="padding-top:5%">




    <div class="row mobile-align-div" *ngIf="showSignUp">
        <div class="col-md-12">


            <div class="col-md-12 contact-form">
                <div class="row  titlebox my-4" style="padding-left:15px;padding-right:15px; font-size: 18px;">
                    Sign up for our Rewards Programs
                </div>

                <form [formGroup]="signUpForm" class="form-padding">
                    <div class="row subheading-box">
                        <strong>

                            <!-- Outlet Details -->
                            Company Details
                        </strong>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-text-div">
                            <!-- <label for="outletName" class="col-form-label form-labels"> Outlet Name -->
                            <label for="outletName" class="col-form-label form-labels"> Company Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="outletName">
                            <div class="alert-error" *ngIf="signUpForm.controls['outletName'].hasError('required') &&signUpForm.controls['outletName'].touched">
                                {{stringService.getErrorMessage().signupOutletName}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['outletName'].hasError('minlength') &&
                                    signUpForm.controls['outletName'].touched">
                                {{stringService.getErrorMessage().signupOutletNameMinLength}}

                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['outletName'].hasError('maxlength') &&
                                    signUpForm.controls['outletName'].touched">
                                {{stringService.getErrorMessage().signupOutletNameMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="program" class="col-form-label form-labels"> Program
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" readonly="true" value= {{JSWProgramName}} class="form-control" placeholder="" type="text"> </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="streetAddress" class="col-form-label form-labels"> Street Address
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="streetAddress">
                            <div class="alert-error" *ngIf="signUpForm.controls['streetAddress'].hasError('required') &&signUpForm.controls['streetAddress'].touched">
                                {{stringService.getErrorMessage().signupStreetAddressReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['streetAddress'].hasError('minlength') &&signUpForm.controls['streetAddress'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['streetAddress'].hasError('maxlength') &&signUpForm.controls['streetAddress'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="area" class="col-form-label form-labels">Area </label>
                            <input name="" id="area" tabindex="8" class="form-control" formControlName="area" placeholder="" type="text">
                            <div class="alert-error" *ngIf="signUpForm.controls['area'].hasError('required') &&signUpForm.controls['area'].touched">
                                {{stringService.getErrorMessage().signupAreaReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['area'].hasError('minlength') &&signUpForm.controls['area'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['area'].hasError('maxlength') &&signUpForm.controls['area'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="landMark" class="col-form-label form-labels">Landmark </label>
                            <input name="" id="landMark" tabindex="8" class="form-control" placeholder="" type="text" formControlName="landMark">
                            <div class="alert-error" *ngIf="signUpForm.controls['landMark'].hasError('required') &&signUpForm.controls['landMark'].touched">
                                {{stringService.getErrorMessage().signupLandmarkReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['landMark'].hasError('minlength') &&signUpForm.controls['landMark'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['landMark'].hasError('maxlength') &&signUpForm.controls['landMark'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>


                        <div class="col-md-6 detail-field mobile-text-div ">
                            <label for="pinCode" class="col-form-label form-labels"> Pincode
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="pinCode" tabindex="8" class="form-control" formControlName="pinCode" placeholder="" type="number">
                            <div class="alert-error" *ngIf="signUpForm.controls['pinCode'].hasError('required') &&signUpForm.controls['pinCode'].touched">
                                {{stringService.getErrorMessage().pincodeReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['pinCode'].hasError('pattern') &&signUpForm.controls['pinCode'].touched">
                                {{stringService.getErrorMessage().invalidPincode}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['pinCode'].hasError('minlength') &&signUpForm.controls['pinCode'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div *ngIf="signUpForm.controls['pinCode'].hasError('maxlength') &&signUpForm.controls['pinCode'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="state" class="col-form-label form-labels">State
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select tabindex="8" class="form-control" id="state" formControlName="state" (change)="getCities(signUpForm.controls['state'].value)">

                                <option value="">State</option>
                                <option *ngFor="let state of statesArray" value="{{state}}">{{state}}</option>
                            </select>
                            <div class="alert-error" *ngIf="signUpForm.controls['state'].hasError('required') &&signUpForm.controls['state'].touched">
                                {{stringService.getErrorMessage().stateReq}}
                            </div>
                        </div>


                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="city" class="col-form-label form-labels"> City
                                <sup style="color:#ff0000">*</sup>
                            </label>

                            <select tabindex="8" class="form-control" id="city" formControlName="city">
                                <option value="">Select City</option>
                                <option *ngFor="let city2 of citiesArray" value="{{city2}}">{{city2}}</option>
                            </select>

                            <div class="alert-error" *ngIf="signUpForm.controls['city'].hasError('required') &&signUpForm.controls['city'].touched">
                                {{stringService.getErrorMessage().cityReq}}
                            </div>


                        </div>

                    </div>
                    <div class="row subheading-box my-4 inner-div">
                        <strong>
                            User Details
                        </strong>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-text-div mobile-text-div">
                            <label for="firstName" class="col-form-label form-labels"> First Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="firstName" tabindex="8" class="form-control" placeholder="" type="text" formControlName="firstName">
                            <div class="alert-error" *ngIf="signUpForm.controls['firstName'].hasError('required') &&signUpForm.controls['firstName'].touched">
                                {{stringService.getErrorMessage().firstNameReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['firstName'].hasError('pattern') &&
                                signUpForm.controls['firstName'].touched">
                                {{stringService.getErrorMessage().invalidFirstName}}

                            </div>

                            <div class="alert-error" *ngIf="signUpForm.controls['firstName'].hasError('minlength') &&
                                signUpForm.controls['firstName'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}

                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['firstName'].hasError('maxlength') &&
                                signUpForm.controls['firstName'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>

                        </div>
                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="lastName" class="col-form-label form-labels"> Last Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="lastName" tabindex="8" class="form-control" formControlName="lastName" placeholder="" type="text">
                            <div class="alert-error" *ngIf="signUpForm.controls['lastName'].hasError('required') &&signUpForm.controls['lastName'].touched">
                                {{stringService.getErrorMessage().lastNameReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['lastName'].hasError('pattern') &&
                                signUpForm.controls['lastName'].touched">
                                {{stringService.getErrorMessage().invalidLastName}}

                            </div>

                            <div class="alert-error" *ngIf="signUpForm.controls['lastName'].hasError('minlength') &&
                                signUpForm.controls['lastName'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}

                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['lastName'].hasError('maxlength') &&
                                signUpForm.controls['lastName'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>

                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="dateOfBirth" class="col-form-label form-labels"> Birth Date
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <div class="">
                                <input tabindex="8" class="form-control" type="date" placeholder="Enter birth date" id="dateOfBirth" formControlName="dateOfBirth"
                                    [max]="getToday()">
                                <div class="alert-error" *ngIf="signUpForm.controls['dateOfBirth'].hasError('required') &&
                            signUpForm.controls['dateOfBirth'].touched">
                                    {{stringService.getErrorMessage().birthDateReq}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 detail-field gender-div">
                            <label for="gender" class="col-form-label form-labels">Gender
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <div class="row" style="margin-left:0px">
                                <div class="col-md-2 col-sm-6 col-6" style="padding-left:0px;margin-top:1%">
                                    <input tabindex="8" class="" type="radio" value="male" id="gender" Name="gender" formControlName="gender"> &nbsp;Male
                                </div>
                                <div class="col-md-4 col-sm-6 col-6" style="padding-left:0px;margin-top:1%">
                                    <input tabindex="8" class="" type="radio" value="female" id="gender" Name="gender" formControlName="gender"> &nbsp;Female
                                </div>
                                <div class="alert-error" *ngIf="signUpForm.controls['gender'].hasError('required') &&
                                            signUpForm.controls['gender'].touched">
                                    {{stringService.getErrorMessage().genderReq}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">



                        <div class="col-md-6 mobile-elements-div margin-div-mob">
                            <label for="maritalStatus" class="col-form-label form-labels">Marital Status
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <div class="row" style="margin-left:0px">
                                <div class="col-md-4 col-sm-6 col-6" style="padding-left:0px;">
                                    <input tabindex="8" class="" type="radio" value="married" id="maritalStatus" Name="maritalStatus" (change)="onChangeMaritalStatus()" formControlName="maritalStatus"> &nbsp;Married
                                </div>
                                <div class="col-md-4 col-sm-6 col-6 radio-mobile-align">
                                    <input tabindex="8" class="" type="radio" value="single" id="maritalStatus" Name="maritalStatus" (change)="onChangeMaritalStatus()" formControlName="maritalStatus"> &nbsp;Single
                                </div>
                                <div class="alert-error" *ngIf="signUpForm.controls['maritalStatus'].hasError('required') &&
                                signUpForm.controls['maritalStatus'].touched">
                                    {{stringService.getErrorMessage().maritalStatusReq}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 detail-field" *ngIf="showMarraigeAnniversaryField">
                            <label for="marriageAnniversary" class="col-md-12 col-form-label">Marriage Anniversary</label>
                            <div class="">
                                <input class="form-control" type="date" id="marriageAnniversary" formControlName="marriageAnniversary">
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="email" class="col-form-label form-labels"> Email
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="email" tabindex="8" class="form-control" placeholder="" type="text" formControlName="email">
                            <div class="alert-error" *ngIf="signUpForm.controls['email'].hasError('required') &&signUpForm.controls['email'].touched">
                                {{stringService.getErrorMessage().emailReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['email'].hasError('pattern') &&
                                signUpForm.controls['email'].touched">
                                {{stringService.getErrorMessage().invalidEmail}}

                            </div>

                            <div class="alert-error" *ngIf="signUpForm.controls['email'].hasError('minlength') &&
                                signUpForm.controls['email'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}

                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['email'].hasError('maxlength') &&
                                signUpForm.controls['email'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="mobileNumber" class="col-form-label form-labels ">Mobile
                                <sup style="color:#ff0000 ">*</sup>
                            </label>
                            <input name=" " id=" " tabindex="8 " class="form-control " formControlName="mobileNumber" placeholder=" " type="text" (change)="checkMobNo()">
                            <div class="alert-error" *ngIf="signUpForm.controls['mobileNumber'].hasError('required') &&signUpForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().mobileNumReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['mobileNumber'].hasError('pattern') &&
                                    signUpForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().invalidMobileNumber}}

                            </div>

                            <div class="alert-error" *ngIf="signUpForm.controls['mobileNumber'].hasError('minlength') &&
                                signUpForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}

                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['mobileNumber'].hasError('maxlength') &&
                                signUpForm.controls['mobileNumber'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>

                            <div class="alert-error" *ngIf="this.mobileerror==true && this.mobileerror1==false">
                                Registration for this number is still Pending.
                            </div>
                            <div class="alert-error" *ngIf="this.mobileerror1==true && this.mobileerror==false">
                                This number is already registered. If you want to register another Business Entity, contact JSW.
                            </div>
                            <div class="alert-error" *ngIf="this.mobileerror==true && this.mobileerror1==true">
                                This number is already registered. If you want to register another Business Entity, contact JSW.
                            </div>
                        </div>
                    </div>

                    <!-- Making Company Address Same as User Addresss!-->

                    <div class="form-group row">



                        <div class="col-md-6 mobile-elements-div margin-div-mob">
                            <label for="maritalStatus" class="col-form-label form-labels">Address Details
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <div class="row label-margin">
                                <div class="col-md-4 col-sm-12 col-12" style="padding-left:0px;">
                                    Same As Above
                                    <input tabindex="8" class="checkicon-mob" type="checkbox" value="SameAsAbove" id="sameAsAbove" formControlName="sameasAbove"
                                        (change)="onChangeAddress()">
                                </div>


                            </div>
                        </div>

                    </div>



                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="userStreetAddress" class="col-form-label form-labels"> Street Address
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="userStreetAddress">
                            <div class="alert-error" *ngIf="signUpForm.controls['userStreetAddress'].hasError('required') &&signUpForm.controls['userStreetAddress'].touched">
                                {{stringService.getErrorMessage().signupStreetAddressReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userStreetAddress'].hasError('minlength') &&signUpForm.controls['userStreetAddress'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userStreetAddress'].hasError('maxlength') &&signUpForm.controls['userStreetAddress'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="userArea" class="col-form-label form-labels">Area </label>
                            <input name="" id="area" tabindex="8" class="form-control" formControlName="userArea" placeholder="" type="text">
                            <div class="alert-error" *ngIf="signUpForm.controls['userArea'].hasError('required') &&signUpForm.controls['userArea'].touched">
                                {{stringService.getErrorMessage().signupAreaReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userArea'].hasError('minlength') &&signUpForm.controls['userArea'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userArea'].hasError('maxlength') &&signUpForm.controls['userArea'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="userLandmark" class="col-form-label form-labels">Landmark </label>
                            <input name="" id="landMark" tabindex="8" class="form-control" placeholder="" type="text" formControlName="userLandmark">
                            <div class="alert-error" *ngIf="signUpForm.controls['userLandmark'].hasError('required') &&signUpForm.controls['userLandmark'].touched">
                                {{stringService.getErrorMessage().signupLandmarkReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userLandmark'].hasError('minlength') &&signUpForm.controls['userLandmark'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userLandmark'].hasError('maxlength') &&signUpForm.controls['userLandmark'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>


                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="userPincode" class="col-form-label form-labels"> Pincode
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="pinCode" tabindex="8" class="form-control" formControlName="userPincode" placeholder="" type="number">
                            <div class="alert-error" *ngIf="signUpForm.controls['userPincode'].hasError('required') &&signUpForm.controls['userPincode'].touched">
                                {{stringService.getErrorMessage().pincodeReq}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userPincode'].hasError('pattern') &&signUpForm.controls['userPincode'].touched">
                                {{stringService.getErrorMessage().invalidPincode}}
                            </div>
                            <div class="alert-error" *ngIf="signUpForm.controls['userPincode'].hasError('minlength') &&signUpForm.controls['userPincode'].touched">
                                {{stringService.getErrorMessage().signupMinLength}}
                            </div>
                            <div *ngIf="signUpForm.controls['userPincode'].hasError('maxlength') &&signUpForm.controls['userPincode'].touched">
                                {{stringService.getErrorMessage().signupMaxLength}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 detail-field mobile-elements-div mobile-text-div">
                            <label for="userState" class="col-form-label form-labels">State
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select tabindex="8" class="form-control" id="state" formControlName="userState" (change)="getCitiesForUser(signUpForm.controls['userState'].value)">

                                <option value="">State</option>
                                <option *ngFor="let state1 of statesArrayForUser" value="{{state1}}">{{state1}}</option>
                            </select>
                            <div class="alert-error" *ngIf="signUpForm.controls['userState'].hasError('required') &&signUpForm.controls['userState'].touched">
                                {{stringService.getErrorMessage().stateReq}}
                            </div>
                        </div>


                        <div class="col-md-6 detail-field mobile-text-div">
                            <label for="userCity" class="col-form-label form-labels"> City
                                <sup style="color:#ff0000">*</sup>
                            </label>

                            <select tabindex="8" class="form-control" id="city" formControlName="userCity">
                                <option value="">Select City</option>
                                <option *ngFor="let city3 of citiesArrayForUser" value="{{city3}}">{{city3}}</option>
                            </select>

                            <div class="alert-error" *ngIf="signUpForm.controls['userCity'].hasError('required') &&signUpForm.controls['userCity'].touched">
                                {{stringService.getErrorMessage().cityReq}}
                            </div>


                        </div>

                    </div>
                    <div class="row" *ngIf="displaypc">

                        <button tabindex="8" type="button" [disabled]="(!signUpForm.valid || this.mobileerror== true || this.mobileerror1==true)"
                            class="btn btn-jsw" (click)="checkInputs()" style="margin-right: 1rem;margin-top: 1rem;">Sign Up</button>
                        <button tabindex="8" type="button" class="btn btn-jsw" (click)="goToLogin()" style="margin-top: 1rem;">Close</button>
                    </div>
                    <div class="row" style="padding-top: 7%;text-align:center;" *ngIf="displaymobile">
                        <div class="col-sm-6 col-6">
                            <button class=" btn btn-sm" type="button" [disabled]="!(signUpForm.valid)" (click)="checkInputs()" style="width:128.61px;color: #000;background: #ae995a;">Sign Up</button>
                        </div>
                        <div class="col-sm-6 col-6">
                            <button class="btn btn-sm" type="button" (click)="goToLogin()" style="width:128.61px;color: #000;background: #ae995a;">Close</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>



    <!--************************************************OTP SECTION**************************************************-->
    <div class="row mobile-align-div" *ngIf="showOTP">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Enter OTP</h6>
                </div>
                <form [formGroup]="otpForm" style="padding-top: 1.5%;padding-bottom: 3%; padding-left:3%; padding-right:3% ">

                    <div class="row">{{stringService.getStaticContents().signupInnerTitle}}</div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="otp" id="signup-label-font" class="col-form-label form-labels"> {{stringService.getfieldLabels().otp}}
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="otp">
                            <br>
                            <br>
                            <button *ngIf="displaypc" type="button" class="btn btn-jsw" id="otp-label-font" (click)="resendOtp()">{{stringService.getStaticContents().resendOtp}}</button>
                            <button *ngIf="displaypc" type="button" class="btn btn-jsw" id="otp-label-font" (click)="verifyMobileNumber()" [disabled]="!otpForm.valid">{{stringService.getfieldLabels().submitOtp}}</button>
                            <button *ngIf="displaypc" type="button" class="btn btn-jsw" id="otp-label-font" (click)="goToSignup()">Back</button>
                            <div *ngIf="displaymobile" style="margin-top:-3em">
                                <a (click)="resendOtp()" style="font-size:16px;color:blue;">Resend OTP</a>
                            </div>
                            <div class="row" style="padding-top: 2%;text-align:center;margin-top:1em;" *ngIf="displaymobile">
                                <div class="col-sm-6 col-6">
                                    <button class=" btn btn-sm" type="button" [disabled]="!(signUpForm.valid)" (click)="goToSignup()" style="width:128.61px;color: #000;background: #ae995a;">Back</button>
                                </div>
                                <div class="col-sm-6 col-6">
                                    <button class="btn btn-sm" type="button" (click)="verifyMobileNumber()" style="width:128.61px;color: #000;background: #ae995a;">{{stringService.getfieldLabels().submitOtp}}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <span class="alert-error" *ngIf="showOtpFeedBack">
                        {{otpfeedBackMessage}}
                    </span>


                </form>
            </div>
        </div>

    </div>
    <!--*************************************************END OF OTP SECTION*******************************************-->




    <!--************************PASSWORD SECTION******************************************************************-->




    <div class="row mainDiv" *ngIf="showSetPassword">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h5 class=""> {{stringService.getStaticContents().setLoginDetail}}</h5>
                </div>

                <form [formGroup]="passwordForm " style="padding-top: 1.5%;padding-bottom: 3%; padding-left:3%; padding-right:3% ">


                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="password" id="signup-label-font" class="col-form-label form-labels"> {{stringService.getfieldLabels().password}} </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="password" formControlName="password">
                            <div class='form-text error' *ngIf="passwordForm.controls.password.touched">
                                <div class="alert-error" *ngIf="passwordForm.controls.password.hasError('required')">{{stringService.getErrorMessage().signupPasswordRequired}}</div>
                                <div class="alert-error" *ngIf="passwordForm.controls.password.hasError('minlength')">{{stringService.getErrorMessage().signupPasswordMinLength}}</div>
                                <div class="alert-error" *ngIf="passwordForm.controls.password.hasError('maxlength')">{{stringService.getErrorMessage().signupPasswordMaxLength}}</div>
                            </div>
                        </div>
                    </div>


                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="confirmPassword" id="signup-label-font" class="col-form-label form-labels"> {{stringService.getfieldLabels().confirmPassword}}</label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="password" formControlName="confirmPassword">
                            <div class='form-text error' *ngIf="passwordForm.controls.password.touched">
                                <div class="alert-error" *ngIf="passwordForm.hasError('mismatchedPasswords')">{{stringService.getErrorMessage().signupPasswordMismatch}}</div>
                            </div>
                            <div *ngIf="showErrorMessage" class="alert-error">{{feedBackMessage}}</div>
                            <br>


                            <button type="button" class="btn btn-jsw mob-btn-jsw" [disabled]="!passwordForm.valid" data-toggle="modal" (click)="goForRegistration()"
                                data-target="#myModal1">{{stringService.getfieldLabels().submit}}</button>
                        </div>
                    </div>



                </form>


                <div class="modal fade" id="myModal1" style="z-index: 99999;text-align: center;margin-top:15%">
                    <div class="modal-dialog Main">
                        <div class="modal-content modalDiv">
                            <!-- Modal body -->
                            <div class="modal-body">
                                <h4 class="mobile-text">Your registration request was submitted and is pending for approval !!</h4>

                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn-jsw mob-btn-jsw" data-dismiss="modal" (click)="Ok()">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!--*****************************END OF PASSWORD SECTION*******************************************************-->












</div>