.headerMain {
    position: fixed;
    z-index: 10000;
    top: 0;
    padding: 1%;
    background: white;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: 0.25em 4em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: 0.25em 4em;
    transition: all 0.3s ease 0s;
}

.btn-jsw[disabled],
.btn-jsw[disabled]:hover,
.btn-jsw[disabled]:focus,
.btn-jsw[disabled]:hover {
    background: #ae995a;
    color: unset;
}

.alert-error {
    font-size: 11px;
    color: red;
}

.bottompadding {
    padding-bottom: 4%;
}

poi .backsignup:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ae995a;
}

.subheading-box {
    color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 0.5em;
    font-size: 1.3rem;
}

.radio-mobile-align {
    padding-left: 0px;
}

.gender-div {
    margin-top: 0%
}
.form-padding
{
    padding-top: 1.5%;
    padding-bottom: 3%;
    padding-left:3%;
    padding-right:3% 
}
.label-margin
{
    margin-left:0px;
     margin-top:0px;
}
.inner-div
{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    
}
.logo
{
    height:8vh ; 
    padding-left: 2% 
}

@media screen and (min-width: 300px)and (max-width: 820px) {
    .mobile-align-div {
        padding-top: 1.5em;
    }
    .checkicon-mob
    {
        margin-left: 10px;
    }
    .margin-div-mob
    {
        margin-bottom: -15px;
    }
    .mobile-elements-div {
        // margin-top: -0.5em;
        padding-left:0px;
        padding-right:0px;
    }
    .mobile-text-div {
        margin-top: 0px;
    }
    .radio-mobile-align {
        padding-left: 0em;
    }
    .gender-div {
        margin-top: 0.5em;
    }
    .mob-btn-jsw {
        width: 100%;
    }
    .mobile-text {
        font-size: 17px;
    }
    .col-form-label
    {
    padding-top: calc(0.375rem + 1px);
    margin-bottom: 1px;
    padding-bottom: 0px;
    font-size: inherit;
    line-height: 1.5;
    }
    .form-padding
{
    padding-top: 1.5%;
    padding-bottom: 3%;
    padding-left:0px;
    padding-right:0px;
}
.label-margin
{
    margin-left:0px;
     margin-top:6px;
}
.subheading-box {
    color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 0.5em;
    font-size: 1.3rem;
    padding-left: 0px;
    padding-right: 0px;
}
.detail-field
{
    padding-left: 0px;
    padding-right: 0px;
    
}
.inner-div
{
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}
.my-4
{
    margin-bottom : 0.5rem !important;
}
.my-3
{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.logo
{
    height:8vh ; 
    padding-left: 5% 
}
}