
@media screen and (min-width:310px) and (max-width:810px)
{
    .set-label
    {
        margin-top:10px;
        margin-bottom:0px;
    }
    .set-mobile-label
    {
        margin-bottom:1px;
    }
}
