
$font-family: Roboto;
.contact-form {
}

.alert-error {
    font-size: 11px;
    color: red;
    padding-top: 0.5%;
}
.div-btn{
    
    margin-top: 0.6rem;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}
.my-4-change
{
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}
.status-field
{
    margin-left: 21px;
}
@media screen and (max-width:810px) and (min-width:310px)
{
.main-margin
{
    margin-top: -52px;
}
.label-mobile
{
    margin-bottom:1px;
}
.btn-back-mobile
{
    padding-left: 0px;
    margin-top: -27px;
    margin-bottom: -12px;
    font-size: 15px;
}
.inputfield
{
    padding-left:0px;
    padding-right:0px;
    margin-bottom:6px;
}
.inputfield2-mobile
{
    margin-top:-14px;
}
.btn.delete-mobile
{
    padding-left:0px;
    padding-right:0px;
}
.div-btn{
    padding-bottom:13px;
    margin-top: 0px;
}
.table
{
    font-size:15px;
}
.table td
{
    padding:0.3rem;
}
.my-4-change
{
    margin-bottom: 0rem !important;
    margin-top: 0rem !important;
}
.status-field
{
    margin-left: 0px;
    padding-right: 0px;
}
.Reason-field
{
    margin-top: 13px;
    padding-left: 15px;
}
}
