<!-- <body> -->
<div *ngIf="displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain" id="maindiv">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!-- Banner Image for mobile Engineer Login -->
<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" id="maindiv">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%"/>
</div>
<!-- Banner Image for mobile Dealer and Distributor  Login -->
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain" id="maindiv">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="container">
    <feedback-message></feedback-message>
    <div *ngIf="displaypc" class="col-lg-2 col-md-2 col-sm-12 col-xs-12 btn-back-mobile">
        <button tabindex="8" type="button" class="btn btn-jsw my-4" (click)="cancelNav()">Back</button>
        <!-- <button *ngIf="displaymobile" class="btn-back-mobile" style="font-size: 15px;" tabindex="8" type="button" class="btn btn-jsw" (click)="cancelNav()">Back</button> -->


    </div>
    <div class="row main-margin">
        <!-- Form Block -->
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Update Lead</h6>
                </div>
                <fieldset disabled>
                    <form [formGroup]="projectInfo">
                        <div class="row my-3">
                            <div class="col-md-6  detail-field inputfield inputfield2-mobile">
                                <label class="label-mobile">Project Name
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <input name="" id="" tabindex="3" class="form-control" placeholder="" type="text" formControlName="projectname">
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['projectname'].hasError('required') &&
                                            projectInfo.controls['projectname'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().ProjectName}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field inputfield">
                                <label class="label-mobile">Builder Name
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <input name="" id="" tabindex="8" class="form-control" formControlName="ownername" placeholder="" type="text">
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['ownername'].hasError('required') &&
                                                projectInfo.controls['ownername'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().OwnerName}}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-6 detail-field inputfield inputfield2-mobile">
                                <label class="label-mobile">Project Type </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="projecttype">
                            </div>
                            <div class="col-md-6 detail-field inputfield">
                                <label class="label-mobile">Expected Tonnage
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="expectedvalue">
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['expectedvalue'].hasError('required') &&
                                                            projectInfo.controls['expectedvalue'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().Expectedvalue}}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-6 detail-field inputfield inputfield2-mobile">
                                <label class="label-mobile">State
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <select tabindex="8" class="form-control" formControlName="state">
                                    <option>State</option>
                                    <option *ngFor="let state of statesArray" value="{{state}}">{{state}}</option>
                                </select>
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['state'].hasError('required') &&
                                                    projectInfo.controls['state'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().State}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field inputfield">
                                <label class="label-mobile">City
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <select tabindex="8" class="form-control" formControlName="city">
                                    <option>City</option>
                                    <option *ngFor="let city of cityArray" value="{{city}}">{{city}}</option>
                                </select>
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['city'].hasError('required') &&
                                                                                    projectInfo.controls['city'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().City}}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-6 detail-field inputfield inputfield2-mobile">
                                <label class="label-mobile">Address
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="address">
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['address'].hasError('required') &&
                                                            projectInfo.controls['address'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().Address}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field inputfield">
                                <label class="label-mobile">Pincode
                                    <sup style="color:#ff0000">*</sup>
                                </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="number" formControlName="pincode">
                                <div style="font-size: 11px;color: red;" *ngIf="projectInfo.controls['pincode'].hasError('required') &&
                                                    projectInfo.controls['pincode'].touched" class="alert-error">
                                    {{stringService.getErrorMessage().PinCode}}
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 detail-field inputfield inputfield2-mobile">
                                <label class="label-mobile">Expected sales period(months)
                                    <sup style="color:#ff0000">*</sup>
                                </label>

                                <select tabindex="8" class="form-control" formControlName="expectedSalesPeriod">
                                    <option value="" disabled selected>---Select Expected Sales---</option>
                                    <option value="0-3">0-3</option>
                                    <option value="3-6">3-6</option>
                                    <option value="6-9">6-9</option>
                                    <option value="9-12">9-12</option>
                                    <option value="12&above">12 & above</option>
                                </select>
                            </div>
                        </div>


                    </form>
                </fieldset>

                <div class="row titlebox my-4">
                    <h6 class="">Key Person Details</h6>
                </div>

            </div>
            <div class="col-md-12 my-4">
                <table class="table">
                    <tbody>
                        <tr class="head">
                            <td>
                                <strong>Name</strong>
                            </td>
                            <td>
                                <strong>Role</strong>
                            </td>
                            <td>
                                <strong>Contact</strong>
                            </td>
                        </tr>
                        <tr *ngFor="let keycontact of keyContactsArray; let is = index;">
                            <td> {{keycontact.keyPersonName}}</td>
                            <td>{{keycontact.keyPersonRole}}</td>
                            <td>{{keycontact.keyPersonContact}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="showKeyContactsTable === false" class="noRecords">No key contacts added.</div>
            </div>
            <form [formGroup]="serviceEngineerForm" *ngIf="engineerForm===true">

                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex" style="padding-top: 2%;padding-left:0px;padding-right:0px;" *ngIf="(this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole) && 
                (leadToPatch.data.pending === true)">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 detail-field status-field ">
                        <label class="label-mobile">Status:
                            <sup style="color:#ff0000">*</sup>
                        </label>
                        <select tabindex="8" class="form-control" formControlName="leadStatus">
                            <option value="" disabled selected>Select Status</option>
                            <option value="qualified">Qualified</option>
                            <option value="rejected">Rejected</option>
                        </select>
                    </div>

                    <!-- Reason for rejection -->
                    <div class="Reason-field" *ngIf="showRejctionsField && !(isUpdated)">
                        <label class="label-mobile" for="reasonForRejection">Reason for rejection</label>
                        <textarea class="form-control" rows="2" cols="50" formControlName="reasonForRejection"></textarea>
                    </div>

                    <div class="col-12 col-sm-12" *ngIf="!isUpdated">
                        <div *ngIf="displaypc" class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12" style="margin-top: 0.6rem;">
                            <label></label>
                            <button tabindex="8" type="button" class="btn btn-jsw my-4" [disabled]="this.serviceEngineerForm.value.leadStatus ==''" (click)="updateLead()">Update Lead</button>
                        </div>
                        <div  *ngIf="displaymobile" class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12" style="margin-top: 0.6rem; padding-right: 0px;">
                            <label></label>
                            <button class="btn btn-sm btn-block" type="submit" [disabled]="this.serviceEngineerForm.value.leadStatus ==''" (click)="updateLead()" style="color: #000;background: #ae995a;">Update Lead</button>

                            <!-- <button  type="button" class="btn btn-jsw btn-block" [disabled]="this.serviceEngineerForm.value.leadStatus ==''" (click)="updateLead()">Update Lead</button> -->
                        </div>
                    </div>

                </div>
            </form>
            <div class="col-12 col-sm-12" *ngIf="this.leadToPatch.data.status=='rejected'">
                <h5>Reason for Rejection:</h5>
                <p>{{leadToPatch.data.reasonforRejection}}</p>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 div-btn">
                <label></label>
                <div *ngIf="displaypc">
                    <button *ngIf="this.programUserInfo.programRole == this.stringService.getStaticContents().jswEngineerProgramRole" tabindex="8" type="button" class="btn btn-jsw my-4" (click)="delete()">Delete Lead</button>
                </div>
                <div *ngIf="displaymobile">
                    <button *ngIf="this.programUserInfo.programRole == this.stringService.getStaticContents().jswEngineerProgramRole" tabindex="8" type="button" class="btn btn-jsw btn-block btn.delete-mobile" (click)="delete()">Delete Lead</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- </body> -->