<!-- <body> -->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<div class="container">
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- feedbackmsg -->
    <!-- <feedback-message style="max-height: 30vh;
    z-index: 1000;
    text-align: center;
    margin-top: 1.5em !important;
    margin-bottom: -1.5em !important;
    WIDTH: 80%;
    MARGIN-LEFT: 10%;">
    </feedback-message> -->
    <!-- EOFM -->
    <div class="row" style="margin-top: 4rem;">
            <feedback-message style="max-height: 30vh;
            z-index: 1000;
            text-align: center;
            margin-top: 1.5em !important;
            margin-bottom: -1.5em !important;
            WIDTH: 80%;
            MARGIN-LEFT: 10%;">
            </feedback-message>
        <!-- Form Block -->
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mobile-margin-setter">
            <button *ngIf="displaypc" type="button" class="btn btn-jsw my-4" (click)="cancelNav()">Back</button>
        </div>
        <div class="col-md-12 div-mobile" style="margin-top: -1rem;">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Add Lead</h6>
                </div>
                <form [formGroup]="projectInfo">
                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield components-gap">
                            <label class="label-align label-mobile">Project Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" class="form-control" placeholder="" type="text" formControlName="projectname">
                            <div style="font-size: 11px;color: red;padding-top: 0.5%;" *ngIf="projectInfo.controls['projectname'].hasError('required') &&
                            projectInfo.controls['projectname'].touched" class="alert-error">
                                {{stringService.getErrorMessage().ProjectName}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field inputfield more-gap">
                            <label class="label-align label-mobile">Builder Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" formControlName="ownername" placeholder="" type="text">
                            <div *ngIf="projectInfo.controls['ownername'].hasError('required') &&
	                            projectInfo.controls['ownername'].touched" class="alert-error">
                                {{stringService.getErrorMessage().OwnerName}}
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield components-gap">
                            <label class="label-align label-mobile">Project Type </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="projecttype">
                        </div>
                        <div class="col-md-6 detail-field inputfield more-gap">
                            <label class="label-align label-mobile">Expected Tonnage
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="number" formControlName="expectedvalue">
                            <div *ngIf="(projectInfo.controls['expectedvalue'].hasError('required') &&
                                            projectInfo.controls['expectedvalue'].touched) " class="alert-error">
                                {{stringService.getErrorMessage().Expectedvalue}}
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield components-gap">
                            <label class="label-align label-mobile">State
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select tabindex="8" class="form-control" formControlName="state">
                                <option disabled selected>State</option>
                                <option *ngFor="let state of statesArray" value="{{state}}">{{state}}</option>
                            </select>
                            <div *ngIf="projectInfo.controls['state'].hasError('required') &&
                                    projectInfo.controls['state'].touched" class="alert-error">
                                {{stringService.getErrorMessage().State}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field inputfield more-gap">
                            <label class="label-align label-mobile">City
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select tabindex="8" class="form-control" formControlName="city">
                                <option disabled selected>City</option>
                                <option *ngFor="let city of cityArray" value="{{city}}">{{city}}</option>
                            </select>
                            <div *ngIf="projectInfo.controls['city'].hasError('required') &&
                                                                    projectInfo.controls['city'].touched" class="alert-error">
                                {{stringService.getErrorMessage().City}}
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield components-gap">
                            <label class="label-align label-mobile">Address
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="address">
                            <div *ngIf="projectInfo.controls['address'].hasError('required') &&
											projectInfo.controls['address'].touched" class="alert-error">
                                {{stringService.getErrorMessage().Address}}
                            </div>
                        </div>
                        <div class="col-md-6 detail-field inputfield">
                            <label class="label-align label-mobile">Pincode
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="number" formControlName="pincode">
                            <div *ngIf="projectInfo.controls['pincode'].hasError('required') &&
                                    projectInfo.controls['pincode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().PinCode}}
                            </div>
                        </div>
                    </div>




                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield">
                            <label class="label-mobile">Expected Sales Period (months)
                                <sup style="color:#ff0000">*</sup>
                            </label>

                            <select tabindex="8" class="form-control" formControlName="expectedSalesPeriod">
                                <option value="" disabled selected>---Select Period---</option>
                                <option value="0-3">0-3</option>
                                <option value="3-6">3-6</option>
                                <option value="6-9">6-9</option>
                                <option value="9-12">9-12</option>
                                <option value="12&above">12 & above</option>
                            </select>
                        </div>
                    </div>

                </form>
                <div class="row titlebox my-4">
                    <h6 class="">Key Person Details</h6>
                </div>
                <form [formGroup]="PersonDetailsForm">
                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield components-gap">
                            <label class="label-align label-mobile">Name </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="contactname">
                        </div>
                        <div class="col-md-6 detail-field inputfield more-gap">
                            <label class="label-align label-mobile">Contact</label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="number" formControlName="contactcontact">
                            <div *ngIf="PersonDetailsForm.controls['contactcontact'].hasError('minlength') &&
                                    PersonDetailsForm.controls['contactcontact'].touched" class="alert-error">
                                {{stringService.getErrorMessage().contactNumMinLength}}
                            </div>
                            <div *ngIf="PersonDetailsForm.controls['contactcontact'].hasError('maxlength') &&
                                    PersonDetailsForm.controls['contactcontact'].touched" class="alert-error">
                                {{stringService.getErrorMessage().contactNumMaxLength}}
                            </div>
                            <div *ngIf="PersonDetailsForm.controls['contactcontact'].hasError('pattern') &&
                                    PersonDetailsForm.controls['contactcontact'].touched" class="alert-error">
                                {{stringService.getErrorMessage().contactNumberPattern}}
                            </div>
                        </div>

                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 detail-field inputfield components-gap">
                            <label class="label-align label-mobile">Comments</label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="Write you comment here." formControlName="remarks" type="text">
                        </div>
                        <div class="col-md-4 detail-field inputfield" style="padding-top: 0.5%;">
                            <label class="label-align label-mobile">Role </label>
                            <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="contactrole">
                        </div>
                        <div class="col-md-2 detail-field inputfield" style="padding-top: 0.5%;">
                            <label class="label-align label-mobile">&nbsp;</label>
                            <button *ngIf="displaypc" class="btn btn-jsw" [disabled]="!PersonDetailsForm.valid" (click)="addKeyContact()">Add</button>
                            <button *ngIf="displaymobile" class="btn btn-jsw btn-block" type="submit" (click)="addKeyContact()">Add Key Person Detail</button>
                        </div>

                    </div>

                </form>
            </div>
            <div class="col-md-12 my-4-change" *ngIf="showKeyContactsTable === true" style="padding-top: 2%;">
                <table class="table" *ngIf="displaypc">
                    <tbody>
                        <tr class="head">
                            <td>
                                <strong>Name</strong>
                            </td>
                            <td>
                                <strong>Role</strong>
                            </td>
                            <td>
                                <strong>Contact</strong>
                            </td>
                            <td>
                                <strong>Action</strong>
                            </td>
                        </tr>
                        <tr *ngFor="let keycontact of keyContactsArray; let is = index;">
                            <td> {{keycontact.keyPersonName}}</td>
                            <td>{{keycontact.keyPersonRole}}</td>
                            <td>{{keycontact.keyPersonContact}}</td>
                            <td>
                                <button *ngIf="displaymobile" tabindex="8" type="button" class="btn btn-jsw btn-block" (click)="deleteKeyPerson(is)">Delete</button>

                                <button *ngIf="displaypc" tabindex="8" type="button" class="btn btn-jsw my-4" (click)="deleteKeyPerson(is)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Code for mobile starts-->
                <div class="col-12" *ngIf="displaymobile" style="padding:0px;">

                    <div *ngFor="let keycontact of keyContactsArray; let is = index;">
                        <div class="card" style="margin-bottom: -5px;margin-top:20px;">
                            <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">

                                <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                        <b>Name :</b> {{keycontact.keyPersonName}}
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4" style="font-size: 15px;color:blue;">
                                        <p class="card-text " (click)="deleteKeyPerson(is)">
                                            <ins style="float:right">Delete</ins>
                                        </p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="font-size: 15px;">
                                        <b>Role :</b> {{keycontact.keyPersonRole}}
                                    </div>

                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="font-size: 15px;">
                                        <b>Contact :</b> {{keycontact.keyPersonContact}}
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--Code for mobile ends here-->


            </div>


            <div class="row d-flex" style="padding-top: 2%;" *ngIf="displaypc">
                <div>
                    <button tabindex="8" type="button" class="btn btn-jsw my-4" [disabled]="!(projectInfo.valid)" (click)="addLead()">Add Lead</button>
                </div>
                <div>
                    <button tabindex="8" type="button" class="btn btn-jsw my-4" (click)="reset()" style="margin-left:1rem">Reset</button>
                </div>
            </div>
            <div class="row" style="padding-top: 0%;text-align: center;padding-bottom:5px;margin-top:20px;" *ngIf="displaymobile">
                <div class="col-sm-6 col-6">
                    <button class=" btn btn-jsw btn-block" style="padding-left:38px" type="submit" [disabled]="!(projectInfo.valid)" (click)="addLead()">Add Lead</button>
                </div>
                <div class="col-sm-6 col-6">
                    <button class="btn btn-jsw btn-block" type="submit" style="padding-left:50px" (click)="reset()">Reset</button>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<!-- </body> -->
<style>
    @media screen and (max-width: 812px)and (min-width:330px) {
        .label-align {
            margin-bottom: -0.5rem;
        }
        .components-gap {
            margin-bottom: 10px;
        }
        .more-gap {
            margin-bottom: -9px;
        }
        .div-mobile {
            margin-top: -26px;
        }
        .mobile-margin-setter {
            margin-bottom: -7px;
        }
    }
</style>