<!--Banner for Engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%"/>
</div>



<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/banner.jpg" class="bannerImage" width="100%" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole  && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="container">
    <div class="row">
        <!-- Form Block -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile-align">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">
                        Lead List
                    </h6>
                </div>
                <form [formGroup]="FilterForm">
                    <div *ngIf="displaypc" class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-sm-12 col-12 row">
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label for="statusFilter">
                                    <b>Status:</b>
                                </label>
                                <select tabindex="1" class="form-control" formControlName="statusFilter">
                                    <option value="" disabled selected>Select Status</option>
                                    <option value="all">All</option>
                                    <option value="pending">Pending</option>
                                    <option value="qualified">Qualified</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label for="timeFilter">
                                    <b>Time Period:</b>
                                </label>
                                <select tabindex="1" class="form-control" formControlName="timeFilter">
                                    <option value="" disabled selected>Select Time Period</option>
                                    <option value="all">All</option>
                                    <option value="thisMonth">This Month</option>
                                    <option value="lastMonth">Last Month</option>
                                    <option value="selectTimePeriod">Select Time Period</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 row " *ngIf="isTimePeriod">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <label for="startDate">
                                    <b>From:</b>
                                </label>
                                <input class="form-control " type="date" id="startDate" formControlName="startDate" lang="en">
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <label for="endDate">
                                    <b>To:</b>
                                </label>
                                <input class="form-control " type="date" id="endDate" formControlName="endDate" lang="en">
                            </div>
                        </div>

                    </div>
                    <!--Mobile Dropdown-->
                    <div *ngIf="displaymobile" class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-sm-12 col-12 mx-auto row" style="padding:0;">
                        <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 mx-auto row" style="padding:0; margin-top:-6px">
                            <label for="statusFilter" class="set-mobile-label">
                                <b>Status:</b>
                            </label>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="padding:0;">
                                <select tabindex="1" class="form-control" formControlName="statusFilter">
                                    <option value="" style="width:100px; font-size: 17px" disabled selected>Select Status</option>
                                    <option value="all" style="width:100px;font-size: 17px">All</option>
                                    <option value="pending" style="width:100px;font-size: 17px">Pending</option>
                                    <option value="qualified" style="width:100px;font-size: 17px">Qualified</option>
                                    <option value="rejected" style="width:100px;font-size: 17px">Rejected</option>
                                </select>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto" style="padding:0; margin-top:10px;">
                                <label for="timeFilter" class="set-mobile-label">
                                    <b>Time Period:</b>
                                </label>
                                <select tabindex="1" class="form-control" formControlName="timeFilter">
                                    <option value="" disabled selected>Select Time Period</option>
                                    <option value="all">All</option>
                                    <option value="thisMonth">This Month</option>
                                    <option value="lastMonth">Last Month</option>
                                    <option value="selectTimePeriod">Select Time Period</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 row mx-auto" *ngIf="isTimePeriod" style="padding:0;margin-top:19px;">
                            <div class="col-lg-6 col-sm-6 col-md-6 mx-auto" style="padding:0;">
                                <label for="startDate" class="set-mobile-label">
                                    <b>From:</b>
                                </label>
                                <input class="form-control " type="date" id="startDate" formControlName="startDate">
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6" style="padding:0;">
                                <label for="endDate" class="set-mobile-label">
                                    <b>To:</b>
                                </label>
                                <input class="form-control" type="date" id="endDate" formControlName="endDate">
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="displaymobile" style="text-align: center">
                    <button class="btn btn-jsw" (click)="filter()" [disabled]="fromToDateInvalid === true" style="margin-top: 1rem;">Filter</button>
                </div>
                <button *ngIf="displaypc" class="btn btn-jsw" (click)="filter()" style="margin-left: 1rem;margin-top: 1rem;" [disabled]="fromToDateInvalid === true">Filter</button>
                <div *ngIf="displaypc" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-4">

                    <table class="table">
                        <tbody>
                            <tr class="head">
                                <td>
                                    <strong>Project Id</strong>
                                </td>
                                <td>
                                    <strong>Project Name</strong>
                                </td>
                                <td>
                                    <strong>Builder Name</strong>
                                </td>
                                <td>
                                    <strong>Provided By</strong>
                                </td>
                                <td>
                                    <strong>Status</strong>
                                </td>
                                <td>
                                    <strong>Points Earned</strong>
                                </td>
                                <td>
                                    <strong>Added Date</strong>
                                </td>
                            </tr>
                            <tr *ngFor="let lead of summarylist">
                                <td>{{lead.data.leadId}}</td>
                                <td style="text-align: left">
                                    <a style="color: #02f;" (click)="showLead(lead)">
                                        <i style="cursor:pointer;">{{lead.data.projectname}}</i>
                                    </a>
                                </td>
                                <td>{{lead.data.ownername}}</td>
                                <td>{{lead.userName[0]}}</td>
                                <td *ngIf="(!lead.data.qualified && !lead.data.rejected) || lead.data.pending === true " class="text-capitalize ">
                                    <span style="padding-right:0.3em; "> </span> Pending</td>
                                <td *ngIf="lead.data.qualified === true" class="text-capitalize ">
                                    <span style="padding-right:0.3em; "> </span> Qualified</td>
                                <td *ngIf="lead.data.rejected === true" class="text-capitalize ">
                                    <span style="padding-right:0.3em; "> </span> Rejected</td>
                                <td *ngIf="lead.data.pointsEarned" style="text-align: center;">{{lead.data.pointsEarned}}</td>
                                <td *ngIf="!lead.data.pointsEarned" style="text-align: center;">0</td>
                                <td>{{lead.data.createdAt}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!--For Mobile-->
                <div class="col-12" *ngIf="displaymobile" style="padding:0px;">
                    <div class="card" *ngIf="isNoRecords" style="margin-bottom: 0px;margin-top:20px; box-shadow: 0 2px 6px #adadad; height:50px;">
                        <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                            <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <p style="color:red;text-align: center;">No records found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let lead of summarylist">
                        <div class="card" style="margin-left:-15px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;box-shadow: 0 2px 6px #adadad;">
                            <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                                <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <b>Project Id</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text">{{lead.data.leadId}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Project Name</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text" (click)="showLead(lead)">
                                            <i style="color: #02f;cursor:pointer;">{{lead.data.projectname}}</i>
                                        </p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Builder Name</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{lead.data.ownername}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Provided By</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{lead.userName[0]}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>Status</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize" *ngIf="(!lead.data.qualified && !lead.data.rejected) || lead.data.pending === true " style="color:orange">Pending</p>
                                        <p class="card-text text-capitalize" *ngIf="lead.data.qualified === true" style="color:green">Qualified</p>
                                        <p class="card-text text-capitalize" *ngIf="lead.data.rejected === true" style="color:red">Rejected</p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>Added Date</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{lead.data.createdAt | date:'dd/MM/yyyy'}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div *ngIf="isNoRecords && displaypc" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found.</div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" *ngIf="displaypc" style="padding-top: 1rem;">
            <button class="btn btn-jsw" style="margin-right: 1rem;" [disabled]="isPrevious || isNoRecords" (click)="prev()" type="submit">Previous</button>
            <button class="btn btn-jsw" [disabled]="isNext || isNoRecords" (click)="next()" type="submit">Next</button>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" *ngIf="true">
            <span style="float: right;padding-top: 1rem;"> {{startRecord}} - {{endRecord}} of {{totalRecords}} Records</span>
        </div>
        <!--Code for Mobile-->
        <div class="row" style="padding-top: 6%;margin-left:auto;margin-right:auto; padding-bottom:3%;" *ngIf="displaymobile">
            <div class="col-sm-6 col-6">
                <button class=" btn btn-sm" type="submit" [disabled]="isPrevious || isNoRecords" (click)="prev()" style="width:128.61px;color: #000;background: #ae995a;">Previous</button>
            </div>
            <div class="col-sm-6 col-6">
                <button class="btn btn-sm" type="submit" [disabled]="isNext || isNoRecords" (click)="next()" style="width:128.61px;color: #000;background: #ae995a;">Next</button>
            </div>
        </div>

    </div>
</div>
<!--Code for mobile starts-->
<style>
    @media screen and (max-width:810px) and (min-width:300px) {
        .mobile-align {
            margin-top: -43px;
        }
        .set-mobile-label {
            margin-bottom: 1px;
        }
    }
</style>
<!--Code for mobile ends here-->