<!--
    Author          :   Deepak Terse
    Description     :   Component for Add claims digital Products page
    Date Created    :   23 March 2017
    Date Modified   :   27 March 2017
-->


<div id="claims-container" class="pad-20" style="min-height:100vh; width:100%;padding:20px;">

    <!-- *********************** 	FEEDBACK MESSAGE COMPONENT 	***********************	-->
    <feedback-message></feedback-message>
    <!-- 	*****************	END OF FEEDBACK MESSAGE COMPONENT 	******************	-->





    <!-- ****************************			LOADER 		*************************	 -->
    <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
    </md-progress-circle>
    <!-- ************************** 		END OF LOADER 		**************************	 -->





    <div class="margin-20 body-text-header">
        Add Claim
        <div class="row ch-pad">
            <div class="col-md-4 col-lg-4 ch-back-navi" (click)="backToSalesFlow()">

                << Back to {{channelBackRequestObject.userDetails.userName}} </div>
            </div>
        </div>



        <!-- 	********************* 	TRANSACTION INFO FORM 	*************************	-->
        <md-card id="form-card" class="margin-20 margin-custom box-shadow">
            <md-card-subtitle id="inner-title" class="mp-header-title"> Transaction Information</md-card-subtitle>

            <form [formGroup]="claimsForm">

                <div class="row ac-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="debitPartyId" class="col-form-label form-labels">Select Distributor
                            <!--{{stringService.getfieldLabels().distributor}}-->
                            <span class = "mandatory" >*</span>
                            </label>
                        </div>
                        <div class="col-md-7 ac-drop" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box" id="debitPartyId" formControlName="debitPartyId" (change)="onDistributorSelected(claimsForm.value.debitPartyId)" style="border-radius:1px">
                                    <option class="ac-fonts" value=""> Select Distributor </option>
                                    <option class="ac-fonts" *ngFor = "let distributor of distributors" value="{{distributor.userDetails.userId}}">{{distributor.userDetails.userName}}</option>
                                </select>
                            <div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
                                            claimsForm.controls['debitPartyId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center ac-header-title or-custom">
                            OR
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                            Search Distributor 
                            <span class = "mandatory" >*</span>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" placeholder="Enter mobile number" formControlName="distributorMobileNo" style="border-radius:1px">
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
                                            claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberReq}}
                            </div>
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern'))
                    || disableSearchDistributer" (click)="onSearchDistributorClick()">
                    <i class="fa fa-search" style="font-size: larger !important" aria-hidden="true"></i>
                    </button>
                        </div>
                    </div>
                </div>
                <!--OG  -->
                <div class="row" style="padding:20px; color:red;" *ngIf="showDistributornotFoundMessage">
                    Distributor not found. Please enter a correct mobile number or enter the name of the distributor below
                </div>

                <div class="row" style="padding:20px; color:green;" *ngIf="showDistributorFoundMessage">
                    Distributor found
                </div>

                <div class="row ac-text" *ngIf="showDistributorFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName" readonly>

                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().transactionDate}}-->Mobile Number
                        <span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7">

                            <input type="text" class="form-control text-box" formControlName="distributorMobileNo" readonly>

                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <!--OG END OF DISTRUBUTOR NAME AND MOBILE-->
                <!---->

                <div class="row ac-text" style="margin-top:10px;padding-bottom:5px" *ngIf="showDistributornotFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
                            Distributor Name
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName">
                            <div *ngIf="claimsForm.controls['distributorName'].hasError('required') &&
                                claimsForm.controls['distributorName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                       Mobile Number
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" formControlName="distributorMobileNo">
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
                                claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>
                        </div>
                    </div>
                </div>
                <!---->

                <!--WITHOUT VAT PERCENTAGE-->
                <div class="row ac-text" style="margin-top:10px">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="transactionDate" class="col-form-label form-labels">
                        {{stringService.getfieldLabels().transactionDate}}
                        <span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="date" class="form-control text-box" (focusout)="valueChange()" formControlName="transactionDate">
                            <div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
                                claimsForm.controls['transactionDate'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>

                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-7">

                        </div>
                    </div>
                </div>
                <!--WITHOUT VAT PERCENTAGE-->

                <!-- WITH  VAT PERCENTAGE -->

                <div class="row ac-text" style="margin-top:10px">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="vatPercentage" class="col-form-label form-labels">
                        {{stringService.getfieldLabels().vatPercentage}}
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="number" class="form-control text-box" formControlName="vatPercentage">
                            <div *ngIf="claimsForm.controls['vatPercentage'].hasError('required') &&
                                claimsForm.controls['vatPercentage'].touched" class="alert-error">
                                {{stringService.getErrorMessage().vatPercentageReq}}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <!-- WITH  VAT PERCENTAGE -->
                <!--@@@@@ Start OF INVOICE AND CODE @@@@@-->
            </form>
        </md-card>
        <!-- 	*********************** 	END OF TRANSACTION DIVISION		***************	-->





        <!-- 	************************	PRODUCT INFO FORM 	**********************	-->
        <md-card id="form-card" class="margin-20 margin-custom box-shadow">
            <md-card-subtitle id="inner-title" class="mp-header-title"> Product Information</md-card-subtitle>

            <form [formGroup]="productsForm">


                <div class="row ac-text" style="margin-top:10px">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="productName" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().productName}}
                    	<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7 ac-drop" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box" id="productName" formControlName="productName" (change)="onProductSelected(productsForm.value.productName)">
                        <option class="ac-fonts"  value=""> Select Product </option>
                        <option class="ac-fonts"  *ngFor = "let product of productsArray" value="{{product.productName}}">{{product.productName}}</option>
                    </select>
                            <div *ngIf="productsForm.controls['productName'].hasError('required') &&
	                            productsForm.controls['productName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().productNameReq}}
                            </div>

                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="sku" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().sku}}
						<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" style="background-color:white" formControlName="sku" readonly>
                            <div *ngIf="productsForm.controls['sku'].hasError('required') &&
	                            productsForm.controls['sku'].touched" class="alert-error">
                                {{stringService.getErrorMessage().skuReq}}
                            </div>

                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>

                <!---->
                <div class="row ac-text" style="margin-top:10px">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="packagingUnit" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().packagingUnit}}
                    	<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7 ac-drop" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box" id="packagingUnit" formControlName="packagingUnit">
                        <option class="ac-fonts" value=""> Select packaging Unit </option>
                        <option class="ac-fonts" *ngFor = "let packagingUnit of packagingUnitsArray" value="{{packagingUnit.packagingName}}">{{packagingUnit.packagingName}}</option>
                    </select>
                            <div *ngIf="productsForm.controls['packagingUnit'].hasError('required') &&
	                            productsForm.controls['packagingUnit'].touched" class="alert-error">
                                {{stringService.getErrorMessage().packagingUnitReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="quantity" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().quantity}}
						<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7">
                            <input type="number" class="form-control text-box" value="0" min="0" formControlName="quantity" (change)="calculateTotal()">
                            <div *ngIf="productsForm.controls['quantity'].hasError('required') &&
	                            productsForm.controls['quantity'].touched" class="alert-error">
                                {{stringService.getErrorMessage().quantityReq}}
                            </div>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
                <!---->
                <!--MRP AND DISCOUNT-->
                <!---->
                <div class="row ac-text" style="margin-top:10px" *ngIf="showFields">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="discount" class="col-form-label form-labels">
                            {{stringService.getfieldLabels().discount}}
                            <span class = "mandatory" >*</span>
                        </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="number" class="form-control  text-box" value="0" min="0" formControlName="discount" (change)="calculateTotal()">
                            <div *ngIf="productsForm.controls['discount'].hasError('required') &&
                                    productsForm.controls['discount'].touched" class="alert-error">
                                {{stringService.getErrorMessage().discountReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="mrp" class="col-form-label form-labels">
                            {{stringService.getfieldLabels().mrp}}
                            <span class = "mandatory" >*</span>
                        </label>
                        </div>
                        <div class="col-md-7">
                            <input type="number" class="form-control text-box" value="0" min="0" formControlName="MRP" (change)="calculateTotal()">
                            <div *ngIf="productsForm.controls['MRP'].hasError('required') &&
                                    productsForm.controls['MRP'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mrpReq}}
                            </div>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
                <!---->
                <div class="row ac-text" style="margin-top:10px;" *ngIf="showFields">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="totalPrice" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().vatPercentage}}-->Total
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" style="background:white !important" formControlName="totalPrice" readonly>
                            <div *ngIf="productsForm.controls['totalPrice'].hasError('required') &&
                                                                productsForm.controls['totalPrice'].touched" class="alert-error">
                                <!--{{stringService.getErrorMessage().vatPercentageReq}}-->
                            </div>
                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
            </form>

            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" style="padding-top:4px !important; margin-top:10px !important" [disabled]="!productsForm.valid" (click)="onAddProductClick()">ADD PRODUCT</button>
        </md-card>
        <!--	*********************** 	END OF PRODUCT INF0 FORM 	*****************	-->

        <!-- 	**************************	ADDED PRODUCTS TABLE 	********************	-->
        <md-card class="margin-20 margin-custom box-shadow">
            <table class="table table-striped table-text">
                <thead>
                    <tr>
                        <th class="ac-fonts">{{stringService.getfieldLabels().productName}}</th>
                        <th class="ac-fonts">{{stringService.getfieldLabels().sku}}</th>
                        <th class="ac-fonts">{{stringService.getfieldLabels().packagingUnit}}</th>
                        <th class="ac-fonts">{{stringService.getfieldLabels().quantity}}</th>
                        <th class="ac-fonts" *ngIf="showFields">{{stringService.getfieldLabels().discount}}</th>
                        <th class="ac-fonts" *ngIf="showFields">{{stringService.getfieldLabels().mrp}}</th>
                        <th class="ac-fonts" *ngIf="showFields">Total</th>
                        <th class="ac-fonts">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productDetailsArray; let i = index;">
                        <td>{{product.productName}}</td>
                        <td>{{product.sku}}</td>
                        <td>{{product.packagingUnit}}</td>
                        <td>{{product.quantity}}</td>
                        <td *ngIf="showFields">{{product.discount}}</td>
                        <td *ngIf="showFields">{{product.MRP}}</td>
                        <td *ngIf="showFields">{{product.totalPrice}}</td>
                        <td (click)="onRemoveProductClick(i)">Delete</td>
                    </tr>
                </tbody>
            </table>
        </md-card>
        <!-- 	*******************	END OF ADDED PRODUCTS TABLE 	*******************	-->


        <!--	********************	ADD CLAIMS BUTTONS	*************************	-->
        <div class="button-div" style="padding:0px 0px 0px 15px">
            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" style="padding-top:4px !important" [disabled]="!(claimsForm.valid && productDetailsArray.length>0)" (click)="onAddClaimsFormClick()">ADD CLAIM</button>
            <button [style.background-color]="clientColor" type="button" class="btn red text-box" style="margin-left: 1em; padding-top:4px !important" (click)="onResetClaimsFormClick()">RESET</button>
        </div>
        <!--	*****************	END OF ADD CLAIMS BUTTONS	************************	-->

    </div>
    <client-footer></client-footer>
    <app-footer>

    </app-footer>