<!--
	Author			:	Deepak Terse
	Description		: 	Component for Add claims Invoice page
	Date Created	: 	21 March 2017
	Date Modified	: 	27 March 2017
-->

<div id="claims-container" class="pad-20" style="min-height:100vh; width:100%;padding:20px;">

    <!--	*************************	FEEDBACK MESSAGE 	***************************		-->
    <feedback-message></feedback-message>
    <!--	***********************		END OF FEEDBACK MESSAGE 	******************		-->




    <!-- 	**************************			LOADER 		*************************	-->
    <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
    </md-progress-circle>
    <!--	************************** 		END OF LOADER 		**************************	-->






    <div class="margin-20 body-text-header">Add Claim
        <div class="row ch-pad">
            <div class="col-md-4 col-lg-4 ch-back-navi" (click)="backToSalesFlow()">

                << Back to {{channelBackRequestObject.userDetails.userName}} </div>
            </div>
        </div>



        <!-- 	************************* 	INVOICE FORM 	********************************	-->
        <md-card id="form-card" class="margin-20 box-shadow">
            <md-card-subtitle id="inner-title" class="mp-header-title"> Invoice Information</md-card-subtitle>

            <form [formGroup]="claimsForm">


                <!--Invoice and Transaction Date Starts-->
                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="invoiceNumber" class=" form-labels" style="border:0px solid red;">
                    	{{stringService.getfieldLabels().invoiceNumber}}
                    	<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="invoiceNumber">
                            <div *ngIf="claimsForm.controls['invoiceNumber'].hasError('required') &&
	                            claimsForm.controls['invoiceNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().invoiceNumberReq}}
                            </div>

                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="transactionDate" class="col-form-label form-labels">
						{{stringService.getfieldLabels().transactionDate}}
						<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control text-box" (focusout)="valueChange()" formControlName="transactionDate">
                            <div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
	                            claimsForm.controls['transactionDate'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>



                <!--<div class = "row " style = "padding-bottom:5px">

				<div class = "col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div" style ="border:0px solid blue;">
                    <label for="invoiceNumber" class=" form-labels" style ="border:0px solid red;">
                    	{{stringService.getfieldLabels().invoiceNumber}}
                    	<span class = "mandatory" >*</span>
                    </label>
				</div>
				<div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" formControlName="invoiceNumber">
					<div *ngIf="claimsForm.controls['invoiceNumber'].hasError('required') &&
	                            claimsForm.controls['invoiceNumber'].touched"
	                     class="alert-error">
	                    {{stringService.getErrorMessage().invoiceNumberReq}}
	                </div>
				</div>

				<div class = "col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
					<label for="transactionDate" class="col-form-label form-labels">
						{{stringService.getfieldLabels().transactionDate}}
						<span class = "mandatory" >*</span>
                    </label>
				</div>
				<div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="date" class="form-control" formControlName="transactionDate">
					<div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
	                            claimsForm.controls['transactionDate'].touched"
	                     class="alert-error">
	                    {{stringService.getErrorMessage().transactionDateReq}}
	                </div>
				</div>
			</div>-->
                <!--Invoice and Transaction Date Ends-->

                <!--Invoice Amount and INVOICE Amount invoiceAmountExcludingTax starts-->
                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="invoiceAmount" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().invoiceAmount}}
                    	<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="number" class="form-control text-box" formControlName="invoiceAmount">
                            <div *ngIf="claimsForm.controls['invoiceAmount'].hasError('required') &&
	                            claimsForm.controls['invoiceAmount'].touched" class="alert-error">
                                {{stringService.getErrorMessage().invoiceAmountReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="invoiceAmountExcludingVAT" class="col-form-label form-labels">
						{{stringService.getfieldLabels().invoiceAmountExcludingTax}}
						<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7">
                            <input type="number" class="form-control text-box" formControlName="invoiceAmountExcludingVAT">
                            <div *ngIf="claimsForm.controls['invoiceAmountExcludingVAT'].hasError('required') &&
	                            claimsForm.controls['invoiceAmountExcludingVAT'].touched" class="alert-error">
                                {{stringService.getErrorMessage().invoiceAmountExcludingTaxReq}}
                            </div>

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>




                <!--<div class = "row " style = "padding-bottom:5px">

				<div class = "col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="invoiceAmount" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().invoiceAmount}}
                    	<span class = "mandatory" >*</span>
                    </label>
				</div>
				<div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="number" class="form-control" formControlName="invoiceAmount">
					<div *ngIf="claimsForm.controls['invoiceAmount'].hasError('required') &&
	                            claimsForm.controls['invoiceAmount'].touched"
	                     class="alert-error">
	                    {{stringService.getErrorMessage().invoiceAmountReq}}
	                </div>
				</div>

				<div class = "col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
					<label for="invoiceAmountExcludingVAT" class="col-form-label form-labels">
						{{stringService.getfieldLabels().invoiceAmountExcludingTax}}
						<span class = "mandatory" >*</span>
                    </label>
				</div>
				<div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="number" class="form-control" formControlName="invoiceAmountExcludingVAT">
					<div *ngIf="claimsForm.controls['invoiceAmountExcludingVAT'].hasError('required') &&
	                            claimsForm.controls['invoiceAmountExcludingVAT'].touched"
	                     class="alert-error">
	                    {{stringService.getErrorMessage().invoiceAmountExcludingTaxReq}}
	                </div>
				</div>
			</div>-->

                <!--Invoice Amount and INVOICE Amount invoiceAmountExcludingTax ends-->


                <!--Select DISTRIBUTOR Starts-->
                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="debitPartyId" class="col-form-label form-labels">
								{{stringService.getfieldLabels().distributor}}
									<span class = "mandatory" >*</span>
								</label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box ad-select" style="font-family: HelveticaNeueTT !important; font-size:0.8em !important; padding: 6px 15px !important" id="debitPartyId" formControlName="debitPartyId" (change)="onDistributorSelected(claimsForm.value.debitPartyId)">
									<option class="ac-fonts" value=""> Select Distributor </option>
									<option class="ac-fonts" *ngFor = "let distributor of distributors" value="{{distributor.userDetails.userId}}"> {{distributor.userDetails.userName}}</option>
								
								</select>
                            <div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
											claimsForm.controls['debitPartyId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center ac-header-title or-custom">
                            OR
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                 	Search Distributor
					<span class = "mandatory" >*</span>
								</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" placeholder="Enter mobile number" formControlName="distributorMobileNo">
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
											claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberReq}}
                            </div>
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern')) ||  disableSearchDistributer"
                                (click)="onSearchDistributorClick()">
						<i class="fa fa-search" style="font-size: larger !important" aria-hidden="true"></i></button>

                        </div>
                    </div>
                </div>




                <!--<div class="row " style="padding-bottom:5px">

				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
					<label for="debitPartyId" class="col-form-label form-labels">
									{{stringService.getfieldLabels().distributor}}
									<span class = "mandatory" >*</span>
								</label>	
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<select class="form-control ac-fonts" id="debitPartyId" formControlName="debitPartyId"
					(change) = "onDistributorSelected(claimsForm.value.debitPartyId)">
									<option class="ac-fonts" value=""> Select Distributor </option>
									<option class="ac-fonts" *ngFor = "let distributor of distributors" value="{{distributor.userDetails.userId}}"> {{distributor.userDetails.userName}}</option>
								
								</select>
					<div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
											claimsForm.controls['debitPartyId'].touched" class="alert-error">
						{{stringService.getErrorMessage().distributorReq}}
					</div>
				</div>

				<div class="col-lg-1 text-center">
					OR

				</div>


			</div>-->
                <!--Select DISTRIBUTOR Ends-->

                <!--SEARCH DISTRIBUTOR Starts-->
                <!--<div class="row " style="padding-bottom:5px">
				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
					<label for="distributorMobileNo" class="col-form-label form-labels">
                 	Search Distributor
									<span class = "mandatory" >*</span>
								</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" placeholder="Enter mobile number" formControlName="distributorMobileNo">
					<div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
											claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
						{{stringService.getErrorMessage().distributorMobileNumberReq}}
					</div>
					<div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
						{{stringService.getErrorMessage().distributorMobileNumberInvalid}}
					</div>
				</div>
				<div class="col-lg-2">
					<button type="button" class="btn gray" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern')) ||  disableSearchDistributer" (click)="onSearchDistributorClick()">SEARCH DISTRIBUTOR</button>
				</div>
			</div>-->
                <!--SEARCH DISTRIBUTOR Ends-->


                <div class="row" style="padding:20px; color:red;" *ngIf="showDistributornotFoundMessage">
                    Distributor not found. Please enter a correct mobile number or enter the name of the distributor below
                </div>

                <div class="row" style="padding:20px; color:green;" *ngIf="showDistributorFoundMessage">
                    Distributor found
                </div>



                <!--showDistributorFoundMessage starts-->
                <div class="row be-text" *ngIf="showDistributorFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
									<!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
									<span class = "mandatory" >*</span>
								</label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName" readonly>

                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
									<!--{{stringService.getfieldLabels().transactionDate}}-->Mobile Number
									<span class = "mandatory" >*</span>
								</label>


                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" formControlName="distributorMobileNo" readonly>

                        </div>

                        <div class="col-md-1">
                        </div>
                    </div>
                </div>



                <!--<div class="row" *ngIf="showDistributorFoundMessage">
				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
					<label for="distributorName" class="col-form-label form-labels">
									Distributor Name
									<span class = "mandatory" >*</span>
								</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" formControlName="distributorName" readonly>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
					<label for="distributorMobileNo" class="col-form-label form-labels">
									Mobile Number
									<span class = "mandatory" >*</span>
								</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" formControlName="distributorMobileNo" readonly>
				</div>
			</div>-->

                <!--showDistributorFoundMessage ends-->

                <!-- showDistributornotFoundMessage starts-->
                <div class="row be-text" *ngIf="showDistributornotFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
									<!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
									<span class = "mandatory" >*</span>
								</label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName">
                            <div *ngIf="claimsForm.controls['distributorName'].hasError('required') &&
											claimsForm.controls['distributorName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>

                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">


                        </div>

                        <div class="col-md-1">
                        </div>
                    </div>
                </div>

                <!--<div class="row " style="padding-bottom:5px" *ngIf="showDistributornotFoundMessage">
				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
					<label for="distributorName" class="col-form-label form-labels">
									Distributor Name
									<span class = "mandatory" >*</span>
								</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" formControlName="distributorName">
					<div *ngIf="claimsForm.controls['distributorName'].hasError('required') &&
											claimsForm.controls['distributorName'].touched" class="alert-error">
						{{stringService.getErrorMessage().distributorReq}}
					</div>
				</div>
			</div>-->

                <!--showDistributornotFoundMessage ends-->

                <!--Invoice Upload Starts-->

                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="invoiceDocument" class="col-form-label form-labels">
						{{stringService.getfieldLabels().invoiceUpload}}
						<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7">
                            <input type="file" (change)="onFileChange($event)" class="form-control text-box custom-file" formControlName="invoiceDocument">
                            <div *ngIf="!(isFileSelected) && (claimsForm.controls['invoiceDocument'].touched)" class="alert-error">
                                {{stringService.getErrorMessage().invoiceUploadReq}}
                            </div>

                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">
                        </div>
                    </div>
                </div>



                <!--<div class="row " style="padding-bottom:5px">
				<div class = "col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
					<label for="invoiceDocument" class="col-form-label form-labels">
						{{stringService.getfieldLabels().invoiceUpload}}
						<span class = "mandatory" >*</span>
                    </label>
				</div>
				<div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input 	type="file"  (change)="onFileChange($event)" class="form-control" formControlName="invoiceDocument">
					<div *ngIf="!(isFileSelected) && (claimsForm.controls['invoiceDocument'].touched)"
	                     class="alert-error">
	                    {{stringService.getErrorMessage().invoiceUploadReq}}
	                </div>
				</div>
			</div>-->
                <!--Invoice Upload Ends-->


                <!--VAT PERCENTAGE Starts-->
                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="vatPercentage" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().vatPercentage}}
                    	<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="number" class="form-control text-box" formControlName="vatPercentage">
                            <div *ngIf="claimsForm.controls['vatPercentage'].hasError('required') &&
	                            claimsForm.controls['vatPercentage'].touched" class="alert-error">
                                {{stringService.getErrorMessage().vatPercentageReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">
                        </div>
                    </div>
                </div>




                <!--<div class = "row " style = "padding-bottom:5px">
				<div class = "col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="vatPercentage" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().vatPercentage}}
                    	<span class = "mandatory" >*</span>
                    </label>
				</div>
				<div class = "col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="number" class="form-control" formControlName="vatPercentage">
					<div *ngIf="claimsForm.controls['vatPercentage'].hasError('required') &&
	                            claimsForm.controls['vatPercentage'].touched"
	                     class="alert-error">
	                    {{stringService.getErrorMessage().vatPercentageReq}}
	                </div>
				</div>
			</div>-->
                <!--VAT PERCENTAGE Ends -->
            </form>


        </md-card>
        <!-- 	************************* 	END OF INVOICE FORM 	**************************	-->




        <!-- 	************************* 	INVOICE FORM BUTTONS	**************************	-->
        <div class="button-div" style="padding:10px 0px 0px 13px">

            <button [style.background-color]="clientColor" type="button" class="btn red text-box" style="padding-bottom: 24px !important;" [disabled]="!(claimsForm.valid && isFileSelected && (claimsForm.value.debitPartyId|| claimsForm.value.distributorName))" (click)="onAddFormClick()">ADD INVOICE</button>
            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" style="margin-left: 1em !important; padding-bottom: 24px !important;" (click)="onResetFormClick()">RESET</button>
        </div>
        <!-- 	************************* 	END OF INVOICE FORM BUTTONS	*********************	-->

    </div>
    <client-footer></client-footer>
    <app-footer></app-footer>