<div id="claims-container" class="pad-20" style="min-height:100vh; width:100%;padding:20px;">

    <!--	*************************	FEEDBACK MESSAGE 	***************************		-->
    <feedback-message></feedback-message>
    <!--	***********************		END OF FEEDBACK MESSAGE 	******************		-->



    <!-- 	**************************			LOADER 		*************************	-->
    <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
    </md-progress-circle>
    <!--	************************** 		END OF LOADER 		**************************	-->

    <div class="margin-20 body-text-header">Add Claims
        <div class="row ch-pad">
            <div class="col-md-4 col-lg-4 ch-back-navi" (click)="backToSalesFlow()">

                << Back to {{channelBackRequestObject.userDetails.userName}} </div>
            </div>
        </div>


        <!-- 	**************************     	CODE FORM     	******************************	-->

        <md-card id="form-card" class="margin-20 box-shadow">
            <md-card-subtitle id="inner-title" class="mp-header-title"></md-card-subtitle>
            <form [formGroup]="claimsForm">


                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="transactionDate" class="col-form-label form-labels">
						    {{stringService.getfieldLabels().transactionDate}}
						    <span class = "mandatory" >*</span>
                        </label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control text-box" (focusout)="valueChange()" formControlName="transactionDate">
                            <div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
	                            claimsForm.controls['transactionDate'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 row">

                    </div>
                </div>

                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="debitPartyId" class="col-form-label form-labels">
							{{stringService.getfieldLabels().distributor}}
							<span class = "mandatory" >*</span>
						</label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box ad-select" style="font-family: HelveticaNeueTT !important; font-size:0.8em !important; padding: 6px 15px !important" id="debitPartyId" formControlName="debitPartyId" (change)="onDistributorSelected(claimsForm.value.debitPartyId)">
							<option class="ac-fonts" value=""> Select Distributor </option>
							<option class="ac-fonts" *ngFor = "let distributor of distributors" value="{{distributor.userDetails.userId}}"> {{distributor.userDetails.userName}}</option>
								
						</select>
                            <div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
                                                claimsForm.controls['debitPartyId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center ac-header-title or-custom">
                            OR
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                 	        Search Distributor
					        <span class = "mandatory" >*</span>
					    </label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" placeholder="Enter mobile number" formControlName="distributorMobileNo">
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
                                                claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberReq}}
                            </div>
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern')) ||  disableSearchDistributer"
                                (click)="onSearchDistributorClick()">
						    <i class="fa fa-search" style="font-size: larger !important" aria-hidden="true"></i>
                        </button>
                        </div>
                    </div>
                </div>





                <div class="row" style="padding:20px; color:red;" *ngIf="showDistributornotFoundMessage">
                    Distributor not found. Please enter a correct mobile number or enter the name of the distributor below
                </div>

                <div class="row" style="padding:20px; color:green;" *ngIf="showDistributorFoundMessage">
                    Distributor found
                </div>



                <!--showDistributorFoundMessage starts-->
                <div class="row be-text" *ngIf="showDistributorFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
									<!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
									<span class = "mandatory" >*</span>
								</label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName" readonly>

                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
									<!--{{stringService.getfieldLabels().transactionDate}}-->Mobile Number
									<span class = "mandatory" >*</span>
								</label>


                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" formControlName="distributorMobileNo" readonly>

                        </div>

                        <div class="col-md-1">
                        </div>
                    </div>
                </div>



                <!--<div class="row" *ngIf="showDistributorFoundMessage">
				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
					<label for="distributorName" class="col-form-label form-labels">
									Distributor Name
									<span class = "mandatory" >*</span>
								</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" formControlName="distributorName" readonly>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
					<label for="distributorMobileNo" class="col-form-label form-labels">
									Mobile Number
									<span class = "mandatory" >*</span>
								</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<input type="text" class="form-control" formControlName="distributorMobileNo" readonly>
				</div>
			</div>-->

                <!--showDistributorFoundMessage ends-->

                <!-- showDistributornotFoundMessage starts-->
                <div class="row be-text" *ngIf="showDistributornotFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
                            <!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
                            <span class = "mandatory" >*</span>
                        </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName">
                            <div *ngIf="claimsForm.controls['distributorName'].hasError('required') &&
											claimsForm.controls['distributorName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>
                        </div>
                    </div>
                </div>





                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="uniqueCode" class="col-form-label form-labels">
						    {{stringService.getfieldLabels().uniqueCode}}
						    <span class = "mandatory" >*</span>
                        </label>
                        </div>

                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" formControlName="uniqueCode">
                            <div *ngIf="claimsForm.controls['uniqueCode'].hasError('required') &&
	                            claimsForm.controls['uniqueCode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <i class="fa fa-times-circle" aria-hidden="true" (click)="removeSingleCharacter()"></i>
                        </div>
                        <div class="col-md-1">
                            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" (click)="addCode()">
						    Add
                        </button>
                        </div>
                    </div>
                    <div class="row" style="padding:20px; color:red;" *ngIf="invalidCode">
                        This code has already been used or is an invalid code. Please enter a valid code !
                    </div>
                </div>
                <div class="row be-text">
                    <div class="col-md-6 codeTable row">
                        <div class="table-responsive">

                            <table class="table table-striped table-responsive">
                                <thead class="claims-thead">
                                    <th width="60%">Unique Code</th>
                                    <th width="40%">Action</th>
                                </thead>
                                <tbody class="tbody-font">
                                    <tr *ngFor="let code of finalUniqueCodeArr; let codeIndex = index;">
                                        <td width="60%">{{code}}</td>
                                        <td width="40%"> <button type="button" class="btn gray text-box" (click)="deleteCode(codeIndex)"> Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="row be-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="invoiceDocument" class="col-form-label form-labels">
						    {{stringService.getfieldLabels().invoiceUpload}}
						    <span class = "mandatory" >*</span>
                        </label>
                        </div>
                        <div class="col-md-7">
                            <input type="file" (change)="onFileChange($event)" class="form-control text-box custom-file" formControlName="invoiceDocument">
                            <div *ngIf="!(isFileSelected) && (claimsForm.controls['invoiceDocument'].touched)" class="alert-error">
                                {{stringService.getErrorMessage().invoiceUploadReq}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row be-text">
                <div class="col-md-6 row">
                    <div class="col-md-4">
                        <label for="uniqueCode" class="col-form-label">Enter Coupon Code<span class = "mandatory" >*</span></label>
                        <div class="">
                            <input class="form-control" type="text" value="" id="uniqueCode" formControlName="uniqueCode">
                            <div *ngIf="uniqueCodeForm.controls['uniqueCode'].hasError('required') &&
                            uniqueCodeForm.controls['uniqueCode'].touched" class="alert alert-danger inputValidationErr">
                                {{errorMessageService.getErrorMessages().mandatoryField}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding-top: 30px">
                        <button class="innerPageButtons" type="button" (click)="addCode()">Add</button>
                    </div>
                </div>
            </div>-->

                <!--    **********************  PARENT LIST CONTAINER   ********************    -->
                <!--<div class="row be-text">
                <div class="col-md-6 row">
                    <div class="row tableCss" style="width:50%;">
                        <div class="col-lg-12">
                            <table class="table table-bordered typeTable ">
                                <thead>
                                    <tr>
                                        <th style="width:50%;">Unique Code</th>
                                        <th style="width:10%;"></th>
                                    </tr>
                                </thead>
                                <tr class="tableData" *ngFor="let code of codeArr; let codeIndex = index;">
                                    <td width="50%">{{code.uniqueCode}}</td>
                                    <td width="10%"> <button class="innerPageButtons" type="button" (click)="deleteCode(codeIndex)">Delete</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->
                <!--    ******************************  END OF UNIQUE CODE LIST CONTAINER  *********************************  -->


                <!--    ********************************************   BULK UPLOAD  ********************************************     -->
                <!--<div class="row" style="border:1px solid grey; border-radius:5px; margin-top:20px; margin-bottom:20px;">-->
                <!--<div class="row be-text">
                <div class="col-md-6 row">
                    <div class="row userFormHeadings">
                        <div class="col-lg-11">
                            <h4>Invoice Upload</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="padding-right:10px;padding-left:10px;">
                            <input class="form-control" type="file" (change)="onFileChange($event)" id="brochure" accept="application/pdf,image/*" formControlName="brochure">
                            <div *ngIf="!isBrochureError" class="alert alert-danger inputValidationErr ">
                                Please select Invoice to Upload
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                <!--    *******************************     END OF BULK UPLOAD  **************************  -->


                <!--    *******************************   BUTTONS CONTAINER   ************************** *******    -->
                <!--<div class="row be-text">
                <div class="col-md-6 row" style="padding-top: 10px;">
                    <div class="col-md-8">
                        <button class="innerPageButtons" type="submit" [disabled]="!uniqueCodeForm.valid" (click)="addClick()">Add</button>
                        <button class="innerPageButtons" type="reset" (click)="resetClick()">Reset</button>
                        <button class="innerPageButtons" type="button" (click)="cancelClick()">Cancel</button>
                    </div>
                </div>
            </div>-->
                <!--    *************************  END OF BUTTONS CONTAINER    ****************************    -->
            </form>
            <!--    ********************************   END OF FORM     ***********************************   -->
        </md-card>
        <!-- 	************************* 	INVOICE FORM BUTTONS	**************************	-->
        <div class="button-div" style="padding:10px 0px 0px 13px">

            <button [style.background-color]="clientColor" type="button" class="btn red text-box" style="padding-bottom: 24px !important;" [disabled]="!(isValidForm  && (claimsForm.value.debitPartyId|| claimsForm.value.distributorName))" (click)="onAddFormClick()">ADD CLAIM</button>
            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" style="margin-left: 1em !important; padding-bottom: 24px !important;" (click)="onResetFormClick()">RESET</button>
        </div>
        <!-- 	************************* 	END OF INVOICE FORM BUTTONS	*********************	-->
    </div>