<!--
    Author          :   Deepak Terse
    Description     :   Component for Add claims digital Brands page
    Date Created    :   24 March 2017
    Date Modified   :   27 March 2017
-->


<div id="claims-container" class="pad-20">

    <!-- ***********************    FEEDBACK MESSAGE COMPONENT  *********************** -->
    <feedback-message></feedback-message>
    <!--    *****************   END OF FEEDBACK MESSAGE COMPONENT   ******************  -->





    <!-- ****************************           LOADER      *************************    -->
    <md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
    </md-progress-circle>
    <!-- **************************         END OF LOADER       **************************   -->



    <div class="margin-20 body-text-header">
        Add Claim
        <div class="row ch-pad">
            <div class="col-md-4 col-lg-4 ch-back-navi" (click)="backToSalesFlow()">

                << Back to {{channelBackRequestObject.userDetails.userName}} </div>
            </div>
        </div>



        <!--    *********************   TRANSACTION INFO FORM   *************************   -->
        <md-card id="form-card" class="margin-20 margin-custom box-shadow">
            <md-card-subtitle id="inner-title" class="mp-header-title"> Transaction Information</md-card-subtitle>


            <form [formGroup]="claimsForm">


                <div class="row ac-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="debitPartyId" class="col-form-label form-labels">
                            {{stringService.getfieldLabels().distributor}}
                            <span class = "mandatory" >*</span>
                        </label>
                        </div>
                        <div class="col-md-7 ac-drop" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box" id="debitPartyId" formControlName="debitPartyId" (change)="onDistributorSelected(claimsForm.value.debitPartyId)">
                        <option class="ac-fonts" value=""> Select Distributor </option>
                        <option class="ac-fonts" *ngFor = "let distributor of distributors" value="{{distributor.userDetails.userId}}">{{distributor.userDetails.userName}}</option>
                        </select>

                            <div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
                                    claimsForm.controls['debitPartyId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                                <!--Select Distributor -->
                            </div>
                        </div>
                        <div class="col-md-1 text-center ac-header-title or-custom">
                            OR
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                            Search Distributor
                            <span class = "mandatory" >*</span>
                        </label>

                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" placeholder="Enter mobile number" formControlName="distributorMobileNo">
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
                                                claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberReq}}
                            </div>
                            <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                            </div>

                        </div>

                        <div class="col-md-1">
                            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern'))
                        || disableSearchDistributer" (click)="onSearchDistributorClick()"> <i class="fa fa-search" style="font-size: larger !important" aria-hidden="true"></i>
                        </button>

                        </div>
                    </div>
                </div>


                <!--OG DISTRIBUTOR and SEARCH DISTRIBUTOR-->
                <!--<div class="row " style="padding-bottom:5px">

                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="debitPartyId" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().distributor}}
                    	<span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <select class="form-control ac-fonts" id="debitPartyId" formControlName="debitPartyId" (change)="onDistributorSelected(claimsForm.value.debitPartyId)">
                        <option cl value=""> Select Distributor </option>
                        <option class="ac-fonts" *ngFor = "let distributor of distributors" value="{{distributor.userDetails.userId}}">{{distributor.userDetails.userName}}</option>
                    </select>
                 
                    <div *ngIf="claimsForm.controls['debitPartyId'].hasError('required') &&
	                            claimsForm.controls['debitPartyId'].touched" class="alert-error">
                        {{stringService.getErrorMessage().distributorReq}}
                    </div>

                </div>

                <div class="col-lg-1 text-center">
                    OR
                </div>
                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
                    <label for="distributorMobileNo" class="col-form-label form-labels">
                            Search Distributor
                            <span class = "mandatory" >*</span>
                        </label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <input type="text" class="form-control" placeholder="Enter mobile number" formControlName="distributorMobileNo">
                    <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
                                                claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                        {{stringService.getErrorMessage().distributorMobileNumberReq}}
                    </div>
                    <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched"
                        class="alert-error">
                        {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                    </div>
                </div>
                <div class="col-lg-1">
                    <button type="button" class="btn gray" [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern'))
                        || disableSearchDistributer" (click)="onSearchDistributorClick()">SEARCH DISTRIBUTOR</button>
                </div>
            </div>-->

                <!--OG DISTRIBUTOR and SEARCH DISTRIBUTOR-->




                <!--<div class="row " style="padding-bottom:5px">
                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
                    <label for="distributorMobileNo" class="col-form-label form-labels">
                        Search Distributor
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" placeholder = "Enter mobile number" formControlName="distributorMobileNo">
                    <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('required') &&
											claimsForm.controls['distributorMobileNo'].touched" class="alert-error">
                        {{stringService.getErrorMessage().distributorMobileNumberReq}}
                    </div>
                    <div *ngIf="claimsForm.controls['distributorMobileNo'].hasError('pattern') && claimsForm.controls['distributorMobileNo'].touched"
                        class="alert-error">
                        {{stringService.getErrorMessage().distributorMobileNumberInvalid}}
                    </div>
                </div>
                <div class = "col-lg-2">
                    <button type="button" class="btn gray"  
                    [disabled]="(claimsForm.controls['distributorMobileNo'].hasError('required') || claimsForm.controls['distributorMobileNo'].hasError('pattern'))
                    || disableSearchDistributer" (click)="onSearchDistributorClick()">SEARCH DISTRIBUTOR</button>
                </div>
			</div>-->

                <!--DISTRIBUTOR FOUND AND NOT FOUND Starts-->
                <div class="row" style="padding:20px; color:red;" *ngIf="showDistributornotFoundMessage">
                    Distributor not found. Please enter a correct mobile number or enter the name of the distributor below
                </div>

                <div class="row" style="padding:20px; color:green;" *ngIf="showDistributorFoundMessage">
                    Distributor found
                </div>
                <!--distributor found starts -->
                <div class="row ac-text" *ngIf="showDistributorFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName" readonly>

                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="distributorMobileNo" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().transactionDate}}-->Mobile Number
                        <span class = "mandatory" >*</span>
                    </label>


                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control text-box" formControlName="distributorMobileNo" readonly>

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>



                <!--<div class="row" *ngIf="showDistributorFoundMessage">
                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="distributorName" class="col-form-label form-labels">
                        Distributor Name
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" formControlName="distributorName" readonly>
                </div>

                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
                    <label for="distributorMobileNo" class="col-form-label form-labels">
                        Mobile Number
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" formControlName="distributorMobileNo" readonly>
                </div>
            </div>-->
                <!--distributor found ends -->


                <!--DISTRIBUTOR NOT FOUND STARTS-->

                <div class="row ac-text" *ngIf="showDistributornotFoundMessage">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="distributorName" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().distributor}}-->Distributor Name
                        <span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" formControlName="distributorName">
                            <div *ngIf="claimsForm.controls['distributorName'].hasError('required') &&
                                claimsForm.controls['distributorName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().distributorReq}}
                            </div>

                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>




                <!--<div class="row " style="padding-bottom:5px" *ngIf="showDistributornotFoundMessage">
                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="distributorName" class="col-form-label form-labels">
                        Distributor Name
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" formControlName="distributorName">
                    <div *ngIf="claimsForm.controls['distributorName'].hasError('required') &&
                                claimsForm.controls['distributorName'].touched" class="alert-error">
                        {{stringService.getErrorMessage().distributorReq}}
                    </div>
                </div>
            </div>-->
                <!--DISTRIBUTOR NOT FOUND ENDS-->
                <!--DISTRIBUTOR FOUND AND NOT FOUND Ends-->



                <div class="row ac-text" style="margin-top:10px">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="vatPercentage" class="col-form-label form-labels">
                            {{stringService.getfieldLabels().vatPercentage}}
                            <span class = "mandatory" >*</span>
                        </label>

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="number" class="form-control text-box" formControlName="vatPercentage">
                            <div *ngIf="claimsForm.controls['vatPercentage'].hasError('required') &&
                                      claimsForm.controls['vatPercentage'].touched" class="alert-error">
                                {{stringService.getErrorMessage().vatPercentageReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="transactionDate" class="col-form-label form-labels">
                        {{stringService.getfieldLabels().transactionDate}}
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control text-box" (focusout)="valueChange()" formControlName="transactionDate">
                            <div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
                                                    claimsForm.controls['transactionDate'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>
                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>




                <!-- Vat Percentage and TransactionDate starts-->
                <!--<div class="row " style="padding-bottom:5px" *ngIf="showFields">
                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="vatPercentage" class="col-form-label form-labels">
                        {{stringService.getfieldLabels().vatPercentage}}
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="number" class="form-control" formControlName="vatPercentage">
                    <div *ngIf="claimsForm.controls['vatPercentage'].hasError('required') &&
                                                        claimsForm.controls['vatPercentage'].touched" class="alert-error">
                        {{stringService.getErrorMessage().vatPercentageReq}}
                    </div>
                </div>

                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div2">
                    <label for="transactionDate" class="col-form-label form-labels">
                        {{stringService.getfieldLabels().transactionDate}}
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="date" class="form-control" formControlName="transactionDate">
                    <div *ngIf="claimsForm.controls['transactionDate'].hasError('required') &&
                                                claimsForm.controls['transactionDate'].touched" class="alert-error">
                        {{stringService.getErrorMessage().transactionDateReq}}
                    </div>
                </div>
            </div>-->
                <!-- Vat Percentage and TransactionDate ends-->


            </form>

        </md-card>
        <!--    ******************   END OF TRANSACTION INFO FORM   *************************   -->





        <!--    *********************   BRAND INFO FORM   *************************   -->
        <md-card id="" class="margin-20 margin-custom box-shadow">
            <md-card-subtitle id="inner-title" class="mp-header-title"> Brand Information</md-card-subtitle>

            <form [formGroup]="brandsForm">


                <div class="row ac-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">

                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>

                <!--BRANDS START-->

                <div class="row ac-text">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="brandName" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().brandName}}
                    	<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7 ac-drop" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box" id="brandName" formControlName="brandName" (change)="onBrandSelected(brandsForm.value.brandName)">
                        <option cl value=""> Select Brand </option>
                         <option class="ac-fonts" *ngFor = "let brand of brandsArray" value="{{brand.brandName}}">
                         	{{brand.brandName}}
                         </option>
                    </select>
                            <div *ngIf="brandsForm.controls['brandName'].hasError('required') &&
	                            brandsForm.controls['brandName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().brandNameReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>


                <!--
            <div class="row " style="padding-bottom:5px">
                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">

                    <label for="brandName" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().brandName}}
                    	<span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <select class="form-control ac-fonts" id="brandName" formControlName="brandName" (change)="onBrandSelected(brandsForm.value.brandName)">
                        <option cl value=""> Select Brand </option>
                         <option class="ac-fonts" *ngFor = "let brand of brandsArray" value="{{brand.brandName}}">
                         	{{brand.brandName}}
                         </option>
                    </select>
                    <div *ngIf="brandsForm.controls['brandName'].hasError('required') &&
	                            brandsForm.controls['brandName'].touched" class="alert-error">
                        {{stringService.getErrorMessage().brandNameReq}}
                    </div>
                </div>

               
            </div>-->




                <!--BRANDS Ends-->

                <!--Packaging Unit & Quantity START-->
                <div class="row ac-text" style="margin-top:10px;">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="packagingUnit" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().packagingUnit}}
                    	<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7 ac-drop" style="border:0px solid blue;">
                            <select class="form-control ac-fonts text-box" id="packagingUnit" formControlName="packagingUnit">
                        <option cl value=""> Select packaging Unit </option>
 						<option class="ac-fonts" *ngFor = "let packagingUnit of packagingUnitsArray" value="{{packagingUnit.packagingName}}">{{packagingUnit.packagingName}}</option>
 					</select>
                            <div *ngIf="brandsForm.controls['packagingUnit'].hasError('required') &&
	                            brandsForm.controls['packagingUnit'].touched" class="alert-error">
                                {{stringService.getErrorMessage().packagingUnitReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">

                            <label for="quantity" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().quantity}}
						<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7">
                            <input type="number" class="form-control text-box" min="0" value="0" formControlName="quantity" (change)="calculateTotal()">
                            <div *ngIf="brandsForm.controls['quantity'].hasError('required') &&
	                            brandsForm.controls['quantity'].touched" class="alert-error">
                                {{stringService.getErrorMessage().quantityReq}}
                            </div>
                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>




                <!--Discount & MRP START-->

                <div class="row ac-text" style="margin-top:10px;" *ngIf="showFields">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="discount" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().discount}}
                    	<span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="number" class="form-control text-box" min="0" value="0" formControlName="discount" (change)="calculateTotal()">
                            <div *ngIf="brandsForm.controls['discount'].hasError('required') &&
	                            brandsForm.controls['discount'].touched" class="alert-error">
                                {{stringService.getErrorMessage().discountReq}}
                            </div>
                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">
                            <label for="mrp" class="col-form-label form-labels">
                    	{{stringService.getfieldLabels().mrp}}
						<span class = "mandatory" >*</span>
                    </label>

                        </div>
                        <div class="col-md-7">
                            <input type="number" class="form-control text-box" min="0" value="0" formControlName="MRP" (change)="calculateTotal()">
                            <div *ngIf="brandsForm.controls['MRP'].hasError('required') &&
	                            brandsForm.controls['MRP'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mrpReq}}
                            </div>
                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>

                <!--Total START-->

                <div class="row ac-text" style="margin-top:10px;" *ngIf="showFields">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <label for="totalPrice" class="col-form-label form-labels">
                        <!--{{stringService.getfieldLabels().vatPercentage}}-->Total
                        <span class = "mandatory" >*</span>
                    </label>
                        </div>
                        <div class="col-md-7" style="border:0px solid blue;">
                            <input type="text" class="form-control text-box" style="background:white !important" formControlName="totalPrice" readonly>
                            <div *ngIf="brandsForm.controls['totalPrice'].hasError('required') &&
                                                                brandsForm.controls['totalPrice'].touched" class="alert-error">
                                <!--{{stringService.getErrorMessage().vatPercentageReq}}-->
                            </div>
                        </div>
                        <div class="col-md-1 text-center">

                        </div>
                    </div>
                    <div class="col-md-6 row" style="border:0px solid blue;">
                        <div class="col-md-4">


                        </div>
                        <div class="col-md-7">

                        </div>

                        <div class="col-md-1">

                        </div>
                    </div>
                </div>



                <!--<div class="row " style="padding-bottom:5px" *ngIf="showFields">
             

                <div class="col-lg-2 col-md-1 col-sm-2 col-xs-12 label-div">
                    <label for="total" class="col-form-label form-labels">
                        Total
                        <span class = "mandatory" >*</span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" formControlName="total" readonly>
                    <div *ngIf="brandsForm.controls['total'].hasError('required') &&
                                                                brandsForm.controls['total'].touched" class="alert-error">
                    </div>
                </div>
            </div>-->

                <!--Total Ends-->
            </form>
            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" style="padding-top:4px !important; margin-top:10px !important" [disabled]="!brandsForm.valid" (click)="onAddBrandClick()">ADD BRAND</button>

        </md-card>
        <!--    *******************   END OF BRAND INFO FORM   *************************   -->




        <!--    *********************   ADDED BRANDS TABLE   *************************   -->
        <md-card class="margin-20 margin-custom box-shadow">
            <table class="table table-striped table-text">
                <thead>
                    <tr>
                        <th class="ac-fonts">{{stringService.getfieldLabels().brandName}}</th>
                        <th class="ac-fonts">{{stringService.getfieldLabels().packagingUnit}}</th>
                        <th class="ac-fonts">{{stringService.getfieldLabels().quantity}}</th>
                        <th class="ac-fonts" *ngIf="showFields">{{stringService.getfieldLabels().discount}}</th>
                        <th class="ac-fonts" *ngIf="showFields">{{stringService.getfieldLabels().mrp}}</th>
                        <th class="ac-fonts" *ngIf="showFields">Total</th>
                        <th class="ac-fonts">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let brand of brandDetailsArray; let i = index;">
                        <td>{{brand.brandName}}</td>
                        <!--<td>{{brand.sku}}</td>-->
                        <td>{{brand.packagingUnit}}</td>
                        <td>{{brand.quantity}}</td>
                        <td *ngIf="showFields">{{brand.discount}}</td>
                        <td *ngIf="showFields">{{brand.MRP}}</td>
                        <!--<td *ngIf="showFields">{{brand.vatPercentage}}</td>-->
                        <td *ngIf="showFields">{{brand.totalPrice}}</td>
                        <td (click)="onRemoveBrandClick(i)">Delete</td>
                    </tr>
                </tbody>
            </table>
        </md-card>
        <!--    *********************   END OF ADDED BRANDS TABLE   ********************   -->





        <!--    *********************   ADD CLAIMS BUTTONS   *************************   -->
        <div class="button-div" style="padding:0px 0px 0px 15px">
            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" [disabled]="!(claimsForm.valid && brandDetailsArray.length>0)" (click)="onAddClaimsFormClick()">ADD CLAIM</button>
            <button [style.background-color]="clientColor" type="button" class="btn red text-box" style="margin-left:1em" (click)="onResetClaimsFormClick()">RESET</button>
        </div>
        <!--    *********************   END OF ADD CLAIMS BUTTONS   ********************   -->


    </div>
    <client-footer></client-footer>
    <app-footer>

    </app-footer>