/*****************************MY CLAIMS CSS************************/


/***********************Fonts*****************************************/

#myclaims-title {
    font-family: HelveticaLTSEX;
    font-size: 1.125em;
    letter-spacing: 0px;
    padding: 0;
}

#myclaims-viewclaim-title {
    margin-right: 0px;
    padding-right: 0 !important;
    width: 20% !important;
    font-family: HelveticaLTSEX;
    font-size: 0.813em;
}

.timeline-fonts {
    font-family: HelveticaNeueLight;
    font-size: 1.3em;
    padding-left: 0;
}

label {
    font-size: 1em !important;
}


/********************************************************************/

#claims-container {
    padding: 20px;
    background-color: #ebf0f1;
    min-height: 100vh;
    height: auto;
}

#myclaims-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    /*padding: 5px;*/
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-left: 0;
}


/************************************************* Need to check later  *********************************************************/

.myclaims-page-select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#myclaims-filters-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#myclaims-pagination {
    display: inline;
    border-right: 0.5px solid;
    padding: 5px;
}

#myclaims-show {
    display: inline;
    padding-left: 1.5em;
}

#myclaims-filters-control2 {
    margin-left: 30%;
    padding: 0;
}

.myclaims-next {
    padding-right: 20px;
}

#myclaims-table-head {
    background-color: #E5E5E5;
    font-family: HelveticaNeueLight;
}

.myclaims-header-font {
    font-family: HelveticaLight;
    font-size: 1.0em;
    letter-spacing: 0;
    vertical-align: inherit;
    height: 2.78em
}

td {
    /*padding: 12px !important;*/
    border: 0 !important;
    height: 2.375em;
    vertical-align: inherit;
}

tbody>tr:nth-child(even) {
    background-color: #f3f3f3;
    font-size: 0.9em;
    color: #454445;
    letter-spacing: 0.054em;
    height: 3.45em;
}

tbody>tr:nth-child(odd) {
    background-color: #ffffff;
    font-size: 0.9em;
    color: #454445;
    letter-spacing: 0.054em;
    height: 3.45em;
}

table>tbody>tr>td {
    height: 2.923em;
}

tbody>tr {
    height: 3.45em;
}

.tr-height {
    height: 2.375em !important;
}

.myclaims-card {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 1px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fff;
    color: #000;
    margin-top: 1em;
}

.mc-margin {
    margin-top: 1em;
}

.mc-status {
    margin-left: 2.625em !important;
}

.myclaims-dropdown {
    background-color: white;
    /*width: 100%;
  height: 34px;*/
    height: 2.188em;
    width: 120.76%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 1px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.myclaims-dropdown a:hover {
    background-color: #d44434;
    color: white;
    text-align: center;
}

.myclaims-dropdown:hover .myclaims-dropdown-content {
    display: block;
}

.myclaims-dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: white;
    min-width: 110%;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.myclaims-view-dropdown {
    padding: 8px;
    color: black;
}

.myclaims-view-dropdown:hover {
    color: white;
    background-color: #333333;
    cursor: pointer;
}

#myclaims-viewclaim-status {
    margin-right: 0px;
    padding-right: 0 !important;
    width: 10% !important;
    font-family: HelveticaNeueTT;
    letter-spacing: 0.5px;
    font-size: 0.9em;
}

#myclaims-viewclaim-duration-filter {
    margin-left: 0 !important;
    padding-left: 0 !important;
    font-family: HelveticaNeueRegular;
    font-size: 0.9em;
}

.myclaims-navi {
    background-color: #333;
    border: none;
    color: white;
    /* font-style: oblique; */
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* padding-top: 4px; */
    /* padding-bottom: 5px; */
    height: 1.5em;
    border-radius: 3px;
}

.pending {
    color: #ffff33;
}

.approved {
    color: #7EDE62;
}

.rejected {
    color: #FF4C60;
}

.invoice-title {
    height: 5vh;
    ;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
    /* NEW*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    /*width: 100%;*/
    /*height: 23px;*/
    /*background-color: black;*/
    /*margin: -24px;*/
    /*color: white;*/
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*Endd New*/
}


/**************************************************   need to ceck later  ********************************************************/

.title-text {
    padding: 8px;
    color: white;
    font-family: "HelveticaNeue";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.invoice-icon {
    background: white;
}

.invoice-claims {
    margin-top: 20px;
    border-top: none;
}

.table-imp {
    width: 350px;
}

.row-spacing {
    padding: 8px;
}

.borderless td,
.borderless th {
    border: none;
    padding: 5px !important;
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
}

.invoice-footer {
    height: 35px;
    ;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.text {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    /*width: 100%;*/
    height: 23px;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.invoice-content {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#footer {
    position: relative;
    bottom: 0;
    /*width: 100%;*/
    background-color: #E5E5E5;
    margin: -24px;
    height: 6.8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.closebtn {
    background-color: #333333;
    margin-right: 20px;
}

.invoice-sku {
    margin-top: 15px;
}

.lc-hand {
    cursor: pointer;
}

.mc-black {
    color: black !important;
}

.mc-fonts {
    font-family: MyriadRegular;
    font-size: 19px;
}

.mc-font-light {
    font-family: HelveticaNeueTT;
    font-size: 0.813em;
}

.mc-number {
    font-family: HelveticaNeueLight;
    font-weight: 900;
}

#mc-em {
    font-size: 1.4em;
}

label {
    font-family: HelveticaNeueTT;
    font-size: 0.8em !important;
    color: #666666;
    font-weight: 100 !important;
    padding-top: 8px;
}


/*input {
  font-family: HelveticaLTSEX;
  font-size: 10px !important;
  font-style: oblique;
  width: 100%;
  padding: 12px 20px;
}*/

.ac-fonts {
    font-family: Arial, Helvetica, sans-serif;
}

.ac-header-title {
    font-family: HelveticaLTSEX;
    font-size: 1.1em;
    color: black;
}

button:focus {
    color: white;
}

.text-box {
    height: 35px !important;
    border-radius: 1px !important;
}

.ac-drop>select {
    font-family: HelveticaNeueTT !important;
    font-size: 0.8em !important;
    /*font-style: oblique !important;*/
    width: 100% !important;
    /*padding: 12px 20px !important;*/
}

input {
    font-family: HelveticaNeueTT !important;
    font-size: 0.8em !important;
    /*font-style: oblique !important;*/
    width: 100% !important;
    padding: 12px 20px;
}

.custom-file {
    padding: 4px 20px !important;
}

.ac-text {
    padding: 5px;
}

.be-text {
    padding: 8px;
}

.body-text-header {
    font-family: HelveticaLTSEX;
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #333333;
}

.mp-header-title {
    font-family: HelveticaNeueTT;
    font-size: 1.3em;
    color: black;
    letter-spacing: 1px;
}

.or-custom {
    font-family: HelveticaNeueTT !important;
    font-size: 1em !important;
    color: darkslategrey !important;
    padding-top: 5px;
}

.margin-custom {
    margin: 2em 1em !important;
}

.table-text {
    font-family: HelveticaNeueTT !important;
    /*letter-spacing: 0.5px !important;*/
    font-size: 0.9em !important;
    /*font-weight: bold !important;*/
}


/*******************CHANNELS CSS*****************************/

.ch-pad {
    padding: 0;
}

.ch-back-navi {
    font-size: 0.6em;
    text-decoration: underline;
    padding-top: 0.5em;
    margin-bottom: 1em;
    color: #498da7;
    cursor: pointer;
}

.claims-thead {
    background-color: #e5e5e5;
    font-size: 0.813em !important;
    letter-spacing: 0.7px;
    color: black;
    font-family: HelveticaNeue!important;
    font-weight: 300;
}

.claims-thead th {
    height: 3.500em;
    text-align: center;
    vertical-align: middle;
    font-family: HelveticaNeue-BoldLight !important;
    font-weight: 300 !important;
}

.tbody-font {
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
}