/*****************************MY CLAIMS CSS************************/


/*********************Fonts*******************************************/

.invoice-td-title {
    font-family: HelveticaNeueLight;
    font-size: 1em;
    width: 150px;
    color: #666666;
    background-color: white;
}

.invoice-td-content {
    font-family: HelveticaNeueTT;
    width: 250px;
    color: #414141;
    background-color: white;
    padding: 1px;
    font-size: 1em;
}

.cd-download {
    font-size: 0.9em;
    color: #337ab7;
}

.title-text {
    padding: 0.5em;
    color: white;
    font-family: HelveticaLTSEX;
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}


/********************************************************************/

table {
    margin-bottom: 10px !important;
}

#claims-container {
    padding: 20px;
    background-color: #ebf0f1;
    height: 85vh;
}

#myclaims-title {
    margin-bottom: 10px;
}

#myclaims-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 5px;
}

.myclaims-page-select {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#myclaims-filters-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#myclaims-pagination {
    display: inline;
    border-right: 0.5px solid;
    padding: 5px;
}

#myclaims-show {
    display: inline;
    padding-left: 40px;
}

#myclaims-filters-control2 {
    margin-left: 30%;
}

.myclaims-next {
    padding-right: 20px;
}

#myclaims-table-head {
    background-color: #E5E5E5;
}

.myclaims-header-font {
    padding: 10px;
    font-family: HelveticaLight;
}

td {
    padding: 10px !important;
    border: 0 !important;
}

.myclaims-card {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 2px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fff;
    color: #000;
}

.myclaims-dropdown {
    background-color: white;
    width: 100%;
    height: 34px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 1px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.myclaims-dropdown a:hover {
    background-color: #d44434;
    color: white;
    text-align: center;
}

.myclaims-dropdown:hover .myclaims-dropdown-content {
    display: block;
}

.myclaims-dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.myclaims-view-dropdown {
    padding: 8px;
    color: black;
}

.myclaims-view-dropdown:hover {
    color: white;
    background-color: #333333;
    cursor: pointer;
}

#myclaims-viewclaim-title {
    margin-right: 0px;
    padding-right: 0 !important;
    width: 20% !important;
    font-family: "HelveticaLight";
}

#myclaims-viewclaim-status {
    margin-right: 0px;
    padding-right: 0 !important;
    width: 10% !important;
    font-family: "HelveticaLight";
    letter-spacing: 0.5px;
}

#myclaims-viewclaim-duration-filter {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.myclaims-navi {
    background-color: #333;
    border: none;
    color: white;
    font-style: oblique;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 3px;
}

.pending {
    color: #ffff33;
}

.approved {
    color: #7EDE62;
}

.rejected {
    color: #FF4C60;
}

.invoice-title {
    height: 7vh;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
}

.invoice-icon {
    background: white;
}

.invoice-claims {
    margin-top: 20px;
    border-top: none;
}

.table-imp {
    width: 350px;
}

.borderless td,
.borderless th {
    border: none;
    padding: 5px !important;
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
}

.invoice-footer {
    height: 35px;
    ;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.text {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    /*width: 100%;*/
    height: 23px;
    background-color: black;
    margin: -24px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.invoice-content {
    height: 76vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#footer {
    position: relative;
    bottom: 0;
    /*width: 100%;*/
    background-color: #E5E5E5;
    margin: -24px;
    height: 6.1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.closebtn {
    background-color: #333333;
    margin-right: 20px;
}

.invoice-sku {
    margin-top: 0.9em;
    margin-bottom: 1em;
    font-family: HelveticaLTSEX;
}

.lc-hand {
    cursor: pointer;
}

.mc-black {
    color: black !important;
}

.tr-items {
    font-family: HelveticaNeueLight;
    font-size: 15px;
    padding: 15px;
}

.tr-details {
    padding: 0.5em;
    background-color: #E5E5E5;
    font-family: HelveticaNeueTT;
    color: black;
    font-size: 0.9em;
}

tbody>tr:nth-child(even) {
    background-color: #f3f3f3;
    font-size: 0.9em;
}

tbody>tr:nth-child(odd) {
    background-color: #ffffff;
    font-size: 0.9em;
}

.btn:focus {
    color: white;
}

.comments {
    font-family: HelveticaNeueLight;
    font-size: 1em;
    color: #666666;
    background-color: white;
    margin-top: 0.5em;
    padding-bottom: 1em;
}


/*-------------------------------Approve Pop up Css Start----------------------------------------------*/

.ch-label {
    font-family: HelveticaNeueTT !important;
    font-size: 1em !important;
    color: #666666;
    font-weight: 100 !important;
    margin-bottom: 0.5em;
}

.ch-details {
    font-family: HelveticaNeueTT !important;
    font-size: 1em !important;
    color: black;
    font-weight: 100 !important;
    margin-bottom: 0.5em;
}

.ch-pad {
    padding: 0;
}

.ac-box {
    border: 1px solid #d1d1d1;
    padding: 10px;
    margin-top: 15px;
}

.ch-page-title {
    font-family: HelveticaLTSEX;
    font-size: 1.125em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #333333;
    margin-bottom: 1em;
}

.ch-thead {
    background-color: #E5E5E5;
}

.ch-tr {
    height: 3.3em;
}

.ch-tr>th {
    font-family: HelveticaLight !important;
    font-size: 1.0em;
    letter-spacing: 0;
    vertical-align: inherit;
    height: 2.78em;
    width: 5% !important;
}

tbody>tr:nth-child(even) {
    background-color: #f3f3f3;
    font-size: 0.9em;
    color: #454445;
    letter-spacing: 0.054em;
    height: 3.45em;
}

tbody>tr:nth-child(odd) {
    background-color: #ffffff;
    font-size: 0.9em;
    color: #454445;
    letter-spacing: 0.054em;
    height: 3.45em;
}

.td-underline {
    text-decoration: underline;
}


/*-------------------------------Approve Pop up Css Ends----------------------------------------------*/

.ch-add-flex {
    display: flex;
    align-items: baseline;
}

.ch-form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ch-form-control:disabled {
    background-color: #dfdfdf;
}

.ch-itemarray {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5em;
}

.ch-mandatory {
    font-size: 0.8em;
    color: red;
}

fieldset {
    all: unset !important;
}

.claims-thead {
    background-color: #e5e5e5;
    font-size: 0.813em !important;
    letter-spacing: 0.7px;
    color: black;
    font-family: HelveticaNeue!important;
    font-weight: 300;
}

.claims-thead th {
    height: 3.500em;
    text-align: center;
    vertical-align: middle;
    font-family: HelveticaNeue-BoldLight !important;
    font-weight: 300 !important;
}

.codeTable {
    width: 50% !important;
    /* padding-left: 30px; */
    /* padding-top: 15px; */
    margin-top: 1em;
}

.ch-code {
    display: flex;
    align-items: baseline;
}

.tbody-font {
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
    color: #000000;
}

.text-box {
    height: 35px !important;
    border-radius: 1px !important;
}