<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>

<!--invoice value product start-->
<div class="invoice-title wrapper">
    <div class="row title-text">
        <div class="col-lg-4 col-md-3 col-sm-5 col-xs-7 ac-fonts"> Invoice no : {{invoiceInfo.invoiceNumber}} </div>
        <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-8  col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-3"> <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i> </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box">
    <div class="col-md-12 col-lg-12 ch-page-title ch-pad"> Invoice and Retailer Information </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label">Claim Date: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.transactionDate |date }} </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> Retailer name: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.creditPartyInfo.userDetails.userName }} </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> City/State: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.creditPartyInfo.userDetails.city }},{{invoiceInfo.creditPartyInfo.userDetails.state }}</div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> Mobile no: </div>
                <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.creditPartyInfo.userDetails.mobileNumber }} </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> Status: </div>
                <div class="col-md-8 ch-pad ch-details text-capitalize"> {{invoiceInfo.approvalStatus }} </div>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad" *ngIf="invoiceInfo.pointsEarned">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> {{configService.getTerminology()}} Earned: </div>
                <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.pointsEarned}} </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <a href="{{invoiceInfo.invoiceDocument}}" class="cd-download" (click)="download()" download> {{stringService.getfieldLabels().downloadHardCopy}}</a>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> </div>
                <div class="col-md-8 ch-pad ch-details"> </div>
            </div>
        </div>

    </div>
</div>



<fieldset [disabled]="isApproved || isRejected ">
    <fieldset [disabled]="canApprove">
        <form [formGroup]="invoiceForm">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box">
                <div class="col-md-12 col-lg-12 ch-page-title ch-pad"> Code Details </div>
                <div class="col-md-12">
                    <div class="col-md-12 row ch-code">
                        <div class="col-md-2  ch-pad ch-label">
                            <!--<label for="uniqueCode" class="col-form-label form-labels">
                                Add Coupon Code-->
                            <!--{{stringService.getfieldLabels().uniqueCode}}-->
                            <!--<span class = "mandatory" >*</span>
                        </label>-->
                            Add Coupon Code:
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control text-box" formControlName="uniqueCode">
                            <div *ngIf="invoiceForm.controls['uniqueCode'].hasError('required') &&
	                            invoiceForm.controls['uniqueCode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().transactionDateReq}}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button [style.background-color]="clientColor" type="button" class="btn gray text-box" (click)="addCode()">
						    Add
                        </button>
                        </div>
                    </div>
                    <div class="row" style="padding:20px; color:red;" *ngIf="invalidCode">
                        This code has already been used or is an invalid code. Please enter a valid code !
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 codeTable row">
                        <div class="table-responsive">

                            <table class="table table-striped table-responsive">
                                <thead class="claims-thead">
                                    <th width="60%">Unique Code</th>
                                    <th width="40%">Action</th>
                                </thead>
                                <tbody class="tbody-font">
                                    <tr *ngFor="let code of finalUniqueCodeArr; let codeIndex = index;">
                                        <td width="60%">{{code}}</td>
                                        <td width="40%"> <button [style.background-color]="clientColor" type="button" class="btn gray text-box" (click)="deleteCode(codeIndex)"> Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box">
                <div class="col-md-12 col-lg-12 ch-pad">
                    <div class="col-md-1 col-lg-1 ch-page-title ch-pad"> Comment </div>
                    <div class="col-md-7 col-lg-7  ch-pad"> <textarea formControlName="reasonForRejection" class="form-control" rows="2" id="comment"></textarea> </div>
                </div>
            </div>

        </form>
    </fieldset>
</fieldset>

<div class="col-md-12 col-lg-12 ch-button-bar" style="margin-top:1em;">
    <div class="col-md-8">
        <button [style.background-color]="clientColor" type="button" [disabled]="!invoiceForm.valid || isApproved || isRejected" (click)="approveClick()" class="btn gray text-box">Approve </button>
        <button [style.background-color]="clientColor" type="button" [disabled]="isRejected|| isApproved" class="btn red text-box" style="margin-left:1em" (click)="rejectClick()">Reject</button>
    </div>

    <div class="col-md-4"> <button [style.background-color]="clientColor" type="button" class="btn red text-box" style="margin-left:1em" (click)="closeInvoice();">Cancel</button> </div>
</div>