<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>

<!--invoice value product start-->
<div class="invoice-title wrapper">
    <div class="row title-text">
        <div class="col-lg-4 col-md-3 col-sm-5 col-xs-7 ac-fonts"> Invoice no : {{invoiceInfo.invoiceNumber}} </div>
        <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-8  col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-3"> <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i> </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box">
    <div class="col-md-12 col-lg-12 ch-page-title ch-pad"> Invoice and Retailer Information </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> Invoice Number: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.invoiceNumber}} </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label">Claim Date: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.transactionDate |date }} </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> Invoice Amount: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.invoiceAmount }} </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> Retailer name: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.creditPartyInfo.userDetails.userName }} </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> Invoice Amount excluding VAT : </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.invoiceAmountExcludingVAT }} </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
            <div class="col-md-4 ch-pad ch-label"> City/State: </div>
            <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.creditPartyInfo.userDetails.city }},{{invoiceInfo.creditPartyInfo.userDetails.state }}</div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> VAT Percentage </div>
                <div class="col-md-8 ch-pad ch-details">{{invoiceInfo.vatPercentage }} % </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> Mobile no: </div>
                <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.creditPartyInfo.userDetails.mobileNumber }} </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> Status: </div>
                <div class="col-md-8 ch-pad ch-details text-capitalize"> {{invoiceInfo.approvalStatus }} </div>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad" *ngIf="isPaymentQualificationSet">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label">Payment Status: </div>
                <div class="col-md-8 ch-pad ch-details text-capitalize"> {{paymentStatus }} </div>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad" *ngIf="invoiceInfo.pointsEarned">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> {{configService.getTerminology()}} Earned: </div>
                <div class="col-md-8 ch-pad ch-details"> {{invoiceInfo.pointsEarned}} </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ch-pad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <a href="{{invoiceInfo.invoiceDocument}}" class="cd-download" (click)="download()" download> {{stringService.getfieldLabels().downloadHardCopy}}</a>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ch-pad">
                <div class="col-md-4 ch-pad ch-label"> </div>
                <div class="col-md-8 ch-pad ch-details"> </div>
            </div>
        </div>

    </div>
</div>



<fieldset [disabled]="isApproved || isRejected || isReturned">
    <!-- <fieldset [disabled]="isApproved || isRejected"> -->
    <fieldset [disabled]="canApprove">
        <form [formGroup]="invoiceForm">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box" *ngIf="isProduct">
                <div class="col-md-2 col-lg-2 ch-page-title ch-pad"> Product Details </div>
                <div class="col-md-12 col-lg-12 ch-page-title ch-pad ">
                    <div *ngIf="isProduct" class="ch-mandatory" formArrayName="purchaseDetails" style="padding:0px;">
                        <div *ngFor="let product of invoiceForm.controls.purchaseDetails.controls; let i=index;">
                            <div class="col-md-12 col-lg-12 ch-pad">
                                <div class="ch-itemarray" [formGroupName]="i">
                                    <div class="col-md-10 col-lg-10 ch-pad">
                                        <div class="form-group  ch-pad">
                                            <div class="col-md-2 ch-pad"> <label *ngIf="i<=0" for="productName" class="ch-pad ch-label">
                                        Product Name 
                                </label>

                                                <input *ngIf="showSearchField[i]" type="text" class="ch-form-control" id="productName" formControlName="productName" [ngbTypeahead]="searchProduct" [inputFormatter]="productNameInputFormatter" [resultFormatter]="productNameResultFormatter" (click)="indexSet(i)"
                                                />
                                                <input *ngIf="!showSearchField[i]" type="text" class="ch-form-control" id="productName" formControlName="productName" (click)="showSearch(i)" />

                                                <span *ngIf="searchingProduct">searching...</span>


                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['productName'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['productName'].touched" class=""> {{stringService.getErrorMessage().mandatoryField}} </div>

                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['productName'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['productName'].touched" class=""> {{stringService.getErrorMessage().patternAlphaNum}} </div>
                                            </div>
                                            <div class="col-md-2 "> <label *ngIf="i<=0" for="packagingUnitId" class="ch-label">Packaging Units 
                                    </label>

                                                <div class="ch-mandatory"> <select class="ch-form-control" formControlName="packagingUnitId" (change)="setPackagingName(i,this.invoiceForm['controls']['purchaseDetails']['controls'][i].value.packagingUnitId)">
                                            <option value="" >---Select---</option>
                                            <option *ngFor="let pkgUnit of packagingUnitArr[i]" [value]="pkgUnit.packagingId">{{pkgUnit.packagingName}}</option> 
                                        </select>


                                                    <input class="ch-form-control" type="hidden" value="" id="packagingUnit" formControlName="packagingUnit">
                                                    <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['packagingUnitId'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['packagingUnitId'].touched" class="mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                                </div>


                                            </div>
                                            <div class="col-md-1"> <label *ngIf="i<=0 " for="quantity" class="ch-label">Quantity
                                    </label>
                                                <div class="mandatory"> <input class="ch-form-control" type="number" id="quantity" value="0" formControlName="quantity" min="0" (click)="indexSet(i)" (change)="calcPrice(i)">
                                                    <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['quantity'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['quantity'].touched" class="mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                                </div>
                                            </div>
                                            <div *ngIf="isValue" class="col-md-2"> <label *ngIf="i<=0 " for="MRP" class="ch-label">MRP</label> <input class="ch-form-control" type="number" id="MRP" formControlName="MRP" value="0" (click)="indexSet(i)" (change)="calcPrice(i)">
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['MRP'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['MRP'].touched" class="mandatory">
                                                    {{stringService.getErrorMessage().mandatoryField}} </div>
                                            </div>
                                            <div *ngIf="isValue" class="col-md-1"> <label *ngIf="i<=0 " for="discount" class="ch-label">Discount 
                                    </label> <input class="ch-form-control" type="number" id="discount" formControlName="discount" value="0" (click)="indexSet(i)" (change)="calcPrice(i)">
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['discount'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['discount'].touched" class="mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                            </div>
                                            <div *ngIf="isValue" class="col-md-2"> <label *ngIf="i<=0" for="totalPrice" class="ch-label">Total Price
                                    </label> <input readonly class="ch-form-control" type="number" id="totalPrice" formControlName="totalPrice" min="0">
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['totalPrice'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['totalPrice'].touched" class="mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="col-md-1" *ngIf="invoiceForm.controls.purchaseDetails.controls.length > 1 && i>0">
                                                    <!--<button  (click)="removeFormClick(i)">Remove</button>--><label *ngIf="i<=0 " for="totalPrice" class="ch-label">
                                    </label> <button [style.background-color]="clientColor" type="button" class="btn gray text-box" (click)="removeFormClick(i)">Remove</button> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" *ngIf="i<=0"> <button [style.background-color]="clientColor" type="button" class="btn red text-box" (click)="addFormClick()">Add Product</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box" *ngIf="!isProduct">
                <div class="col-md-2 col-lg-2 ch-page-title ch-pad"> Brand Details </div>
                <div class="col-md-12 col-lg-12 ch-page-title ch-pad ">
                    <div *ngIf="!isProduct" class="mandatory" formArrayName="purchaseDetails" style="padding:0px;">
                        <div *ngFor="let product of invoiceForm.controls.purchaseDetails.controls; let i=index;">
                            <div class="col-md-12 col-lg-12 ch-pad">
                                <div class="ch-itemarray" [formGroupName]="i">
                                    <div class="col-md-10 col-lg-10 ch-pad">
                                        <div class="form-group  ch-pad">
                                            <div class="col-md-2 ch-pad"> <label *ngIf="i<=0" for="brandName" class="ch-pad ch-label">
                                        Brand Name
                                </label> <input class="ch-form-control" type="hidden" value="" id="brandId" formControlName="brandId">
                                                <input *ngIf="showSearchField[i]" type="text" class="ch-form-control" id="brandName" formControlName="brandName" [ngbTypeahead]="searchBrand" [inputFormatter]="brandNameInputFormatter" [resultFormatter]="brandNameResultFormatter" (click)="indexSet(i)"
                                                />





                                                <input *ngIf="!showSearchField[i]" type="text" class="ch-form-control" id="brandName" formControlName="brandName" (click)="showSearch(i)" /> <span *ngIf="searchingProduct">searching...</span>
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['brandName'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['brandName'].touched" class=""> {{stringService.getErrorMessage().mandatoryField}} </div>
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['brandName'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['brandName'].touched" class=""> {{stringService.getErrorMessage().patternAlphaNum}} </div>
                                            </div>
                                            <div class="col-md-2 "> <label *ngIf="i<=0" for="packagingUnitId" class="ch-label">Packaging Units 
                                    </label>
                                                <div class="ch-mandatory"> <select class="ch-form-control" formControlName="packagingUnitId" (change)="setPackagingName(i,this.invoiceForm['controls']['purchaseDetails']['controls'][i].value.packagingUnitId)">
                                            <option value="" >---Select---</option>
                                            <option *ngFor="let pkgUnit of packagingUnitArr[i]" [value]="pkgUnit.packagingId">{{pkgUnit.packagingName}}</option> 
                                        </select> <input class="ch-form-control" type="hidden" value="" id="packagingUnit" formControlName="packagingUnit">
                                                    <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['packagingUnitId'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['packagingUnitId'].touched" class="ch-mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"> <label *ngIf="i<=0 " for="quantity" class="ch-label">Quantity
                                    </label>
                                                <div class="ch-mandatory"> <input class="ch-form-control" type="number" id="quantity" value="0" formControlName="quantity" min="0" (click)="indexSet(i)" (change)="calcPrice(i)">
                                                    <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['quantity'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['quantity'].touched" class="ch-mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                                </div>
                                            </div>
                                            <div *ngIf="isValue" class="col-md-2"> <label *ngIf="i<=0 " for="MRP" class="ch-label">MRP</label> <input class="ch-form-control" type="number" id="MRP" formControlName="MRP" value="0" (click)="indexSet(i)" (change)="calcPrice(i)">
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['MRP'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['MRP'].touched" class="ch-mandatory">
                                                    {{stringService.getErrorMessage().mandatoryField}} </div>
                                            </div>
                                            <div *ngIf="isValue" class="col-md-1"> <label *ngIf="i<=0 " for="discount" class="ch-label">Discount 
                                    </label> <input class="ch-form-control" type="number" id="discount" formControlName="discount" value="0" (click)="indexSet(i)" (change)="calcPrice(i)">
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['discount'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['discount'].touched" class="ch-mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                            </div>
                                            <div *ngIf="isValue" class="col-md-2"> <label *ngIf="i<=0" for="totalPrice" class="ch-label">Total Price
                                    </label> <input readonly class="ch-form-control" type="number" id="totalPrice" formControlName="totalPrice" min="0">
                                                <div *ngIf="invoiceForm.controls.purchaseDetails.controls[i].controls['totalPrice'].hasError('required') &&
                                            invoiceForm.controls.purchaseDetails.controls[i].controls['totalPrice'].touched" class="ch-mandatory"> {{stringService.getErrorMessage().mandatoryField}} </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="col-md-1" *ngIf="invoiceForm.controls.purchaseDetails.controls.length > 1 && i>0">
                                                    <label *ngIf="i<=0 " for="totalPrice" class="ch-label">
                                    </label> <button [style.background-color]="clientColor" type="button" class="btn gray text-box" (click)="removeFormClick(i)">Remove</button> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" *ngIf="i<=0"> <button [style.background-color]="clientColor" type="button" class="btn red text-box" (click)="addFormClick()">Add Brand</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ch-pad ch-info ac-box">
                <div class="col-md-12 col-lg-12 ch-pad">
                    <div class="col-md-1 col-lg-1 ch-page-title ch-pad"> Comment </div>
                    <div class="col-md-7 col-lg-7  ch-pad"> <textarea formControlName="reasonForRejection" class="form-control" rows="2" id="comment"></textarea> </div>
                </div>
            </div>

        </form>
    </fieldset>
</fieldset>

<div class="col-md-12 col-lg-12 ch-button-bar" style="margin-top:1em;">
    <div class="col-md-8">
        <button [style.background-color]="clientColor" type="button" [disabled]="!invoiceForm.valid || isApproved || isRejected || isReturned" (click)="approveClick()" class="btn gray text-box">Approve </button>
        <button [style.background-color]="clientColor" type="button" [disabled]="isRejected|| isApproved || isReturned" class="btn red text-box" style="margin-left:1em" (click)="rejectClick()">Reject</button>
        <!-- <button [style.background-color]="clientColor" type="button" [disabled]="!invoiceForm.valid || isApproved || isRejected" (click)="approveClick()" class="btn gray text-box">Approve </button>
        <button [style.background-color]="clientColor" type="button" [disabled]="isRejected|| isApproved" class="btn red text-box" style="margin-left:1em" (click)="rejectClick()">Reject</button> -->
    </div>

    <div class="col-md-4"> <button [style.background-color]="clientColor" type="button" class="btn red text-box" style="margin-left:1em" (click)="closeInvoice();">Cancel</button> </div>
</div>