$font-family:Roboto;
.btn-about-jsw {
    background: #eaba00;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    font-family: $font-family;
    font-size: .81em;
    font-weight: bold;
    color: #000;
    vertical-align: center;
    border-radius: 50px;
}

.btn-about-jsw:hover {
    background: #fff;
    padding: .20em 3em;
    transition: all .3s ease 0s;
    font-family: $font-family;
    font-size: .81em;
    font-weight: bold;
    color: #222;
    vertical-align: center;
    border: 2px solid #eaba00;
}

.head {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.5em;
    color: #222;
    letter-spacing: 0;
    text-align: center;
    padding-top: 2em;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.about-description {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.12em;
    color: #222;
    text-align: center;
    padding: 1em 6em;
}

.about-img {
    background: url('https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/Abouts.jpg') no-repeat;
    background-size: cover;
    height: 60vh;

}

.about-box {
    height: 20em;
    background: #fff;
    margin: 10px;
    display: flex;
    align-content: start;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.about-content-box {
    background: #fff;
}

.con-icon {
    width: 180px;
    height: 180px;
}

.aboutCallout-Icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    margin-top: 2em;
}

#jswModal .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 4em 0;
}

.ikon {
    width: 100%;
}

.modal-body {
    padding: 4rem !important;
    //For IE 11
    height: 20%;
}

.modal-header {
    background: #4c6ebb;
    color: #fff;
}

.modal-header .close {
    color: #fff !important;
}
@media screen and (min-width: 300px)and (max-width: 812px) {
    .head
    {
        font-size: 21px;
    }
    .headertext1
    {
        font-size: 23px;
    }
    .about-description
    {
        font-size:17px;
        padding:0px;
    }
    .about-box
    {
        display:flex;
        align-items: center;
        height:auto;
        
    }
    .box
    {
        margin-top:1em;
        margin-bottom: -1em;
    }
    .ikon
    {
        margin-left: 6em;
        width:31%;
        margin-bottom: 1em;
    }
    .mob-text-align
    {
       text-align: center;
    }
    .modal-body
    {
        padding:1rem !important;
        font-size:16px;
    }
    .modal-title
    {
        font-size: 18px;
    }
    .title-text
    {
        font-size: 17px;
    }
    .about-img
    {
        height:36vh;
        margin-top: 44px;
    }
}
//Code for Mobile
@media screen and (min-width:900px) and (max-width:2560px)
{
    .about-content-box
    {
        height:25vh;
        margin-top:-8%;
        
    }
}
.about-box1 {
    background: #fff;
    margin: 10px;
    display: flex;
    align-content: start;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
//Code for mobile ends here
//For IE 11
.modal {
    z-index: 99999;
    padding-top: 10%;
}
