<div class="container-fluid about-img img-fluid">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 about-content-box">
            <p class="head">
                <strong>Dear Partner</strong>
                <br>Welcome to the JSW Privilege Club</p>
            <p class="about-description"> At JSW, we believe in building relationships that stand the test of time. The JSW Privilege Club is designed
                exclusively for a select few to reinforce &amp; build, reliability, trust &amp; a strong bond. We look forward
                to many more brighter tomorrows with you.</p>
        </div>
    </div>
</div>



<div  class="row box" >

    <div class="about-box1">
        <a href="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/JSW_UploadContents/JSW_Brochures/Distributor_brochure.pdf"
            target="_blank" class="btn btn-about-jsw">Download Brochure</a>
    </div>

</div>
<div class="container-fluid">
    <div class="row box">
        <div class="about-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/1.png" class="con-icon">
            </div>
            <p class="about-description">
                <strong>Growing & Nurturing Partnerships</strong>
            </p>
            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal1">Know More</a>
            <br>
        </div>
        <div class="about-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/3.png" class="con-icon">
            </div>
            <p class="about-description">
                <strong>Performance & Growth</strong>
            </p>
            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal2">Know More</a>
            <br>
        </div>
        <div class="about-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/2.png" class="con-icon">
            </div>
            <p class="about-description">
                <strong>Building & Celebrating Bond Beyond Business</strong>
            </p>
            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal3">Know More</a>
            <br>
        </div>
    </div>
    <!-- Modal 1 -->
    <div class="modal fade" id="Modal2" style="z-index:11000;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Performance & Growth</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/b.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Performance Awards:</strong>
                                <br>Leaderboard on performance &amp; acheivements.</p>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/a.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Motivational Training</strong>
                                <br>Training from experts for distributors &amp; their spouses.</p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Close -->
    <!-- Modal 2 -->
    <div class="modal fade" id="Modal1" style="z-index:11000;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">Business Know-How</h4> -->
                    <h4 class="modal-title">Growing & Nurturing Partnerships</h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/d.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Technical Training:</strong>
                                <br>Keeping our team abreast with the latest happenings and technical advancements in the industry
                                through our technical training sessions</p>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/c.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Regular Meets:</strong>
                                <br>Scheduled meets and greet sessions with top brass of JSW to help improve oppurtunities to
                                grow together.
                            </p>
                        </div>
                        <br>
                    </div>

                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Close -->
    <!-- Modal 3 -->
    <div class="modal fade" id="Modal3" style="z-index:11000;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Building & Celebrating Bond Beyond Business</h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/f.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Celebrations &amp; More:</strong>
                                <br> Exciting contests for the distributors &amp; their families. Celebrating all special occasions
                                together.
                            </p>
                        </div>
                        <br>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal Close -->
</div>