<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc"
    class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>



<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc"
    class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/banner.jpg" class="bannerImage" width="100%" />
</div>


<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="container main-div-mob">
    <feedback-message></feedback-message>


    <!-- 	************************* 	BUSINESS ENTITY PROFILE FORM 	************************	-->
    <div class="row">
        <div class="col-md-12 mobile-align-div">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Outlet Information</h6>
                </div>
                <form [formGroup]="businessEntityForm" class="formClass">

                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="businessName" class="col-form-label form-labels input-gap-align"> Outlet Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [readonly]="editBEForm" class="form-control" placeholder="" type="text" formControlName="businessName">

                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['businessName'].hasError('required') &&
                                                            businessEntityForm.controls['businessName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().businessNameReq}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['businessName'].hasError('minlength') &&
                                                            businessEntityForm.controls['businessName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().businessNameMinLength}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['businessName'].hasError('maxlength') &&
                                                            businessEntityForm.controls['businessName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().businessNameMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field" style>
                            <label for="registrationNumber" class="col-form-label form-labels input-gap-align"> Registration Number
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" [readonly]="editBEForm" class="form-control" formControlName="registrationNumber" placeholder=""
                                type="text">
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['registrationNumber'].hasError('required') &&
                                                            businessEntityForm.controls['registrationNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().registrationNumberReq}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="streetAddress" class="col-form-label form-labels input-gap-align"> Street Address
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [readonly]="editBEForm" class="form-control" placeholder="" type="text" formControlName="streetAddress">


                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['streetAddress'].hasError('required') &&
                                        businessEntityForm.controls['streetAddress'].touched" class="alert-error">
                                {{stringService.getErrorMessage().streetAddressReq}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['streetAddress'].hasError('minlength') &&
                                    businessEntityForm.controls['streetAddress'].touched" class="alert-error">
                                {{stringService.getErrorMessage().streetAddressMinLength}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['streetAddress'].hasError('maxlength') &&
                                        businessEntityForm.controls['streetAddress'].touched" class="alert-error">
                                {{stringService.getErrorMessage().streetAddressMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="area" class="col-form-label form-labels input-gap-align">Area
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" [disabled]="editBEUserForm" class="form-control" formControlName="area" placeholder=""
                                type="text">
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['area'].hasError('required') &&
                                                businessEntityForm.controls['area'].touched" class="alert-error">
                                {{stringService.getErrorMessage().areaReq}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['area'].hasError('minlength') &&
                                                businessEntityForm.controls['area'].touched" class="alert-error">
                                {{stringService.getErrorMessage().areaMinLength}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['area'].hasError('maxlength') &&
                                                businessEntityForm.controls['area'].touched" class="alert-error">
                                {{stringService.getErrorMessage().areaMaxLength}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="landmark" class="col-form-label form-labels input-gap-align"> Landmark
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [disabled]="editBEUserForm" class="form-control" placeholder="" type="text" formControlName="landmark">
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['landmark'].hasError('required') &&
                                                        businessEntityForm.controls['landmark'].touched" class="alert-error">
                                {{stringService.getErrorMessage().landmarkReq}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['landmark'].hasError('minlength') &&
                                                        businessEntityForm.controls['landmark'].touched" class="alert-error">
                                {{stringService.getErrorMessage().landmarkMinLength}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['landmark'].hasError('maxlength') &&
                                                        businessEntityForm.controls['landmark'].touched" class="alert-error">
                                {{stringService.getErrorMessage().landmarkMaxLength}}
                            </div>

                        </div>


                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="pincode" class="col-form-label form-labels input-gap-align"> Pincode
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" [disabled]="editBEUserForm" class="form-control" formControlName="pincode" placeholder=""
                                type="text">
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['pincode'].hasError('required') &&
                                                    businessEntityForm.controls['pincode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().pincodeReq}}
                            </div>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['pincode'].hasError('minlength') &&
                                                    businessEntityForm.controls['pincode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().pincodeMinLength}}
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="state" class="col-form-label form-labels input-gap-align">State
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select class="form-control" id="state" formControlName="state" [disabled]="editBEUserForm" (change)="getCitiesForEntity(businessEntityForm.controls['state'].value)">
                                <option value="">State</option>
                                <option *ngFor="let state of statesArray" value="{{state}}">{{state}}</option>
                            </select>
                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['state'].hasError('required') &&
                                businessEntityForm.controls['state'].touched" class="alert-error">
                                {{stringService.getErrorMessage().stateReq}}
                            </div>
                        </div>


                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="city" class="col-form-label form-labels input-gap-align"> City
                                <sup style="color:#ff0000">*</sup>
                            </label>



                            <select class="form-control" id="city" formControlName="city" [disabled]="editBEUserForm">
                                <option value="">Select City</option>
                                <option *ngFor="let city of citiesArray1" value="{{city}}">{{city}}</option>
                            </select>



                            <div style="font-size: 11px;color: red;" *ngIf="businessEntityForm.controls['city'].hasError('required') &&
                                                    businessEntityForm.controls['city'].touched" class="alert-error">
                                {{stringService.getErrorMessage().cityReq}}
                            </div>
                        </div>

                    </div>

                </form>


                <!-- 	****************** 	BUSINESS ENTITY PROFILE FORM BUTTONS	************************	-->

                <!-- <div class="buttonClass">
                    <button type="button" id="login-button" *ngIf="editFormBEBtn" class="btn btn-jsw btn-mobile" (click)="changeBEForm()">EDIT INFORMATION</button>
                    <button type="button" id="login-button" *ngIf="!editFormBEBtn" class="btn btn-jsw btn-mobile" [disabled]="!businessEntityForm.valid"
                        (click)="onUpdateBEFormClick()">UPDATE INFORMATION</button>
                    <button type="button" id="signup-button" *ngIf="!editFormBEBtn" class="btn btn-jsw btn-reset" (click)="onResetBEFormClick()">RESET</button>
                    <span class="glyphicons glyphicons-user"></span>
                </div> -->
                <!-- 	************** 	END OF BUSINESS ENTITY PROFILE FORM BUTTONS	************************	-->
            </div>

        </div>
    </div>
    <!-- 	************************* END OF BUSINESS ENTITY PROFILE FORM 	************************	-->



    <!-- 	********************* 	BUSINESS ENTITY USER PROFILE FORM 	************************	-->


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">User Information</h6>
                </div>

                <form [formGroup]="businessEntityUserForm" class="formClass">

                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="firstName" class="col-form-label form-labels label-mobile input-gap-align"> First Name
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [readonly]="editBEUserForm" class="form-control" placeholder="" type="text" formControlName="firstName">
                            <div *ngIf="businessEntityUserForm.controls[ 'firstName'].hasError( 'required') && businessEntityUserForm.controls[ 'firstName'].touched "
                                class="alert-error ">
                                {{stringService.getErrorMessage().firstNameReq}}
                            </div>
                            <div class="errorMessage " *ngIf="businessEntityUserForm.controls[ 'firstName'].hasError( 'minlength') && businessEntityUserForm.controls[ 'firstName'].touched "
                                class="alert-error ">
                                {{stringService.getErrorMessage().firstNameMinLength}}
                            </div>
                            <div class="errorMessage " *ngIf="businessEntityUserForm.controls[ 'firstName'].hasError( 'maxlength') && businessEntityUserForm.controls[ 'firstName'].touched "
                                class="alert-error ">
                                {{stringService.getErrorMessage().firstNameMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field ">
                            <label for="lastName" class="col-form-label form-labels input-gap-align"> Last Name
                                <sup style="color:#ff0000 ">*</sup>
                            </label>
                            <input name=" " id=" " tabindex="8 " [readonly]="editBEUserForm" class="form-control " formControlName="lastName" placeholder=" "
                                type="text ">
                            <div class="errorMessage" *ngIf="businessEntityUserForm.controls['lastName'].hasError('required') &&
                                                            businessEntityUserForm.controls['lastName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameReq}}
                            </div>
                            <div class="errorMessage" *ngIf="businessEntityUserForm.controls['lastName'].hasError('minlength') &&
                                                            businessEntityUserForm.controls['lastName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameMinLength}}
                            </div>
                            <div class="errorMessage" *ngIf="businessEntityUserForm.controls['lastName'].hasError('maxlength') &&
                                                            businessEntityUserForm.controls['lastName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameMaxLength}}
                            </div>
                        </div>
                    </div>



                    <div class="row my-3" style="margin-top: 1%; margin-bottom: 1%">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield radio-group-mobile">
                            <label for="gender" class="col-form-label form-labels col-12 col-sm-12 padding-label"> Gender
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>

                            <md-radio-group [disabled]="editBEUserForm">
                                <input type="radio" value="male" class="form-labels" Name="gender">&nbsp;Male
                                <input type="radio" value="female" class="form-labels" style="margin-left: 3%;" Name="gender">&nbsp;Female
                            </md-radio-group>




                            <div *ngIf="businessEntityUserForm.controls['gender'].hasError('required') &&
                                                    businessEntityUserForm.controls['gender'].touched" class="alert-error">
                                {{stringService.getErrorMessage().gender}}
                            </div>
                        </div>

                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field radio-group-mobile">
                            <label for="maritalStatus" class="col-form-label form-labels col-12 col-sm-12 padding-label"> Marital Status
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <md-radio-group [disabled]="editBEUserForm" class="md-warn">
                                <input type="radio" value="single" class="form-labels" Name="maritalStatus">&nbsp;Single
                                <input type="radio" value="married" style="margin-left: 3%;" class="form-labels" Name="maritalStatus">&nbsp;Married
                            </md-radio-group>
                            <div *ngIf="businessEntityUserForm.controls['maritalStatus'].hasError('required') &&
                                                        businessEntityUserForm.controls['maritalStatus'].touched" class="alert-error">
                                {{stringService.getErrorMessage().maritalStatusReq}}
                            </div>
                        </div>

                    </div>


                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="email" class="col-form-label form-labels input-gap-align"> Email
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [readonly]="editBEUserForm" class="form-control" placeholder="" type="text" formControlName="email">
                            <div *ngIf="businessEntityUserForm.controls['email'].hasError('required') &&
                                                businessEntityUserForm.controls['email'].touched" class="alert-error">
                                {{stringService.getErrorMessage().emailReq}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['email'].hasError('minlength') &&
                                                businessEntityUserForm.controls['email'].touched" class="alert-error">
                                {{stringService.getErrorMessage().emailMinLength}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['email'].hasError('maxlength') &&
                                                businessEntityUserForm.controls['email'].touched" class="alert-error">
                                {{stringService.getErrorMessage().emailMaxLength}}
                            </div>
                        </div>
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="mobileNumber" class="col-form-label form-labels input-gap-align">Mobile
                                <sup style="color:#ff0000 ">*</sup>
                            </label>
                            <input name=" " id=" " tabindex="8 " class="form-control " formControlName="mobileNumber" placeholder=" " type="text ">
                            <div *ngIf="businessEntityUserForm.controls['mobileNumber'].hasError('required') &&
                                            businessEntityUserForm.controls['mobileNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mobileNumberReq}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['mobileNumber'].hasError('minlength') &&
                                            businessEntityUserForm.controls['mobileNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mobileNumberMinLength}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['mobileNumber'].hasError('maxlength') &&
                                            businessEntityUserForm.controls['mobileNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mobileNumberMaxLength}}
                            </div>
                        </div>
                    </div>


                    <div class="row my-3">
                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="dateOfBirth" class="col-form-label form-labels input-gap-align"> Date Of Birth
                                <!-- <sup style="color:#ff0000">*</sup> -->
                            </label>
                            <input name="" id="" tabindex="8" class="form-control" formControlName="dateOfBirth" placeholder="" type="date">
                            <div *ngIf="businessEntityUserForm.controls['dateOfBirth'].hasError('required') &&
                                                                            businessEntityUserForm.controls['dateOfBirth'].touched"
                                class="alert-error">
                                {{stringService.getErrorMessage().dateOfBirthReq}}
                            </div>
                        </div>

                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="streetAddress" class="col-form-label form-labels input-gap-align"> Street Address
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [readonly]="editBEUserForm" class="form-control" placeholder="" type="text" formControlName="streetAddress">
                            <div *ngIf="businessEntityUserForm.controls['streetAddress'].hasError('required') &&
                                                businessEntityUserForm.controls['streetAddress'].touched" class="alert-error">
                                {{stringService.getErrorMessage().streetAddressReq}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['streetAddress'].hasError('minlength') &&
                                                businessEntityUserForm.controls['streetAddress'].touched" class="alert-error">
                                {{stringService.getErrorMessage().streetAddressMinLength}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['streetAddress'].hasError('maxlength') &&
                                                businessEntityUserForm.controls['streetAddress'].touched" class="alert-error">
                                {{stringService.getErrorMessage().streetAddressMaxLength}}
                            </div>
                        </div>

                    </div>


                    <div class="row my-3">

                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="area" class="col-form-label form-labels input-gap-align">Area
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" [readonly]="editBEUserForm" class="form-control" formControlName="area" placeholder=""
                                type="text">
                            <div *ngIf="businessEntityUserForm.controls['area'].hasError('required') &&
                                            businessEntityUserForm.controls['area'].touched" class="alert-error">
                                {{stringService.getErrorMessage().areaReq}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['area'].hasError('minlength') &&
                                            businessEntityUserForm.controls['area'].touched" class="alert-error">
                                {{stringService.getErrorMessage().areaMinLength}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['area'].hasError('maxlength') &&
                                            businessEntityUserForm.controls['area'].touched" class="alert-error">
                                {{stringService.getErrorMessage().areaMaxLength}}
                            </div>
                        </div>

                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="landmark" class="col-form-label form-labels input-gap-align"> Landmark
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="3" [readonly]="editBEUserForm" class="form-control" placeholder="" type="text" formControlName="landmark">
                            <div *ngIf="businessEntityUserForm.controls['landmark'].hasError('required') &&
                                                businessEntityUserForm.controls['landmark'].touched" class="alert-error">
                                {{stringService.getErrorMessage().landmarkReq}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['landmark'].hasError('minlength') &&
                                                businessEntityUserForm.controls['landmark'].touched" class="alert-error">
                                {{stringService.getErrorMessage().landmarkMinLength}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['landmark'].hasError('maxlength') &&
                                                businessEntityUserForm.controls['landmark'].touched" class="alert-error">
                                {{stringService.getErrorMessage().landmarkMaxLength}}
                            </div>

                        </div>

                    </div>

                    <div class="row my-3">

                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="pincode" class="col-form-label form-labels input-gap-align"> Pincode
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <input name="" id="" tabindex="8" [readonly]="editBEUserForm" class="form-control" formControlName="pincode" placeholder=""
                                type="text">
                            <div *ngIf="businessEntityUserForm.controls['pincode'].hasError('required') &&
                                            businessEntityUserForm.controls['pincode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().pincodeReq}}
                            </div>
                            <div *ngIf="businessEntityUserForm.controls['pincode'].hasError('minlength') &&
                                            businessEntityUserForm.controls['pincode'].touched" class="alert-error">
                                {{stringService.getErrorMessage().pincodeMinLength}}
                            </div>
                        </div>

                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field">
                            <label for="state" class="col-form-label form-labels input-gap-align">State
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select class="form-control" id="state" formControlName="state" [disabled]="editBEUserForm" (change)="getCitiesForUser(businessEntityUserForm.controls['state'].value)">
                                <option value="">State</option>
                                <option *ngFor="let state of statesArray" value="{{state}}">{{state}}</option>
                            </select>
                            <div *ngIf="businessEntityUserForm.controls['state'].hasError('required') &&
                                                businessEntityUserForm.controls['state'].touched" class="alert-error">
                                {{stringService.getErrorMessage().stateReq}}
                            </div>
                        </div>

                    </div>

                    <div class="row my-3">



                        <div class="col-md-6 col-12 col-sm-12 col-lg-6 detail-field inputfield">
                            <label for="city" class="col-form-label form-labels input-gap-align"> City
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select class="form-control" id="city" formControlName="city" [disabled]="editBEUserForm">
                                <option value="">Select City</option>
                                <option *ngFor="let city of citiesArray2" value="{{city}}">{{city}}</option>
                            </select>
                            <div *ngIf="businessEntityUserForm.controls['city'].hasError('required') &&
                                                businessEntityUserForm.controls['city'].touched" class="alert-error">
                                {{stringService.getErrorMessage().cityReq}}
                            </div>
                        </div>
                    </div>
                </form>


                <!-- 	************** 	BUSINESS ENTITY USER PROFILE FORM BUTTONS	************************	-->
                <!-- <div class="buttonClass">
                    <button type="button " id="login-button " *ngIf="editFormBEUserBtn " class="btn btn-jsw btn-mobile" (click)="changeBEUserForm() ">EDIT INFORMATION</button>
                    <button type="button " id="login-button " *ngIf="!editFormBEUserBtn " class="btn btn-jsw btn-mobile" [disabled]="!businessEntityUserForm.valid "
                        (click)="onUpdateBEUserFormClick() ">UPDATE INFORMATION</button>
                    <button type="button " id="signup-button " *ngIf="!editFormBEUserBtn " class="btn btn-jsw btn-reset" (click)="onResetBEUserFormClick() ">RESET</button>
                    <span class="glyphicons glyphicons-user "></span>
                </div> -->
                <!-- 	*********** 	END OF BUSINESS ENTITY USER PROFILE FORM BUTTONS	*******************	-->
            </div>

        </div>
    </div>

    <!-- 	********************* END OF BUSINESS ENTITY USER PROFILE FORM 	************************	-->

    <!-- 	********************* 	Additional Information  	************************	-->
    <div class="row ">
        <div class="col-md-12">
            <div class="col-md-12 contact-form ">
                <div class="row titlebox my-4 ">
                    <h6 class=" ">Additional Information</h6>
                </div>
                <survey1></survey1>
                <div class="buttonClass">
                    <button type="button " id="edit1" class="btn btn-jsw btn-mobile" (click)="editSurvey()" *ngIf="SurveyComponent.surveyCompleted !==true">EDIT INFORMATION</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 	****************** 	END OF Additional Information	************************	-->



    <!-- 	************************* 	PASSWORD FORM AND BUTTONS	************************	-->

    <div class="row bottompadding">
        <div class="col-md-12 ">
            <div class="col-md-12 contact-form ">
                <div class="row titlebox my-4 ">
                    <h6 class=" ">Password</h6>
                </div>

                <div style="padding-top: 2% ">
                    <div class="row " style="padding-bottom:5px " *ngIf="showPasswordField">
                        <div class="col-md-3 col-sm-4 col-xs-12 " style="padding-top:5px;">
                            <form [formGroup]="passwordForm">
                                <input type="text " class="form-control text-box" placeholder="Enter new password" formControlName="password">
                                <div *ngIf="passwordForm.controls[ 'password'].hasError( 'required') && passwordForm.controls[ 'password'].touched " class="alert-error ">
                                    {{stringService.getErrorMessage().passwordReq}}
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">

                            <div style="padding-top:5px; ">
                                <div class="pull-left " style="margin-right:5px; ">
                                    <button type="button " id="signup-button" class="btn btn-jsw btn-passfield-mobile" (click)="onSubmitPasswordClick()">SUBMIT</button>
                                </div>
                                <div class="center-block ">
                                    <button type="button " id="signup-button" class="btn btn-jsw btn-passfield-mobile" (click)="onCancelPasswordClick()">CANCEL</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button type="button " id="signup-button " class="btn btn-jsw btn-mobile" (click)="onUpdatePasswordClick() " *ngIf="!showPasswordField ">CHANGE PASSWORD</button>

                </div>
            </div>

        </div>
    </div>

    <!-- 	************************* 	END OF PASSWORD FORM AND BUTTONS	************************	-->
</div>