
        .alert-error {
            font-size: 11px;
            color: red;
        }
        
        .bottompadding {
            padding-bottom: 4%;
        }
        
        .form-control {
            height: 2.4rem;
        }
        
        .buttonClass {
            margin-bottom: 15px;
        }
        
        .formClass {
            padding-bottom: 1.8%;
        }
        .btn-reset{
            margin-left:1em;
        }

        .sv_qstn 
        {
            padding-left:0px !important;
            padding-right:0px !important;
            width:100% !important;
        }
        
@media screen and (max-width:810px) and (min-width:351px)
{
    .label-mobile
    {
        margin-bottom:1px;
    }
    .inputfield
    {
        margin-top: -15px;
    }
    .btn-mobile
    {
        width: 100%;
        margin-bottom: 9px;
        font-size:14px;
    }
    .btn-reset{
        font-size:14px;
        margin-left:25%;
    }
    
    .btn-passfield-mobile{
        margin-top:3px;
        padding-right:10px;
        padding-left:10px;
        font-size:14px;
        width:110px;
        }
    .main-div-mob
    {
        margin-top: -27px;
    }   
    .mobile-align-div
    {
        margin-top:-22px;
    }
    .inputfield
    {
        margin-top: -15px;
    }
    .input-gap-align
    {
        margin-bottom:-9px;
    }
    .radio-group-mobile
    {
        font-size:18px;
    }
    .padding-label
    {
        padding-left: 0px;
        padding-bottom: 1px !important;
    }


    .sv_qstn 
    {
        padding-left:0px !important;
        padding-right:0px !important;
        width:100% !important;
    }

}
@media screen and (max-width:350px)
{
    .radio-group-mobile
    {
        font-size:16px;
    }
    .padding-label
    {
        padding-left: 0px;
        padding-bottom: 1px !important;
    }

}