.alert-error {
    font-size: 11px;
    color: red;
}

.bottompadding {
    padding-bottom: 4%;
}

.form-control {
    height: 2.4rem;
}

.buttonClass {
    margin-bottom: 15px;
}

.formClass {
    padding-bottom: 1.8%;
}
.my-3
{
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}
.my-4
{
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}
@media screen and (max-width:825px) and (min-width:300px)
{

.main-div-mob
{
    margin-top:-29px;
}
.main-row-mob
{
    margin-top: -19px;
}
.detail-field
{
    padding-left: 0px;
    padding-right: 0px;
}
.col-form-label
{
    padding-top: calc(0.375rem + 1px);
    margin-bottom: 1px;
    font-size: inherit;
    line-height: 1.5;
    padding-bottom: 0px;
}
.my-3
{
    margin-bottom: 0px !important; 
    margin-top: 0px !important;
}
.my-4
{
    margin-bottom: 1rem !important;
    margin-top: 0.5rem !important;
}
.buttonClass 
{
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
}