<!--
	Author			:	Deepak Terse
	Description		: 	Component for Client Profile page
	Date Created	: 	07 March 2016
	Date Modified	: 	10 May 2018
-->


<div class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/banner.jpg" class="bannerImage" width="100%" />
</div>
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div class="container main-div-mob">

    <feedback-message></feedback-message>





    <!-- 	************************* 	PROFILE FORM 	********************************	-->


    <div class="row main-row-mob">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">User Information</h6>
                </div>

                <form [formGroup]="profileForm" class="formClass">

                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="firstName" class="col-form-label form-labels"> First Name
                                        <sup style="color:#ff0000">*</sup>
                                    </label>




                            <input type="text" [readonly]="editCEForm" class="form-control" formControlName="firstName">
                            <div *ngIf="profileForm.controls['firstName'].hasError('required') &&
                                profileForm.controls['firstName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().firstNameReq}}
                            </div>
                            <div *ngIf="profileForm.controls['firstName'].hasError('minlength') &&
                                profileForm.controls['firstName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().firstNameMinLength}}
                            </div>
                            <div *ngIf="profileForm.controls['firstName'].hasError('maxlength') &&
                                profileForm.controls['firstName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().firstNameMaxLength}}
                            </div>
                            <div *ngIf="profileForm.controls['firstName'].hasError('pattern') &&
                                profileForm.controls['firstName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().firstNameCannotBeANumber}}
                            </div>


                        </div>
                        <div class="col-md-6 detail-field ">
                            <label for="lastName" class="col-form-label form-labels "> Last Name
                                        <sup style="color:#ff0000 ">*</sup>
                                    </label>


                            <input type="text" [readonly]="editCEForm" class="form-control" formControlName="lastName">
                            <div *ngIf="profileForm.controls['lastName'].hasError('required') &&
                                profileForm.controls['lastName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameReq}}
                            </div>
                            <div *ngIf="profileForm.controls['lastName'].hasError('minlength') &&
                                profileForm.controls['lastName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameMinLength}}
                            </div>
                            <div *ngIf="profileForm.controls['lastName'].hasError('maxlength') &&
                                profileForm.controls['lastName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameMaxLength}}
                            </div>
                            <div *ngIf="profileForm.controls['firstName'].hasError('pattern') &&
                                profileForm.controls['firstName'].touched" class="alert-error">
                                {{stringService.getErrorMessage().lastNameCannotBeANumber}}
                            </div>


                        </div>
                    </div>


                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="email" class="col-form-label form-labels">Email
                                            <sup style="color:#ff0000">*</sup>
                                        </label>
                            <input type="text" [readonly]="editCEForm" class="form-control" formControlName="emailId">
                            <div *ngIf="profileForm.controls['emailId'].hasError('required') &&
									profileForm.controls['emailId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().emailReq}}
                            </div>
                            <div *ngIf="profileForm.controls['emailId'].hasError('pattern') &&
									profileForm.controls['emailId'].touched" class="alert-error">
                                {{stringService.getErrorMessage().emailPattern}}
                            </div>


                        </div>
                        <div class="col-md-6 detail-field ">
                            <label for="mobileNumber" class="col-form-label form-labels "> Mobile Number
                                            <sup style="color:#ff0000 ">*</sup>
                                        </label>
                            <input type="text" class="form-control" [readonly]="editCEForm" formControlName="mobileNumber">
                            <div *ngIf="profileForm.controls['mobileNumber'].hasError('required') &&
                                profileForm.controls['mobileNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mobileNumberReq}}
                            </div>
                            <div *ngIf="profileForm.controls['mobileNumber'].hasError('pattern') &&
                                profileForm.controls['mobileNumber'].touched" class="alert-error">
                                {{stringService.getErrorMessage().mobileNumberPattern}}
                            </div>


                        </div>
                    </div>



                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="employeeId" class="col-form-label form-labels">Employee ID
                                                <sup style="color:#ff0000">*</sup>
                                            </label>
                            <input type="text" class="form-control" formControlName="empId" readonly="true">

                        </div>
                        <div class="col-md-6 detail-field ">
                            <label for="parentUser" class="col-form-label form-labels ">Parent User
                                                <sup style="color:#ff0000 ">*</sup>
                                            </label>

                            <input type="text" class="form-control" formControlName="parentUserName" readonly="true">



                        </div>
                    </div>




                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <label for="designation" class=" col-form-label form-labels">Designation
                                                    <sup style="color:#ff0000 ">*</sup>
                                                </label>
                            <input type="text " class="form-control text-box " formControlName="designationName" readonly="true ">
                        </div>
                        <div class="col-md-6 detail-field ">
                            <label for="division" class="col-form-label form-labels ">Division
                                                    <sup style="color:#ff0000 ">*</sup>
                                                </label>

                            <input type="text" class="form-control" formControlName="divisionName" readonly="true">



                        </div>
                    </div>


                </form>



                <!--	**************************	END OF PROFILE FORM 	******************************* -->



                <!--	**************************** 	PROFILE FORM BUTTONS 	**************************	-->
                <!-- <div *ngIf="displaypc" class="buttonClass ">
                    <button type="button " id="login-button " class="btn btn-jsw " *ngIf="editFormCEBtn " (click)="changeCEForm() ">EDIT INFORMATION</button>
                    <button type="button " id="login-button " class="btn btn-jsw " *ngIf="!editFormCEBtn " [disabled]="!profileForm.valid " (click)="onUpdateFormClick() ">UPDATE INFORMATION</button>
                    <button type="button " id="signup-button " class="btn btn-jsw " style="margin-left:1em !important " *ngIf="!editFormCEBtn " (click)="onResetFormClick() ">RESET</button>
                    <span class="glyphicons glyphicons-user "></span>
                </div>
                <div *ngIf="displaymobile" class="buttonClass">
                    <button type="button " id="login-button" class="btn btn-jsw btn-block" *ngIf="editFormCEBtn " (click)="changeCEForm() ">EDIT INFORMATION</button>
                    <button type="button " id="login-button" class="btn btn-jsw btn-block" *ngIf="!editFormCEBtn " [disabled]="!profileForm.valid " (click)="onUpdateFormClick() ">UPDATE INFORMATION</button>
                    <button type="button " id="signup-button " class="btn btn-jsw" style="margin-top:12px;" *ngIf="!editFormCEBtn " (click)="onResetFormClick() ">RESET</button>
                    <span class="glyphicons glyphicons-user "></span>
                </div> -->

                <!--	***********************		END OF PROFILE FORM BUTTONS		**********************	-->
            </div>

        </div>
    </div>







    <!--	***************************		PASSWORD FORM AND BUTTONS	***************************	-->
    <div class="row bottompadding ">
        <div class="col-md-12 ">
            <div class="col-md-12 contact-form ">
                <div class="row titlebox my-4 ">
                    <h6 class=" "> Update Password</h6>
                </div>

                <div style="padding-top: 2% ">
                    <div class="row " style="padding-bottom:5px " *ngIf="showPasswordField ">
                        <div class="col-md-3 col-sm-6 col-xs-12 " style="padding-top:5px; ">
                            <form [formGroup]="passwordForm ">
                                <input type="text " class="form-control text-box " placeholder="Enter new password " formControlName="password">
                                <div *ngIf="passwordForm.controls[ 'password'].hasError( 'required') && passwordForm.controls[ 'password'].touched " class="alert-error ">
                                    {{stringService.getErrorMessage().passwordReq}}
                                </div>
                            </form>
                        </div>
                        <div *ngIf="displaypc" class="col-md-6 col-sm-6 col-xs-12 ">

                            <div style="padding-top:5px; ">
                                <div class="pull-left " style="margin-right:5px; ">
                                    <button type="button " id="signup-button " class="btn btn-jsw " (click)="onSubmitPasswordClick()">SUBMIT</button>
                                </div>
                                <div class="center-block ">
                                    <button type="button " id="signup-button " class="btn btn-jsw " (click)="onCancelPasswordClick()">CANCEL</button>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="displaymobile" class="col-md-6 col-sm-12 col-xs-12 col-12 row" style="margin-top:15px;text-align: center;">
                                <div class="col-6 col-sm-6">
                                    <button type="button " id="signup-button " class="btn btn-sm" style="width:120px;color: #000;background: #ae995a;" (click)="onSubmitPasswordClick()">SUBMIT</button>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <button type="button " id="signup-button " class="btn btn-sm" style="width:120px;color: #000;background: #ae995a;" (click)="onCancelPasswordClick()">CANCEL</button>
                                </div>
                        </div>
                    </div>

                    <button  type="button " id="signup-button " class="btn btn-jsw" (click)="onUpdatePasswordClick() " *ngIf="!showPasswordField && displaypc">UPDATE PASSWORD</button>
                    <button  type="button " id="signup-button " class="btn btn-jsw btn-block" (click)="onUpdatePasswordClick() " *ngIf="!showPasswordField && displaymobile">UPDATE PASSWORD</button>

                </div>
            </div>

        </div>
    </div>
    <!--	*********************	END OF PASSWORD FORM AND BUTTONS 	*********************	-->

</div>