$font-family:Roboto;

.contact-second-card{
    margin-top:0px;
    margin-bottom:0px;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.head {
    font-family: $font-family;
    font-weight: 400;
    font-size:1.44em;
    color: #222;
    letter-spacing: 0;
    text-align: center;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.contact-img {
    background: url('https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/contactus/contact.png') no-repeat;
    background-size: cover;
    height: 50vh;
}

.contact-box {
    height: 20em;
    background: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-content: center;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
.align-box{
    margin-left: 5rem;
}
.con-box {
    margin-top: -3.5em;
}

.con-icon {
    width: 2.5em;
}

.contactCallout-Icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    margin-top: -2em;
}

.colorchange {
    color: #222 !important;
}

@media screen and (min-width:310px) and (max-width:810px) 
{
    .contact-second-card
    {
        margin-top:56px;
        margin-bottom:26px;
    }
    .contact-box
    {
        height:17em;
    }

    .align-box{
        margin-left: 0.5rem;
    }
}
