<div class="container-fluid contact-img">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/contactus/contact-banner.jpg">
</div>

<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole" class="container">
    <div class="row mx-auto con-box">
        <div class="col-md-5 align-box contact-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/contactus/icon1.svg" class="con-icon">
            </div>
            <p class="head">Corporate Office</p>
            <p class="description">JSW Center
                <br> Bandra Kurla Complex,
                <br> Mumbai - 400051
                <br> jswprivilegeclub@jsw.in
            </p>
        </div>
        <div class="col-md-5 contact-box contact-second-card">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/contactus/icon2.svg" class="con-icon">
            </div>
            <p class="head">Program Center</p>
            <p class="description">JSW Privilege club
                <br> Phone: +91 9036063706
                <br> jswprivilegeclub@jsw.in / jswsupport@annectos.net
                <br> Time: Monday to Friday (between 9:30am to 6:30pm)</p>
        </div>
    </div>
</div>





<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole" class="container">
    <div class="row mx-auto con-box">
        <div class="col-md-5 contact-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/contactus/icon1.svg" class="con-icon">
            </div>
            <p class="head">Corporate Office</p>
            <p class="description">JSW Center

                <a href="tel:+1800 225 225">Phone: 1800 225 225</a>
                <br> Bandra Kurla Complex, Mumbai - 400051
                <br> jswprivilegeclub@jsw.in
            </p>
        </div>
        <div class="col-md-5 contact-box contact-second-card">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/contactus/icon2.svg" class="con-icon">
            </div>
            <p class="head">Program Center</p>
            <p class="description">JSW Privilege club
                <br> Phone: +91 9036063706
                <br> jswprivilegeclub@jsw.in / jswsupport@annectos.net
                <br> Time: Monday to Friday (between 9:30am to 6:30pm)</p>
        </div>
    </div>
</div>