<div class="container-fluid about-img img-fluid" id="container">
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-12 about-content-box">
            <p class="head">
                <strong>Dear Partner</strong>
                <br>Welcome to the JSW Privilege Club</p>
            <p class="about-description" style="padding:10px;"> At JSW, we believe in building relationships that stand the test of time. The JSW Privilege Club is designed
                exclusively for a select few to reinforce &amp; build, reliability, trust &amp; a strong bond. We look forward
                to many more brighter tomorrows with you.</p>
        </div>


    </div>

</div>






<div class="row box">

    <div class="about-box1">
        <a href="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/JSW_UploadContents/JSW_Brochures/Dealer_brochure.pdf"
            target="_blank" class="btn btn-about-jsw">Download Brochure</a>
    </div>

</div>
<div class="container-fluid">

    <div class="row box">



        <div class="about-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/1.png" class="con-icon">
            </div>
            <p class="about-description">
                <strong>Growing & Nurturing Partnerships</strong>

            </p>
            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal1" id="modal" (click)="modalOpen()">Know More</a>
            <br>
        </div>
        <div class="about-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/3.png" class="con-icon">
            </div>
            <p class="about-description">
                <strong>Performance & Growth</strong>
            </p>
            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal2" id="modal" (click)="modalOpen()">Know More</a>
            <br>
        </div>
        <div class="about-box">
            <div class="contactCallout-Icon">
                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/2.png" class="con-icon">
            </div>
            <p class="about-description">
                <strong>Building & Celebrating Bond Beyond Business</strong>
            </p>
            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal3" id="modal" (click)="modalOpen()">Know More</a>
            <br>
        </div>
    </div>
    <!-- Modal 1 -->
    <div class="modal fade" id="Modal2" style="z-index:11000;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Performance & Growth</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="modalClose()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/b.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Performance Awards:</strong>
                                <br> Performance awards - An exciting, feature packed dealer loyalty program. Rewarding growth
                                &amp; performances.</p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Close -->
    <!-- Modal 2 -->
    <div class="modal fade" id="Modal1" style="z-index:11000;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Growing & Nurturing Partnerships</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="modalClose()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/d.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Product Training &amp; Plant Visits: </strong>
                                <br>Product training &amp; information sessions during plant visits to enhance the knowledge
                                of our partners. </p>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/c.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Business Meets:</strong>
                                <br>Scheduled meets with JSW ofﬁcials to get dealer insights, resolve queries, and help in improving
                                overall sales &amp; growth.
                            </p>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/e.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>
                                <strong class="title-text">Soft Skill Training:</strong>
                                <br>Equipping are partners with the soft skills required to boost relationship and business growth.
                            </p>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Close -->
    <!-- Modal 3 -->
    <div class="modal fade" id="Modal3" style="z-index:11000;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Building & Celebrating Bond Beyond Business</h4>
                    <button type="button" class="close" data-dismiss="modal" (click)="modalClose()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-2">
                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/f.png">
                        </div>
                        <div class="col-md-10 mob-text-align">
                            <p>

                                <strong>Building & Celebrating Bond Beyond Business:</strong>
                                <br> Exciting contests for the dealers &amp; their families. Celebrating all special occasions
                                together. Channel Conference - Annual Rewards and Recognition
                            </p>
                        </div>
                        <br>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Modal Close -->
</div>

