<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="bannerImage" width="100%" />
</div>

<div class="container main-div-mob">
    <feedback-message></feedback-message>
    <div class="row">

        <!-- Form Block -->
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <button  tabindex="8" type="button" class="btn btn-jsw my-4 btn-mob-margin" (click)="cancelClick()">Back</button>

                <div class="row titlebox my-4-change">
                    <h6 class="">Outlet Details</h6>
                </div>

                <fieldset disabled>
                    <form [formGroup]="addEntityForm">

                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="businessName" class="col-form-label form-labels">Business Name</label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="Enter business name" type="text" formControlName="businessName">
                                <div *ngIf="addEntityForm.controls['businessName'].hasError('required') &&
                                        addEntityForm.controls['businessName'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().businessNameReq}}
                                </div>
                                <div *ngIf="addEntityForm.controls['businessName'].hasError('maxlength') &&
                                        addEntityForm.controls['businessName'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().businessNameMaxLength}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field ">
                                <label for="registrationNumber" class="col-form-label form-labels ">Registration Number  </label>
                                <input name=" " id=" " tabindex="8" class="form-control " placeholder=" " type="text " formControlName="registrationNumber">
                                <div *ngIf="addEntityForm.controls['registrationNumber'].hasError('required') &&
                                addEntityForm.controls['registrationNumber'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().registrationNumberReq}}
                                </div>
                            </div>



                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="streetAddress" class="col-form-label form-labels">Street Address  </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="streetAddress">
                                <div *ngIf="addEntityForm.controls['streetAddress'].hasError('required') &&
                                addEntityForm.controls['streetAddress'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().streetAddressReq}}
                                </div>
                                <div *ngIf="addEntityForm.controls['streetAddress'].hasError('maxlength') &&
                                addEntityForm.controls['streetAddress'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().streetAddressMaxLength}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field ">
                                <label for="area" class="col-form-label form-labels ">Area  </label>
                                <input name=" " id=" " tabindex="8" class="form-control " placeholder=" " type="text " formControlName="area">
                                <div *ngIf="addEntityForm.controls['area'].hasError('required') &&
                            addEntityForm.controls['area'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().areaReq}}
                                </div>
                                <div *ngIf="addEntityForm.controls['area'].hasError('maxlength') &&
                            addEntityForm.controls['area'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().areaMaxLength}}
                                </div>
                            </div>
                        </div>


                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="state" class="col-form-label form-labels">State </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="state">
                                <div *ngIf="addEntityForm.controls['state'].hasError('required') &&
                                addEntityForm.controls['state'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().stateReq}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field ">
                                <label for="city" class="col-form-label form-labels ">City  </label>
                                <input name=" " id=" " tabindex="8" class="form-control " placeholder=" " type="text " formControlName="city">
                                <div *ngIf="addEntityForm.controls['city'].hasError('required') &&
                            addEntityForm.controls['city'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().cityReq}}
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="pincode" class="col-form-label form-labels">Pincode  </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="pincode">
                                <div *ngIf="addEntityForm.controls['pincode'].hasError('required') &&
                                addEntityForm.controls['pincode'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().pincodeReq}}
                                </div>
                                <div *ngIf="addEntityForm.controls['pincode'].hasError('pattern') &&
                                addEntityForm.controls['pincode'].touched" class="alert alert-danger inputValidationErr">
                                    {{errorMessageService.getErrorMessages().pincodePattern}}
                                </div>
                            </div>
                            <div class="col-md-6 detail-field ">
                                <label for="monthlyTurnOver" class="col-form-label form-labels ">Monthly Turn Over </label>
                                <input name=" " id=" " tabindex="8" class="form-control " placeholder=" " type="text " formControlName="monthlyTurnOver">

                            </div>
                        </div>


                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="approxShopSize" class="col-form-label form-labels"> Approx. Shop Size </label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder="" type="text" formControlName="approxShopSize">

                            </div>
                            <div class="col-md-6 detail-field ">
                                <label for="yearOfEstablishment" class="col-form-label form-labels "> Year of Establishment </label>
                                <input name=" " id=" " tabindex="8" class="form-control " placeholder=" " type="number" min="1900" max="2099" formControlName="yearOfEstablishment">
                                <div *ngIf="addEntityForm.controls['yearOfEstablishment'].hasError('required') &&
                            addEntityForm.controls['yearOfEstablishment'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().yearOfEstablishmentReq}}
                                </div>
                                <div *ngIf="addEntityForm.controls['yearOfEstablishment'].hasError('maxlength') &&
                            addEntityForm.controls['yearOfEstablishment'].touched" class="alert alert-danger inputValidationErr ">
                                    {{errorMessageService.getErrorMessages().yearsOfEstablishmentMaxLength}}
                                </div>
                            </div>
                        </div>




                        <div class="row titlebox my-4">
                            <h6 class="">Business Entity User Details</h6>
                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="firstName" class="col-form-label form-labels">First Name</label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder=" " ype="text" formControlName="firstName">
                            </div>
                            <div class="col-md-6 detail-field ">
                                <label for="lastName" class="col-form-label form-labels ">Last Name </label>
                                <input name=" " id=" " tabindex="8" class="form-control " placeholder=" " type="text " formControlName="lastName">
                            </div>

                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="userType" class="col-form-label form-labels">User Type</label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder=" " type="text" formControlName="userType">
                            </div>



                            <div class="col-md-6 detail-field">
                                <label for="emailId" class="col-form-label form-labels">Email Id</label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder=" " type="text" formControlName="email">
                            </div>

                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 detail-field">
                                <label for="mobileNumber" class="col-form-label form-labels">Mobile Number</label>
                                <input name="" id="" tabindex="8" class="form-control" placeholder=" " type="text" formControlName="mobileNumber">
                            </div>

                        </div>

                    </form>

                </fieldset>

                <!-- reject button added   -->

                <form [formGroup]="approvalForm" >

                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex" style="padding-top: 2%;padding-left:0px;padding-right:0px;" *ngIf="approvalStatus==='pending'">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 detail-field status-field ">
                            <label class="label-mobile">Status:
                                <sup style="color:#ff0000">*</sup>
                            </label>
                            <select tabindex="8" class="form-control" formControlName="status">
                                <option value="" disabled selected>Select Status</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                            </select>
                        </div>
    
                        <!-- Reason for rejection -->
                        <div class="Reason-field" *ngIf="showRejctionsField">
                            <label class="label-mobile" for="reasonForRejection">Reason for rejection</label>
                            <textarea class="form-control" rows="2" cols="50" formControlName="reasonForRejection"></textarea>
                        </div> 
    
                        <div class="col-12 col-sm-12">
                            <div *ngIf="displaypc" class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12" style="margin-top: 0.6rem;">
                                <label></label>
                                <button tabindex="8" type="button" class="btn btn-jsw my-4" [disabled]="!canUpdate || showLoader" (click)="updateEntity()">Update Entity</button>
                            </div>
                            <div  *ngIf="displaymobile" class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12" style="margin-top: 0.6rem; padding-right: 0px;">
                                <label></label>
                                <button class="btn btn-sm btn-block" type="submit" [disabled]="!canUpdate || showLoader" (click)="updateEntity()" style="color: #000;background: #ae995a;">Update Entity</button>
                            </div>
                        </div>
    
                    </div>
                </form>

                <!-- <button tabindex="8" type="button" class="btn btn-jsw my-4 btn-mob" (click)="approveClick()">Approve</button> -->


            </div>
        </div>
    </div>