<div class="container-fluid bannerMain">
    <div>
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="bannerImage" width="100%" />
    </div>
</div>
<div class="container">

    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="row">

        <!-- Form Block -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile-div">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 contact-form">

                <div class="row titlebox my-4">
                    <h6 class="">Engineers List</h6>
                </div>
                <div class="row">
                    <!-- <div class="col-md-6 col-12 col-sm-12 col-lg-4 detail-field inputfield" style="margin-top: -0.1rem;">
                        <form [formGroup]="stateForm" class="form-group row" style="flex-wrap: unset;">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label for="state" class=" col-form-label form-labels input-gap-align">State:           
                                </label>
                                <select tabindex="1" class="form-control " formControlName="state" style="margin-left: 0.5rem; width: 81%;">
                                    <option value="All" selected="selected">All</option>
                                    <option *ngFor="let state of stateArray" value="{{state}}">{{state}}</option>
                                </select>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <label for="statusFilter">
                                    <b>Status:</b>
                                </label> 
                                <select tabindex="1" class="form-control" formControlName="approvalStatus">
                                    <option value="" disabled selected>Select Status</option>
                                    <option value="pending">Pending</option>
                                    <option value="approved">Approved</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                            </div>
                        </form>
                    </div> -->
                    <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-sm-12 col-12">
                        <form [formGroup]="stateForm">
                            <div *ngIf="displaypc" class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-sm-12 col-12 row">
                                <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-sm-12 col-12 row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <label for="state">State:           
                                        </label>
                                        <select tabindex="1" class="form-control " formControlName="state" >
                                            <option value="All" selected="selected">All</option>
                                            <option *ngFor="let state of stateArray" value="{{state}}">{{state}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <label for="statusFilter">
                                            <b>Status:</b>
                                        </label> 
                                        <select tabindex="1" class="form-control" formControlName="approvalStatus">
                                            <option value="" disabled selected>Select Status</option>
                                            <option value="pending">Pending</option>
                                            <option value="approved">Approved</option>
                                            <option value="rejected">Rejected</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <!--Mobile Dropdown-->
                            <div *ngIf="displaymobile" class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-sm-12 col-12 mx-auto row" style="padding:0;">
                                <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12 mx-auto row" style="padding:0; margin-top:-6px">
                                    <label for="state" class=" col-form-label form-labels input-gap-align">State:           
                                    </label>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="padding:0;">
                                        <select tabindex="1" class="form-control " formControlName="state" style="margin-left: 0.5rem; width: 81%;">
                                            <option value="All" selected="selected">All</option>
                                            <option *ngFor="let state of stateArray" value="{{state}}">{{state}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto" style="padding:0; margin-top:10px;">
                                        <label for="statusFilter">
                                            <b>Status:</b>
                                        </label> 
                                        <select tabindex="1" class="form-control" formControlName="approvalStatus">
                                            <option value="" disabled selected>Select Status</option>
                                            <option value="pending">Pending</option>
                                            <option value="approved">Approved</option>
                                            <option value="rejected">Rejected</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 row" style="text-align: center; margin-top: 2rem;">
                        <div *ngIf="displaypc" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 col-lg-4">
                            <button class="btn btn-jsw" type="submit" (click)="reset()">Reset</button>
                        </div>
                        <div *ngIf="displaypc" class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 col-lg-4">
                            <button class="btn btn-jsw" style="float: right;" (click)="getAllEngineerRequestsReport()" [disabled]="showLoader || isNoRecords" type="submit">Download</button>
                        </div>
                        <div *ngIf="displaymobile" class="col-sm-6 col-6 col-lg-4">
                            <button class="btn-jsw" type="submit" (click)="reset()">Reset</button>
                        </div>
                        <div *ngIf="displaymobile" class="col-sm-6 col-6 col-lg-4">
                            <button class="btn-jsw" style="float: right;" (click)="getAllEngineerRequestsReport()" [disabled]="showLoader || isNoRecords" type="submit">Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 my-4" *ngIf="displaypc">
                    <table class="table">
                        <tbody>
                            <tr class="head">
                                <td>
                                    <strong>BE Name</strong>
                                </td>
                                <td>
                                    <strong>Code</strong>
                                </td>
                                <td>
                                    <strong>State</strong>
                                </td>
                                <td>
                                    <strong>City</strong>
                                </td>
                                <td>
                                    <strong>Owner Name</strong>
                                </td>
                                <td>
                                    <strong>Owner Number</strong>
                                </td>



                            </tr>
                            <tr *ngFor="let entity of entitiesList; let entityIndex = index;">


                                <td style="text-align: left">
                                    <a style="color: #02f;" (click)="showDetail(entity)">
                                        <i style="cursor:pointer;">{{entity.businessName}}</i>
                                    </a>
                                </td>

                                <td>{{entity.businessId}}</td>
                                <td>{{entity.state}}</td>
                                <td>{{entity.city}}</td>
                                <td>{{entity.ownerName}}</td>
                                <td>{{entity.ownerNumber}}</td>


                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-12" *ngIf="displaymobile" style="padding:0px;">

                    <div *ngFor="let entity of entitiesList; let entityIndex = index;">
                        <div class="card" style="margin-left:-15px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;">
                            <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;box-shadow: 0 2px 6px #adadad;">
                                <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <b>BE Name</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text " style="color: #02f;" (click)="showDetail(entity)">{{entity.businessName}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>Code</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text">{{entity.businessId}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>State</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{entity.state}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>City</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{entity.city}}</p>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>Owner Name</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{entity.ownerName}}</p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                        <b>Owner Number</b>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                        <p class="card-text text-capitalize">{{entity.ownerNumber}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="isNoRecords">
            <p style="color:red;text-align: center;">No records found</p>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 proglist" *ngIf="displaypc">
            <button class="btn btn-jsw" style="margin-right: 1rem;" [disabled]="isPrevious || isNoRecords" (click)="prev()" type="submit">Previous</button>
            <button class="btn btn-jsw" [disabled]="isNext || isNoRecords" (click)="next()" type="submit">Next</button>
        </div>
        <div class="row" style="padding-top: 6%;margin-left:auto;margin-right:auto;" *ngIf="displaymobile">
            <div class="col-sm-6 col-6">
                <button class=" btn btn-sm" type="submit" [disabled]="isPrevious || isNoRecords" (click)="prev()" style="width:128.61px;color: #000;background: #ae995a;">Previous</button>
            </div>
            <div class="col-sm-6 col-6">
                <button class="btn btn-sm" type="submit" [disabled]="isNext || isNoRecords" (click)="next()" style="width:128.61px;color: #000;background: #ae995a;">Next</button>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 mobile-text" *ngIf="true">
            <span style="float: right;padding-top: 1rem;"> {{startRecord}} - {{endRecord}} of {{totalRecords}} Records</span>
        </div>
    </div>
</div>