.my-4-change
{
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.my-3
{
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

@media screen and (max-width: 825px) and (min-width: 300px)
{
.main-div-mob
{
    margin-top: -46px;
}
.my-4-change
{
    margin-top: -1rem !important;
    margin-bottom: 1.5rem !important;
}
.btn-jsw
{
border: 1px solid #ae995a;
color: #000;
background: #ae995a;
transition: all 0.3s ease 0s;
cursor: pointer;
width: 120px;
text-align: center;
padding: 0.25em 0em;
}
.btn-mob-margin
{
    margin-left: -15px;
}
.fieldset
{
    margin-top: -31px;
}
.detail-field
{
    padding-left: 0px;
    padding-right: 0px;
}
.field-margin-mob
{
    margin-top: -31px;
}
.col-form-label
{
padding-top: calc(0.375rem + 1px);
padding-bottom: 0px;
margin-bottom: 1px;
font-size: inherit;
line-height: 1.5;
}
.btn-mob
{
    width:100%;
}
.my-3
{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

}

