@media screen and (min-width: 300px)and (max-width: 812px) {
   .mobile-text
   {
       font-size:15px;
   }
   .mobile-div
   {
       margin-top:-2em;
   }
   .btn-jsw{
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: 0.25em 2em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    width: 90%;
   }
}
