<div class="container-fluid" style="overflow: auto;">

    <div class="container-fluid about-img img-fluid">
    </div>
    <div class="container">
        <div class="row" style="JUSTIFY-CONTENT: CENTER; margin-top:2rem;">
            <ul class="nav nav-tabs" style="align-content: center;">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aboutEngineer">Engineer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#aboutDealer">Dealer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#aboutDistributor">Distributor</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active " id="aboutEngineer">
                <div class="container tab-align">
                    <div class="row">
                        <div class="col-md-12 about-content-box">
                            <p class="head">
                                <strong>Dear Partner</strong>
                                <br>Welcome to the JSW Privilege Club</p>
                            <p class="about-description"> At JSW, we believe in building relationships that stand the test of time. The JSW Privilege Club is designed exclusively for a select few to reinforce &amp; build, reliability, trust &amp; a strong bond. We look forward to
                                many more brighter tomorrows with you.</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row box">
                    <div class="about-box1">
                        <a href="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/JSW_UploadContents/JSW_Brochures/Engineers_brochure.pdf" target="_blank" class="btn btn-about-jsw">Download Brochure</a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row box">
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/1.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Growing & Nurturing Partnerships</strong>

                            </p>
                            <a href="" class="btn btn-about-jsw" id="modal" data-toggle="modal" data-target="#Modal2" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/3.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Performance & Growth</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" id="modal" data-toggle="modal" data-target="#Modal1" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/2.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Building & Celebrating Bond Beyond Business</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" id="modal" data-toggle="modal" data-target="#Modal3" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                    </div>

                    <!-- Modal 1 -->
                    <div class="modal fade" id="Modal1" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Performance & Growth</h4>
                                    <button type="button" class="close" id="modal" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/b.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Performance Awards:</strong>
                                                <br> Rewarding Qualified Leads</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/a.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Classroom Sessions:</strong>
                                                <br> Educative and Knowledge sharing webinars and online sessions by experts every quarter</p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                    <!-- Modal 2 -->
                    <div class="modal fade" id="Modal2" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Growing & Nurturing Partnerships</h4>
                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/d.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Technical Training: </strong>
                                                <br>Extensive Product Training &amp; Information sessions to enhance the knowledge of the partners.
                                            </p>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/ask.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Ask an Expert:</strong>
                                                <br>An exclusive program for the top 100 engineers in the country.
                                            </p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                    <!-- Modal 3 -->
                    <div class="modal fade" id="Modal3" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Building & Celebrating Bond Beyond Business</h4>
                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/f.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Celebrations &amp; More: :
                                                </strong>
                                                <br> Exciting contests for the engineers &amp; their families. Celebrating all special occasions together.
                                            </p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                </div>
            </div>
            <div class="tab-pane" id="aboutDealer">
                <div class="container tab-align">
                    <div class="row">
                        <div class="col-md-12 about-content-box">
                            <p class="head">
                                <strong>Dear Partner</strong>
                                <br>Welcome to the JSW Privilege Club</p>
                            <p class="about-description"> At JSW, we believe in building relationships that stand the test of time. The JSW Privilege Club is designed exclusively for a select few to reinforce &amp; build, reliability, trust &amp; a strong bond. We look forward to
                                many more brighter tomorrows with you.</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row box">

                    <div class="about-box1">
                        <a href="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/JSW_UploadContents/JSW_Brochures/Dealer_brochure.pdf" target="_blank" class="btn btn-about-jsw">Download Brochure</a>
                    </div>

                </div>
                <div class="container-fluid">

                    <div class="row box">



                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/1.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Growing & Nurturing Partnerships</strong>

                            </p>
                            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal4" id="modal" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/3.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Performance & Growth</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal5" id="modal" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/2.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Building & Celebrating Bond Beyond Business</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal6" id="modal" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                    </div>
                    <!-- Modal 1 -->
                    <div class="modal fade" id="Modal5" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Performance & Growth</h4>
                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/b.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Performance Awards:</strong>
                                                <br> Performance awards - An exciting, feature packed dealer loyalty program. Rewarding growth &amp; performances.</p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                    <!-- Modal 2 -->
                    <div class="modal fade" id="Modal4" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Growing & Nurturing Partnerships</h4>
                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/d.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Product Training &amp; Plant Visits: </strong>
                                                <br>Product training &amp; information sessions during plant visits to enhance the knowledge of our partners. </p>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/c.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Business Meets:</strong>
                                                <br>Scheduled meets with JSW ofﬁcials to get dealer insights, resolve queries, and help in improving overall sales &amp; growth.
                                            </p>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/e.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Soft Skill Training:</strong>
                                                <br>Equipping are partners with the soft skills required to boost relationship and business growth.
                                            </p>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                    <!-- Modal 3 -->
                    <div class="modal fade" id="Modal6" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Building & Celebrating Bond Beyond Business</h4>
                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/f.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>

                                                <strong>Building & Celebrating Bond Beyond Business:</strong>
                                                <br> Exciting contests for the dealers &amp; their families. Celebrating all special occasions together. Channel Conference - Annual Rewards and Recognition
                                            </p>
                                        </div>
                                        <br>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                </div>
            </div>
            <div class="tab-pane" id="aboutDistributor">
                <div class="container tab-align">
                    <div class="row">
                        <div class="col-md-12 about-content-box">
                            <p class="head">
                                <strong>Dear Partner</strong>
                                <br>Welcome to the JSW Privilege Club</p>
                            <p class="about-description"> At JSW, we believe in building relationships that stand the test of time. The JSW Privilege Club is designed exclusively for a select few to reinforce &amp; build, reliability, trust &amp; a strong bond. We look forward to
                                many more brighter tomorrows with you.</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row box">
                    <div class="about-box1">
                        <a href="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/JSW_UploadContents/JSW_Brochures/Distributor_brochure.pdf" target="_blank" class="btn btn-about-jsw">Download Brochure</a>
                    </div>

                </div>
                <div class="container-fluid">
                    <div class="row box">
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/1.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Growing & Nurturing Partnerships</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal7" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/3.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Performance & Growth</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal8" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                        <div class="about-box">
                            <div class="contactCallout-Icon">
                                <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/2.png" class="con-icon">
                            </div>
                            <p class="about-description">
                                <strong>Building & Celebrating Bond Beyond Business</strong>
                            </p>
                            <a href="" class="btn btn-about-jsw" data-toggle="modal" data-target="#Modal9" (click)="stopScroll()">Know More</a>
                            <br>
                        </div>
                    </div>
                    <!-- Modal 1 -->
                    <div class="modal fade" id="Modal8" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Performance & Growth</h4>
                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/b.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Performance Awards:</strong>
                                                <br>Leaderboard on performance &amp; acheivements.</p>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/a.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Motivational Training</strong>
                                                <br>Training from experts for distributors &amp; their spouses.</p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                    <!-- Modal 2 -->
                    <div class="modal fade" id="Modal7" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- <h4 class="modal-title">Business Know-How</h4> -->
                                    <h4 class="modal-title">Growing & Nurturing Partnerships</h4>

                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()"> &times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/d.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Technical Training:</strong>
                                                <br>Keeping our team abreast with the latest happenings and technical advancements in the industry through our technical training sessions</p>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/c.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Regular Meets:</strong>
                                                <br>Scheduled meets and greet sessions with top brass of JSW to help improve oppurtunities to grow together.
                                            </p>
                                        </div>
                                        <br>
                                    </div>

                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                    <!-- Modal 3 -->
                    <div class="modal fade" id="Modal9" style="z-index:11000;">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Building & Celebrating Bond Beyond Business</h4>

                                    <button type="button" class="close" data-dismiss="modal" (click)="scrollActivate()">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-2">
                                            <img class="ikon" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/f.png">
                                        </div>
                                        <div class="col-md-10 mob-text-align">
                                            <p>
                                                <strong class="title-text">Celebrations &amp; More:</strong>
                                                <br> Exciting contests for the distributors &amp; their families. Celebrating all special occasions together.
                                            </p>
                                        </div>
                                        <br>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Close -->
                </div>
            </div>
        </div>
    </div>
</div>