$font-family:Roboto;
.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}
.heading-mob {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.3rem;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}
hr{
      margin-top: 6px; 
      margin-bottom: 50px;
    //   color: black ;
      border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.bg-program {
    background: #0d0e0f;
    padding: 40px 0px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.proglist {
    display: flex;
    justify-content: space-evenly;
}

.proglistContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progsublist {
    list-style: none;
}

.intro-icon {
    background: #b3975b;
    padding: 2em;
    border: 0;
    border-radius: 50%;
}

.content-box {
    background: #232425;
    color: #fff;
}

.table-head {
    font-family: $font-family;
    font-size: 1em;
    background-color: #222;
    color: #d8b56f;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-higlighter {
    font-family: $font-family;
    font-size: 1em;
    background: #e8dcc3;
    color: #222 !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-spcl {
    font-family: $font-family;
    font-size: 1em;
    background-color: #b6985b;
    color: #fff !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
    vertical-align: top;
}

.table-cells {
    font-family: $font-family;
    font-size: 1em;
    background-color: #f7f6f6;
    color: #222 !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.checked {
    width: 10%;
}

.checked2 {
    width: 5%;
}
.dealer-offer-image
{
    margin-top: -1.5%;
}
.dealer-table1-card
{
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom: -5px;
    margin-top:20px;
}
.dealer-table1-card-body
{
    padding:0.25rem;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
.card-dealer-main-div
{
    margin-top:-61px;
    padding:28px;
}
.dealer-card-header
{
    font-size: 15px;
    margin-bottom: 5px;
}
.dealer-card-header-subdiv
{
    padding-left:14px;
    font-size: 20px;
}
.dealer-card-contentheader
{
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}
.dealer-card-contentsubheader
{
    padding-left:14px;
    font-size: 15px;
    margin-bottom:7px;
}
.card-content-div
{
    margin-bottom: 5px;
    font-size:15px;
    padding:16px;
    padding-top:1px;
}
.dealer-card-content-padding
{
    padding-left:10px;
}
@media screen and (max-width:810px) and (min-width:310px)
{
    .dealer-offer-image
    {
        margin-top: -1.5%;
        height: 100%;
        margin-bottom: 1.1em;
    }
    .bannerImage
    {
        // height: 150px;
        // margin-top: -47px;
    }

    
}