<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>



<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/banner.jpg" class="bannerImage" width="100%" />
</div>
<!-- Banner for mobile App -->
<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" width="100%" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" width="100%" />
</div>

<!-- #### For Distributor ##### -->
<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole 
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole 
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="container-fluid">
    <div class="row">

        <!-- For PC  Start -->
        <div class="col-md-12" *ngIf="displaypc">
            <div *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorProgramRole && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorAdminProgramRole" class=" heading subtext-center">
                 Distributor Program Tier
            </div>
            <table class="table my-4">
                <thead class="">
                    <tr>
                        <td rowspan="2" class="table-head">Club Category</td>
                        <td colspan="5" class="table-head">Sales Qty Slab Productwise</td>
                    </tr>
                    <tr>
                        <td class="table-head">HR</td>
                        <td class="table-head">TMT</td>
                        <td class="table-head">CR</td>
                        <td class="table-head">COATED</td>
                        <td class="table-head">WRC</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-spcl">Platinum +</td>
                        <td colspan="5" class="txt-br table-higlighter">All our Platinum partners are exclusive to JSW including JSW explore</td>
                    </tr>
                    <tr>
                        <td class="table-spcl">Platinum</td>
                        <td class="table-cells">&gt; 48000</td>
                        <td class="table-cells">&gt; 48000</td>
                        <td class="table-cells">&gt; 30000</td>
                        <td class="table-cells">&gt; 15000</td>
                        <td class="table-cells">&gt; 15000</td>
                    </tr>
                    <tr>
                        <td class="table-spcl">Diamond</td>
                        <td class="table-higlighter">15001 - 48000</td>
                        <td class="table-higlighter">15001 - 48000</td>
                        <td class="table-higlighter">15001 - 30000</td>
                        <td class="table-higlighter">6001 - 15000</td>
                        <td class="table-higlighter">6001 - 15000</td>
                    </tr>
                    <tr>
                        <td class="table-spcl">Gold</td>
                        <td class="table-cells">4801 - 15000</td>
                        <td class="table-cells">3601 - 15000</td>
                        <td class="table-cells">3601 - 15000</td>
                        <td class="table-cells">2401 - 6000</td>
                        <td class="table-cells">2401 - 6000</td>
                    </tr>
                    <tr>
                        <td class="table-spcl">Silver</td>
                        <td class="table-higlighter">2400 - 4800</td>
                        <td class="table-higlighter">2400 - 3600</td>
                        <td class="table-higlighter">2400 - 3600</td>
                        <td class="table-higlighter">1500 - 2400</td>
                        <td class="table-higlighter">1500 - 2400</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- For PC  End -->



        <!--End of first table-->
        <!--Code for mobile-->
        <div class="col-12" *ngIf="displaymobile" style="margin-top:-61px;padding:28px;">
                <div *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorProgramRole
                && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorAdminProgramRole" class=" heading-mob subtext-center" style="margin-top: 0.5rem;">
                     Distributor Program Tier
                </div>
            <div>
                <div class="card shadow-prop" style="margin-left:-15px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div style="font-size: 15px;margin-bottom: 5px;">
                            <div class="row" style="padding-left:14px">
                                <b style="opacity:0.8;">Club Category</b>
                            </div>
                            <div class="row" style="padding-left:14px;padding-bottom:12px;font-size: 20px; border-bottom: 1px solid grey;">
                                <p class="card-text">
                                    <b>Platinum+</b>
                                </p>
                            </div>
                        </div>

                        <div style="margin-bottom: 5px;border-bottom: 1px solid grey;">
                            <div class="row" style="padding-left:14px;font-size: 15px;margin-bottom:7px;">
                                <b style="opacity:0.8;">Sales Qty Slab Productwise </b>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="row" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <b>All our Platinum partners are exclusive to JSW including JSW explore</b>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Code for mobile ends here-->
        <!--Code for mobile-->
        <div class="col-12" *ngIf="displaymobile" style="padding:28px;margin-top:-55px;">
            <div>
                <div class="card shadow-prop" style="margin-left:-15px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div style="font-size: 15px;margin-bottom: 5px;">
                            <div class="row" style="padding-left:14px">
                                <b style="opacity:0.8;">Club Category</b>
                            </div>
                            <div class="row" style="padding-left:14px;padding-bottom:12px;font-size: 20px; border-bottom: 1px solid grey;">
                                <p class="card-text">
                                    <b>Platinum</b>
                                </p>
                            </div>
                        </div>

                        <div style="margin-bottom: 5px;border-bottom: 1px solid grey;">
                            <div class="row" style="padding-left:14px;font-size: 15px;margin-bottom:7px;">
                                <b style="opacity:0.8;">Sales Qty Slab Productwise </b>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">

                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">HR</div>
                                <div class="row">TMT</div>
                                <div class="row">CR</div>
                                <div class="row">COATED</div>
                                <div class="row">WRC</div>
                            </div>
                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">&gt; 48000</div>
                                <div class="row">&gt; 48000</div>
                                <div class="row">&gt; 30000</div>
                                <div class="row">&gt; 15000</div>
                                <div class="row">&gt; 15000</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Code for mobile ends here-->
        <!--Code For mobile-->
        <div class="col-12" *ngIf="displaymobile" style="padding:28px;margin-top:-55px;">
            <div>
                <div class="card shadow-prop" style="margin-left:-15px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div style="font-size: 15px;margin-bottom: 5px;">
                            <div class="row" style="padding-left:14px">
                                <b style="opacity:0.8;">Club Category</b>
                            </div>
                            <div class="row" style="padding-bottom:12px;padding-left:14px;font-size: 20px; border-bottom: 1px solid grey;">
                                <p class="card-text">
                                    <b>Diamond</b>
                                </p>
                            </div>
                        </div>

                        <div style="margin-bottom: 5px;border-bottom: 1px solid grey;">
                            <div class="row" style="padding-left:14px;font-size: 15px;margin-bottom:7px;">
                                <b style="opacity:0.8;">Sales Qty Slab Productwise </b>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">

                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">HR</div>
                                <div class="row">TMT</div>
                                <div class="row">CR</div>
                                <div class="row">COATED</div>
                                <div class="row">WRC</div>
                            </div>
                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">15001 - 48000</div>
                                <div class="row">15001 - 48000</div>
                                <div class="row">15001 - 30000</div>
                                <div class="row">6001 - 15000</div>
                                <div class="row">6001 - 15000</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Code for mobile ends here-->
        <!--Code for mobile-->
        <div class="col-12" *ngIf="displaymobile" style="padding:28px;margin-top:-55px;">
            <div >
                <div class="card shadow-prop" style="margin-left:-15px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div style="font-size: 15px;margin-bottom: 5px;">
                            <div class="row" style="padding-left:14px">
                                <b style="opacity:0.8;">Club Category</b>
                            </div>
                            <div class="row" style="padding-left:14px;padding-bottom:12px;font-size: 20px; border-bottom: 1px solid grey;">
                                <p class="card-text">
                                    <b>Gold</b>
                                </p>
                            </div>
                        </div>

                        <div style="margin-bottom: 5px;border-bottom: 1px solid grey;">
                            <div class="row" style="padding-left:14px;font-size: 15px;margin-bottom:7px;">
                                <b style="opacity:0.8;">Sales Qty Slab Productwise </b>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">

                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">HR</div>
                                <div class="row">TMT</div>
                                <div class="row">CR</div>
                                <div class="row">COATED</div>
                                <div class="row">WRC</div>
                            </div>
                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">4801 - 15000</div>
                                <div class="row">3601 - 15000</div>
                                <div class="row">3601 - 15000</div>
                                <div class="row">2401 - 6000</div>
                                <div class="row">2401 - 6000</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Code for mobile ends here-->
        <!--Code for Mobile-->
        <div class="col-12" *ngIf="displaymobile" style="padding:28px;margin-top:-55px;">
            <div>
                <div class="card shadow-prop" style="margin-left:-15px;padding-bottom:12px;margin-right:-15px;margin-bottom: -5px;margin-top:20px;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div style="font-size: 15px;margin-bottom: 5px;">
                            <div class="row" style="padding-left:14px">
                                <b style="opacity:0.8;">Club Category</b>
                            </div>
                            <div class="row" style="padding-left:14px;padding-bottom:12px;font-size: 20px; border-bottom: 1px solid grey;">
                                <p class="card-text">
                                    <b>Silver</b>
                                </p>
                            </div>
                        </div>

                        <div style="margin-bottom: 5px;border-bottom: 1px solid grey;">
                            <div class="row" style="padding-left:14px;font-size: 15px;margin-bottom:7px;">
                                <b style="opacity:0.8;">Sales Qty Slab Productwise </b>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">

                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">HR</div>
                                <div class="row">TMT</div>
                                <div class="row">CR</div>
                                <div class="row">COATED</div>
                                <div class="row">WRC</div>
                            </div>
                            <div class="col-sm-6 col-6" style="padding:31px;padding-top:3px;font-size: 15px;padding-bottom:0px;">
                                <div class="row">2400 - 4800</div>
                                <div class="row">2400 - 3600</div>
                                <div class="row">2400 - 3600</div>
                                <div class="row">1500 - 2400</div>
                                <div class="row">1500 - 2400</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <!-- For PC  Start -->
        <!--Starting Second table-->
        <div class="col-12">
        <div class="col-md-12 m-t-4">
            <table class="table my-4" *ngIf="displaypc">
                <thead>
                    <tr>
                        <td class="table-head">Pillars</td>
                        <td class="table-head">Activities</td>
                        <td class="table-head">Platinum +</td>
                        <td class="table-head">Platinum</td>
                        <td class="table-head">Diamond</td>
                        <td class="table-head">Gold</td>
                        <td class="table-head">Silver</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="table-higlighter">Welcome Kit</td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="table-spcl">Performance & Growth</td>
                        <td style="text-align:left" class="table-cells">Leader board</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Performer of the month</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="table-spcl">Growing & Nurturing Partnerships</td>
                        <td style="text-align:left" class="table-higlighter">Motivational training session for distributors &amp; spouses</td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">&nbsp;</td>
                        <td class="table-higlighter">&nbsp;</td>
                        <td class="table-higlighter">&nbsp;</td>
                        <td class="table-higlighter">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-higlighter">Business training</td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Celebration special moments</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td rowspan="11" class="table-spcl">Building & Celebrating Bond Beyond Business</td>
                        <td style="text-align:left" class="table-cells">Festival contests</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Special deals</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Sponsored visits of distributors parents to religious places</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Mehandi contest</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Movie vouchers - as boosters and surprise gifts across the year</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Health package for distributors &amp; his spouse</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Rangoli contest</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Best out of waste</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Training session for distributors &amp; spouses</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Talent hunt</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Theme painting/photography</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked">
                        </td>
                    </tr>
                </tbody>

            </table>


            <br>
            <!--Code for mobile-->
            <div *ngIf="displaymobile" style="margin-bottom:10px;margin-top:15px;">
                <b>Profile and Activity</b>
            </div>

            <div id="accordion" *ngIf="displaymobile" style="margin-bottom:17px;">


                <div class="card">
                    <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseZero">
                        <a class="card-link" style="color:black;">
                            Platinum+
                        </a>
                    </div>
                    <div id="collapseZero" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <!-- <div class="row card-heading-div">
                                <p>Welcome Kit</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Welcome Kit</li>
                                </ul>
                            </div> -->
                            <div class="row card-heading-div">
                                <p>Performance & Growth</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Leader board/Performer of the month</li>
                                    <li class="mob-font-small">MOU-International Trip*</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div" style="margin-left:-13px;">
                                <p>Growing & Nurturing Partnerships</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Motivational training session for distributors & spouses</li>
                                    <li class="mob-font-small">Business training</li>
                                    <li class="mob-font-small">Celebration special moments</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div">
                                <p>Building & Celebrating Bond Beyond Business</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Health , Nutrition & You contest </li>
                                    <li class="mob-font-small">Movie vouchers - as boosters and surprise gifts across the year</li>
                                    <li class="mob-font-small">Health package for distributors & his spouse</li>
                                    <li class="mob-font-small">Rangoli contest</li>
                                    <li class="mob-font-small">Best out of waste</li>
                                    <li class="mob-font-small">Talent hunt</li>
                                    <li class="mob-font-small">Theme painting/photography</li>
                                    <!-- <li class="mob-font-small">Best out of waste</li>
                                    <li class="mob-font-small">Training session for distributors & spouses</li>
                                    <li class="mob-font-small">Talent hunt</li>
                                    <li class="mob-font-small">Theme painting/photography</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseOne">
                        <a class="card-link" style="color:black;">
                            Platinum
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <!-- <div class="row card-heading-div">
                                <p>Welcome Kit</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Welcome Kit</li>
                                </ul>
                            </div> -->
                            <div class="row card-heading-div">
                                <p>Performance & Growth</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Leader board/Performer of the month</li>
                                    <li class="mob-font-small">MOU- International Trip*</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div" style="margin-left:-13px;">
                                <p>Growing & Nurturing Partnerships</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Motivational training session for distributors & spouses</li>
                                    <li class="mob-font-small">Business training</li>
                                    <li class="mob-font-small">Celebration special moments</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div">
                                <p>Building & Celebrating Bond Beyond Business</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Health , Nutrition & You contest </li>
                                    <li class="mob-font-small">Movie vouchers - as boosters and surprise gifts across the year</li>
                                    <li class="mob-font-small">Health package for distributors & his spouse</li>
                                    <li class="mob-font-small">Rangoli contest</li>
                                    <li class="mob-font-small">Best out of waste</li>
                                    <li class="mob-font-small">Talent hunt</li>
                                    <li class="mob-font-small">Theme painting/photography</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseTwo">
                        <a class="collapsed card-link" style="color:black;">
                            Diamond
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <!-- <div class="row card-heading-div ">
                                <p>Welcome Kit</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Welcome Kit</li>
                                </ul>
                            </div> -->
                            <div class="row card-heading-div">
                                <p>Performance & Growth</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Leader board/Performer of the month</li>
                                    <li class="mob-font-small">MOU- International Trip*</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div" style="margin-left:-13px;">
                                <p>Growing & Nurturing Partnerships</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Motivational training session for distributors & spouses</li>
                                    <!-- <li class="mob-font-small">Business training</li> -->
                                    <li class="mob-font-small">Celebration special moments</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div">
                                <p>Building & Celebrating Bond Beyond Business</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Health , Nutrition & You contest </li>
                                    <li class="mob-font-small">Movie vouchers - as boosters and surprise gifts across the year</li>
                                    <li class="mob-font-small">Health package for distributors & his spouse</li>
                                    <li class="mob-font-small">Rangoli contest</li>
                                    <li class="mob-font-small">Best out of waste</li>
                                    <li class="mob-font-small">Talent hunt</li>
                                    <li class="mob-font-small">Theme painting/photography</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseThree">
                        <a class="collapsed card-link" style="color:black;">
                            Gold
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <!-- <div class="row card-heading-div">
                                <p>Welcome Kit</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Welcome Kit</li>
                                </ul>
                            </div> -->
                            <div class="row card-heading-div ">
                                <p>Performance & Growth</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Leader board/Performer of the month</li>
                                    <li class="mob-font-small">MOU- International Trip*</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div" style="margin-left:-13px;">
                                <p>Growing & Nurturing Partnerships</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Celebration special moments</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div">
                                <p>Building & Celebrating Bond Beyond Business</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Health , Nutrition & You contest </li>
                                    <!-- <li class="mob-font-small">Movie vouchers - as boosters and surprise gifts across the year</li> -->
                                    <li class="mob-font-small">Health package for distributors & his spouse</li>
                                    <li class="mob-font-small">Rangoli contest</li>
                                    <li class="mob-font-small">Best out of waste</li>
                                    <li class="mob-font-small">Talent hunt</li>
                                    <li class="mob-font-small">Theme painting/photography</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseSilver">
                        <a class="card-link" style="color:black;">
                            Silver
                        </a>
                    </div>
                    <div id="collapseSilver" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <!-- <div class="row card-heading-div ">
                                <p>Welcome Kit</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Welcome Kit</li>
                                </ul>
                            </div> -->
                            <div class="row card-heading-div ">
                                <p>Performance & Growth</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <!-- <li class="mob-font-small">Leader board</li>
                                    <li class="mob-font-small">Performer of the month</li> -->
                                </ul>
                            </div>
                            <div class="row card-heading-div" style="margin-left:-13px;">
                                <p>Growing & Nurturing Partnerships</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Celebration special moments</li>
                                </ul>
                            </div>
                            <div class="row card-heading-div ">
                                <p>Building & Celebrating Bond Beyond Business</p>
                            </div>
                            <div class="row">
                                <ul>
                                    <li class="mob-font-small">Health , Nutrition & You contest </li>
                                    <!-- <li class="mob-font-small">Movie vouchers - as boosters and surprise gifts across the year</li> -->
                                    <li class="mob-font-small">Health package for distributors & his spouse</li>
                                    <li class="mob-font-small">Rangoli contest</li>
                                    <li class="mob-font-small">Best out of waste</li>
                                    <li class="mob-font-small">Talent hunt</li>
                                    <li class="mob-font-small">Theme painting/photography</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Code for mobile ends here-->
        
        
        </div>
        <!-- For PC  End -->
        </div>
    </div>
</div>
<!-- #### For Dealer ##### -->

<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole 
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole 
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="container-fluid">

    <div class="row">
        <div class="col-md-12"  *ngIf="displaypc">
       
            <div class="subtext-center heading" *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswDealerProgramRole && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDealerAdminProgramRole">
                <hr>
                Dealer Program Tier</div>
            <h4>
                <strong>Categories &amp; Quantities</strong>
            </h4>
            <table class="table my-4">
                <thead class="">
                    <tr>
                        <td colspan="5" class="table-head">Sales Qty Slab Productwise</td>
                    </tr>
                    <tr>
                        <td class="table-head">Product</td>
                        <td class="table-head">Club Category</td>
                        <td class="table-head">Points/Ton</td>
                        <td class="table-head">Monthly Targets (In Tons)</td>
                        <td class="table-head">Reward Gallery Opens (Points Thresholds)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" class="table-spcl">TMT</td>
                        <td class="table-cells">Silver</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">20</td>
                        <td class="table-cells">2000</td>
                    </tr>
                    <tr>
                        <td class="table-cells">Gold</td>
                        <td class="table-cells">50</td>
                        <td class="table-cells">35</td>
                        <td class="table-cells">7000</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="table-spcl">Coated</td>
                        <td class="table-cells">Silver</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">10</td>
                        <td class="table-cells">1000</td>
                    </tr>
                    <tr>
                        <td class="table-cells">Gold</td>
                        <td class="table-cells">50</td>
                        <td class="table-cells">20</td>
                        <td class="table-cells">4000</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="table-spcl">TMT+Coated</td>
                        <td class="table-cells">Silver</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">2500</td>
                    </tr>
                    <tr>
                        <td class="table-cells">Gold</td>
                        <td class="table-cells">50</td>
                        <td class="table-cells">45</td>
                        <td class="table-cells">9000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Code for mobile starts here-->
        <div class="col-12" *ngIf="displaymobile">
        <div class="col-12 card-dealer-main-div" *ngIf="displaymobile" style="margin-top:-35px;padding:28px;">
                <div *ngIf="this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineerProgramRole
                && this.programUserInfo.programRole != this.stringService.getStaticContents().jswEngineersAdminProgramRole  
                && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorProgramRole
                && this.programUserInfo.programRole != this.stringService.getStaticContents().jswDistributorAdminProgramRole" class=" heading-mob subtext-center" style="margin-top: 0.5rem;">
                     Dealer Program Tier
                </div>
            <div style="font-size:17px;margin-left:-13px;margin-top:18px;margin-bottom:-10px;">
                <b>Categories & Quantities</b>
            </div>
            <div>
                <div class="card shadow-prop dealer-table1-card">
                    <div class="card-body dealer-table1-card-body">
                        <div class="dealer-card-header">

                            <div class="row dealer-card-header-subdiv">
                                <p class="card-text">
                                    <b>TMT</b>
                                </p>
                            </div>
                        </div>

                        <div class="dealer-card-contentheader">
                            <div class="row dealer-card-contentsubheader">
                                <b style="opacity:0.8;">Silver</b>
                            </div>
                        </div>

                        <div class="row card-content-div">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                <div class="row">
                                    Points/Ton
                                </div>
                                <div class="row">
                                    Monthly Targets (In Tons)
                                </div>
                                <div class="row">
                                    Reward Gallery Opens (Points Thresholds)
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                <div class="row dealer-card-content-padding">
                                    25
                                </div>
                                <div class="row dealer-card-content-padding">
                                    20
                                </div>
                                <div class="row dealer-card-content-padding">
                                    2000
                                </div>
                            </div>
                        </div>


                        <div class="dealer-card-contentheader">
                            <div class="row dealer-card-contentsubheader">
                                <b style="opacity:0.8;">Gold</b>
                            </div>
                        </div>

                        <div class="row card-content-div" style="padding-bottom:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                <div class="row">
                                    Points/Ton
                                </div>
                                <div class="row">
                                    Monthly Targets (In Tons)
                                </div>
                                <div class="row">
                                    Reward Gallery Opens (Points Thresholds)
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                <div class="row dealer-card-content-padding">
                                    50
                                </div>
                                <div class="row dealer-card-content-padding">
                                    35
                                </div>
                                <div class="row dealer-card-content-padding">
                                    7000
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div>
                <div class="card shadow-prop dealer-table1-card">
                    <div class="card-body dealer-table1-card-body">
                        <div class="dealer-card-header">

                            <div class="row dealer-card-header-subdiv">
                                <p class="card-text">
                                    <b>Coated</b>
                                </p>
                            </div>
                        </div>

                        <div class="dealer-card-contentheader">
                            <div class="row dealer-card-contentsubheader">
                                <b style="opacity:0.8;">Silver</b>
                            </div>
                        </div>

                        <div class="row card-content-div">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                <div class="row">
                                    Points/Ton
                                </div>
                                <div class="row">
                                    Monthly Targets (In Tons)
                                </div>
                                <div class="row">
                                    Reward Gallery Opens (Points Thresholds)
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                <div class="row dealer-card-content-padding">
                                    25
                                </div>
                                <div class="row dealer-card-content-padding">
                                    10
                                </div>
                                <div class="row dealer-card-content-padding">
                                    1000
                                </div>
                            </div>
                        </div>


                        <div class="dealer-card-contentheader">
                            <div class="row dealer-card-contentsubheader">
                                <b style="opacity:0.8;">Gold</b>
                            </div>
                        </div>

                        <div class="row card-content-div" style="padding-bottom:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                <div class="row">
                                    Points/Ton
                                </div>
                                <div class="row">
                                    Monthly Targets (In Tons)
                                </div>
                                <div class="row">
                                    Reward Gallery Opens (Points Thresholds)
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                <div class="row dealer-card-content-padding">
                                    50
                                </div>
                                <div class="row dealer-card-content-padding">
                                    20
                                </div>
                                <div class="row dealer-card-content-padding">
                                    4000
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div>
                <div class="card shadow-prop dealer-table1-card">
                    <div class="card-body dealer-table1-card-body">
                        <div class="dealer-card-header">

                            <div class="row dealer-card-header-subdiv">
                                <p class="card-text">
                                    <b>TMT+Coated</b>
                                </p>
                            </div>
                        </div>

                        <div class="dealer-card-contentheader">
                            <div class="row dealer-card-contentsubheader">
                                <b style="opacity:0.8;">Silver</b>
                            </div>
                        </div>

                        <div class="row card-content-div">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                <div class="row">
                                    Points/Ton
                                </div>
                                <div class="row">
                                    Monthly Targets (In Tons)
                                </div>
                                <div class="row">
                                    Reward Gallery Opens (Points Thresholds)
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                <div class="row dealer-card-content-padding">
                                    25
                                </div>
                                <div class="row dealer-card-content-padding">
                                    25
                                </div>
                                <div class="row dealer-card-content-padding">
                                    2500
                                </div>
                            </div>
                        </div>


                        <div class="dealer-card-contentheader">
                            <div class="row dealer-card-contentsubheader">
                                <b style="opacity:0.8;">Gold</b>
                            </div>
                        </div>

                        <div class="row card-content-div" style="padding-bottom:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                <div class="row">
                                    Points/Ton
                                </div>
                                <div class="row">
                                    Monthly Targets (In Tons)
                                </div>
                                <div class="row">
                                    Reward Gallery Opens (Points Thresholds)
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                <div class="row dealer-card-content-padding">
                                    50
                                </div>
                                <div class="row dealer-card-content-padding">
                                    45
                                </div>
                                <div class="row dealer-card-content-padding">
                                    9000
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--Code for mobile ends here-->
        <p class="text-center" style="margin-top: -1.8%;">
            <img alt="" class="col-md-6" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Bonus.png">
        </p>
        <div class="col-md-12">
            <!-- <p> -->
            <h6>Terms &amp; Conditions</h6>
            <small>
                <ul>
                    <li>Only the Shoppe Connect partners earn a 20% bonus on their points.</li>
                    <li>On reaching their respective redemption points slabs, their points account will be credited for every
                        ton purchased.</li>
                    <li>The dealer will be eligible to participate in the next year program only if he has made purchases in
                        nine out of twelve months.</li>
                    <li>Only sales recorded in iSales will be considered.</li>
                    <li>Only ECP billing will be considered.</li>
                </ul>
            </small>
            <!-- </p> -->
        </div>
        <!--Code for Mobile ends here-->
        <div class="col-md-12 m-t-4" *ngIf="displaypc">
            <table class="table my-4">
                <thead>
                    <tr>
                        <td class="table-head">Pillars</td>
                        <td class="table-head">Activities</td>
                        <td class="table-head">Gold</td>
                        <td class="table-head">Silver</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="table-higlighter">Welcome Kit</td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-higlighter">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" class="table-spcl">Performance & Growth</td>
                        <td style="text-align:left" class="table-cells">Performance Rewards</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="table-spcl">Growing & Nurturing Partnerships</td>
                        <td style="text-align:left" class="table-cells">Product Training & Plant Visits</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Business meets</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Soft skills training</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="table-spcl">Building & Celebrating Bond Beyond Business</td>
                        <td style="text-align:left" class="table-cells">Health, nutrition &amp; you</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Rangoli contest</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Theme painting</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left" class="table-cells">Annual Channel Conference - Rewards and Recognition.</td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                        <td class="table-cells">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/checked.png" class="checked2">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!--Code for Mobile Starts-->
    <div id="accordion" *ngIf="displaymobile" style="margin-bottom:17px;">
        <div class="card">
            <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseGold">
                <a class="collapsed card-link" style="color:black;">
                    Gold
                </a>
            </div>
            <div id="collapseGold" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row card-heading-div">
                        <p>Welcome Kit</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Welcome Kit</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div ">
                        <p>Performance & Growth</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Performance Rewards</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div" style="margin-left:-13px;">
                        <p>Growing & Nurturing Partnerships</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Product Training & Plant Visits</li>
                            <li class="mob-font-small">Business meets</li>
                            <li class="mob-font-small">Soft skills training</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div">
                        <p>Building & Celebrating Bond Beyond Business</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Health, nutrition & you</li>
                            <li class="mob-font-small">Rangoli contest</li>
                            <li class="mob-font-small">Theme painting</li>
                            <li class="mob-font-small">Annual Channel Conference - Rewards and Recognition.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseSilver1">
                <a class="card-link" style="color:black;">
                    Silver
                </a>
            </div>
            <!-- <div id="collapseTen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row card-heading-div ">
                        <p>Welcome Kit</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Welcome Kit</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div ">
                        <p>Performance & Growth</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Leader board</li>
                            <li class="mob-font-small">Performer of the month</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div" style="margin-left:-13px;">
                        <p>Growing & Nurturing Partnerships</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Business training</li>
                            <li class="mob-font-small">Celebration special moments</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div ">
                        <p>Building & Celebrating Bond Beyond Business</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Festival contests</li>
                            <li class="mob-font-small">Special deals</li>
                            <li class="mob-font-small">Sponsored visits of distributors parents to religious places</li>
                            <li class="mob-font-small">Mehandi contest</li>
                            <li class="mob-font-small">Movie vouchers - as boosters and surprise gifts across the year</li>
                            <li class="mob-font-small">Health package for distributors & his spouse</li>
                            <li class="mob-font-small">Rangoli contest</li>
                            <li class="mob-font-small">Best out of waste</li>
                            <li class="mob-font-small">Training session for distributors & spouses</li>
                            <li class="mob-font-small">Talent hunt</li>
                            <li class="mob-font-small">Theme painting/photography</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div id="collapseSilver1" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row card-heading-div">
                        <p>Welcome Kit</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Welcome Kit</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div ">
                        <p>Performance & Growth</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Performance Rewards</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div" style="margin-left:-13px;">
                        <p>Growing & Nurturing Partnerships</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Product Training & Plant Visits</li>
                            <li class="mob-font-small">Business meets</li>
                            <li class="mob-font-small">Soft skills training</li>
                        </ul>
                    </div>
                    <div class="row card-heading-div">
                        <p>Building & Celebrating Bond Beyond Business</p>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="mob-font-small">Health, nutrition & you</li>
                            <li class="mob-font-small">Rangoli contest</li>
                            <li class="mob-font-small">Theme painting</li>
                            <li class="mob-font-small">Annual Channel Conference - Rewards and Recognition.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Cpde for Mobile Ends here-->


</div>
</div>

<style>
    .badge-component {
        padding: 0.6em 0.78em;
        border-radius: 1.6em;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    
    .shadow-prop {
        box-shadow: 0 2px 6px #adadad;
    }
    
    .mob-font-small {
        font-size: 17px;
        opacity: 0.8;
    }
    
    .card-heading-div {
        margin-bottom: -15px;
        padding-left: 14px;
    }
</style>
<!--Code for mobile ends here-->