<div *ngIf="(this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole 
||this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole) && displaypc" class="col-lg-12 col-md-12 col-sm-12 padding">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/Coming_Soon.jpg" style="width:100%; margin-top: 2%;height: 100%;" height="585px;" />
</div>

<div *ngIf="(this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole ||
this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole) && displaypc" class="col-lg-12 col-md-12 col-sm-12 padding">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/Coming_Soon.jpg" style="width:100%; margin-top: 2%;height: 100%;" height="585px;" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole" class="col-lg-12 col-md-12 col-sm-12 padding">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/Coming_Soon.jpg" style="width:100%; margin-top: 17%;" />
    </div>

    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole 
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 padding">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/test_banner.jpg" style="width:100%; margin-top: 17%;" />
    </div>
</div>




<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole 
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerAdminProgramRole
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole 
|| this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">

    <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" style="margin-top:1rem" *ngIf=" displaypc">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/testimonial_banner.jpg" class="bannerImage" width="100%" />
    </div>
    <!-- Banner For mobile (Only for engineer -->
    <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf=" displaymobile && (this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole 
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerAdminProgramRole)" style="margin-top: 7rem;">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/testimonial_banner.jpg" class="" width="100%" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf=" displaymobile && (this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole 
    && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerAdminProgramRole)" style="margin-top: 3rem;">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/testimonial_banner.jpg" class="" width="100%" />
    </div>

    <body class="bodyPadding">

        <div class="container-fluid mobile-content-adjust">
            <br>
            <br>
            <div class="row mobile-messages">

                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;JSW is doing an excellent job through privilege club &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;SELVAGANAPATHY
                                <br>
                                <span class="testimonial_desig">
                                    <em>Thyrocare</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap" style="margin-bottom:-33px;">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;It is admirable that JSW is taking care of our health as well&nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;SUDHAKAR HAJERI
                                <br>
                                <span class="testimonial_desig">
                                    <em>Thyrocare</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>

            <div class="row mobile-messages">
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;JSW PC is doing a satisfactory job .Good Going ! &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;SUNIL BHAGEWADI
                                <br>
                                <span class="testimonial_desig">
                                    <em>Thyrocare</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap" style="margin-bottom:-33px;">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;JSW PC is a good prog and it is also a motivational factor &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;SACHIN SARASWAT
                                <br>
                                <span class="testimonial_desig">
                                    <em>Thyrocare</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>


            </div>


            <br>
            <br>

            <div class="row mobile-messages">
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;JSW PC is running with good events &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;RAMESH K N
                                <br>
                                <span class="testimonial_desig">
                                    <em>Thyrocare</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap" style="margin-bottom:-33px;">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;I just want to thank JSW &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;MAKARAND SHRIRAM JAKHALEKAR
                                <br>
                                <span class="testimonial_desig">
                                    <em>Thyrocare</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>


            </div>




            <br>
            <br>

            <div class="row mobile-messages">
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;I am very happy with the privilege club program. I will recommend JSW to my peer group .i could make my family happy with the Amazon Voucher
                            .Thanks a lot &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;S.KISHORE KUMAR
                                <br>
                                <span class="testimonial_desig">
                                    <em>Superstar</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="testimonial-wrap">
                        <p class="testo-text">
                            <img class="Quote-left" title="Testimonial" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-left.png">&nbsp;I am extremely happy with JSW.It is going on international level.I would love to take part in such contests.I shopped for myself.Thanks JSW
                            for making me happy &nbsp;
                            <img class="Quote-right" title="Testimonial Banner" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/about/quote-right.png">
                        </p>
                        <div class="testimonial_content">
                            <p class="testimonial_by"> &mdash; &nbsp;SRIDHAR KATEGAR
                                <br>
                                <span class="testimonial_desig">
                                    <em>Superstar</em>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </body>
</div>