$font-family:Roboto;
.testimonial-wrap {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
}

.Quote-left {
    padding: 0 1em;
    margin-top: -1em;
}

.Quote-right {
    padding: 0 1em;
    margin-bottom: -1em;
}

.testimonial_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2em 0 0;
}

.testimonial_by {
    font-family: $font-family;
    font-size: 1em;
    color: #ff0000;
    font-weight: bolder;
    line-height: 1em;
}

.testimonial_desig {
    font-family: $font-family;
    font-size: 1em;
    color: #ff0000;
    line-height: 2em;
}

.testimonial-wrap {
    border-radius: 1px solid #000;
    margin-bottom: 15px;
}

.padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.bannerMain {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
}
//Code for mobile
@media screen and(max-width:580px) {
    .bannerImage {
        height: 170px;
        margin-top: 22px;
    }
    .mobile-content-adjust
    {
        margin-top:-66px;
    }
    .mobile-messages
    {
        padding-left:15px;
        padding-right:15px;
    }
}
@media screen and (max-width:350px) and (min-width:300px)
{
    .eng-banner{
        margin-top:-10px !important;
    }
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .eng-banner{
        margin-top:21px !important;
    }
}

