/* testing */

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: 0.25em 4em;
    transition: all 0.3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: 0.25em 4em;
    transition: all 0.3s ease 0s;
}

.heading {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}

.subheading {
    font-family: inherit;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: inherit;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.bg-program {
    background: #0d0e0f;
    padding: 40px 0px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.proglist {
    display: flex;
    justify-content: space-evenly;
}

.proglistContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progsublist {
    list-style: none;
}

.intro-icon {
    background: #b3975b;
    padding: 2em;
    border: 0;
    border-radius: 50%;
}

.content-box {
    background: #232425;
    color: #fff;
}

.table-head {
    font-family: inherit;
    font-size: 1em;
    background-color: #222;
    color: #d8b56f;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-higlighter {
    font-family: inherit;
    font-size: 1em;
    background: #e8dcc3;
    color: #222 !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-spcl {
    font-family: inherit;
    font-size: 1em;
    background-color: #b6985b;
    color: #fff !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-cells {
    font-family: inherit;
    font-size: 1em;
    background-color: #f7f6f6;
    color: #222 !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.titlebox {
    background-color: #222;
    color: #d8b56f;
    height: 3em;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 2em;
}

.content-box {
    background: #232425;
    color: #fff;
}