<!-- 	**************************			SPINNER 		*************************	-->
<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>
<!--	************************** 		END OF SPINNER 		**************************	-->
<!--	*************************	FEEDBACK MESSAGE 	***************************		-->
<feedback-message></feedback-message>
<!--	***********************		END OF FEEDBACK MESSAGE 	******************		-->

<div class="container-fluid container" id="channels-details-container" style="min-height:100vh; width:100%;padding:2.188em;">
    <div class="row col-md-12 col-lg-12" *ngIf="tab === 'redem'">
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <form [formGroup]="filterReedemRequestsForm">
                <div class="col-md-12 col-lg-12 " id="myclaims-filters">
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" id="myclaims-viewclaim-title" style="width: 13% !important;">
                        {{stringService.getStaticContents().redeemViewFor}}
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-6 col-xs-6" id="myclaims-viewclaim-duration-filter">
                        <div class="myclaims-dropdown" style="width:initial"> &nbsp;&nbsp; {{filterName}}
                            <div class="myclaims-dropdown-content">
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToLifeTime()"> {{stringService.getStaticContents().redeemAll}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToMonth()"> {{stringService.getStaticContents().redeemMonth}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToWeek()"> {{stringService.getStaticContents().redeemWeek}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToQuarter()"> {{stringService.getStaticContents().redeemQuarter}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChooseStartToEnd()"> {{stringService.getStaticContents().redeemChoose}} &nbsp;
                                    <i class="fa fa-caret-right" aria-hidden="true">
                    							  </i>
                                </div>
                            </div>
                            <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;">
                 						 </i>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6" id="myclaims-viewclaim-status" class="mc-status">
                        {{stringService.getStaticContents().redeemStatus1}}
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-6 col-xs-6" id="myclaims-viewclaim-duration-filter">
                        <div class="myclaims-dropdown" style="width:initial"> &nbsp;&nbsp; {{statusFilterName }}
                            <div class="myclaims-dropdown-content">
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToAll()"> {{stringService.getStaticContents().redeemAll}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToPending()"> {{stringService.getStaticContents().redeemPending}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToConfirmed()"> {{stringService.getStaticContents().redeemConfirmed}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToProcessing()"> {{stringService.getStaticContents().redeemProcessing}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToShipped()"> {{stringService.getStaticContents().redeemShipped}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToCompleted()"> {{stringService.getStaticContents().redeemCompleted}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToCancelled()"> {{stringService.getStaticContents().redeemCancelled}}
                                </div>
                                <!-- <div class="myclaims-view-dropdown" (click)="redeemChangeToReturned()"> {{stringService.getStaticContents().redeemReturned}}
                                        </div> -->
                            </div>
                            <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;"></i>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6" id="myclaims-viewclaim-status" class="mc-status">
                        {{stringService.getStaticContents().redeemApprovalStatus}}
                    </div>
                    <div class="col-md-3 col-lg-2 col-sm-6 col-xs-6" id="myclaims-viewclaim-duration-filter">
                        <div class="myclaims-dropdown" style="width:initial"> &nbsp;&nbsp; {{statusFilterName2 }}
                            <div class="myclaims-dropdown-content">
                                <div class="myclaims-view-dropdown" (click)="redeemChangeToAllApprovalStatus()"> {{stringService.getStaticContents().redeemApprovalStatusAll}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemApprovalStatusPending()"> {{stringService.getStaticContents().redeemApprovalStatusPending}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemApprovalStatusApproved()"> {{stringService.getStaticContents().redeemApprovalStatusApproved}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="redeemApprovalStatusRejected()"> {{stringService.getStaticContents().redeemApprovalStatusRejected}}
                                </div>
                            </div>
                            <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 text-center" id="myclaims-filters" *ngIf="fromTo">
                    <div class="col-md-3 col-lg-3" id="myclaims-viewclaim-title">
                        {{stringService.getStaticContents().redeemStartDate}}
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <input class="form-control" type="date" value="" id="startDate" formControlName="redeemStartDate" (change)="redeemOnStartDate(filterReedemRequestsForm.value.redeemStartDate)">
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="myclaims-viewclaim-title">
                        {{stringService.getStaticContents().redeemEndDate}}
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <input class="form-control" type="date" value="" id="endDate" formControlName="redeemEndDate" min="{{redeemcurrentStartDate}}">
                    </div>
                </div>
                <div class="col-md-12 col-lg-12" id="myclaims-filters-control">
                    <div class="col-md-6 col-lg-6 timeline-fonts">
                        <span class="mc-number" style="font-size: 1.125em;">{{totalRedeemsCount}} {{stringService.getStaticContents().redeem}} 
                                    </span> - {{timeline}}
                    </div>
                    <div class="col-md-3 col-md-offset-6 col-lg-3 col-lg-offset-6" id="myclaims-filters-control2">
                        <div id="myclaims-pagination">
                            <button [style.background-color]="clientColor" type="button" class="myclaims-navi" [disabled]="disablePrev" (click)="redeemOnPrevClick()">
                                            <i class="fa fa-chevron-left"></i>
                                        </button> &nbsp;&nbsp;&nbsp;&nbsp;
                            <button [style.background-color]="clientColor" type="button" class="myclaims-navi" [disabled]="disableNext" (click)="redeemOnNextClick()">
                                            <i class="fa fa-chevron-right"></i>
                                        </button> &nbsp;&nbsp;&nbsp;
                        </div>
                        <div id="myclaims-show" class="mc-font-light">
                            {{stringService.getStaticContents().redeemShow}}
                            <select class="input-small myclaims-page-select" (change)="redeemShowResults(value)" formControlName="redeemShowResults">
                                                <option value="10"> {{stringService.getStaticContents().redeemTen}}
                                                </option>
                                                <option value="20"> {{stringService.getStaticContents().redeemTwenty}}
                                                </option>
                                                <option value="50"> {{stringService.getStaticContents().redeemFifty}}
                                                </option>
                                        </select> {{stringService.getStaticContents().redeemPerPage}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <div class="myclaims-card">
                <div class="table">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr style="height:3.3em;" class="tr-height">
                                <th style="padding-left:1.5em" class="myclaims-header-font">{{stringService.getStaticContents().redeemSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().redeemId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().redeemCustomerName}}
                                </th>
                                <th class="myclaims-header-font" style="width: 12%;">{{stringService.getStaticContents().redeemApprovalStatus}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().redeemOrderStatus}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().redeemOrderDate}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().redeemProgramName}}
                                </th>
                                <th class="myclaims-header-font text-right">{{stringService.getStaticContents().redeemProgramQuantity}}
                                </th>
                                <th class="myclaims-header-font text-right">{{stringService.getStaticContents().redeemTotalPoints}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let redeem of redeemRequestsArr; let i = index" class="mc-fonts">
                                <td class="text-right">{{serialSkip+i+1}}
                                </td>
                                <td (click)="openRedemptionDetailPage(redeem)"><u>{{redeem.orderId}}</u>
                                </td>
                                <td>{{redeem.customerName}}
                                </td>
                                <td>{{redeem.approvalStatus}}
                                </td>
                                <td>{{redeem.orderStatus}}
                                </td>
                                <td>{{redeem.createdAt | date:'dd/MM/yyyy'}}
                                </td>
                                <td>{{redeem.productInfo.productName}}
                                </td>
                                <td class="text-right">{{redeem.productQuantity}}
                                </td>
                                <td class="text-right">{{redeem.pointsPerQuantity}}
                                </td>
                            </tr>
                            <tr *ngIf="redeemRequestsArr.length == 0" style="text-align:center">
                                <td colspan="9">No Record Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <div class="container-fluid" *ngIf="tab==='claims'">
        <div class="row">
            <form [formGroup]="filterMyClaimForm">
                <div class="col-md-6 col-lg-6 " id="myclaims-filters">
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" id="myclaims-viewclaim-title">
                        {{stringService.getStaticContents().myClaimsViewFor}}
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" id="myclaims-viewclaim-duration-filter">
                        <div class="myclaims-dropdown"> &nbsp;&nbsp; {{filterName}}
                            <div class="myclaims-dropdown-content">
                                <div class="myclaims-view-dropdown" (click)="changeToLifeTime()"> {{stringService.getStaticContents().myClaimsAll}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="changeToMonth()"> {{stringService.getStaticContents().myClaimsMonth}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="changeToWeek()"> {{stringService.getStaticContents().myClaimsWeek}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="changeToQuarter()"> {{stringService.getStaticContents().myClaimsQuarter}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="chooseStartToEnd()"> {{stringService.getStaticContents().myClaimsChoose}} &nbsp;
                                    <i class="fa fa-caret-right" aria-hidden="true">
                                              </i>
                                </div>
                            </div>
                            <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;">
                                      </i>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6" id="myclaims-viewclaim-status" class="mc-status">
                        {{stringService.getStaticContents().myClaimsStatus1}}
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" id="myclaims-viewclaim-duration-filter">
                        <div class="myclaims-dropdown"> &nbsp;&nbsp; {{statusFilterName }}
                            <div class="myclaims-dropdown-content">
                                <div class="myclaims-view-dropdown" (click)="changeToAll()"> {{stringService.getStaticContents().myClaimsAll}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="changeToPending()"> {{stringService.getStaticContents().myClaimsPending}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="changeToApproved()"> {{stringService.getStaticContents().myClaimsApproved}}
                                </div>
                                <div class="myclaims-view-dropdown" (click)="changeToRejected()"> {{stringService.getStaticContents().myClaimsRejected}}
                                </div>
                            </div>
                            <i class="fa fa-angle-down fa-lg" style="font-weight: bolder;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 text-center" id="myclaims-filters" *ngIf="fromTo">
                    <div class="col-md-3 col-lg-3" id="myclaims-viewclaim-title">
                        {{stringService.getStaticContents().myClaimsStartDate}}
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <input class="form-control" type="date" value="" id="startDate" formControlName="startDate" (change)="onStartDate(filterMyClaimForm.value.startDate)">
                    </div>
                    <div class="col-md-2 col-lg-2 text-center" id="myclaims-viewclaim-title">
                        {{stringService.getStaticContents().myClaimsEndDate}}
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <input class="form-control" type="date" value="" id="endDate" formControlName="endDate" min="{{currentStartDate}}">
                    </div>
                </div>
                <div class="col-md-12 col-lg-12" id="myclaims-filters-control">
                    <div class="col-md-6 col-lg-6 timeline-fonts">
                        <span class="mc-number" style="font-size: 1.125em;">{{totalClaimsCount}} {{stringService.getStaticContents().myClaimsClaims}} 
                                </span> - {{timeline}}
                    </div>
                    <div class="col-md-3 col-md-offset-6 col-lg-3 col-lg-offset-6" id="myclaims-filters-control2">
                        <div id="myclaims-pagination">
                            <button [style.background-color]="clientColor" type="button" class="myclaims-navi" [disabled]="disablePrev" (click)="onPrevClick()">
                                        <i class="fa fa-chevron-left"></i>
                                    </button> &nbsp;&nbsp;&nbsp;&nbsp;
                            <button [style.background-color]="clientColor" type="button" class="myclaims-navi" [disabled]="disableNext" (click)="onNextClick()">
                                        <i class="fa fa-chevron-right"></i>
                                    </button> &nbsp;&nbsp;&nbsp;
                        </div>
                        <div id="myclaims-show" class="mc-font-light">
                            {{stringService.getStaticContents().myClaimsShow}}
                            <select class="input-small myclaims-page-select" (change)="showResults(value)" formControlName="showResults">
                                <option value="10"> {{stringService.getStaticContents().myClaimsTen}}
                                </option>
                                <option value="20"> {{stringService.getStaticContents().myClaimsTwenty}}
                                </option>
                                <option value="50"> {{stringService.getStaticContents().myClaimsFifty}}
                                </option>
                            </select> {{stringService.getStaticContents().myClaimsPerPage}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="myclaims-card" *ngIf="showIVP">
                <div class="table">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr style="height:3.3em;" class="tr-height">
                                <th style="padding-left:1.5em" class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsInvoice}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th class="myclaims-header-font text-right">{{stringService.getStaticContents().myClaimsTotal}}
                                </th>
                                <th>
                                </th>
                                <th class="myclaims-header-font" style="width:10em;">{{stringService.getStaticContents().myClaimsTotalVat}}
                                </th>
                                <th>
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font" style="width:100px;">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                                <th class="myclaims-header-font">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td style="padding-left:1.5em">{{serialSkip+i+1}}
                                </td>
                                <td class="lc-hand" (click)="openDialog(i)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td> {{info.invoiceNumber}}
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td class="text-right">{{info.invoiceAmount}}
                                </td>
                                <td>
                                </td>
                                <td class="text-right">{{info.invoiceAmountExcludingVAT}}
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span stsyle="padding-right:3em;" class="fa fa-square {{info.approvalStatus}}"> 
                                            </span> {{info.approvalStatus}}
                                </td>
                                <td class="text-center"> {{info.pointsEarned}}
                                </td>
                                <td class="text-center">
                                    <a class="mc-black" (click)="downloadDocument()" href="{{info.invoiceDocument}}" target="_blank" download>
                                        <i style="font-size: 1.4em;" id="mc-em" class="fa fa-download fa-lg">
                                                </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="myclaims-card" *ngIf="showIBP">
                <div class="table-responsive" *ngIf="myClaimsInfo">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr style=" height:3.3em">
                                <th style="padding-left:1.5em" class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsInvoice}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th class="myclaims-header-font text-right">{{stringService.getStaticContents().myClaimsTotal}}
                                </th>
                                <th class="myclaims-header-font" style="width:10em;">{{stringService.getStaticContents().myClaimsTotalVat}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font" style="width:7em">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                                <th class="myclaims-header-font">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td>1
                                </td>
                                <td class="lc-hand" (click)="openDialog(info)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td> {{info.invoiceNumber}}
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td class="text-right">{{info.invoiceAmount}}
                                </td>
                                <td class="text-right">{{info.invoiceAmountExcludingVAT}}
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span class="fa fa-square {{info.approvalStatus}}"> 
                  </span> {{info.approvalStatus}}
                                </td>
                                <td class="text-right">{{info.pointsEarned}}
                                </td>
                                <td class="text-center">
                                    <a href="{{info.invoiceDocument}}" download>
                                        <i class="fa fa-download fa-lg mc-black">
                    </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="myclaims-card" *ngIf="showIQP">
                <div class="table-responsive" *ngIf="myClaimsInfo">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr style="height:3.3em;">
                                <th style="padding-left:1.5em" class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsInvoice}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th class="myclaims-header-font text-right">{{stringService.getStaticContents().myClaimsTotal}}
                                </th>
                                <th>
                                </th>
                                <th class="myclaims-header-font" style="width:10em;">{{stringService.getStaticContents().myClaimsTotalVat}}
                                </th>
                                <th>
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font" style="width:7em">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                                <th class="myclaims-header-font">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td style="padding-left:1.5em">{{serialSkip+i+1}}
                                </td>
                                <td class="lc-hand" (click)="openDialog(info)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td> {{info.invoiceNumber}}
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td class="text-right">{{info.invoiceAmount}}
                                </td>
                                <td>
                                </td>
                                <td class="text-right">{{info.invoiceAmountExcludingVAT}}
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span style="padding-right:0.3em;" class="fa fa-square {{info.approvalStatus}}"> 
                  </span> {{info.approvalStatus}}
                                </td>
                                <td class="text-right">{{info.pointsEarned}}
                                </td>
                                <td class="text-center">
                                    <a href="{{info.invoiceDocument}}" download>
                                        <i class="fa fa-download fa-lg mc-black">
                    </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--DIGITAL -->

            <div class="myclaims-card" *ngIf="showDVP">
                <div class="table-responsive" *ngIf="myClaimsInfo">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr cla>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font" style="width:7em">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td>{{serialSkip+i+1}}
                                </td>
                                <td class="lc-hand" (click)="openDigital(info)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span style="padding-right:0.3em;" class="fa fa-square {{info.approvalStatus}}"> 
                  </span> {{info.approvalStatus}}
                                </td>
                                <td class="text-right">{{info.pointsEarned}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="myclaims-card" *ngIf="showDQP">
                <div class="table-responsive" *ngIf="myClaimsInfo">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr cla>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td>{{serialSkip+i+1}}
                                </td>
                                <td class="lc-hand" (click)="openDigital(info)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span style="padding-right:0.3em;" class="fa fa-square {{info.approvalStatus}}"> 
                  </span> {{info.approvalStatus}}
                                </td>
                                <td class="git a">{{info.pointsEarned}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="myclaims-card" *ngIf="showBoth">
                <div class="table-responsive" *ngIf="myClaimsInfo">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr cla>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">VAT Percentage %
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font" style="width:7em">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                                <th class="myclaims-header-font">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td>{{serialSkip+i+1}}
                                </td>
                                <td class="lc-hand" (click)="openDigital(info)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td> {{info.vatPercentage}}
                                </td>
                                <td class="text-capitalize">
                                    <span class="fa fa-square {{info.approvalStatus}}"> 
                  </span> {{info.approvalStatus}}
                                </td>
                                <td>
                                </td>
                                <td class="text-right">{{info.pointsEarned}}
                                </td>
                                <td class="text-center">
                                    <i id="mc-em" class="fa fa-download fa-lg">
                  </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--DIGITAL-->

            <div class="myclaims-card" *ngIf="showCodeTable">
                <div class="table-responsive" *ngIf="myClaimsInfo">
                    <table class="table table-striped">
                        <thead id="myclaims-table-head">
                            <tr style="height:3.3em;">
                                <th style="padding-left:1.5em" class="myclaims-header-font">{{stringService.getStaticContents().myClaimsSerial}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsId}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDate}}
                                </th>
                                <th>
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsDistributor}}
                                </th>
                                <th class="myclaims-header-font">{{stringService.getStaticContents().myClaimsStatus}}
                                </th>
                                <th class="myclaims-header-font" style="width:7em">{{stringService.getStaticContents().myClaimsPointEarned}}
                                </th>
                                <th class="myclaims-header-font">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of myClaimsInfo let i = index;" class="mc-fonts">
                                <td style="padding-left:1.5em">{{serialSkip+i+1}}
                                </td>
                                <td class="lc-hand" (click)="openCode(info)">
                                    <u class="lc-hand"> {{info.secondarySalesId}}
                                            </u>
                                </td>
                                <td>{{info.createdAt | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div *ngIf="!info.debitPartyId">
                                        {{info.distributorName}}
                                    </div>
                                    <div *ngIf="info.debitPartyId">
                                        {{info.debitPartyInfo.userDetails.userName}}
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span style="padding-right:0.3em;" class="fa fa-square {{info.approvalStatus}}"> 
                                              </span> {{info.approvalStatus}}
                                </td>
                                <td>
                                </td>
                                <td class="text-right">{{info.pointsEarned}}
                                </td>
                                <td class="text-center">
                                    <a href="{{info.invoiceDocument}}" download>
                                        <i class="fa fa-download fa-lg mc-black">
                                                </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noRecordMessage" class="mc-margin col-md-12 md-table">
        <div class="md-table-holder"> {{stringService.getStaticContents().myClaimsNoRecord}}
        </div>
    </div>
</div>
<client-footer>
</client-footer>
<app-footer>
</app-footer>