<!-- 	**************************			LOADER 		*************************	-->
<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>
<!--	************************** 		END OF LOADER 		**************************	-->
<!--	*************************	FEEDBACK MESSAGE 	***************************		-->
<feedback-message></feedback-message>
<!--	***********************		END OF FEEDBACK MESSAGE 	******************		-->
<div>
    <div class="invoice-title wrapper">
        <div class="row title-text">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ac-fonts">
                Order Id : {{order.orderId}}
            </div>
            <div class="col-lg-2  col-md-2   col-sm-2  col-xs-10 " style="text-align: right">
                <i class="fa fa-times-circle fa-lg icon-white" (click)="closeInvoice();"> </i>
            </div>
        </div>


    </div>
    <div class="invoice-content">
        <table class="borderless  table-imp ">

            <tr *ngIf="order.createdAt!== undefined">
                <td class="invoice-td-title"> Order Date </td>
                <td class="invoice-td-content">: &nbsp; {{order.createdAt | date:'dd/MM/yyyy'}}</td>

            </tr>
            <tr *ngIf="order.customerName!== undefined">
                <td class="invoice-td-title"> Customer Name </td>
                <td class="invoice-td-content">: &nbsp; {{order.customerName}}</td>

            </tr>
            <tr *ngIf="order.userName!== undefined">
                <td class="invoice-td-title"> User Name </td>
                <td class="invoice-td-content">: &nbsp; {{order.userName}}</td>

            </tr>
            <tr *ngIf="order.approvalStatus!== undefined">
                <td class="invoice-td-title"> Approval Status </td>
                <td class="invoice-td-content">: &nbsp; {{order.approvalStatus}}</td>

            </tr>
            <tr *ngIf="order.orderStatus!== undefined">
                <td class="invoice-td-title"> Order Status </td>
                <td class="invoice-td-content">: &nbsp; {{order.orderStatus}}</td>

            </tr>

            <tr *ngIf="order.isCourierUpdated">
                <td class="invoice-td-title"> Shipping Date </td>
                <td class="invoice-td-content">: &nbsp; {{order.couriers.shippingDate}}</td>

            </tr>

            <tr *ngIf="order.productQuantity!== undefined">
                <td class="invoice-td-title"> Product Quantity </td>
                <td class="invoice-td-content">: &nbsp; {{order.productQuantity}}</td>

            </tr>

            <tr></tr>
            <tr *ngIf="order.shippingAddress !== undefined">
                <td> Shipping Address</td>
                <td>:</td>
            </tr>
            <tr *ngIf="order.shippingAddress.state !== undefined">
                <td class="invoice-td-title"> State </td>
                <td class="invoice-td-content">: &nbsp; {{order.shippingAddress.state}}</td>

            </tr>
            <tr *ngIf="order.shippingAddress.city !== undefined">
                <td class="invoice-td-title"> City </td>
                <td class="invoice-td-content">: &nbsp; {{order.shippingAddress.city}}</td>

            </tr>
            <tr *ngIf="order.shippingAddress.streetAddress !== undefined">
                <td class="invoice-td-title"> Street Address </td>
                <td class="invoice-td-content">: &nbsp; {{order.shippingAddress.streetAddress}}</td>

            </tr>
            <tr *ngIf="order.shippingAddress.pincode !== undefined">
                <td class="invoice-td-title"> Pincode </td>
                <td class="invoice-td-content">: &nbsp; {{order.shippingAddress.pincode}}</td>

            </tr>
            <tr *ngIf="order.shippingAddress.mobileNumber !== undefined">
                <td class="invoice-td-title"> Mobile No. </td>
                <td class="invoice-td-content">: &nbsp; {{order.shippingAddress.mobileNumber}}</td>

            </tr>
            <tr></tr>
            <tr *ngIf="order.productInfo !== undefined">
                <td> Product Info.</td>
                <td>:</td>
            </tr>
            <tr *ngIf="order.productInfo.productName!== undefined">
                <td class="invoice-td-title"> Product Name </td>
                <td class="invoice-td-content">: &nbsp; {{order.productInfo.productName}}</td>

            </tr>
            <tr *ngIf="order.productInfo.SKU !== undefined">
                <td class="invoice-td-title"> SKU </td>
                <td class="invoice-td-content">: &nbsp; {{order.productInfo.SKU}}</td>

            </tr>

            <tr *ngIf="order.productInfo.shortDescription !== undefined">
                <td class="invoice-td-title" style="vertical-align: text-top;"> Short Description </td>
                <td class="invoice-td-content">: &nbsp; {{order.productInfo.shortDescription}}</td>

            </tr>
            <tr *ngIf="order.productInfo.longDescription !== undefined">
                <td class="invoice-td-title" style="vertical-align: text-top;"> Long Description </td>
                <td class="invoice-td-content">: &nbsp; {{order.productInfo.longDescription}}</td>

            </tr>

        </table>

    </div>
    <form [formGroup]="redeemForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0">
            <div class="col-md-12 col-lg-12" style="padding:0;    display: inline-flex;">
                <div class="invoice-td-title" style="vertical-align: text-top;"> Comment </div>
                <div class="invoice-td-content"> <textarea class="form-control" rows="2" id="comment" formControlName="comment" [readOnly]="order.approvalStatus !== 'Pending' || programUserInfo.programRoleInfo.canApproveRedemptions===fase"></textarea> </div>
            </div>
        </div>
    </form>
    <div style="display: -webkit-inline-box;margin-top: 4%;">
        <div style="margin: auto;"><button [style.background-color]="clientColor" class="btn gray custom-btn" (click)="onApprove(order)" *ngIf="order.approvalStatus === 'Pending' && programUserInfo.programRoleInfo.canApproveRedemptions===true">Approve</button>
        </div>
        <div><button [style.background-color]="clientColor" class="btn gray custom-btn" (click)="onCancel(order)" *ngIf="order.approvalStatus === 'Pending'  && programUserInfo.programRoleInfo.canApproveRedemptions===true">Reject</button>
        </div>
    </div>
</div>