/***************************************FONTS***************************************************/

.db-thin-header {
    font-family: HelveticaNeueLTStd-LtEx;
    font-size: 1.313em;
    letter-spacing: 0.5px;
    text-align: left;
    color: #333333;
    margin-bottom: 0.2em;
}

.db-header {
    font-family: HelveticaLTSEX !important;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    text-align: left;
    color: #333333;
}

.db-inner-header {
    font-family: HelveticaNeueLTStd-LtEx;
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #333333;
    line-height: 2.25;
}

.db-view-summary {
    font-size: 0.813em;
    font-weight: bold;
    line-height: 2.31;
    letter-spacing: 0.3px;
    color: #498da7 !important;
    cursor: pointer;
    font-family: HelveticaNeueTT !important;
}

.db-set-details {
    font-size: 0.85em;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: normal;
    color: #FFFF00;
    cursor: pointer;
    font-family: HelveticaNeueTT;
}

.db-input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.db-goals-details {
    margin-top: 1em;
    padding: 0;
}

.db-slab {
    margin-top: 0.2em;
    font-size: 0.85em;
    font-family: HelveticaNeueTT;
}

.db-goaltitle {
    font-family: HelveticaNeue;
    font-size: 0.9em;
    line-height: 1.29;
    color: #333333;
}

.db-sales-breakup {
    padding-top: 2em;
    border-top: 1px solid #e5e5e5;
}

.db-last-invoices {
    padding-top: 2em;
    border-top: 1px solid #e5e5e5;
}

.db-region-performance {
    padding-top: 2em;
    border-top: 1px solid #e5e5e5;
}

.db-pending {
    color: #ffff33;
}

.do-pending {
    fill: #FFFF00;
}

.db-approved {
    color: #B3CC66;
}

.db-rejected {
    color: #FF6666;
}

.db-sales-section {
    height: 21vh;
}

.db-goals-header {
    margin-top: 11.9em;
}

.db-approval-header {}

#chartwrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

#piechartdiv {
    position: relative;
    float: left;
    top: -30px;
    left: -30px;
    width: 260px;
    height: 260px;
}

.md-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 20px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue";
    background: #fff;
    color: #000;
    max-width: 95%;
    min-height: 265px;
}

.md-table {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue";
    background: #fff;
    color: #000;
    min-height: 10vh;
    padding: 0;
    border-radius: 2px;
    max-width: 95%;
}

.md-table-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    min-height: 10vh;
    font-family: HelveticaLTSEX !important;
    border-radius: 2px;
}

.db-card {
    display: flex;
    justify-content: space-between;
}

.db-icon {
    color: #666666;
}

.db-points {
    font-size: 1.50em;
    font-weight: bold;
    cursor: pointer;
    font-family: HelveticaBold;
}

.db-thin {
    font-family: "HelveticaNeueLTStd-LtEx";
    font-size: 0.813em;
    letter-spacing: 0.7px;
    color: #666666;
    margin-top: -7px;
}

.db-redeem {
    font-family: "HelveticaNeue";
    font-size: 0.813em;
    font-weight: bold;
    line-height: 1.85;
    color: #498da7;
    cursor: pointer;
}

.db-sheild {
    background: #666666 !important;
    padding: 5px !important;
    border-radius: 0px 0px 50px 50px !important;
    color: white !important;
    font-size: 16px;
}

.db-star {
    color: #666666;
    font-size: 1.7em;
}

.db-rupees {
    background-color: #666666;
    color: #e0e0e0;
    width: 1.5em;
    height: 1.5em;
    height: em;
    border-radius: 50%;
}

.db-rupees-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.db-sku {
    display: flex;
    align-items: baseline;
    color: #666666;
}

.db-sku-container {
    display: inline-flex;
}

.db-lastweek {
    color: #666666;
}

.ch-thin {
    font-family: "HelveticaNeueLTStd-LtEx";
    font-size: 0.813em;
    letter-spacing: 0.7px;
    color: #666666;
    margin-top: -7px;
}

.ch-label {
    font-family: HelveticaNeueTT !important;
    font-size: 1em !important;
    color: #666666;
    font-weight: 100 !important;
    margin-bottom: 0.5em;
}

.ch-details {
    font-family: HelveticaNeueTT !important;
    font-size: 1em !important;
    color: black;
    font-weight: 100 !important;
    margin-bottom: 0.5em;
}

.db-goals-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 3em;
}

.db-start {
    color: white;
    background-color: #585858;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-in-process {
    color: white;
    background-color: #FFFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-reached {
    color: white;
    background-color: #b3cc66;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-exceeded {
    color: white;
    background-color: #d44434;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-goal-lines {
    background-color: #e5e5e5;
    height: 0.5vh;
    width: 8vw;
}

.db-goals-section1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 3em;
}

.db-start1 {
    color: white;
    background-color: #585858;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-in-process1 {
    color: white;
    background-color: #FFFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-reached1 {
    color: white;
    background-color: #b3cc66;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-exceeded1 {
    color: white;
    background-color: #d44434;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-box1 {
    border: 0px solid red;
    padding: 0;
    border-radius: 4px;
    height: 5vh;
    font-size: 0.813em;
    color: #666666;
}

.db-goal-lines1 {
    background-color: #e5e5e5;
    height: 0.5vh;
    width: 8vw;
}

.pending {
    color: #FFFF00;
}

.approved {
    color: #b3cc66;
}

.rejected {
    color: #FF6666;
}

.db-box {
    border: 0px solid red;
    padding: 0;
    border-radius: 4px;
    height: 5vh;
    width: 5vh;
}

.nav-tabs {
    background-color: #161616;
}

.tab-content {
    background-color: #303136;
    color: #fff;
    padding: 5px
}

.nav-tabs>li>a {
    border: medium none;
}

.nav-tabs>li>a:hover {
    background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color: #fff;
}

.tab-active {
    height: 5.2vh !important;
    background-color: #333333 !important;
    color: white !important;
    font-size: 0.85em !important;
    display: contents !important;
    display: flex !important;
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    border: 0px !important;
    font-family: HelveticaLTSEX !important;
    border-top-right-radius: 3px;
}

.tab-inactive {
    display: flex;
    height: 4.5vh;
    background-color: #999999;
    color: white;
    font-size: 0.85em;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: HelveticaLTSEX;
}

.claims-thead {
    background-color: #e5e5e5;
    font-size: 0.813em !important;
    letter-spacing: 0.7px;
    color: black;
    font-family: HelveticaNeue!important;
    font-weight: 300;
}

.claims-thead th {
    height: 3.500em;
    text-align: center;
    vertical-align: middle;
    font-family: HelveticaNeue-BoldLight !important;
    font-weight: 300 !important;
}

tbody>tr:nth-child(even) {
    background-color: #F5F5F5;
    font-size: 0.813em !important;
    color: #454445;
    letter-spacing: 0.054em;
    height: 2.375em;
    border: 0;
    letter-spacing: 0.044em;
    color: black;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

tbody>tr:nth-child(odd) {
    background-color: #ffffff;
    font-size: 0.813em !important;
    color: #454445;
    letter-spacing: 0.054em;
    height: 2.375em;
    border: 0;
    letter-spacing: 0.044em;
    color: black;
    font-family: HelveticaNeueLight;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

td {
    border-top: 0px !important;
    font-family: HelveticaNeueTT !important;
    font-size: 1em;
    color: #222222;
}

.db-icons {
    height: 6bvh;
}

.db-keys-fonts {
    font-size: 0.813em;
    font-family: HelveticaNeueTT;
    color: #666666;
    line-height: 2.15;
}

.tbody-font {
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
}

.custom-margin {
    margin-top: 1.763em;
    padding-left: 0px;
}

.db-goals-new-status {
    background-color: white;
    width: 95%;
    font-family: HelveticaBold !important;
    font-size: 0.813em !important;
}

@media (min-width:925px) and (max-width:944px) {
    .db-redeem {
        font-family: "HelveticaNeue";
        font-size: 0.7em !important;
        font-weight: bold;
        line-height: 1.85;
        color: #FFFF00;
        cursor: pointer;
    }
}

@media (min-width:768px) and (max-width:925px) {
    .db-redeem {
        font-family: "HelveticaNeue";
        font-size: 0.6em !important;
        font-weight: bold;
        line-height: 1.85;
        color: #FFFF00;
        cursor: pointer;
    }
}

@media (min-width:300px) and (max-width:474px) {
    .db-redeem {
        font-family: "HelveticaNeue";
        font-size: 0.6em !important;
        font-weight: bold;
        line-height: 1.85;
        color: #FFFF00;
        cursor: pointer;
    }
}

.table {
    width: 100%;
}

@media (min-width:930px) and (max-width: 1024px) {
    .db-points {
        font-size: 2em;
        font-weight: bold;
        cursor: pointer;
        font-family: HelveticaBold;
    }
}

@media (min-width:890px) and (max-width: 930px) {
    .db-points {
        font-size: 1.8em;
        font-weight: bold;
        cursor: pointer;
        font-family: HelveticaBold;
    }
}

@media (min-width:768px) and (max-width: 890px) {
    .db-points {
        font-size: 1.6em;
        font-weight: bold;
        cursor: pointer;
        font-family: HelveticaBold;
    }
}

@media (min-width:400px) and (max-width: 560px) {
    .db-points {
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        font-family: HelveticaBold;
    }
}

@media (min-width:319px) and (max-width: 400px) {
    .db-points {
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
        font-family: HelveticaBold;
    }
    .db-pad {
        padding: 3px;
    }
}

@media (min-width:319px) and (max-width: 767px) {
    .container {
        padding: 0px !important;
    }
    .sm-table {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .md-table {
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        will-change: box-shadow;
        display: block;
        position: relative;
        border-radius: 2px;
        font-family: Roboto, "Helvetica Neue";
        background: #fff;
        color: #000;
        min-height: 10vh;
        padding: 0;
        border-radius: 2px;
        max-width: 100%;
    }
    .sm-div {
        padding-right: 15px !important;
    }
    .sm-sales {
        margin-bottom: 0px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .md-card {
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        will-change: box-shadow;
        display: block;
        position: relative;
        padding: 20px 5px;
        border-radius: 2px;
        font-family: Roboto, "Helvetica Neue";
        background: #fff;
        color: #000;
        max-width: 100%;
        min-height: 12em;
    }
    .sm-icon {
        padding: 10px;
    }
    .sm-title {
        margin-top: 1em !important;
    }
}

.db-top {
    margin-top: 10px;
}

.db-bottom {
    margin-bottom: 10px;
}

.app {}

.pen {}

.rej {
    padding: 0;
    text-align: left;
}

@media (min-width:200px) and (max-width: 991px) {
    .db-legends-flex {
        display: flex;
    }
    .db-top {
        margin-top: 0;
    }
    .db-bottom {
        margin-bottom: 0;
    }
}

.lc-hand {
    cursor: pointer;
}

.md-card-height {
    width: 606px;
    height: 321px
}

.label-margin-top {
    margin-top: 0.7em;
    font-size: 20px
}


/* Style the tab */

.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #e5e5e5;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 10px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

.tabButtonSelected {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* for demo end */