<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="bannerImage" width="100%" id="maindiv" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="bannerImage" width="100%" id="maindiv" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:8px" />
</div>

<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>



<div class="spaceheight">
</div>
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<body class="bodyPadding">
    <div class="mobile-align">

        <!-- ##########  For Distributor  DashBoard Start #############################-->
        <div class="row dashBoardMargin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole && displaypc" style="justify-content: center;">


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 cardSpaces" (click)="routeTo('birthday')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1">
                            <span>{{this.birthdayCount}}</span>
                        </div>
                        <div class=" Row2">
                            <span>Birthday's Today</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hide For Distributor -->
            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 cardSpaces">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/TotalSales.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span>{{totalDistributorSales}}</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Total Sales</span>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!--Code for Mobile-->
        <div class="row" style="padding-left:17px; padding-right: 17px;margin-top:-32px;" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole && displaymobile">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-right:10px;margin-left: 25%;">
                <div class="card" (click)="routeTo('birthday')" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center; margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{this.birthdayCount}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Birthday's Today</b>
                            </span> 
                        </div>
                    </div>

                </div>
            </div>
            <!-- Hide For Distributor -->
            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-left:10px">
                <div class="card" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/TotalSales.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center;margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{totalDistributorSales}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Total Sales</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div> -->
        </div>
        <br>

        <!--Code for Mobile Ends here-->

        <!-- ##########  For Distributor  DashBoard End #############################-->

        <!-- ################## For Distributor Dealer and ASM Admin Start ######################  -->
        <div class="row dashBoardMargin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole" style="justify-content: center;">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 cardSpaces" (click)="routeTo('birthday')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1">
                            <span>{{this.birthdayCount}}</span>
                        </div>
                        <div class=" Row2">
                            <span>Birthday's Today</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ################## For Distributor Admin end ######################  -->
        <!-- ##########  For Dealer  DashBoard Start #############################-->

        <div class="row dashBoardMargin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 target" style="margin-left:auto;margin-right:auto;">
                <div class="row dealer-dashboard-font">
                    <div class="col-md-6 col-sm-6 col-6" style="float: left;">
                        <span class="spanClass">YTD (Tons)</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6" style="float: right;">
                        <span class="spanClass" style="float: right">YTD (Points)</span>
                    </div>

                </div>
                <div>
                    <span class="spanClass" style="float: left">{{ytdValue}}</span>
                    <span class="spanClass" style="float: right">{{this.dashboardPoints}}</span>
                </div>
                <div class="row col-lg-12 col-12 chart" id="chartdiv">

                </div>
                <div class="col-lg-12 col-12 achievedDiv1 font-for-mobile">
                    {{percentAchieved}}%

                </div>
                <div class="col-lg-12 col-12 achievedDiv2 font-for-mobile">
                    Achieved
                </div>
                <div class="row dealer-dashboard-font" style="margin-top: 10%;">
                    <div class="col-md-6 col-sm-6 col-6" style="float: left;">
                        <span class="spanClass">Redeemed (Points)</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6" style="float: right;">
                        <span class="spanClass" style="float: right">Remaining (Points)</span>
                    </div>

                </div>
                <div>
                    <span class="spanClass" style="float: left">{{pointsReedemed}}</span>
                    <span class="spanClass" style="float: right">{{pointsRemaining}}</span>
                </div>
            </div>

            <div class="col-xl-8 row col-lg-8 col-md-8 col-sm-12 col-12 dealerMargin" style="margin-left:auto;margin-right:auto;" *ngIf="displaypc">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 cardSpaces" (click)="routeTo('birthday')" style="cursor: pointer;">
                    <div class="row engineerDiv">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                            <div class=" Row1">
                                <span>{{this.birthdayCount}}</span>
                            </div>
                            <div class=" Row2">
                                <span>Birthday's Today</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 cardSpaces">
                    <div class="row engineerDiv">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Target.png" class="cardImage" />
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                            <div class=" Row1">
                                <span>{{math.round(this.programUserInfo.annualTarget)}}</span>
                            </div>
                            <div class=" Row2">
                                <span>Annual Sales Target</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 cardSpaces">
                    <div class="row engineerDiv">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Graph.png" class="cardImage" />
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                            <div class=" Row1">
                                <span>{{math.round(monthlygoal)}}</span>
                            </div>
                            <div class=" Row2">
                                <span>Monthly Sales Target</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 cardSpaces">
                    <div class="row engineerDiv">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Percentage.png" class="cardImage" />
                        </div>
                        
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                            <div class=" Row1">
                                <span *ngIf="totalDealerSalesforMonth">{{mtdValue}}</span>
                                <span *ngIf="!totalDealerSalesforMonth">0</span>
                            </div>
                            
                            <div class=" Row2">
                                <span>MTD Sales</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Code for Mobile-->
        <div class="row" style="padding-left:17px; padding-right: 17px;margin-top:-7px;margin-bottom:16px;" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole && displaymobile">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-right:10px">
                <div class="card" (click)="routeTo('birthday')" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center; margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{this.birthdayCount}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Birthday's Today</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-left:10px">
                <div class="card" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Target.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center;margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{math.round(this.programUserInfo.goalPoints)}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Annual Sales Target</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-right:10px">
                <div class="card" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Graph.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center;margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{math.round(monthlygoal)}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Monthly Sales Target</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-left:10px">
                <div class="card" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Percentage.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center;margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{totalDealerSalesforMonth}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>MTD Sales</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- ##########  For Dealer  DashBoard End #############################-->


        <!-- ##########  For Engineer  DashBoard Start #############################-->
        <div class="row dashBoardMargin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole
        && displaypc">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('birthday')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1">
                            <span>{{this.birthdayCount}}</span>
                        </div>
                        <div class=" Row2">
                            <span>Birthday's Today</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span>{{currentMonthLeadCount}}</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Current Month Leads</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('lastMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="lastMonthLead">{{lastMonthLead}}</span>
                            <span *ngIf="!lastMonthLead">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Last Month Leads</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- previous month qualified leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('lastMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="previousQualifiedTonnage">{{previousQualifiedTonnage}} tons</span>
                            <span *ngIf="!previousQualifiedTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Qualified Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(last month)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Graph.png" class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span>{{this.dashboardPoints}}</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Points Earned</span>
                        </div>
                    </div>
                </div>
            </div>

             

            <!-- qualified leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="qualifiedTonnage">{{qualifiedTonnage}} tons</span>
                            <span *ngIf="!qualifiedTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Qualified Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(current month)</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="pendingTonnage">{{pendingTonnage}} tons</span>
                            <span *ngIf="!pendingTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Pending Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(current month)</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rejected leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="rejectedTonnage">{{rejectedTonnage}} tons</span>
                            <span *ngIf="!rejectedTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Rejected Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(current month)</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row dashBoardMargin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole
        && displaypc">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 cardSpaces">
                <div class="row engineerDiv" style="height: 80px !important;">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="padding-top: 18px;">
                        <span class="pointsRow">Points Summary: </span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="padding-top: 18px;">
                        <span class="pointsRow">Earned:    {{dashboardPoints}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="padding-top: 18px;">
                        <span class="pointsRow">Redeemed:   {{pointsReedemed}}</span>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="padding-top: 18px;">
                        <span class="pointsRow">Remaining:   {{pointsRemaining}}</span>
                    </div>
                </div>
            </div> 
        </div>

        <!--Code for Mobile-->
        <div class="row" style="padding-left:17px; padding-right: 17px;margin-top:-20px;margin-bottom:15px" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-right:10px">
                <div class="card" (click)="routeTo('birthday')" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center; margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{this.birthdayCount}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Birthday's Today</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-left:10px">
                <div class="card" (click)="routeTo('currentMonthLeads')" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center;margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{currentMonthLeadCount}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Current Month Leads</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6" style="padding-right:10px">
                <div class="card" (click)="routeTo('lastMonthLeads')" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="font-size:15px;padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;height:161px;">
                        <div class="row" style="justify-content: center;">
                            <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png" class="cardImage" />
                        </div>
                        <div class="row" style="justify-content: center;margin-top:7px">
                            <span>
                                <b style="font-size:1.4em;">{{lastMonthLead}}</b>
                            </span>
                        </div>
                        <div class="row" style="justify-content: center;text-align: center;opacity:0.8;font-size:14px;">
                            <span>
                                <b>Last Month Leads</b>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <!-- previous month qualified leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('lastMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png " class="cardImage" />

                    </div> 
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="previousQualifiedTonnage">{{previousQualifiedTonnage}} tons</span>
                            <span *ngIf="!previousQualifiedTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Qualified Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(last month)</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- points earned -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Graph.png" class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span>{{this.dashboardPoints}}</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Points</span>
                        </div>
                    </div>
                </div>
            </div>
    
                 
    
            <!-- qualified leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="qualifiedTonnage">{{qualifiedTonnage}} tons</span>
                            <span *ngIf="!qualifiedTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Qualified Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(current month)</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Pending leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="pendingTonnage">{{pendingTonnage}} tons</span>
                            <span *ngIf="!pendingTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Pending Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(current month)</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Rejected leads -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
                <div class="row engineerDiv">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                        <div class=" Row1 ">
                            <span *ngIf="rejectedTonnage">{{rejectedTonnage}} tons</span>
                            <span *ngIf="!rejectedTonnage">0</span>
                        </div>
                        <div class=" Row2 ">
                            <span>Rejected Leads</span>
                        </div>
                        <div class=" Row2 ">
                            <span>(current month)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ########## For Engineer  DashBoard End #############################-->
    </div>
    <!-- ################# For engineer admin DashBoard Start################################# -->
    <div class="row dashBoardMargin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerAdminProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">

        <div class="mx-auto col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('birthday')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Cake.png" class="cardImage" />
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1">
                        <span>{{this.birthdayCount}}</span>
                    </div>
                    <div class=" Row2">
                        <span>Birthday's Today</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span>{{currentMonthLeadCount}}</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Current Month Leads</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-auto col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('lastMonthLeads')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span *ngIf="lastMonthLead">{{lastMonthLead}}</span>
                        <span *ngIf="!lastMonthLead">0</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Last Month Leads</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span *ngIf="engineerReqCount">{{engineerReqCount}}</span>
                        <span *ngIf="!engineerReqCount">0</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Engineer Requests</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- previous month qualified leads -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('lastMonthLeads')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Last-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span *ngIf="previousQualifiedTonnage">{{previousQualifiedTonnage}} tons</span>
                        <span *ngIf="!previousQualifiedTonnage">0</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Qualified Leads</span>
                    </div>
                    <div class=" Row2 ">
                        <span>(last month)</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- qualified leads -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span *ngIf="qualifiedTonnage">{{qualifiedTonnage}} tons</span>
                        <span *ngIf="!qualifiedTonnage">0</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Qualified Leads</span>
                    </div>
                    <div class=" Row2 ">
                        <span>(current month)</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending leads -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span *ngIf="pendingTonnage">{{pendingTonnage}} tons</span>
                        <span *ngIf="!pendingTonnage">0</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Pending Leads</span>
                    </div>
                    <div class=" Row2 ">
                        <span>(current month)</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rejected leads -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 cardSpaces" (click)="routeTo('currentMonthLeads')" style="cursor: pointer;">
            <div class="row engineerDiv">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 cake ">
                    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/Current-Month-Leads.png " class="cardImage" />

                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 textPadding">
                    <div class=" Row1 ">
                        <span *ngIf="rejectedTonnage">{{rejectedTonnage}} tons</span>
                        <span *ngIf="!rejectedTonnage">0</span>
                    </div>
                    <div class=" Row2 ">
                        <span>Rejected Leads</span>
                    </div>
                    <div class=" Row2 ">
                        <span>(current month)</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ##################### For Engineer admin DashBoard End ########################### -->
    <div *ngIf="displaypc" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:2%">
        <div class="card-body-dash">
            <p style="font-weight: 700;"></p>
            <ngb-carousel *ngIf="sliders1.length>0">
                <template ngbSlide *ngFor="let slider of sliders1">
                    <div>
                        <img class="img-fluid mx-auto d-block" style="height: 236px;width: 1350px;" [src]="slider.imagePath" (click)="goToPage(slider)" alt="Random first slide" width="100%">
                    </div>
                </template>
            </ngb-carousel>
        </div>
    </div>
    <div *ngIf="displaymobile" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:2%">
            <div class="card-body-dash">
                <p style="font-weight: 700;"></p>
                <ngb-carousel *ngIf="sliders1.length>0">
                    <template ngbSlide *ngFor="let slider of sliders1">
                        <div>
                            <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" (click)="goToPage(slider)" alt="Random first slide" width="100%">
                        </div>
                    </template>
                </ngb-carousel>
            </div>
        </div>

    <!-- ##########  For Engineer  Hall of Fame Start #############################-->
    <div class="col-lg-12 tableMain " *ngIf="this.programRoleInfo.showHallOfFame===true
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 shadow">
            <div class="row tableHeadingDiv">
                <p class="tableheading">Super Star of Month</p>
            </div>
            <div class="row " *ngIf="displaypc">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table-responsive" style="padding-left: 0px; padding-right: 0px; ">
                    <table class="table" *ngIf="displaypc">
                        <thead>
                            <tr>
                                <!-- <th class="backgroundColor colspan2">Name</th> -->
                                <th class="backgroundColor colspan2 ">Company</th>
                                <th class="backgroundColor colspan2 ">State</th>
                                <th class="backgroundColor colspan2">No. of Leads</th>
                            </tr>
                        </thead>



                        <tbody>
                            <tr *ngFor="let user of superStarsOfTheMonth let index=index">
                                <!-- <td>{{(user.businessEntityUserDetails.firstName)+" "+(user.businessEntityUserDetails.lastName)}}</td> -->
                                <td>{{user.userName}}</td>
                                <td>{{user.state}}</td>
                                <td>{{user.numberOfLeads}}</td>
                            </tr>
                            <!-- <tr *ngIf="superStarsOfTheMonth.length === 0">
                                    <td></td>
                                    <td class="noRecords">No record found</td>
                                    <td></td>
                                </tr> -->
                        </tbody>
                    </table>
                    <div *ngIf="superStarsOfTheMonth.length === 0" class="noRecords">
                            No record found
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="displaymobile" style="margin-bottom:20px;margin-top:-10px">
            <div class="card" *ngIf="superStarsOfTheMonth.length === 0" style="margin-bottom: 0px;margin-top:20px; box-shadow: 0 2px 6px #adadad; height:50px;">
                <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                    <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <p style="color:red;text-align: center;">No records found</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngFor="let user of superStarsOfTheMonth let index=index">
                <div class="card" style="margin-bottom: 0px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <!-- <div style="font-size:18px;font-weight: 700">{{(user.businessEntityUserDetails.firstName)+" "+(user.businessEntityUserDetails.lastName)}}</div> -->
                                <div> {{user.userName}}</div>
                                <div> {{user.state}}</div>
                                <div> No of Leads: {{user.numberOfLeads}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##########  For Engineer  Hall of Fame End #############################-->






    <!---  5  Products For Distributor-->

    <!-- <div class="col-lg-12 tableMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">
        <div class="col-lg-12 ">


            <div style="box-shadow: 0 0 10px;" class="row tableHeadingDiv ">
                <span class="tableheading" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswASMAdminProgramRole
                && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswCMProgramRole
                && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswRCMProgramRole">Leaderboard</span>
                <span class="tableheading" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">Distributor Leaderboard</span>
            </div>

            <div class="row " style=" background-color: #222;box-shadow: 0 0 10px; ">

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3 productNameDiv" id="HRC" (click)="showProductTable('HRC')">
                    <span class="productName">HRC</span>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3  productNameDiv" id="CRM" (click)="showProductTable('CRM')">
                    <span class="productName">CRM</span>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3  productNameDiv" id="LONGS" (click)="showProductTable('LONGS')">
                    <span class="productName">LONGS</span>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3  productNameDiv" id="Coated" (click)="showProductTable('Coated')">
                    <span class="productName">Coated</span>
                </div>

            </div>

            <div  class="row" id="product1">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tableContainer table-responsive">

                    <table class="table " style="margin-bottom: 0px; ">
                        <thead>
                            <th colspan="3" style="padding-top: 2%; padding-bottom: 2%; text-align: center ! important; background-color: #E8DCC3; ">
                                <span style=" font-size:15px ">{{panIndia}}</span>
                            </th>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let leader of allOverDistributorTableData let i = index">
                                <td style="font-size:12px">{{leader.name}}</td>
                                <td style="font-size:12px">{{leader.state}}</td>
                                <td style="font-size:12px">{{leader.sales}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="leaderboardRecordNotfound" class="noRecords">No record found</div>
                </div>

            </div>
        </div>
    </div> -->

    <!-- new leader board added by trupti -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tableContainer table-responsive mt-4 table-Margin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorAdminProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"> 
        <div class="row" style="background-color: #222;" *ngIf="displaymobile && (this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole)">
            <p class="dealer-heading-div">Distributor Leaderboard</p> 
        </div>           
        <ul class="nav titlebox nav-tabs justify-content-between u-list">
            <h6 class="table-title" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswASMAdminProgramRole
            && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswCMProgramRole
            && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswRCMProgramRole">Leaderboard</h6> 
            <h6 class="table-title" *ngIf="(this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
            || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
            || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole) && displaypc">Distributor Leaderboard</h6> 
            <div class="d-flex justify-content-between header-width" style="width: 70%">
                <li class="nav-item">
                    <a class="nav-link active li-class " data-toggle="tab" id="HRC"  (click)="showProductTable('HRC')">HRC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link li-class" data-toggle="tab" id="CRM"  (click)="showProductTable('CRM')">CRM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link li-class" data-toggle="tab" id="LONGS"  (click)="showProductTable('LONGS')">LONGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link li-class" data-toggle="tab" id="Coated"  (click)="showProductTable('Coated')">COATED</a>
                </li>
            </div>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active col-md-12" id="hrc">
                <table class="table">
                    <tbody>
                        <tr class="head">
                            <td style="text-align: center;"><strong>Name</strong></td>
                            <td style="text-align: center;"><strong>State</strong></td>
                            <td style="text-align: center;"><strong>Sales</strong> </td>
                        </tr>
                        <tr *ngFor="let leader of allOverDistributorTableData let i = index">
                            <td style="text-align: center;">{{leader.name}}</td>
                            <td style="text-align: center;">{{leader.state}}</td>
                            <td style="text-align: center;">{{leader.sales}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="leaderboardRecordNotfound" class="noRecords col-md-12">No record found</div>
            </div>
        </div>
        <div class="tab-pane fade" id="crm">
        
        </div>
        <div class="tab-pane fade" id="longs">
        
        </div>
        <div class="tab-pane fade" id="coated">
        
        </div>
    </div>   
 



    <!---  2 Products For Dealer-->
    <!-- <div class="col-lg-12 tableMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole 
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

 
            <div class="row tableHeadingDiv " style="box-shadow: 0 0 10px ; ">
                <span class="tableheading" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswASMAdminProgramRole
                && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswCMProgramRole
                && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswRCMProgramRole">Leaderboard</span>
                <span class="tableheading" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
                || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole">Dealer Leaderboard</span>
            </div>
            <div class="row " style=" background-color: #222;box-shadow: 0 0 10px ; ">


                <div id="dealerTMT" class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 productNameDiv1" (click)="showDealerProductTable('TMT')">
                    <span class="productName">TMT</span>
                </div>

                <div id="dealerCoated" class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4  productNameDiv1" (click)="showDealerProductTable('Coated')">
                    <span class="productName">Coated</span>
                </div>



            </div>

            <div  class="row" id="productDealer1">
                Region wise table

                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 tableContainer">
                    <table class="table " style="margin-bottom: 0px; ">
                        <thead>
                            <th colspan="3" style="padding-top: 2%; padding-bottom: 2%; text-align: center ! important; background-color: #E8DCC3; ">
                                <span style=" font-size:15px ">{{userRegionInfo.name}}</span>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                              <td style="padding-left:10% " *ngIf="!leaderboardRecordNotfound">Fetching data..</td> 
                <td style="padding-left:10% " *ngIf="topRetailers.length === 0 &&  leaderboardRecordNotfound" class="noRecords">No record found</td>
                </tr>
                <tr *ngFor="let leader of regionDataTable let i = index">
                    <td>{{leader.name}}</td>
                    <td>{{leader.state}}</td>
                    <td>{{leader.totalSales}}</td>
                </tr>
                </tbody>
                </table>
            </div>
           


                PAN India table
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tableContainer">
                    <table class="table " style="margin-bottom: 0px; ">
                        <thead>
                            <th colspan="3" style="text-align: center ! important; background-color: #E8DCC3; ">
                                <span style=" font-size:15px ">PAN India</span>
                            </th>
                        </thead>
                        <tbody>
        
                            <tr>
                                <th style="text-align: center;"><strong>Name</strong></th>
                                <th style="text-align: center;"><strong>Region</strong></th>
                                <th style="text-align: center;"><strong>Metric Tons</strong></th>
                            </tr>
                            <tr *ngFor="let leader of allOverDealerTableData let i = index">
                                <td>{{leader.name}}</td>
                                <td>{{leader.state}}</td>
                                <td>{{leader.totalSales}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div  *ngIf="topRetailers.length === 0 &&  leaderboardRecordNotfound" class="noRecords">
                        No record found

                    </div>
                </div>


            </div>




        </div>
    </div> -->


    <!-- dealer leaderboard added by trupti -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tableContainer table-responsive mt-4 table-Margin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole 
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerAdminProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
    || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole"> 
        <div class="row" style="background-color: #222;" *ngIf="displaymobile && (this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
        || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole)">
            <p class="dealer-heading-div">Dealer Leaderboard</p> 
        </div>          
        <ul class="nav titlebox nav-tabs justify-content-between dealer-ul">
            <h6 class="" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswASMAdminProgramRole
            && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswCMProgramRole
            && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswRCMProgramRole">Leaderboard</h6> 
            <!-- for client users in desktop -->
            <h6 class="" *ngIf="(this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole
            || this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole
            || this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole) && displaypc">Dealer Leaderboard</h6> 
            <div class="d-flex dealer-div" style="width: 70%">
                <li class="nav-item">
                    <a class="nav-link active dealer-nav" data-toggle="tab" id="dealerTMT"   (click)="showDealerProductTable('TMT')">TMT</a>
                </li>
                <li class="nav-item dealer-nav-item">
                    <a class="nav-link dealer-nav" data-toggle="tab" id="dealerCoated" (click)="showDealerProductTable('Coated')">Coated</a>
                </li>
            </div>
        </ul>
  
        <div class="tab-content">
            <div class="tab-pane active col-md-12" id="hrc">
                <table class="table " style="margin-bottom: 0px; ">
                    <thead>
                        <th colspan="3" style="text-align: center ! important; background-color: #E8DCC3; ">
                            <span style=" font-size:15px ">PAN India</span>
                        </th>
                    </thead>
                    <tbody>
                        <tr class="head">
                            <th style="text-align: center;"><strong>Name</strong></th>
                            <th style="text-align: center;"><strong>Region</strong></th>
                            <th style="text-align: center;"><strong>Metric Tons</strong></th>
                        </tr>
                        <tr *ngFor="let leader of allOverDealerTableData let i = index">
                            <td style="text-align: center;">{{leader.name}}</td>
                            <td style="text-align: center;">{{leader.state}}</td>
                            <td style="text-align: center;">{{leader.totalSales}}</td>
                        </tr>
                    </tbody>
                </table>
                <div  *ngIf="topRetailers.length === 0 &&  leaderboardRecordNotfound" class="noRecords">
                    No record found

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="crm">
        
        </div>
    </div>




    <div class="col-lg-12 tableMain " *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole">
        <div class="col-lg-12 " style="box-shadow: 0 0 10px ; ">

            <div class="row tableHeadingDiv">
                <span class="tableheading">Leads

                </span>
            </div>

            <div class="row ">
                <div class="col-lg-12 col-12 table-responsive" *ngIf="displaypc">
                    <table class="table " style="border-right:1px solid lightgray ">
                        <thead>
                            <tr>
                                <th class="backgroundColor colspan2">Lead Id</th>
                                <th class="backgroundColor colspan2">Project Name</th>
                                <th class="backgroundColor colspan2">Owner Name</th>
                                <th class="backgroundColor colspan2">Engineer Name</th>
                                <th class="backgroundColor colspan2">Status</th>
                            </tr>
                        </thead>



                        <tbody>
<!-- 
                            <tr *ngIf="!showLeadsTable">
                                <td></td>
                                <td></td>
                                <td class="noRecords">No record found</td>
                                <td></td>
                                <td></td> >
                            </tr-->
                            <tr *ngFor="let lead of leadslist let i=index ">
                                <template [ngIf]="i<5 ">
                                    <td class="lc-hand " (click)="routeToLeadDetails(lead)" style="cursor: pointer;">
                                        <u class="lc-hand "> {{lead.data.leadId}} </u>
                                    </td>
                                    <td>{{lead.data.projectname}}</td>
                                    <td class="text-capitalize ">
                                        <span style="padding-right:0.3em; "> </span> {{lead.data.ownername}}</td>
                                    <td class="text-capitalize ">
                                        <span style="padding-right:0.3em; "> </span> {{lead.userName[0]}}</td>
                                    <td *ngIf="(!lead.data.qualified && !lead.data.rejected) || lead.data.pending === true " class="text-capitalize ">
                                        <span style="padding-right:0.3em; "> </span> Pending</td>
                                    <td *ngIf="lead.data.qualified === true" class="text-capitalize ">
                                        <span style="padding-right:0.3em; "> </span> Approved</td>
                                    <td *ngIf="lead.data.rejected === true" class="text-capitalize ">
                                        <span style="padding-right:0.3em; "> </span> Rejected</td>
                                </template>
                            </tr>
                        </tbody>

                    </table>
                    <div *ngIf="!showLeadsTable" class="noRecords">No record found </div>
                    <a *ngIf="showLeadsTable" style="cursor: pointer;color: #007bff;float:right;margin-right: 1rem;padding-bottom: 1rem;" (click)="gotoLeadsListForApproval() ">View all leads</a>
                </div>
            </div>

        </div>
        <div class="col-12" *ngIf="displaymobile" style="padding:0px;">

            <div *ngFor="let lead of leadslist let i=index">
                <div class="card" *ngIf="i<5" style="margin-bottom: -5px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                        <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                <b>Lead Id</b>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                <p class="card-text " (click)="routeToLeadDetails(lead)" style="color:blue;text-decoration:underline;">{{lead.data.leadId}}</p>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                <b>Project Name</b>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                <p class="card-text">{{lead.data.projectname}}</p>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                <b>Owner Name</b>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                <p class="card-text text-capitalize">{{lead.data.ownername}}</p>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                <b>Engineer Name</b>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                <p class="card-text text-capitalize">{{lead.userName[0]}}</p>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-5" style="font-size: 15px;">
                                <b>Status</b>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="font-size: 15px;">
                                <p *ngIf="(!lead.data.qualified && !lead.data.rejected) || lead.data.pending === true " class="card-text text-capitalize">Pending</p>
                                <p *ngIf="lead.data.qualified === true" class="card-text text-capitalize">Approved</p>
                                <p *ngIf="lead.data.rejected === true" class="card-text text-capitalize">Rejected</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <a style="cursor: pointer;color: #007bff;float:right;margin-top:15px;margin-right: 1rem;padding-bottom: 1rem;font-size: 15px;" (click)="gotoLeadsListForApproval() ">View all leads</a>
        </div>

    </div>
</body>

<script>
        // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) 
    {
        // this.sidebar.close();
        // if (event.target == sidebar) 
        // {
        //     sidebar.style.width = "0";
        // }
        // if(event.target == open)
        // {
        //     open.style.display = "none"
        // }
        document.getElementById("open").style.display = "block";
        document.getElementById("close").style.display = "none";
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("sidebar").style.overflow = "hidden";
    }
</script>