$font-family: Roboto;
$color: #222;
$text-color:#fff;
$box-shadow: 0 2px 6px #adadad;
$border-radius:2%;
.cakeMain {
    box-shadow: $box-shadow;
    height: 150px;
    width: 45%;
    margin-left: 3%;
    border-radius: $border-radius;
    max-width: 47%;
}

.cake {
    padding-top: 40px;
    padding-bottom: 40px;
}
.barChart {
    background-color: #fff;
    border-radius: 6px;
    padding: 1em 2em;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.55);
}

.targetMain {
    box-shadow: $box-shadow;
    height: 150px;
    width: 45%;
    margin-left: 5%;
    border-radius: $border-radius;
    max-width: 47%;
}

.graphMain {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 5%;
}

.percentageMain {
    box-shadow: $box-shadow;
    height: 150px;
    width: 45%;
    margin-left: 5%;
    border-radius: $border-radius;
    max-width: 47%;
}

.Row1 {
    font-family: $font-family;
    font-weight: 800;
    font-size: 2em;
    color: $color;
}

.Row2 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1em;
    color: $color;
}

.Row3 {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: $color;
}

.pointsRow {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.5em;
    color: $color;
}

.tableMain {
    margin-top: 5%;
    margin-bottom: 5px;
}

.target {
    box-shadow: $box-shadow;
    height: 330px;
    margin-top: -17px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}

.spanClass {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1em;
    color: #222;
}

.engineerMain {}

.engineerDiv {
    box-shadow: $box-shadow;
    height: 150px;
    border-radius: $border-radius;
    border: 1px solid #fdfdfd;
}

.tableHeadingDiv {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: $color;
}

.tableheading {
    color: #DEB35E;
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 0%;
    font-family: $font-family;
}

.productName {
    cursor: pointer;
    font-size: 14px;
}

.productNameDiv {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    color: $text-color;
    font-size: 1em !important;
    cursor: pointer;
}

.productNameDiv div :active {
    color: #ae995a;
    background: #0d0e0f;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    font-size: 1em !important;
    cursor: pointer;
}

.productNameDivActive {
    color: $color;
    background: #f7c636;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    font-size: 1em !important;
    cursor: pointer;
}

.productNameDiv:hover {
    color: $color;
    background: #f7c636;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    font-size: 1em !important;
    cursor: pointer;
}

.productNameDiv1 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    color: $text-color;
    font-size: 1em !important;
    cursor: pointer;
}

.productNameDiv1Active {
    color: $color;
    background: #f7c636;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    font-size: 1em !important;
    cursor: pointer;
}

.productNameDiv1:hover {
    color: $color;
    background: #f7c636;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    font-size: 1em !important;
    cursor: pointer;
}

.thHeading {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center ! important;
    background-color: #E8DCC3;
}

.backgroundColor {
    background-color: #E8DCC3 !important;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: $font-family;
    color: $color;
    font-size: 1em !important;
}

.table {
    font-family: $font-family !important;
}

td,
tr {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
}

th {
    font-family: $font-family;
    font-weight: bold;
    font-size: 1em;
    color: #222;
}

.enginerth {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center ! important;
    background-color: #E8DCC3;
}

.dealertarget {
    box-shadow: $box-shadow;
    height: 150px;
    width: 45%;
    margin-left: 3%;
    border-radius: $border-radius;
    max-width: 47%;
}

card-body-dash {
    flex: 1 1 auto;
}

.achievedDiv1 {
    margin-top: -35% !important;
    margin-left: 34% !important;
    color: #222;
    font-family: $font-family;
    font-size: 1.6em;
    font-weight: 300;
}

.achievedDiv2 {
    margin-top: -2%;
    margin-left: 34%;
    color: #222;
    font-family: $font-family;
    font-size: 1.6em;
    font-weight: 300
}

.spaceheight {
    height: 2px;
}

.cardImage {
    height: 60px;
}

.textPadding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tableContainer {
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 10px;
}

.table-responsive {
    padding: 0
}

.cardSpaces {
    padding: 27px;
    padding-top: 0px;
}

.tableSpaces {
    padding-right: 10px;
    padding-bottom: 10px;
}

.shadow {
    box-shadow: 0 0 10px;
}

.dashBoardMargin {
    margin-left: 14px;
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.dealerMargin {
    margin-left: -1em;
}

.chart {
    height: 70%;
    margin-top: 10%
}

.mob-font {
    font-size: 15px;
}

.titlebox {
    background-color: #222;
    color: #d8b56f;
    height: 3em;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 2em;
}

.head {
    background-color: #e5dec4;
}

.higlighter {
    background-color: #fffcf2;
}

.nav-item {

    width: 25%;
    text-align: center;
    font-weight: bold;
}



.nav-link.active {
    color: #222 !important;
    background-color: #e5dec4 !important;
    border-color: #e5dec4 !important;
}

.tab-pane {
    padding: 0 !important;
}


.nav-tabs .nav-link{
border: none !important;

}

a{ color: #e5dec4 !important;

}

.table-heading{
    text-align: center;
}

.table-Margin{
    margin-left: 14px;
    margin-right: 14px;
}

.table-responsive{
    width: 98%;
}

.header-width{
    width: 70% !important;
}

.dealer-heading-div{
    color: #DEB35E;
    font-size: 15px;
    margin-left: 7%;
    margin-bottom: 0%;
    margin-top: 2%;
}

// Mobile Screens
@media screen and(max-width:580px) {
    .dropdown-content {
        width: 200px;
        right: 2%;
    }
    .cardImage {
        height: 40px;
    }
    .cake {
        padding-top: 20px;
        padding-bottom: 00px;
        text-align: center;
    }
    .textPadding {
        padding-top: 10px;
        text-align: center;
        padding: 0px;
    }
    .Row1 {
        font-size: 1.5em;
    }
    .Row2 {
        font-size: 0.8em;
    }
    .imgHeight {
        height: 200px
    }
    .target {
        height: 250px;
        margin-top: 1px;
    }
    .engineerDiv {
        box-shadow: $box-shadow;
        height: 160px;
        border-radius: $border-radius;
        border: 1px solid #fdfdfd;
    }
    .products-div{
        font-size: 11px
    }

    .u-list{
        padding-left: 6px !important;
        padding-right: 6px !important;
    }

    .li-class{
        padding-left: 10px !important;
        font-size: 11px !important;
    }

    .table-responsive{
        width: 93%
    }

    .table-title{

    }

    .dealer-div{
        width:65% !important;
    }

    .dealer-nav{
        font-size: 11px !important;
    }

    .dealer-nav-item{
        width: 40% !important;
    }


    .dealer-ul{
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}

@media screen and (max-width:810px) and (min-width:371px) {
    .mobile-align {
        margin-top: -30px;
    }
}

@media screen and(max-width:940px) {
    .cardImage {
        height: 50px;
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 992px)and (max-width: 1200px) {
    .dealer-dashboard-font {
        font-size: 15px;
    }
}

@media screen and (min-width: 812px) and (max-width: 992px) {
    .dealer-dashboard-font {
        font-size: 15px;
    }
    .target {
        margin-top: 1px;
    }
}

@media screen and (min-width: 767px) and (max-width: 811px) {
    .target {
        margin-top: 1px;
    }
    .margin-right {
        margin-right: 0.9rem !important
    }
    .font-for-mobile {
        font-size: 15px;
    }
    .productName {
        font-size: 14px;
        cursor: pointer;
        font-weight: normal;
    }
    .dealer-dashboard-font {
        font-size: 15px;
    }
}

// Iphone 5 and low resolution screens
@media screen and (max-width:370px) {
    .cardImage {
        height: 50px;
    }
    .engineerDiv {
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        border: 1px solid #fdfdfd;
        height: 160px;
        width: 112px;
        margin-left: -15px
    }
    .font-for-mobile {
        font-size: 15px;
    }
    .mobile-align {
        margin-top: -39px;
    }
    .productName {
        font-size: 14px;
        cursor: pointer;
        font-weight: normal;
    }
    .dealer-dashboard-font {
        font-size: 15px;
    }
    .target {
        margin-top: 1px;
    }
    
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

@media screen and (max-width:825px) and (min-width:300px) {
    td,
    tr {
        font-size: 12px !important;
    }
.bannerImage
{
height: 150px;
margin-top: -47px;
}
}

@media screen and (max-width:825px) and (min-width:351px)
{
    .achievedDiv1 {
        margin-top: -36% !important;
        margin-left: 33% !important;
        color: #222;
        font-family: $font-family;
        font-size: 23px !important;
        font-weight: 300;
    }
    .achievedDiv2 {
        margin-top: -2%;
        margin-left: 32%;
        color: #222;
        font-family: $font-family;
        font-size: 17px !important;
        font-weight: 300
    }
}

@media screen and (max-width:350px)
{
.achievedDiv1 {
    margin-top: -42% !important;
    margin-left: 33% !important;
    color: #222;
    font-family: $font-family;
    font-size: 23px !important;
    font-weight: 300;
}

.achievedDiv2 {
    margin-top: -2%;
    margin-left: 32%;
    color: #222;
    font-family: $font-family;
    font-size: 17px !important;
    font-weight: 300
}

.li-class{
    padding-left: 6px !important;
    font-size: 10px !important;
}

.header-width{
    width: 66% !important;
}

.table-responsive{
    width: 91% !important;
}
}

