<md-progress-circle class="loader" [color]="'warn'" [mode]="'indeterminate'" [value]="100" *ngIf="showLoader">
</md-progress-circle>
<feedback-message></feedback-message>
<div id="aboutus-container" class="container-fluid" style="min-height:200vh; width:100%;padding:20px;">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 db-view-summary" (click)="routing1()">
        <span class="text-capitalize">
                         <span> <<
                             </span> Back
        </span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="programForm">
            <div class="row">
                <!-- program drop down -->
                <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center">Program to compare
                    <select class="form-control mp-fonts text-box" id="program" formControlName="program" style="margin-top: 0.8em;" (change)="getComparisonReport()">
                        <option class="mp-fonts" *ngFor="let program of dropDownPrograms" value="{{program.programId}}">{{program.programName}}</option>
                        <option class="mp-fonts" *ngIf="dropDownPrograms.length === 0">User is not mapped to any other program</option>
                    </select>
                </div>
                <!-- graph type drop down -->
                <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:center">Duration
                    <select class="form-control mp-fonts text-box" id="graphType" formControlName="graphType" style="margin-top: 0.8em;" (change)="getComparisonReport()">
                            <option class="mp-fonts" value=""> Select type of graph </option>
                        <option class="mp-fonts" value="yearly">Yearly</option>
                        <option class="mp-fonts" value="monthly">Monthly</option>
                        <option class="mp-fonts" value="quarterly">Quarterly</option>             
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 20px;margin-top: 30px;" *ngIf="this.yearlyGraph ===true">
        <div id="caption" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="font-size: 16px;text-align: center">Sales Comparison
        </div>
        <div id="caption" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="
            font-size: 16px;text-align: center">SKU Comparison
        </div>
        <div id="caption" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="
            font-size: 16px;text-align: center">Points Comparison
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.yearlyGraph ===true">

        <div id="piechartdiv1" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style=" height: 400px; background-color: #FFFFFF;">
        </div>

        <div id="piechartdiv2" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style=" height: 400px; background-color: #FFFFFF;">
        </div>

        <div id="piechartdiv3" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style=" height: 400px; background-color: #FFFFFF;">
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.monthlyGraph ===true">
        <div id="caption" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="
                font-size: 16px;text-align: center;margin-top: 1.2em;">Sales Comparison

            <div id="piechartdiv1" style=" height: 400px; background-color: #FFFFFF;">
            </div>
        </div>
        <div id="caption" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="
                font-size: 16px;text-align: center;margin-top: 1.2em;">SKU Comparison
            <div id="piechartdiv2" style=" height: 400px; background-color: #FFFFFF;">
            </div>
        </div>
        <div id="caption" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="
                font-size: 16px;text-align: center;margin-top: 1.2em;">Points Comparison
            <div id="piechartdiv3" style=" height: 400px; background-color: #FFFFFF;">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.quarterlyGraph ===true">
        <div id="caption" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="
                font-size: 16px;text-align: center;margin-top: 1.2em;">Sales Comparison
            <div id="piechartdiv1" style=" height: 400px; background-color: #FFFFFF;">
            </div>
        </div>
        <div id="caption" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="
            font-size: 16px;text-align: center;margin-top: 1.2em;">SKU Comparison

            <div id="piechartdiv2" style=" height: 400px; background-color: #FFFFFF;">
            </div>
        </div>
        <div id="caption" class="col-lg-6 col-md-9 col-sm-9 col-xs-12" style="
                font-size: 16px;text-align: center;margin-top: 1.2em;">Points Comparison

            <div id="piechartdiv3" style=" height: 400px; background-color: #FFFFFF;">
            </div>
        </div>
    </div>
</div>
<client-footer></client-footer>
<app-footer></app-footer>