.bannerMain {
    // margin-top: 80px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
}

//Code for mobile
@media screen and(max-width:580px) {
    .bannerImage {
        height: 170px;
        margin-top: -30px;
    }
}