<div *ngIf="!isFilter">
    <!-- Code to add Loader -->
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>


    <div class="eng-div-margin" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole"></div>
    <div class="div-top-margin" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole"></div>

    <div class="container fontF col-12 col-sm-12">
        <feedback-message style="margin-bottom: 0px;"></feedback-message>
        <div class="row" style="margin-top: -42px;">
            <div class="col-md-8 col-12 col-sm-12 mx-auto search-btn-mob">
                <form class="input-group" [formGroup]="filterForm">

                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" (keypress)="eventHandler($event.keyCode)" formControlName="search" placeholder="Search product...">
                    <span class="input-group-btn">
                        <!-- <button class="btn-jsw" type="button" (click)="setSearch()">Search</button> -->
                        <button class="btn btn-sm" type="button" (click)="setSearch()" style="width:50.61px;color: #000;background: #ae995a;margin-top:1px; margin-left:6px;">
                            <i class="fa fa-search"></i>
                        </button>
                        <button class="btn btn-sm" (click)="filterNav()" type="button" style="width:50.61px;color: #000;background: #ae995a;margin-top:1px;">
                            <i class="fa fa-filter"></i>
                        </button>
                    </span>
                </form>
            </div>
        </div>


        <!-- products -->
        <div class="prod-box  col-md-10 col-12 col-sm-12 col-lg-10" style="padding-left: 0px; padding-right: 0px;">
            <div class="mt-2 mb-2 " style="margin-top: -1.5rem !important;">
                <div class="col-md-4 col-12 col-sm-12 spc mt-2 mb-2 fontF" style="padding-left: 0px; padding-right: 0px;" *ngFor="let product of productsArray; let i=index; let isAdded of isProductAdded">
                    <figure class="card card2 card-product prod-high" href="#">
                        <div class="img-wrap" (click)="goToProductDetail(product)">
                            <img src="{{product.smallImage}}">
                        </div>
                        <figcaption class="info-wrap">
                            <div class="product-padding" (click)="goToProductDetail(product)">
                                <h6 class="title text-dots" style="height: 39px;">
                                    <a>
                                        {{product.productName}}
                                    </a>
                                </h6>
                                <h6>Product Code : {{product.SKU}}</h6>
                                <h6>{{configService.getTerminology()}}: {{product.pointsPerQuantity}} </h6>
                            </div>
                            <div class="product-padding">
                                <button *ngIf="canAddToCart" class="btn-addcart1 font-size-mob" (click)="addToCart(product)">
                                    Add to Cart
                                </button>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div *ngIf="productsArray.length<=0" style="margin: 10px; text-align:center !important;">
                <h3> {{statusMessage}}</h3>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>


<!-- For Filter page on mobile -->

<div *ngIf="isFilter">
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole" style="margin-top: 134px;"></div>
    <div class="filter-div-margin" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole"></div>
    <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <button class="btn btn-sm" type="submit" (click)="cancelNav()" style="width:128.61px;color: #000;background: #ae995a;">Back</button>
    </div> -->
    <div class="container" style="margin-top: -15px;">
        <div class="titlebox my-4">
            <h6 class="">Filter</h6>
        </div>
        <!-- start comment -->
        <!-- <div class="card">
            <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseabc">
                <a class="collapsed card-link" style="color:black;">
                    <strong>Categories</strong>
                </a>
            </div>
            <div id="collapseabc" class="collapse" data-parent="#accordion">

                <div *ngFor="let category of categorySubcategoryArray; let i =index;">
                    <a class="card-header card-drop a-underline" data-toggle="collapse" [href]="'#abc'+i" style="cursor: pointer;">
                        <a class="collapsed card-link" style="color:black;">
                            {{category.categoryName}}

                            <!-- </div> -->
                            <!-- <div [id]="'abc'+i" class="collapse" data-parent="#accordion">

                                <div class="row card-subline card-checkbox">
                                    <input type="radio" name="radio" checked="checked" (click)="setCategory(category.categoryId,category.categoryName)"
                                        class="checkbox-mob"> &nbsp; All
                                </div>
                                <div class="card-checkbox"  *ngFor="let subcat of category.SubCategories; let j=index;">

                                    <input type="radio" name="radio" [checked]="subcat.isSelected" class="checkbox-mob" (click)="setSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)">{{subcat.subCategoryName}}
                                </div> -->

                                <!-- </div>  -->
                            <!-- </div>
                        </a>
                    </a>
                </div>

            </div>
        </div> --> <!-- ends comment -->

  
         <div class="card">
            <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseabc">
                <a class="collapsed card-link" style="color:black;">
                    <strong>Categories</strong>
                </a>
            </div>
            <div id="collapseabc" class="collapse" data-parent="#accordion">

                <div *ngFor="let category of categorySubcategoryArray; let i =index;">
                    <a class="card-header card-drop a-underline" data-toggle="collapse" [href]="'#abc'+i" style="cursor: pointer;">
                        <a class="collapsed card-link" style="color:black;">
                            
                            <h6>{{category.categoryName}}</h6>
                        </a>
                    </a>
                
                            
                    <div [id]="'abc'+i" class="collapse" data-parent="#accordion">

                                <div class="row card-subline card-checkbox">
                                    <input type="radio" name="radio" checked="checked" (click)="setCategory(category.categoryId,category.categoryName)"
                                        class="checkbox-mob"> &nbsp; All
                                </div>
                                <div class="card-checkbox"  *ngFor="let subcat of category.SubCategories; let j=index;">

                                    <input type="radio" name="radio" [checked]="subcat.isSelected" class="checkbox-mob" (click)="setSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)">{{subcat.subCategoryName}}
                                </div>

                    </div> 
                </div>            
                   
            </div>

        
        </div> 

        <div class="card card-drop">
            <div class="card-header" style="padding-left:15px;cursor: pointer;" data-toggle="collapse" href="#collapseThree">
                <a class="collapsed card-link" style="color:black;">
                    <strong>Brand</strong>
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="row card-subline card-checkbox">
                    <input type="checkbox" id="myCheck" checked="checked" (click)="setBrandsArray(ALL)" class="checkbox-mob"> &nbsp; ALL
                </div>
                <div class="card-checkbox" *ngFor="let brand of brandsArray let i=index;">
                    <div class="row card-subline">
                        <input type="checkbox" id="myCheck" [checked]="brand.isSelected" (click)="setBrandsArray(i)" class="checkbox-mob"> &nbsp; {{brand.brandName}}
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="apply-btn col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                <button class="btn btn-sm" type="submit" style="width:128.61px;color: #000;background: #ae995a;" (click)="applyClick()">Apply</button>
            </div>
            <div class="apply-btn col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                <button class="btn btn-sm" type="submit" (click)="cancelNav()" style="width:128.61px;color: #000;background: #ae995a;">Back</button>
            </div> 
        </div>    
    </div>
</div>