<!--    **********************  ROW 2 - CATEGORIES AND SLABS FILTER     *******************     -->
 <!-- <nav class="navbar navbar-expand-lg navbar-light fontF" style="margin-top: 56px; background-color: #ae995a !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <a class="nav-link nav-item all-Categories" (click)="getSpecificCategory(undefined,'All Categories')"> All Categories</a>
    <div class="dropdown" *ngFor="let category of categorySubcategoriesArray let i=index;">
        <a class="dropbtn nav-link category-item" (click)="getSpecificCategory(undefined,'All Categories')">
                  {{category.categoryName}} 
                <i ></i>
              </a>
        <div class="dropdown-content nav-link subcat-popup">
            <a class="dropdown-item subcat-item" (click)="getSpecificCategoryAndSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)" *ngFor="let subcat of category.SubCategories let j=index;">{{subcat.subCategoryName}}</a>
        </div>
    </div>



</nav> 
-->

<nav class="navbar  navbar-light fontF" style="z-index: 300; position: fixed; width:100%; margin-top: 52px;; background-color: #ae995a !important;">

        <div class="col-lg-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
            <a class="dropbtn nav-link nav-item" (click)="getSpecificCategory(undefined,'All Categories')" style="padding-left: 35px;"> All Categories </a>
            <div class="dropdown nav-item" *ngFor="let category of categorySubcategoryArray1 let i =index;">
                <span  class="dropbtn nav-link category-item" (click)="getSpecificCategory(undefined,'All Categories')" style="padding-left: 10px;">
                    {{category.categoryName}}
                </span>
                <div class="dropdown-content nav-link subcat-popup">
                        <a class="dropdown-item subcat-item" (click)="getSpecificCategoryAndSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)" *ngFor="let subcat of category.SubCategories let j=index;">{{subcat.subCategoryName}}</a>
                </div>
            </div>
            <div *ngIf="isOptionClicked" class="btn btn-option" type="button" [hidden]="!isMore" data-toggle="collapse" (click)="optionClick()" data-target="#collapsibleNavbar"> More
                <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>   
            </div>
            <div *ngIf="!isOptionClicked" class="btn btn-option" type="button" (click)="closeClick()" data-toggle="collapse" data-target="#collapsibleNavbar">Hide
                 <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i>
            </div>
        </div>
    
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <div class="navbar-nav row">
                            <div class="dropdown nav-item" *ngFor="let category of categorySubcategoriesArray let i =index;">
                                    <span class="dropbtn nav-link category-item" (click)="getSpecificCategory(undefined,'All Categories')">
                                        {{category.categoryName}}
                                    </span>
                                    <div class="dropdown-content nav-link subcat-popup">
                                        <a class="dropdown-item subcat-item" (click)="getSpecificCategoryAndSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)" *ngFor="let subcat of category.SubCategories let j=index;">{{subcat.subCategoryName}}</a>
                                    </div>
                            </div>
                   </div>
              </div>  
       
    </nav>


<!--    ********************    END OF CATEGORIES AND SLABS FILTER  ***************************     -->
<!-- Code to add Loader -->
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!-- feedbackmsg -->
<feedback-message style="max-height: 30vh;
z-index: 1000;
text-align: center;
margin-top: 1em;
margin-bottom: 1.5em;
WIDTH: 80%;
MARGIN-LEFT: 10%;"></feedback-message>
<!-- EOFM -->

<!-- product details -->
<div class="container-fluid" style="margin-top: 115px;">
    <div>
        <button class="btn-jsw" (click)="nav()">Back</button>
    </div>
    <div class="card" style="background: #eee;">
        <div class="container">
            <div class="wrapper row fontF">
                <div class="preview col-md-6">
                    <!-- <div class="preview-pic tab-content">
                        <div class="myslides">
                            <ks-swiper-container class="rg-img-box">
                                <ks-swiper-slide class="swiper-slide" *ngFor="let s of productImages; let n = index;">
                                    <img class="main-image" src="{{s}}" (click)="zoom(n)" />
                                </ks-swiper-slide>
                            </ks-swiper-container>
                        </div>
                    </div> -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item" [class.active]=" n =='0'" style="margin-top: 10px;" *ngFor="let s of productImages; let n = index;">
                                <img class="main-image d-block img-fluid" src="{{s}}" (click)="zoom(n)" />
                            </div>
                        </div>
                        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a> -->
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs" style="margin-bottom: 21px;">
                        <!-- <li>
                            <i class="fa fa-angle-left fa-2x vertical-align" aria-hidden="true" (click)="movePrev()"></i>
                        </li> -->
                        <a class="fa fa-2x vertical-align" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" style="margin-top: 16px; margin-right: 16px;" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <li class="active" *ngFor="let s of product.image let i=index">
                            <a data-target="#pic-1" data-toggle="tab">
                                <img class="small-image" (click)="showImage(i)" src="{{s}}" />
                            </a>
                        </li>
                        <!-- <li>
                            <i class="fa fa-angle-right fa-2x vertical-align" aria-hidden="true" (click)="moveNext()"></i>
                        </li> -->

                        <a class="fa fa-2x vertical-align" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="fa fa-angle-right" style="margin-top: 16px; margin-left: 16px" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ul>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.productName}}</h3>
                    <p class="product-description"><strong>Product Code:</strong> {{product.SKU}} </p>
                    <h4 class="price">{{configService.getTerminology()}}: <span>{{product.pointsPerQuantity}} </span> </h4>
                    <h6><small>{{product.shippingInfo}} </small></h6>
                    <p class="product-description"><strong>Product Description:</strong>&nbsp; {{product.shortDescription}}
                    </p>
                    <div class="action">
                        <button *ngIf="canAddToCart" class="btn-jsw" type="button" (click)="addToCart(product)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- for zooming the image -->
<div *ngIf="isZoom" class="alert alert-info" style="background-color:#000; background-image:none;max-height: 100vh; overflow-y:scroll;  z-index:1000; position:fixed; width:84%; height: 81%; top:11%; left:8%; text-align:center; ">
    <a (click)="closeDetails()" style="color:white;float:right">X</a>
    <img id="First IMG" class="img1" [src]="imageURL" style="height:100%;" alt="Image preview...">
</div>