<!--    **********************  ROW 2 - CATEGORIES AND SLABS FILTER     *******************     -->
<nav class="navbar  navbar-light fontF" style="z-index: 300; position: fixed; width:100%; margin-top: -52px;; background-color: #ae995a !important;">

    <div class="col-lg-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
        <a class="dropbtn nav-link nav-item" (click)="setCategory(undefined,'All Categories')" style="padding-left: 35px;"> All Categories </a>
        <div class="dropdown nav-item" *ngFor="let category of categorySubcategoryArray1 let i =index;">
            <span  class="dropbtn nav-link category-item" (click)="setCategory(category.categoryId,category.categoryName)" style="padding-left: 10px;">
                {{category.categoryName}}
            </span>
            <div class="dropdown-content nav-link subcat-popup">
                <a class="dropdown-item subcat-item" (click)="setSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)" *ngFor="let subcat of category.SubCategories let j=index">{{subcat.subCategoryName}}</a>
            </div>
        </div>
        <div *ngIf="isOptionClicked" class="btn btn-option" type="button" [hidden]="!isMore" data-toggle="collapse" (click)="optionClick()" data-target="#collapsibleNavbar"> More
            <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>   
        </div>
        <div *ngIf="!isOptionClicked" class="btn btn-option" type="button" (click)="closeClick()" data-toggle="collapse" data-target="#collapsibleNavbar">Hide
             <i class="fa fa-angle-up fa-lg" aria-hidden="true"></i>
        </div>
    </div>

          <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="navbar-nav row">
                    <div class="dropdown nav-item" *ngFor="let category of categorySubcategoryArray2 let i =index;">
                            <span class="dropbtn nav-link category-item" (click)="setCategory(category.categoryId,category.categoryName)">
                                {{category.categoryName}}
                            </span>
                            <div class="dropdown-content nav-link subcat-popup">
                                <a class="dropdown-item subcat-item" (click)="setSubCategory(category.categoryId,subcat.subCategoryId,subcat.subCategoryName)" *ngFor="let subcat of category.SubCategories let j=index">{{subcat.subCategoryName}}</a>
                            </div>
                    </div>
                    <!-- <div class="nav-item">
                        <span class="nav-link" href="#">RRRRRRRRRRRRRRRRR</span>
                    </div>
                    <div class="nav-item">
                            <span class="nav-link" href="#">RRRRRRRRRRRRRRRRRRR</span>
                    </div>
                    <div class="nav-item">
                            <span class="nav-link" href="#">RRRRRRRRRRRRRRRRRRRR</span>
                    </div>     -->
                </div>
          </div>  
   
</nav>

<!-- Code to add Loader -->
<div class="spinner" style="z-index: 999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="container fontF" style="z-index: 200; margin-top: 100px">
    <!-- feedbackmsg -->
    <feedback-message style="max-height: 30vh;
    z-index: 1000;
    text-align: center;
    margin-top: 1.5em !important;
    margin-bottom: -1.5em !important;
    WIDTH: 80%;
    MARGIN-LEFT: 10%;">
    </feedback-message>
    <!-- EOFM -->
    <div class="row" style="margin-left: 0.9rem;">
        <div class="col-md-8 mt-5 mx-auto">
            <form class="input-group" [formGroup]="filterForm">
                <div class="input-group-btn search-panel">

                    <select class="btn btn-default dropdown-toggle select-btn" formControlName="category" style="height: 6vh;">
                        <option value="All Categories" *ngIf="!isSlabsRequired">All Categories</option>
                        <option value="{{category.categoryId}}" *ngFor="let category of categorySubcategoryArray" [hidden]="isSlabsRequired">{{category.categoryName}}</option>
                    </select>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" (keypress)="eventHandler($event.keyCode)" formControlName="search" placeholder="Search product...">
                <span class="input-group-btn">
                    <button class="btn-jsw" type="button" (click)="setSearch()">Search</button>
                </span>
            </form>
        </div>
    </div>

    <div class="row col-md-12 mt-5">
        <div class="filter-box col-md-2">
            <h5>Brands</h5>
            <div *ngFor="let brand of brandsArray let i=index;">
                <input type="checkbox" id="myCheck" [checked]="brand.isSelected" (click)="setBrandsArray(i)"> &nbsp; {{brand.brandName}}
            </div>
            <br>
        </div>

        <!-- products -->
        <div class="prod-box  col-md-10">
            <div class="mt-2 mb-2 " style="margin-top: -1.5rem !important;">
                <div class="col-md-4 spc mt-2 mb-2 fontF" *ngFor="let product of productsArray; let i=index; let isAdded of isProductAdded">
                    <figure class="card card-product prod-high" href="#">
                        <div class="img-wrap" (click)="goToProductDetail(product)">
                            <img src="{{product.smallImage}}">
                        </div>
                        <figcaption class="info-wrap">
                            <div class="product-padding" (click)="goToProductDetail(product)">
                                <h6 class="title text-dots" style="height: 39px;">
                                    <a>
                                        {{product.productName}}
                                    </a>
                                </h6>
                                <h6>Product Code : {{product.SKU}}</h6>
                                <h6>{{configService.getTerminology()}}: {{product.pointsPerQuantity}} </h6>
                            </div>
                        </figcaption>
                        <div class="product-padding">
                            <button *ngIf="canAddToCart" class="btn-addcart float-right" [disabled]="showLoader===true "   (click)="addToCart(product)">
                                Add to Cart
                            </button>
                        </div>
                    </figure>
                </div>
            </div>
            <div *ngIf="productsArray.length<=0" style="margin: 10px; text-align:center !important;">
                <strong> {{statusMessage}} </strong>
            </div>
        </div>
    </div>
</div>
<script>
        // When the user clicks anywhere outside of the modal, close it
    window.onclick= function(event) 
    {
     
        document.getElementById("collapsibleNavbar").style.display = "none";

    }
</script>