.slider-mob-img {
    margin-bottom: -30px;
    text-align: center;
    padding-left: 4px;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-item{
    width: 14%;
    display: inline-block;
    margin: 0 5px;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
}
.nav-link {
  
    padding: 0.5rem 0rem;
}
.fa{
    width:31px;
    height:25px;
}
.optionBtn{
    float: right;
    height: 41px;
    font-size: 20px;
}

.btn-option {
    border: 1px solid #ae995a;
    color: #fff;
    background: #ae995a;
    padding: 5px 33px;
    transition: all .3s ease 0s;
    height: 100%;
    cursor: pointer;
    float: right;
    height: 41px;
    font-size: 18px;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 28px;
    margin-bottom: 0;
    list-style: none;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ae995a ;
    
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-addcart {
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    height: 100%;
    cursor: pointer;
}

.btn-addcart:hover {
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.feedback-message {
    margin-top: 1em !important;
    margin-bottom: 0 !important;
}

.prod-high {
    background-color: #fff;
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

.card-product:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}

.card-product .price-new,
.card-product .price {
    margin-right: 5px;
}

.card-product .price-old {
    color: #999;
}

.card-product .img-wrap {
    overflow: hidden;
    position: relative;
    height: 180px;
    text-align: center;
}

.card-product .img-wrap img {
    max-height: 100%;
    max-width: 65%;
    object-fit: cover;
    padding: 1em 0;
}

.card-product .info-wrap {
    overflow: hidden;
}

.card-product .action-wrap {
    padding-top: 4px;
    margin-top: 4px;
}

.card-product .bottom-wrap {
    padding: 15px;
}

.card-product .title {
    margin-top: 0;
}

.filter-box {
    height: 100vh;
    overflow: hidden;
}

.nav-link {
    color: #000 !important;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slider-div-mob {
    padding: 5px;
    width: 80px;
    text-align: center;
}

@media screen and (max-width:325px) and (min-width:300px) {
    .font-size-mob {
        font-size: 19px;
    }
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
    padding-left: 60px;
}

.preview-thumbnail.nav-tabs li {
    //width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 82%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    padding: 2em;
}

.card {
    margin-top: 50px;
    line-height: 1.5em;
    display: block !important;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2em;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart,
.like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.spc {
    display: inline-block;
    margin-bottom: -1.5rem !important;
    margin-top: -1.5rem !important;
    cursor: pointer;
}

.li-class {
    cursor: pointer;
    border-top: unset;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fontF {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// CSS for All Categories 
.all-Categories {
    margin-right: 20px;
    cursor: pointer;
    padding-left: 23px;
}

.category-item {
    margin-left: 15px;
    cursor: pointer;
}

.subcat-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.subcat-popup {
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.subcat-item:hover {
    background-color: #ffe6e6;
}

.select-btn {
    color: buttontext !important;
    background-color: buttonface !important;
}

.product-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.main-image {
    width: 60vh;
    height: 60vh;
}

.small-image {
    width: 11vh;
    height: 11vh;
}

.small-image:hover {
    opacity: 0.8;
}

.vertical-align {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

@media screen and (max-width:810px) and (min-width:320px) {
    .feedback-message {
        max-height: 58px;
        z-index: 1000;
        text-align: center;
        margin-top: -1.5em;
    }
    .alert {
        position: relative;
        padding: 0.50rem 0.25rem;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        padding-top: 1px;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        margin-top: -7px;
    }
}