/************************************Fonts**************************************************/

.rg-category-items {
    padding: 10px;
    cursor: pointer;
    font-family: HelveticaLTSEX;
    font-size: 1em;
}

.rg-category-name {
    /*padding: 10px;*/
    cursor: pointer;
    font-family: HelveticaLTSEX;
    font-size: 1em;
}


/******************************************************************************************/

#appBody {
    /*height: 68vh;*/
    width: 100%;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    background-color: #ecf0f1;
    /*border:1px solid blue;*/
}

.search-bar {
    background-color: #333333;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-top: 4px solid #d44434;
}

.category-bar {
    background-color: white;
    padding: 5px;
    font-family: HelveticaLight;
}

.brand-bar {
    background-color: #333;
    padding: 10px;
    font-family: "HelveticaLight";
    border-bottom: solid 1px #d44434;
}

.category-text {
    color: #d44434;
}

.rg-search-btn {
    background-color: #d44434;
    color: white;
    border: none;
    font-size: 16px;
}

.rg-title {
    padding: 5px 0px;
    margin-top: -10px;
    margin-bottom: 8px;
}

.rg-side-card {
    background-color: white;
    /* height: 60vh; */
    /* min-height: 60vh; */
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    width: 15%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 6px;
}

.rg-side-card-smaller {
    background-color: white;
    height: 15%;
    width: 60vh;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 6px;
}

.rg-item-card {
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 0.5em 1.5em;
    border-radius: 6px;
    cursor: pointer;
    min-height: 24vh;
}

.rg-sort {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.rg-btn-red {
    background-color: #d44434;
}

.rg-item-card-margin {
    padding: 5px;
}

.rg-filter-parent {
    background-color: #333333;
    color: white;
    padding: 10px;
    margin: -24px;
}

.rg-filter-child {
    background-color: white;
    color: #d44434;
    padding: 10px;
}

.rg-filter-items {
    padding: 10px;
}

.rg-filter-items:hover {
    background-color: #d44434;
    color: white;
}

.rg-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
}

.rg-clearall {
    cursor: pointer;
    color: #d44434;
    font-family: HelveticaLTSEX;
    text-decoration: underline;
}

.rg-sortbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /*align-items: baseline;*/
    height: 10vh;
    display: flex;
    align-items: center;
}

.rg-title-header {
    margin-bottom: 5px;
}

.rg-item-status {
    font-style: normal;
}

.form-control-custom {
    display: block;
    /*width: 100%;*/
    height: 28px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: HelveticaNeueTT;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-custom-cat {
    display: block;
    width: 13em;
    height: 28px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f3f3f3;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-family: HelveticaNeueTT;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.rg-brand-items {
    background-color: white;
}

.rg-category-items:hover {
    background-color: #d44434;
    color: white;
    z-index: 1000;
}



.rg-dropdown {
    position: relative;
    display: inline-block;
}

.rg-dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    min-width: 125%;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin-top: 10px;
    margin-left: -0.5em;
    border-top: 5px solid black;
}

.rg-dropdown-content a {
    color: black;
    padding: 2x 2px;
    text-decoration: none;
    display: block;
    font-family: "HelveticaNeueLTStd-LtEx";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.31;
    letter-spacing: 0.7px;
    text-align: center;
}

.rg-dropdown-content a:hover {
    background-color: #d44434;
    color: white;
    text-align: center;
}

.rg-dropdown:hover .rg-dropdown-content {
    display: block;
}

.rg-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.rg-dd-content {
    padding: 5px;
}

.rg-dd-content:hover {
    background-color: #d44434;
    color: white;
}

.rg-details-card {
    background-color: white;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 0px;
}

.rg-width {
    width: 98.666667% !important;
}

.rg-center {
    display: flex;
    justify-content: center;
}

.rg-form-control-custom {
    height: 34px;
    padding: 6px 12px;
    width: 25%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.rg-btn-red-detail {
    background-color: #d44434;
    margin-top: 20px;
}

.rg-points {
    color: #d44434;
    letter-spacing: 0em;
}

.rg-product-dsc {
    margin-top: 20px;
}

.rg-img-box {
    border: 1px solid #cccccc;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.rg-img-smallbox {
    min-width: 50%;
    min-height: 50%;
    padding-right: 0px;
}

.rg-img-thumbnail {
    border: 1px solid #cccccc;
    padding: 5px;
    /*height: auto;*/
    width: 90%;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.rg-hightlight {
    border: 1px solid #d44434;
}

.rg-sm-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .swiper-slide {
        padding: 0;
    }
}

.rg-back {
    color: #498da7;
    cursor: pointer;
}

.rg-back-sm {
    color: #498da7;
    cursor: pointer;
    font-size: 12px;
}

.rg-flex {
    display: flex;
    align-items: center;
    padding-left: 0px !important;
}

.rg-filter-title {
    padding-left: 16px;
    font-family: HelveticaLTSEX;
}

.rg-category-header {
    font-family: HelveticaLTSEX;
    font-size: 1.3em;
    padding: 1em 0em 0.5em 1.5em;
}

.swiper-container {
    width: 500px;
    height: 300px;
    margin: 20px auto;
    overflow-x: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    color: black;
}

.rg-img {
    max-width: 100% !important;
    max-height: 7em !important;
}

.rg-noproduct {
    margin: 10px;
}

.rg-cat-productName {
    font-family: HelveticaNeueBold;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    color: #333333;
}

.rg-cat-productCode {
    font-family: HelveticaNeueRegular;
    font-size: 0.9em;
    color: #666666;
    font-weight: normal;
    line-height: 1.5em;
}

.rg-cat-productPoints {
    font-family: HelveticaNeueRegular;
    font-size: 0.9em;
    color: #d44434;
    font-weight: normal;
    line-height: 1.5em;
}

.rg-pd-productName {
    font-family: HelveticaLTSEX;
    font-size: 20px;
}

.rg-pd-productName-dsc {
    font-family: HelveticaNeueBold;
    font-size: 24px;
}

.rg-pd-productCode-dsc {
    font-family: HelveticaNeueRegular;
    font-weight: 600;
    padding-left: 5px;
}

.rg-pd-productCode {
    font-family: HelveticaNeueRegular;
    font-weight: 600;
}

.rg-pd-productDsc-dsc {
    font-family: HelveticaNeueTT;
    margin-top: 20px;
    font-size: 14px;
}

.pd-productDsc-title {
    font-family: HelveticaBold;
    font-size: 18px;
    padding: 0px 4px;
}

.rg-italic {
    font-family: HelveticaNeueTT;
    color: #333;
    font-weight: normal;
    font-style: italic;
}

.rg-fontsize {
    margin-top: 10px;
    font-size: 18px;
}

.rg-brands {
    font-family: HelveticaNeueTT;
}

.rg-brands-font {
    font-family: HelveticaNeueTT;
    margin: 10px;
}

.form-control-input {
    display: inline;
    height: 2.5em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 15%;
    text-align: center;
}


/**************************************Media Queries*********************************************/

@media (min-width:320px) and (max-width: 600px) {

    .custom-div-margin {
        margin-bottom: 10px !important;
    }
    .font-search {
        font-size: 10px;
        width: 23vh;
        padding: 3px 16px;
    }
    .custom-font {
        font-size: 10px;
    }
    .custom-display {
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;
    }

    .custom-select {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .custom-product {
        width: 93% !important;
    }
}

@media only screen and (min-width: 992px) {
    .rg-category {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .rg-button {
        padding-left: 0 !important;
    }
    .rg-search {
        padding-right: 0 !important;
    }
    .lg-category {
        display: flex;
        flex-direction: row;
        justify-content: flex-end !important;
    }
    .custom-view {
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;
    }
    .rs-allpoint {
        width: 35vh !important;
    }
}

@media only screen and (max-width: 992px) {
    .btn-row {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: stretch;
    }
}

@media only screen and (max-width: 750px) {
    .rg-category-items {
        padding: 5px;
    }
    .category-bar {
        background-color: white;
        padding: 5px;
        font-family: "HelveticaLight";
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md-category {
        display: flex;
        flex-direction: row;
        justify-content: flex-end !important;
    }
    .md-custom-view {
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    .sm-custom-div-margin {
        margin-bottom: 10px !important;
    }
    .sm-custom-display {
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;
    }
}

.rs-sm-padding {
    padding: 0px;
}

.rs-sm-margin {
    margin-left: 0px !important;
}