<!--    ********************    END OF CATEGORIES AND SLABS FILTER  ***************************     -->
<!-- Code to add Loader -->
<div class="eng-div-prod-details" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole"
    style="margin-top: 131px;"></div>
<div class="div-prod-margin-top" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole"></div>
<div>
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- feedbackmsg -->
    <div style="padding-left: 10px;padding-right: 10px;">
        <feedback-message></feedback-message>
    </div>
    <!-- EOFM -->
    <!-- Back Button on List Page -->
    <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="margin-top:-4%;">
        <button class="btn btn-sm" type="submit" (click)="cancelNav()" style="width:128.61px;color: #000;background: #ae995a;">Back</button>
    </div> -->
    <!-- product details -->
    <!-- <div class="container-fluid" style="padding: 10px; margin-top: -48px;">

        <div class="card" style="background: #eee;">
            <div class="container">
                <div class="wrapper row fontF">
                    <div class="preview col-md-6 col-sm-12 col-12">
                        <div class="preview-pic tab-content">
                            <div class="myslides" style="text-align: center;">
                                <ks-swiper-container class="rg-img-box">
                                    <ks-swiper-slide class="swiper-slide" *ngFor="let s of productImages; let n = index;">
                                        <img class="main-image" src="{{s}}" />
                                    </ks-swiper-slide>
                                </ks-swiper-container>
                            </div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs slider-mob-img slider-img" style="text-align: center;">
                            <li>
                                <i class="fa fa-angle-left fa-2x vertical-align" aria-hidden="true" (click)="movePrev()"></i>
                            </li>
                            <li class="slider-div-mob" *ngFor="let s of product.image let i=index">
                                <a data-target="#pic-1" data-toggle="tab">
                                    <img class="small-image" (click)="showImage(i)" src="{{s}}" style="max-width: 55%;width: 11vh;height: 9vh;" />
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-2x vertical-align" aria-hidden="true" (click)="moveNext()"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="details col-md-6 col-12 col-sm-12">
                        <h6 class="product-title">{{product.productName}}</h6>

                        <p class="product-description">
                            <strong>Product Code:</strong> {{product.SKU}} </p>
                        <h6 class="price">{{configService.getTerminology()}}:
                            <span>{{product.pointsPerQuantity}} </span>
                        </h6>
                        <h6>
                            <small>{{product.shippingInfo}} </small>
                        </h6>
                        <p class="product-description">
                            <strong>Product Description:</strong>&nbsp; {{product.shortDescription}}
                        </p>
                        <div class="action" style="margin-top: 10px">
                            <button class="btn-addcart font-size-mob btn-block" type="button" (click)="addToCart(product)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- carousel  Code -->
    <div class="card" style="background: #eee;">
        <div class="container">
            <div class="wrapper row fontF">
                <div class="preview col-md-6">
                    <!-- <div class="preview-pic tab-content">
                    <div class="myslides">
                        <ks-swiper-container class="rg-img-box">
                            <ks-swiper-slide class="swiper-slide" *ngFor="let s of productImages; let n = index;">
                                <img class="main-image" src="{{s}}" (click)="zoom(n)" />
                            </ks-swiper-slide>
                        </ks-swiper-container>
                    </div>
                </div> -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item" [class.active]=" n =='0'" style="margin-top: 10px;" *ngFor="let s of productImages; let n = index;">
                                <img class="d-block img-fluid carousel-main-img" src="{{s}}" (click)="zoom(n)" />
                            </div>
                        </div>
                        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs" style="margin-bottom: 21px; padding-left: 0px;">
                        <!-- <li>
                        <i class="fa fa-angle-left fa-2x vertical-align" aria-hidden="true" (click)="movePrev()"></i>
                    </li> -->
                        <a class="fa fa-3x vertical-align2" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" style="margin-top: 7px; margin-right: 3px;" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <li class="active li-class-small-img" *ngFor="let s of product.image let i=index">
                            <a data-target="#pic-1" data-toggle="tab">
                                <img class="small-image" (click)="showImage(i)" src="{{s}}" />
                            </a>
                        </li>
                        <!-- <li>
                        <i class="fa fa-angle-right fa-2x vertical-align" aria-hidden="true" (click)="moveNext()"></i>
                    </li> -->

                        <a class="fa fa-3x vertical-align2" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="fa fa-angle-right" style="margin-top: 7px; margin-left: 7px" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ul>
                </div>
                <div class="details col-md-6" style="font-size:18px;">
                    <h5 class="product-title">{{product.productName}}</h5>
                    <p class="product-description">
                        <strong>Product Code:</strong> {{product.SKU}} </p>
                    <h6 class="price">{{configService.getTerminology()}}:
                        <span>{{product.pointsPerQuantity}} </span>
                    </h6>
                    <h6>
                        <small>{{product.shippingInfo}} </small>
                    </h6>
                    <p class="product-description">
                        <strong>Product Description:</strong>&nbsp; {{product.shortDescription}}
                    </p>
                    <div class="action" style="margin-top: 15px;margin-bottom: 10px;">
                        <button *ngIf="canAddToCart" class="btn-jsw btn-block" type="button" (click)="addToCart(product)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>