.search-btn-mob
{
    margin-bottom: 40px;
     margin-top:33px;
}
.card-margin
{
    margin-bottom: 15px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.card2
{
margin-top: 46px !important;
line-height: 1.5em !important;
display: block !important;
margin-left: 0px !important;
margin-right: 0px !important;
}
.a-underline
{
    text-decoration: none;
}
.carousel-main-img
{
    text-align: center;
    margin-right: 0px;
    margin-left: 6%;
}
.li-class-small-img
{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 23px;
}
@media screen and (max-width:825px) and (min-width:300px)
{

.close
{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-top: -13px;
}
.feedback-message
{
max-height: 15vh;
// z-index: 1000;
text-align: center;
margin-top: -1.5em;
margin-bottom: 1.5em;
font-size: 15px;
padding: 8px !important;
}
}

@media screen and (max-width:325px) and (min-width:300px)
{
    .font-size-mob
    {
        font-size: 19px;
    }
    .btn-addcart1 
    {
        color: #fff;
        background: #ae995a;
        padding: -0.75em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    
    }
    .btn-addcart1:hover
     {
        color: #ae995a;
        background: #0d0e0f;
        padding: -0.75em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size:14px;
    }
}

.btn-addcart1 {
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

}
.btn-addcart1:hover {
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

    .titlebox{
        background-color: #222;
        color: #d8b56f;
        height: 3em;
        display: -ms-flexbox;
        display: flex;
        -ms-grid-column-align: center;
        justify-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        padding-top: 27px;
        }
    .btn-jsw {
        border: 1px solid #ae995a;
        color: #fff;
        background: #ae995a;
        padding: .25em 4em;
        transition: all .3s ease 0s;
        height: 100%;
    }

    .btn-jsw:hover {
        border: 1px solid #ae995a;
        color: #ae995a;
        background: #0d0e0f;
        padding: .25em 4em;
        transition: all .3s ease 0s;
    }

    .btn-addcart {
        color: #fff;
        background: #ae995a;
        padding: .25em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;

    }

    .btn-addcart:hover {
        color: #ae995a;
        background: #0d0e0f;
        padding: .25em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

    .prod-high {

        background-color: #fff;
        box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    }

    .card-product:after {
        content: "";
        display: table;
        clear: both;
        visibility: hidden;
    }

    .card-product .price-new,
    .card-product .price {
        margin-right: 5px;
    }

    .card-product .price-old {
        color: #999;
    }

    .card-product .img-wrap {
        /*  bAdd to Cart-radius: 3px 3px 0 0; */
        overflow: hidden;
        position: relative;
        height: 180px;
        text-align: center;
    }

    .card-product .img-wrap img {
        max-height: 100%;
        max-width: 65%;
        object-fit: cover;
        padding: 1em 0;
    }

    .card-product .info-wrap {
        overflow: hidden;
    }

    .card-product .action-wrap {
        padding-top: 4px;
        margin-top: 4px;
    }

    .card-product .bottom-wrap {
        padding: 15px;
    }

    .card-product .title {
        margin-top: 0;
    }


    .filter-box {
        height: 100vh;
        overflow: hidden;
    }


    .nav-link {
        color: #000 !important;
    }
    .btn-jsw {
        border: 1px solid #ae995a;
        color: #fff;
        background: #ae995a;
        padding: .25em 4em;
        transition: all .3s ease 0s;
    }

    .btn-jsw:hover {
        border: 1px solid #ae995a;
        color: #ae995a;
        background: #0d0e0f;
        padding: .25em 4em;
        transition: all .3s ease 0s;
    }

    img {
        max-width: 100%;
    }

    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    @media screen and (max-width: 996px) {
        .preview {
            margin-bottom: 20px;
        }
    }

    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .preview-thumbnail.nav-tabs {
       
        
    }

   

 

    .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0;
    }

    .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0;
    }

    .tab-content {
        overflow: hidden;
    }

    .tab-content img {
        // width: 82%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        padding: 2em;
    }

    .card {
        margin-top: 16px;
        line-height: 1.5em;
        display: block !important;
        margin-left: 8px;
        margin-right: 8px;

        /* padding: 3em; */
    }
    .card-drop {
        margin-top: 0px;
        line-height: 1.5em;
        display: block !important;
        /* padding: 3em; */
    }
    .card-subline 
    {
        line-height: 0.5em;
       
    }
    .checkbox-mob
    {
        margin-right: 12px;
    }
    .card-checkbox
    {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 7px;
    }
    .apply-btn
    {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 10px;
    }


    @media screen and (min-width: 997px) {
        .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 8px;
    }

    .colors {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .product-title,
    .price,
    .sizes,
    .colors {
        text-transform: UPPERCASE;
        font-weight: bold;
    }

    .checked,
    .price span {
        color: #ff9f1a;
    }

    .product-title,
    .rating,
    .product-description,
    .price,
    .vote,
    .sizes {
        margin-bottom: 0px;
    }

    .product-title {
        margin-top: 2px;
    }

    .size {
        margin-right: 10px;
    }

    .size:first-of-type {
        margin-left: 40px;
    }

    .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px;
    }

    .color:first-of-type {
        margin-left: 20px;
    }

    .add-to-cart,
    .like {
        background: #ff9f1a;
        padding: 1.2em 1.5em;
        border: none;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #fff;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
    }

    .add-to-cart:hover,
    .like:hover {
        background: #b36800;
        color: #fff;
    }

    .not-available {
        text-align: center;
        line-height: 2em;
    }

    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff;
    }

    .orange {
        background: #ff9f1a;
    }

    .green {
        background: #85ad00;
    }

    .blue {
        background: #0076ad;
    }

    .tooltip-inner {
        padding: 1.3em;
    }

    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .spc{
        display: inline-block;
        margin-bottom: -1.5rem !important;
        margin-top: -1.5rem !important;
        cursor: pointer;
    }
    .li-class{
        cursor: pointer;
        border-top: unset;
    }
    
.dropdown-content {
    display: none;
    position: absolute;
   
    min-width: 160px;
    
    z-index: 1;
}

.dropdown-content a {
    float: none;
   
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}



.dropdown:hover .dropdown-content {
    display: block;
}
.fontF{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

// CSS for All Categories 
.all-Categories{
    margin-right:20px;
    cursor: pointer;
}
    
.category-item{
    margin-left: 15px;
    cursor: pointer;
}

.subcat-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.subcat-popup{
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.subcat-item:hover {
    background-color:  #ffe6e6
    ;
}
.select-btn{
    color: buttontext !important;
    background-color: buttonface !important;
}

.product-padding{
    padding-left: 15px;
    padding-right: 15px;
}

.main-image{
    width: 40vh;
    height: 40vh;
}

.small-image{
    width: 11vh;
    height: 9vh;
}

.vertical-align {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
}
.vertical-align2 {
    padding-top: 26px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
}


// tp

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width:400px) and (min-width:300px)
{

    .nav
    {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 12px;
    margin-bottom: 0;
    list-style: none;
    }
}
@media screen and (min-width:401px)
{

    .nav
    {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 35px;
    margin-bottom: 0;
    list-style: none;
    }
}
@media screen and (max-width:350px) and (min-width:300px)
{
    .eng-div-margin{
        margin-top:129px !important;
    }
    .eng-div-prod-details
    {
        margin-top: 126px !important;
    }
    .div-top-margin
    {
        margin-top: 70px;
    }
    .div-prod-margin-top
    {
        margin-top: 72px;
    }
    .filter-div-margin
    {
        margin-top: 17%;
    }
    .font-size-mob
    {
        font-size: 14px;
    }
    .btn-addcart1 
    {
        color: #fff;
        background: #ae995a;
        padding: -0.75em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    
    }
    .btn-addcart1:hover
     {
        color: #ae995a;
        background: #0d0e0f;
        padding: -0.75em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size:14px;
    }
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .eng-div-margin
    {
        margin-top:132px !important;
    }
    .eng-div-prod-details
    {
        margin-top:141px !important;
    }
    .div-top-margin
    {
        margin-top: 70px;
    }
    .div-prod-margin-top
    {
        margin-top: 75px;
    }
    .filter-div-margin
    {
        margin-top: 19%;
    }
}
