<!--Author			:	Pratik Gawand
            Description		: 	HTML for Reward Gallery page
            Date Created	: 	03 April 2017
            Date Modified	: 	03 April 2017-->

<div>
    <router-outlet>

    </router-outlet>

</div>