<div class="row fixed-top headerMain" *ngIf="displaypc">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 navigation">
            <span id="open" class="openNav" (click)="open();">&#9776;</span>
            <!-- navigation -->
            <span id="close" class="closeNav" (click)="close()">&times;</span>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4  headContent" style="cursor:pointer">
    
            <img routerLink="./dashboard" src="assets/logo.png" class="logo-image" />
    
    
    
            <!-- For IE 11-->
            <!-- Commented But needs to be chnaged -->
            <img *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole" style="border: 1px solid silver;height: 3rem; width:1px">
            <img *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole" src="assets/logoForEngineer.png"
                class="logo-image" />
    
    
        </div>
        <div class="col-xl-4 col-lg-4 col-md-3 col-sm-1 col-1 row">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-5" style="height: 2rem;">
            <div class="row" style="height: 40px;margin-right: 0px; margin-left: 0px;">
                <div *ngIf="this.privilegeDistributor===true" class="dropdown1 col-lg-5 col-md-5 col-sm-4 col-4" style="height: 3em;">
                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" class="notificationIconClass">
                        <img src="assets/about/alarm-bell.svg" class="bell-icon" />
    
                        <sup class="notificationIcon" style="right: 0.1em;">{{birthdayCount + this.configService.activityCount + this.configService.wishCount}}</sup>
    
                    </a>
                    <a (click)="onMyProfileClick()" id="dLabel" role="button" class="notificationIconClass">
                        <img src="assets/about/profile.png" class="bell-icon" />
                    </a>
                    <a (click)="onLogoutClick()" id="dLabel" role="button" class="notificationIconClass">
                        <img src="assets/about/logout.png" class="bell-icon" />
                    </a>
    
    
                    <!-- notification popup -->
                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">
                            <a class="content" (click)="routeToNotifications()">
                                <div class="notification-item">
                                    <h4 class="item-title">Birthday</h4>
                                    <span class="spanclass">{{birthdayCount}}</span>
                                </div>
                            </a>
                            <a class="content" (click)="routeToActivities()">
                                <div class="notification-item">
                                    <h4 class="item-title">Activities</h4>
                                    <span class="spanclass">{{this.configService.activityCount}}</span>
                                </div>
                            </a>
                            <a class="content" (click)="routeToWish()">
                                <div class="notification-item">
                                    <h4 class="item-title">Wishes</h4>
                                    <span class="spanclass">{{this.configService.wishCount}}</span>
                                </div>
                            </a>
    
                        </div>
                    </ul>
                    <!-- cart popup -->
                    <div class="dropdown newFont" *ngIf="isShowcart">
                        <a role="button" (click)="onCartClick()" data-toggle="dropdown" class="notificationIconClass">
                            <i class="iconClass fa fa-shopping-cart fa-lg hm-star"></i>
    
                            <sup class="cartIcon">{{cartService.cartArray.length}}</sup>
    
                        </a>
                        <div class="dropdown-menu shopping-cart " (click)="testMethod($event)" id="cartButton">
                            <div class="overFlow" style="max-height: 300px; height: 250px; overflow: auto;">
    
                                <div class="shopping-cart-header">
                                    <i class="fa fa-shopping-cart cart-icon"></i>
                                    <span class="badge1">{{cartService.cartArray.length}}</span>
    
                                </div>
    
                                <ul class="shopping-cart-items ulItems" *ngFor="let product of cartService.cartArray; let i=index">
                                    <li class="clearfix " *ngIf="product.productInfo !== undefined">
                                        <img style="height: 70px; width: 70px;" src="{{product.productInfo.image[0]}}" alt="item1 " />
                                        <span class="item-name "> {{product.productInfo.productName}}</span>
                                        <span (click)="onRemoveFromCart(product.productId)">
                                            <img class="removeIcon" src="assets\icons\outline-clear-24px.svg" />
                                        </span>
                                        <div style="margin-top: 3%;">
                                            <span class="item-price ">{{configService.getTerminology()}} : {{product.productInfo.pointsPerQuantity}}</span>
                                            <span class="item-Qty">Qty:
                                                <input type="number" class="col-sm-3" [(ngModel)]="product.quantity" (click)="onQuantityClick(product.productId,product.quantity,i)"
                                                    (change)="onQuantityClick(product.productId,product.quantity,i)" min="1" [max]="parseInteger(product.productInfo.stock)">
                                            </span>
                                        </div>
    
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p style="margin-top: -79px;margin-bottom: 0rem;text-align: center;" *ngIf="cartService.cartArray.length === 0"> No products added to cart </p>
                                <p *ngIf="cartService.cartArray.length>0" class="text-center" style="margin-bottom: -1rem !important;padding-top: 7px; padding-bottom: 7px;">
                                    <button class="btn-jsw" [disabled]="cartService.cartArray.length === 0" routerLink="./placeorder" routerLinkActive="linkSelected"
                                        (click)="onPlaceOrderClick()">Place Order</button>
                                </p>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="nameSpan col-md-5">
    
                    Hi, {{ configService.getLoggedInUserInfo().firstName}}
                </div>
            </div>
    
        </div>
    </div>
    
    
    <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    
    
    <!-- // Code added by shrikant for the Drawer scroll -->
    <!-- <script>
    var $html = $(document.documentElement);
    var $modal = $('.my-custom-modal');
    
    function showModal() {
      $html.css('overflow', 'hidden');
      $modal.css('overflow', 'hidden');
    }
    
    function hideModal() {
      $html.css('overflow', '');
      $modal.css('overflow', 'hidden');
    }
    </script> -->
    
    <!--The Mobile Responsive Header for mobile-->
    
    
    <div class="row fixed-top headerMain" *ngIf="displaymobile">
            <!-- Added for back button on header -->
          
        <!-- <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 back-icon-mob">
                <i class="fa fa-chevron-left"  (click)="backClicked()"></i> 
        </div>   
     -->
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 navigation" id="backdiv1" style="padding-left: 5%;">
            <span   id="open" class="openNav" (click)="open()" style="cursor: pointer;">&#9776;</span>
    
            <!-- navigation -->
            <span id="close" class="closeNav" (click)="close()"  style="cursor: pointer;">&times;</span>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5 mob-header-contain" style="cursor:pointer">
            <img routerLink="./dashboard" src="assets/logo.png" style="width:100%" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole"/>
    
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-4 icon-div-mob">
            <div class="row" style="margin-left:-17px;">
                <div *ngIf="this.privilegeDistributor === true" class="dropdown1 col-lg-3 col-md-4 col-sm-4 col-4 div-bellicon-align-mob">
                    <!-- BELL ICON FOR DEALER and ENGINEER -->
                    <a  *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                        <img src="assets/about/alarm-bell.svg" class="bell-icon" style="margin-left: 12px;" />
                        <span class="adjustmentIcon">
                            <sup class="notificationIcon icon-margin-bell">{{birthdayCount + this.configService.activityCount + this.configService.wishCount}}</sup>
                        </span>
                    </a>
                    <!-- BELL ICON FOR  Distributor -->
                    <a *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                        <img src="assets/about/alarm-bell.svg" class="bell-icon" style="margin-left:50px;" />
                        <span class="adjustmentIcon">
                            <sup class="notificationIcon icon-margin-bell" style="margin-left:53px;">{{birthdayCount + this.configService.activityCount + this.configService.wishCount}}</sup>
                        </span>
                    </a>
                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="margin-top: -12px;cursor: pointer;">
                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">
                            <a class="content" (click)="routeToNotifications()">
                                <div class="notification-item">
                                    <h4 class="item-title">Birthday</h4>
                                    <span class="spanclass">{{birthdayCount}}</span>
                                </div>
                            </a>
                            <a class="content" (click)="routeToActivities()">
                                <div class="notification-item">
                                    <h4 class="item-title">Activities</h4>
                                    <span class="spanclass">{{this.configService.activityCount}}</span>
                                </div>
                            </a>
                            <a class="content" (click)="routeToWish()">
                                <div class="notification-item">
                                    <h4 class="item-title">Wishes</h4>
                                    <span class="spanclass">{{this.configService.wishCount}}</span>
                                </div>
                            </a>
                        </div>
                    </ul>
                </div>
    
                <!-- cart popup -->
                <div class="dropdown newFont col-4 col-sm-4" *ngIf="isShowcart" style="margin-top: 0 px;margin-left: 9px;cursor: pointer;">
                    <a role="button" (click)="onCartClick()" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart fa-lg hm-star cart-mob"></i>
                        <span class="adjustmentIcon">
                            <sup class="notificationIcon icon-margin-cart" style="position: unset !important;">{{cartService.cartArray.length}}</sup>
                        </span>
                    </a>
    
                    <div class="dropdown-menu dropdown-div-mob">
                        <div class="shopping-cart-header cart-popup-div" style="border-bottom: 1px solid gray;">
                            <i class="fa fa-shopping-cart cart-icon"></i>
                            <span class="badge1">{{cartService.cartArray.length}}</span>
                        </div>
                        <div style="overflow-y: auto;max-height: 270px;">
                            <ul class="margin-mob" *ngFor="let product of cartService.cartArray; let i=index">
                                <li class="clearfix " *ngIf="product.productInfo !== undefined">
                                    <img style="height: 70px; width: 70px;" src="{{product.productInfo.image[0]}}" alt="item1 " />
                                    <span (click)="onRemoveFromCart(product.productId)" style="float: right">
                                        <img class="removeIcon" src="assets\icons\outline-clear-24px.svg" />
                                    </span>
                                    <span class="item-name "> {{product.productInfo.productName}}</span>
                                    <span class="item-price ">{{configService.getTerminology()}} : {{product.productInfo.pointsPerQuantity}}</span>
                                    <span class="item-Qty">Qty:
                                        <input type="number" class="col-sm-3 inputfield" [(ngModel)]="product.quantity" (click)="onQuantityClick(product.productId,product.quantity,i)"
                                            (change)="onQuantityClick(product.productId,product.quantity,i)" min="1" [max]="parseInteger(product.productInfo.stock)">
    
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <p class="text-center">
    
                            <button class="btn btn-sm" routerLink="./placeorder" routerLinkActive="linkSelected" style="width:128.61px;color: #000;background: #ae995a;" (click)="onPlaceOrderClick()">Place Order</button>
                        </p>
                        <p style="text-align: center;" *ngIf="cartService.cartArray.length === 0"> No products added to cart </p>
                        <p *ngIf="cartService.cartArray.length>0" class="text-center btn-order-mob">
                            <button class="btn btn-sm" [disabled]="cartService.cartArray.length === 0" style="width:128.61px;color: #000;background: #ae995a;"
                                routerLink="./placeorder" routerLinkActive="linkSelected" (click)="onPlaceOrderClick()">Place Order</button>
                        </p>
                    </div>
                </div>
    
            </div>
    
        </div>
        <!-- code added temporary for header adujustment when back button displays -->
        <!-- <div *ngIf="this.router.url !== '/home/eventgallery' && this.router.url !== '/home/contestDetails' && this.router.url !== '/home/contestDetails'
        && this.router.url !== '/home/upcomingDetails' && this.router.url !== '/home/rewardsgallery/product-details' && this.router.url !== '/home/lead-details'
        && this.router.url !== '/home/pastcontestgallery'" class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-4 icon-div-mob2">
            <div class="row" style="margin-left:-17px;">
                <div *ngIf="this.privilegeDistributor===true" class="dropdown1 col-lg-3 col-md-4 col-sm-4 col-4 div-bellicon-align-mob">
                    <!-- BELL ICON FOR DEALER and ENGINEER -->
                    <!-- <a id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                        <img src="assets/about/alarm-bell.svg" class="bell-icon" style="margin-left: 12px;" />
                        <span class="adjustmentIcon">
                            <sup class="notificationIcon icon-margin-bell">{{birthdayCount + this.configService.activityCount + this.configService.wishCount}}</sup>
                        </span>
                    </a> -->
                    <!-- BELL ICON FOR  Distributor -->
                    <!-- <a *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole " id="dLabel" role="button" data-toggle="dropdown" data-target="#"> -->
                        <!--img src="assets/about/alarm-bell.svg" class="bell-icon" style="margin-left:50px;" />
                        <span class="adjustmentIcon">
                            <sup class="notificationIcon icon-margin-bell" style="margin-left:53px;">{{birthdayCount + this.configService.activityCount + this.configService.wishCount}}</sup>
                        </span-->
                    <!-- </a> -->
                    <!-- <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" style="margin-top: -12px;cursor: pointer;">
                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">
                            <a class="content" (click)="routeToNotifications()">
                                <div class="notification-item">
                                    <h4 class="item-title">Birthday</h4>
                                    <span class="spanclass">{{birthdayCount}}</span>
                                </div>
                            </a>
                            <a class="content" (click)="routeToActivities()">
                                <div class="notification-item">
                                    <h4 class="item-title">Activities</h4>
                                    <span class="spanclass">{{this.configService.activityCount}}</span>
                                </div>
                            </a>
                            <a class="content" (click)="routeToWish()">
                                <div class="notification-item">
                                    <h4 class="item-title">Wishes</h4>
                                    <span class="spanclass">{{this.configService.wishCount}}</span>
                                </div>
                            </a>
                        </div>
                    </ul>
                </div> -->
    
                <!-- cart popup -->
                <!-- <div class="dropdown newFont col-4 col-sm-4" *ngIf="isShowcart" style="margin-top: 0 px;margin-left: 9px;cursor: pointer;">
                    <a role="button" (click)="onCartClick()" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart fa-lg hm-star cart-mob"></i>
                        <span class="adjustmentIcon">
                            <sup class="notificationIcon icon-margin-cart" style="position: unset !important;">{{cartService.cartArray.length}}</sup>
                        </span>
                    </a>
    
                    <div class="dropdown-menu dropdown-div-mob">
                        <div class="shopping-cart-header cart-popup-div" style="border-bottom: 1px solid gray;">
                            <i class="fa fa-shopping-cart cart-icon"></i>
                            <span class="badge1">{{cartService.cartArray.length}}</span>
                        </div>
                        <div style="overflow-y: auto;max-height: 270px;">
                            <ul class="margin-mob" *ngFor="let product of cartService.cartArray; let i=index">
                                <li class="clearfix " *ngIf="product.productInfo !== undefined">
                                    <img style="height: 70px; width: 70px;" src="{{product.productInfo.image[0]}}" alt="item1 " />
                                    <span (click)="onRemoveFromCart(product.productId)" style="float: right">
                                        <img class="removeIcon" src="assets\icons\outline-clear-24px.svg" />
                                    </span>
                                    <span class="item-name "> {{product.productInfo.productName}}</span>
                                    <span class="item-price ">{{configService.getTerminology()}} : {{product.productInfo.pointsPerQuantity}}</span>
                                    <span class="item-Qty">Qty:
                                        <input type="number" class="col-sm-3 inputfield" [(ngModel)]="product.quantity" (click)="onQuantityClick(product.productId,product.quantity,i)"
                                            (change)="onQuantityClick(product.productId,product.quantity,i)" min="1" [max]="parseInteger(product.productInfo.stock)">
    
                                    </span>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <p class="text-center">
    
                            <button class="btn btn-sm" routerLink="./placeorder" routerLinkActive="linkSelected" style="width:128.61px;color: #000;background: #ae995a;" (click)="onPlaceOrderClick()">Place Order</button>
                        </p> -->
                        <!-- <p style="text-align: center;" *ngIf="cartService.cartArray.length === 0"> No products added to cart </p> -->
                        <!-- <p *ngIf="cartService.cartArray.length>0" class="text-center btn-order-mob">
                            <button class="btn btn-sm" [disabled]="cartService.cartArray.length === 0" style="width:128.61px;color: #000;background: #ae995a;"
                                routerLink="./placeorder" routerLinkActive="linkSelected" (click)="onPlaceOrderClick()">Place Order</button>
                        </p>
                    </div>
                </div>
    
            </div>
    
        </div> --> 
        <!-- CODE FOR PROFILE ICON FOR -->
        <div class="col-2 col-sm-3 dropdown profile" style="margin-top: -12px;text-align: center;padding-left: 30px;cursor: pointer;">
            <span>
                <i class="fa fa-ellipsis-v fa-lg" style="text-align: right;margin-top: 18px;color: #c78400;margin-left:11px;"></i>
            </span>
            <div class="dropdown-content">
                <a (click)="onMyProfileClick()">My Profile</a>
                <a (click)="onLogoutClick()">Logout</a>
            </div>
        </div>
    
    
    </div>
    
    <!-- </div> -->
    <!-- Code for ENGINEER Logo  -->
    <div *ngIf="displaymobile" class="eng-logo">
        <div class="row engineer-div-for-logo" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <img routerLink="./dashboard" src="assets/logo.png" class="logo-image adjusting-engineer-div1" style="width:100%;margin-top: 6px;padding-top: 6px;"
                />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <img routerLink="./dashboard" src="assets/logoForEngineer.png" class="logo-image adjusting-engineer-div2" style="width:100%;margin-left:15px;margin-top: 6px;padding-top: 6px;"
                />
            </div>
        </div>
    </div>
    <!--Code for mobile ends here-->