$font-family: Roboto;

.back-icon-mob
{
    color: #c78400;
    font-size: 23px;
    margin-top: 4px;
    padding-left:19px;
}
.headerMain {
    z-index: 10000;
    top: 0;
    padding: 1%;
    background: white;
    box-shadow: 0 0 1px;
    display: inline-flex;
    align-items: center;
}

.cart-popup-div {
    height: 34px;
    padding-left: 3px;
    padding-top: 6px;
}

.btn-order-mob {
    padding-top: 7px;
    margin-bottom: 4px;
}

.icon-div-mob {
    margin-left: 14px;
    padding-left: 10px;
}

.div-bellicon-align-mob {
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    // margin-left: 10px;
}

.eng-logo {
    position: fixed;
    top: 8%;
    width: 100%;
    z-index: 1000;
    background: white;
}

.navigation {
    padding-left: 3%;
}
.navigation2 {
    padding-left: 5%;
}

.openNav {
    font-size: 30px;
    cursor: pointer;
    color: #c78400; //feedback change
}

.closeNav {
    font-size: 42px;
    cursor: pointer;
    color: #DEB35E;
    margin-top: -14.5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px black;
    color: #000;
    background: white;
    right: 3%;
    width: 100%;
    text-align: center;
}

.dropdown-content a {
    padding: 12px 16px;
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.droptext {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1em;
    color: #222;
    margin-right: 5%;
    cursor: pointer
}

.bellClass {
    float: left;
    margin-left: 25%;
    margin-top: 1%;
}

// classes made by shrikant on 19th
.userContent {
    margin-top: 1%;
    text-align: right
}

.extraPadding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.item-number {
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    height: 20px;
    padding: 3px 5px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: -14px;
    z-index: 1;
}

.dropdown1 {
    display: flex;
    // margin-left: 7%;
    padding: 5px;
    text-align: right;
    margin-top: 0.4rem;
}

.notifications {
    min-width: 212px;
}

.notifications-wrapper {
    overflow: hidden;
    max-height: 250px;
    right: 3%;
}

.menu-title {
    color: blue;
    font-size: 1rem !important;
    display: inline-block;
}

.notification-heading,
.dropdown-menu.divider {
    margin: 5px 0;
    text-align: center;
}

.item-title {
    font-size: 1em !important;
    color: #222;
    display: inline;
    text-align: left;
}

.notifications a.content {
    text-decoration: none;
    background: lightgray;
}

.notification-item {
    padding: 10px;
    margin: 5px;
    background: lightgray;
    border-radius: 4px;
    cursor: pointer;
}

.spanclass {
    display: inline;
    border-radius: 50%;
    float: right;
    margin-right: 5%;
}

.innerMessage {
    float: left;
}

.innerCount {
    float: right;
}

.notificationText {
    position: absolute;
    margin-left: -18px;
    margin-top: 2px;
    color: blue;
}

.logo-image {
    height: 56px;
    //for IE: 11;
    width: 45%;
}

.bell-icon {
    width: 25px;
}

.bell-icon:hover {
    opacity: .5 !important;
}

.align-text {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.notificationIcon {
    background-color: red;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    top: 0em !important;
    position: absolute;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    left: 24px;
    justify-content: center;
}

.cartIcon {
    right: 0.1em;
    background-color: red;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    top: -0.5em !important;
    position: absolute;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    left: 24px;
    justify-content: center;
    height: 16px !important;
    width: 14.86px !important;
}

.iconClass:hover {
    opacity: 0.5;
}

.cartLength {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    right: 0.1em;
}

.adjustmentIcon {
    margin-left: -14px !important;
}

.engineer-div-for-logo {
    width: 100%;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid gray;
}

.adjusting-engineer-div1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adjusting-engineer-div2 {
    display: block;
    margin-left: auto;
}

// cart css
.btn-jsw {
    border: 1px solid #ae995a;
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #6394F8;
}

nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    font-size: 16px;
}

nav .navbar-left {
    float: left;
}

nav .navbar-right {
    float: right;
}

nav ul li {
    display: inline;
    padding-left: 20px;
}

nav ul li a {
    color: #777777;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

.container {
    margin: auto;
    width: 80%;
}

.notificationIcon {
    height: 17px !important;
    width: 16.86px !important;
}

.badge1 {
    background-color: #6394F8 !important;
    border-radius: 10px !important;
    color: white !important;
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 1 !important;
    padding: 3px 7px !important;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

.fa-lg {
    font-size: 1.7em !important;
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 445px;
    max-height: 500px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #ccc;
    left: -100px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding: 20px 0;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
    list-style: none;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: inline-block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-Qty {
    color: #ABB0BE;
}

.ulItems {
    margin-bottom: -1rem !important;
}

.removeIcon {
    float: none !important;
    margin-left: 10px;
}

.removeIcon:hover {
    opacity: .5;
}

input {
    border: 1px solid #ccc;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.notificationIconClass {
    margin-top: -11px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 0.3rem;
    cursor: pointer;
}

.cartIconClass {
    margin-left: 20px !important;
}

.newFont {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.overFlow {
    overflow-x: hidden;
    height: 300px !important;
}

@media screen and(max-width:500px) and (min-width:300px) {
    .item-Qty {
        color: #ABB0BE;
        font-size: 15px;
    }
    .item-name {
        display: block;
        font-size: 15px;
    }
    .dropdown1 {
        display: flex;
        text-align: right;
        margin-top: 0.4rem;
    }
    .dropdown-content {
        width: 200px;
        right: 18%;
    }
    .logo-image {
        width: 100%;
    }
    .bell-icon {
        height: 25px;
    }
    .cart-mob {
        margin-top: 29px;
    }
    .align-text {
        font-size: 14px;
        margin-top: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    // .navigation {
    //     margin-left: 12px;
    // }
    .notifications {
        min-width: 150px;
    }
    .menu-title {
        color: blue;
        font-size: 0.8em;
        display: inline-block;
    }
    .notification-item {
        padding: 5px;
        margin: 2px;
        background: lightgray;
        border-radius: 2px;
        cursor: pointer;
    }
    .item-title {
        font-size: 0.8em !important;
        color: #222;
        display: inline;
        text-align: left;
    }
    .in-circle {
        border-radius: 50%;
        background-color: #000;
        color: white;
    }
    .closeNav {
        font-size: 34px;
        cursor: pointer;
        color: #DEB35E;
        margin-top: -113%;
    }
    .dropdown-div-mob {
        padding: 10px;
        width: 300px;
        margin-left: 188px;
        margin-top: 64px;
    }
    .inputfield {
        width: 60px;
    }
    .img-popup {
        height: 64px;
        width: 50px;
    }
    .shopping-cart .shopping-cart-items {
        padding: 22px;
    }
}

@media screen and(max-height:650px) {
    .dropdown-div-mob {
        padding: 10px;
        width: 300px;
        margin-left: 188px;
        margin-top: -7px;
    }
}

@media screen and(max-width:650px) {
    .item-Qty {
        color: #ABB0BE;
        font-size: 15px;
    }
    .align-text {
        font-size: 13px;
    }
    .image-align {
        margin-top: 7px;
    }
    // .navigation {
    //     padding-left: 3%;
    // }
    .bell-icon {
        width: 50px;
        margin-top: 14px;
    }
    .logo-image {
        width: 100%;
    }
    .align-text {
        margin-top: 14px;
    }
    .closeNav {
        font-size: 34px;
        cursor: pointer;
        color: #DEB35E;
        margin-top: -15%;
    }
    .inputfield {
        width: 60px;
    }
    .shopping-cart .shopping-cart-items {
        padding: 22px;
    }
    item-name {
        display: block;
        font-size: 15px;
    }
}

@media screen and (min-height:650px) {
    .dropdown-div-mob {
        padding: 10px;
        width: 300px;
        margin-left: 188px;
        margin-top: -3px;
    }
}

.nameSpan {
    position: absolute;
    right: -1rem;
    top: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width:400px) {
    .notificationIcon {
        background-color: red;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        top: 0em !important;
        position: absolute;
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        left: 24px;
        justify-content: center;
    }
    .eng-logo {
        position: fixed;
        top: 8%;
        width: 100%;
        z-index: 1000;
        background: white;
        border-bottom: 1px solid gray;
    }
}

@media screen and (max-width:400px) and (min-width:300px) and (max-height:790px) {
    .notificationIcon {
        background-color: red;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        top: 0em !important;
        position: absolute;
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        left: 24px;
        justify-content: center;
    }
    .eng-logo {
        position: fixed;
        top: 10%;
        width: 100%;
        z-index: 1000;
        background: white;
        border-bottom: 1px solid gray;
    }
}

@media screen and (max-width:810px) and (min-width:300px) {
    .icon-div-mob2
    {
        margin-left: 15px;
        padding-left: 10px;
    }
    .icon-margin-bell {
        margin-top: 14px;
        margin-left: 15px;
    }
    .icon-margin-cart {
        margin-top: -33px;
        margin-left: 34px;
    }
    .headerMain {
        z-index: 10000;
        top: 0;
        padding: 1%;
        background: white;
        box-shadow: 0 0 1px;
        display: inline-flex;
        align-items: center;
        height: 70px;
    }
    .badge1 {
        background-color: #6394F8 !important;
        border-radius: 10px !important;
        color: white !important;
        display: inline-block !important;
        font-size: 12px !important;
        line-height: 1 !important;
        padding: 3px 7px !important;
        text-align: center !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        margin-top: -28px;
        margin-left: -15px;
    }
    .removeIcon {
        float: none !important;
        margin-left: 0px;
        margin-right: 12px;
    }
    .margin-mob
    {
    margin-top: 10px;
    margin-bottom: 1rem;
    }
}

@media screen and (max-width:400px) and (min-width:350px)
{
    .profile
    {
        margin-left: -34px;
    }
}
@media screen and (max-width:825px) and (min-width:401px)
{
    .profile
    {
        margin-left: -35px;
    }
}
@media screen and (max-width:349px) and (min-width:300px)
{
    .profile
    {
        margin-left: -33px;
    }
}