<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%" style="margin-top:8px" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%" />
</div>

<div class="container container-for-mobile">
    <feedback-message></feedback-message>
    <div class="row titlebox my-4 title-for-mobile">
        Contest Details
    </div>


    <div *ngIf="displaypc" class="row">
        <div class="col-md-12">
            <a style="color: #02f;" (click)="goingContest()">
                <i style="cursor:pointer;">Back to Ongoing Contest list</i>
            </a>
        </div>
    </div>
    <!-- <div *ngIf="displaymobile" class="row">
        <div class="col-md-12">
            <button class="btn btn-sm" type="submit" (click)="goingContest()" style="width:128.61px;color: #000;background: #ae995a;margin-top:-11px;">Back</button>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 mt-3 info-box">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="rules-tab" data-toggle="tab" href="#rules" role="tab" aria-controls="rules" aria-selected="true"
                        (click)="tabEvent('About Contest')">About Contest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" style="padding-left: 5px;padding-right: 0px;"
                        aria-selected="false" (click)="tabEvent('Terms & Conditions')">Terms &amp; Condition</a>
                </li>
                <li class="nav-item" *ngIf="canParticipate">
                    <a class="nav-link" id="Winner-tab" data-toggle="tab" href="#Winner" role="tab" aria-controls="Winner" aria-selected="false"
                        (click)="tabEvent('Participant Info')">Participant Info</a>
                </li>
                <li class="nav-item" *ngIf="canParticipate">
                    <a class="nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="false" (click)="getDisplayContest()">Past Uploads</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" *ngIf="displaypc" id="rules" role="tabpanel" aria-labelledby="rules-tab">

                    <p class="header">Contest Information</p>
                    <p class="description text-left">
                        {{boosterDescription}}
                    </p>
                </div>
                <div class="tab-pane fade show active" *ngIf="displaymobile" id="rules" role="tabpanel" aria-labelledby="rules-tab">

                    <div class="card card-aboutcontest">
                        <div class="card-header">Contest Information</div>
                        <div class="card-body">
                            {{boosterDescription}}
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" *ngIf="displaypc" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                    <h6>Rules for Contest</h6>
                    <p class="description text-left" *ngFor="let term of termsAndConditions">
                        {{term}}
                    </p>
                </div>
                <div class="tab-pane fade" *ngIf="displaymobile" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                    <div class="card card-aboutcontest">
                        <div class="card-header">Rules for Contest</div>
                        <div class="card-body">
                            {{termsAndConditions}}
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade tab-pane-mobile" id="Winner" role="tabpanel" aria-labelledby="Winner-tab">
                    <br>
                    <br>
                    <form [formGroup]="contestregistrationForm">
                        <div class="form-row margin-top:5px;">
                            <div class="col-md-4 col-lg-4 col-12 col-sm-12" style="padding-left: 0px;padding-right: 0px;">
                                <label for="nameofMember" class="label-mobile">Name of Member</label>
                                <sup style="color:#ff0000">*</sup>
                                <input type="text" class="form-control" id="name" placeholder="Enter Member Name" formControlName="nameofMember">
                            </div>
                            <div class="col-md-4 col-lg-4 col-12 col-sm-12 div-details-mob">
                                <label for="nameofParticipant" class="label-mobile">Name of Participant</label>
                                <sup style="color:#ff0000">*</sup>
                                <input type="text" class="form-control" id="participant" placeholder="Enter Participant Name" formControlName="nameofParticipant">
                            </div>
                            <div class="col-md-4 col-lg-4 col-12 col-sm-12 div-details-mob">
                                <label for="age" class="label-mobile">Age of Participant</label>
                                <sup style="color:#ff0000">*</sup>
                                <input type="number" name="age" class="form-control" id="age" min="1" max="200" placeholder="Enter Participant age" formControlName="age">
                                <div *ngIf="contestregistrationForm.controls['age'].hasError('maxlength') &&contestregistrationForm.controls['age'].touched">
                                    {{stringService.getErrorMessage().signupMaxLength}}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 div-details-mob">
                                <label for="studyingIn" class="label-mobile">Studying In</label>
                                <select class="form-control" formControlName="studyingIn">
                                    <option value="" disabled selected>---Select Education---</option>
                                    <option value="primary">Primary</option>
                                    <option value="secondary">Secondary</option>
                                    <option value="juniorCollege">Junior College</option>
                                    <option value="graduate">Graduate</option>
                                    <option value="masters">Masters</option>
                                    <option value="NA">NA</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 div-details-mob">
                                <label for="relationship" class="label-mobile">Relationship with member</label>
                                <sup style="color:#ff0000">*</sup>
                                <select class="form-control" formControlName="relationship">
                                    <option value="" disabled selected>---Select Relationship---</option>
                                    <option value="child">Child</option>
                                    <option value="spouse">Spouse</option>
                                    <option value="siblings">Siblings</option>
                                    <option value="parents">Parents</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 div-details-mob" style="margin-top:7px;">
                                <label for="participant" class="label-mobile">Gender</label>
                                <sup style="color:#ff0000">*</sup>
                                <select class="form-control" formControlName="gender">
                                    <option value="" disabled selected>---Select Gender---</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form [formGroup]="contestregistrationImageForm">
                        <div>
                            <p>Add Images/Videos</p>
                            <div formArrayName="imageDetails">
                                <div *ngFor="let product of contestregistrationImageForm.controls.imageDetails.controls; let i=index;" class="formGroupDivision file.size"
                                    style="padding-top: 1rem; margin-left:-15px; font-size:14px;">
                                    <div [formGroupName]="i" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">

                                            <input id="image555" value="" formControlName="upload" type="file" name="file" (change)="uploadImage($event,i)" />
                                        
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" *ngIf="displaypc">
                                            <img id="clientLogo"  class="img1" [src]=previewImagesSrc[i] [hidden]="!showPreviewImage[i]" style="height:100px; width: 172px;">
                                            <button style="float:right" *ngIf="contestregistrationImageForm.controls.imageDetails.controls.length == 1 && i == 0" class="btn btn-jsw"
                                                (click)="removeFormFirstImage(i,previewImagesSrc[i])">Remove</button> 
                                            <button style="float:right" *ngIf="contestregistrationImageForm.controls.imageDetails.controls.length > 1 && i>0" class="btn btn-jsw"
                                                (click)="removeFormImageClick(i,previewImagesSrc[i])">Remove</button>
                                        </div>
                                        <div class="row" *ngIf="displaymobile">
                                            <div class="col-sm-6 col-6">
                                                <img id="clientLogo" *ngIf="isShowImage" class="img1" [src]=previewImagesSrc[i] [hidden]="!showPreviewImage[i]" style="height:100px; width: 172px;">

                                            </div>

                                            <div class="col-sm-6 col-6" style="padding-right:0px;">
                                                <span>
                                                    <i class="fa fa-minus-circle fa-2x" style="float:right; margin-left:54px; padding-top:0px;" *ngIf="contestregistrationImageForm.controls.imageDetails.controls.length == 1 && i == 0"
                                                    (click)="removeFormFirstImage(i,previewImagesSrc[i])"></i>
                                                    <i class="fa fa-minus-circle fa-2x" style="float:right; margin-left:54px; padding-top:0px;" *ngIf="contestregistrationImageForm.controls.imageDetails.controls.length > 1 && i>0"
                                                        (click)="removeFormImageClick(i,previewImagesSrc[i])"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p *ngIf="displaypc" style="padding-top:1rem;cursor:pointer" (click)="addFormClick(i)">
                                <img style="width:2%;" src="assets/plus.png"> &nbsp;Add More</p>
                            <p *ngIf="displaymobile" style="padding-top:1rem;cursor:pointer" (click)="addFormClick(i)">
                                <img style="width:8%;" src="assets/plus.png"> &nbsp;Add More</p>

                        </div>
                        <div *ngIf="displaypc">
                            <br>
                            <button class="btn btn-jsw" (click)="registerImage()" style="margin-top: 1rem;float:left" [disabled]="(!contestregistrationForm.valid) || this.s3UploadService.params.length == 0  ">Submit</button>
                            <br>
                            <br>
                        </div>
                        <div *ngIf="displaymobile">
                            <div class=" row col-12 col-sm-12" style="padding-right:0px;margin-top: 12px;">
                                <button class="btn btn-sm btn-block" (click)="registerImage()" style="color: #000;background: #ae995a;" [disabled]="(!contestregistrationForm.valid) || this.s3UploadService.params.length == 0  ">Submit</button>
                                <br>
                            </div>
                        </div>
                    </form>


                </div>



                <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
                    <p>Uploaded Videos</p>
                    <div class="row con-box">
                        <div *ngFor="let preview of previewVideosSrcPast; let h=index;">
                            <div style="padding-top: 1rem;">

                                <div class="">
                                    <div style="display:flex;justify-content:flex-end;">
                                    </div>
                                    <video id="video_here" width="320" height="240" controls>
                                        <source [src]="previewVideosSrcPast[h]"> Your browser does not support the video preview.
                                    </video>
                                </div>
                            </div>

                            <!-- <object id='mediaPlayer' width="320" height="285" classid='CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95' codebase='http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701' standby='Loading Microsoft Windows Media Player components...'
                                type='application/x-oleobject'>
                            <param name='fileName' value="previewVideosSrcPast[h]">
                            <param name='animationatStart' value='true'>
                            <param name='transparentatStart' value='true'>
                            <param name='autoStart' value="false">
                            <param name='showControls' value="true">
                            <param name='loop' value="true">
                            <embed type='application/x-mplayer2'
                                pluginspage='http://microsoft.com/windows/mediaplayer/en/download/'
                                id='mediaPlayer' name='mediaPlayer' displaysize='4' autosize='-1' 
                                bgcolor='darkblue' showcontrols="true" showtracker='-1' 
                                showdisplay='0' showstatusbar='-1' videoborder3d='-1' width="320" height="285"
                                src="http://www.ladieda.com/mymovie.wmv" autostart="true" designtimesp='5311' loop="true">
                            </embed>
                        </object> -->
                        </div>
                        <div *ngIf="previewVideosSrcPast.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No videos added.</div>
                    </div>
                    <br>
                    <p>Uploaded Photos</p>
                    <div class="row con-box">
                        <div *ngFor="let preview of previewImagesSrcPast; let j=index;">
                            <div style="padding-top: 1rem;">

                                <div class="con-img">
                                    <div style="display:flex;justify-content:flex-end;">
                                    </div>
                                    <img id="clientLogo" class="img1" [src]="previewImagesSrcPast[j]" style="width: 100%;height:100%" alt="Image preview...">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="previewImagesSrcPast.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No images added.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>