$font-family:Roboto;
.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.event-info {
    font-size: 16px;
    font-family: $font-family;
    font-weight: bold;
    line-height: inherit;
    color: #b3975b;
}

.event-info span {
    font-size: 16px;
    font-family: $font-family;
    font-weight: normal;
    line-height: inherit;
    font-weight: bold;
    color: #444;
}

.content-box {
    display: flex;
}

.text-box {
    width: 100%;
    height: 250px;
    padding: 1em;
}

.info-box {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.winner-box {
    flex: 1;
    padding: 1em;
    width: 32%;
    margin: .55em;
    border: 1px solid #ae995a;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.past-eve {
    width: 25%;
    border-radius: 50px;
}

.tab-content {
    padding: 1em;
}

.con-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.con-img {
    background: #c7c7c7;
    width: 15em;
    height: 8em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.thumbimg {
    background: #c7c7c7;
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
}

.badge-danger {
    background-color: #dc3545;
    float: right;
    border-radius: 50%;
    padding: .8em 1em;
    position: absolute;
    color: white;
    cursor: pointer;
}

.alert-error {
    font-size: 11px;
    color: red;
}
// For Mobile Responsive
@media screen and (max-width:810px) and (min-width:310px)
{
.mt-3
{
    margin-top: 0px !important;
}
.div-details-mob
{
    margin-top:11px !important;
    padding-left: 0px;
    padding-right: 0px;
}
.label-mobile
{
    margin-bottom:1px;
}
.card-aboutcontest
{
    margin-left: -15px;
    margin-right: -15px;
}
.con-img-mobile {
    background: #c7c7c7;
    width: 18em;
    height: 8em;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}
.tab-pane-mobile {
    margin-top: -48px;
}
.file.size{
    font-size: 13px;
}
.font.icon{
    float:right;
    margin-left:54px;
    padding-top:0px;
}
.title-for-mobile
{
    margin-left:-0.1em;
    margin-right:-0.1em;
}
.container-for-mobile
{
    margin-top:-8%;
}
}