$font-family:Roboto;
a {
    text-decoration: none;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a !important;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    cursor: pointer;
    // text-decoration: underline !important;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}
.notification-tab {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: blue;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.event-info {
    font-size: 16px;
    font-family: $font-family;
    font-weight: bold;
    line-height: inherit;
    color: #b3975b;
}

.event-info span {
    font-size: 16px;
    font-family: $font-family;
    font-weight: normal;
    line-height: inherit;
    font-weight: bold;
    color: #444;
}

.content-box {
    display: flex;
}

.text-box {
    width: 100%;
    height: 250px;
    padding: 1em;
}

.comp-box {
    flex: 1;
    padding: 2em;
    width: 32%;
    margin: 0 .55em;
    border: 1px solid #ae995a;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.timebox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url('https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/calender.png') no-repeat -5% 50%;
    background-size: contain;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.placebox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url('https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/map.png') no-repeat -5% 50%;
    background-size: contain;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.coninfo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url('https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/help.png') no-repeat -5% 50%;
    background-size: contain;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.f {
    font-family: $font-family;
    font-size: 1.15rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.f span {
    font-family: $font-family;
    font-size: 1rem;
    font-weight: normal;
    color: #444;
    text-align: center;
}

.f a {
    font-family: $font-family;
    font-size: .8rem;
    font-weight: bold;
    color: #0c7;
    text-align: center;
    padding-left: .5em;
}

.info-box {
    padding: 1em;
    margin: 0px 30px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.card-body {
    text-align: center;
}

h5 {
    font-family: $font-family !important;
}

p {
    font-family: $font-family !important;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.bannerImage{
    height: 250px !important;
}

@media screen and (max-width:820px) and (min-width:310px) {
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin-bottom: 15px;
    }
    .card-ongoingcontest {
        padding-left: 9px;
        padding-right: 9px;
    }
    .title-for-mobile {
        margin-left: auto;
        margin-right: auto;
    }
    .notification-tab {
        font-family: $font-family;
        display: flex;
        justify-content: center;
        margin-top: 0em;
        color: blue;
    }
    .info-box {
        margin-bottom: 0.6em;
        margin: 10px 0px;
    }
    .container-for-mobile {
        margin-top: -8%;
    }
    .btn-jsw {
        font-size: 15px;
    }
    .mt-5
    {
        margin-top:1rem !important;
    }

    .bannerImage{
        // height: 500px !important;
        // width: 1024px !important;
    }
}