<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div> -->

<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div> -->

<!-- contest is not for Dealer so Added comming soon banner -->

<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain" *ngIf="(this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole
    && this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole) && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div> -->

<!--Banner For mobile (Only for engineer-->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%"/>
</div> -->

<!--Banner For mobile ( for other users-->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%"/>
</div> -->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain" *ngIf="(this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole
&& this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole) && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%"/>
</div> -->

<!-- new banner added to show dynamic image from ts file -->
<div class="col-lg-12 col-md-12 col-sm-12 col-12 bannerMain" >
    <img src={{bannerImage}} class="bannerImage" width="100%"  />
</div>

<div class="container container-for-mobile">
    <div class="row titlebox my-4 title-for-mobile">
        <h6 class=""> Ongoing Contests</h6>
    </div>
    <!-- <div class="row">
        <div class="col-lg-2 col-md-2">
            <input type="radio" name="radio" id="dealer" checked (click)="setContestprofile(i = 0)"> &nbsp; 
            <strong>Dealer</strong>
        </div>
        <div class="col-lg-2 col-md-2">
            <input type="radio" name="radio" id="distributor" (click)="setContestprofile(i = 1)"> &nbsp; 
            <strong>Distributor</strong>
        </div>
        <div class="col-lg-2 col-md-2">
            <input type="radio" name="radio" id="engineer" (click)="setContestprofile(i = 2)"> &nbsp; 
            <strong>Engineer</strong>
        </div>
    </div> -->
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="row" style="justify-content: center">
        <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="engineer-tab" data-toggle="tab"  role="tab" aria-controls="engineer" aria-selected="false" (click)="setContestprofile(i = 2)">Engineer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dealer-tab" data-toggle="tab"  role="tab" aria-controls="dealer" aria-selected="true" (click)="setContestprofile(i = 0)">Dealer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="distributor-tab" data-toggle="tab"  role="tab" aria-controls="distributor" aria-selected="false" (click)="setContestprofile(i = 1)">Distributor</a>
            </li>
        </ul>
    </div>
    <div class="row d-flex justify-content-center mt-5 card-ongoingcontest">
        <div class="card info-box col-12 col-sm-12 col-md-4 col-lg-4" style="width: 32%; margin-bottom: 15px;" *ngFor="let going of ongoingContests; let i = index;">
            <img class="card-img-top" [src]="going.bannerImages">
            <div class="card-body">
                <h5 class="card-title">{{going.boosterName}}</h5>
                <p class="card-text">{{going.boosterStartDate}} - {{going.boosterEndDate}} </p>
                <a class="btn-jsw" (click)="contestDetails(going)">See Details</a>
            </div>
        </div>
    </div>

    <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">
        <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/Coming_Soon.jpg" style="width: 100%"/>
    </div>
</div>