<div class="spinner" style="z-index: 9999;top:59%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%" />
</div>

<div class="container container-for-mobile">
    <!-- <feedback-message></feedback-message> -->
    <div class="row titlebox my-4 title-for-mobile">
        Past Contests
    </div>
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="row" style="justify-content: center">
        <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="engineer-tab" data-toggle="tab" role="tab" aria-controls="engineer" aria-selected="false" (click)="setContestprofile(i = 0)">Engineer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="dealer-tab" data-toggle="tab" role="tab" aria-controls="dealer" aria-selected="true" (click)="setContestprofile(i = 1)">Dealer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="distributor-tab" data-toggle="tab" role="tab" aria-controls="distributor" aria-selected="false" (click)="setContestprofile(i = 2)">Distributor</a>
            </li>
        </ul>
    </div>
    <div class="row">

        <div class="col-md-12 mt-3 info-box" *ngIf="displaypc">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="background-color: #ae995a;">
                        <th scope="col">Contest Name</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Gallery</th>
                        <th scope="col">Winners</th>

                    </tr>
                </thead>

                <tbody *ngFor="let past of pastContests">
                    <tr>
                        <th>{{past.boosterName}}
                            <p class="small">
                                <a style="color: #02f;" data-toggle="modal" (click)="Details(past)" data-target="#conDetails">
                                    <i style="cursor:pointer;">Details</i>
                                </a>
                            </p>
                        </th>
                        <td>{{past.boosterStartDate}} - {{past.boosterEndDate}}</td>
                        <td>
                            <a style="color: #02f;" (click)="viewGallery(past)">
                                <i style="cursor:pointer;">View Gallery</i>
                            </a>
                        </td>
                        <td>
                            <a style="color: #02f;" data-toggle="modal" data-target="#winner" id="openPopUp" (click)="Winners(past)">
                                <i style="cursor:pointer;">View Winners</i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found</div>
        </div>
        <!--Mobile Responsive Cards Starts here-->
        <div class="col-12 mobile-full-card-div" *ngIf="displaymobile">
            <div *ngFor="let past of pastContests">
                <div class="card mobile-card">
                    <div class="card-body card-body-div">
                        <div class="row card-row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <b>{{past.boosterName}}</b>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 paragraph-div">
                                <p class="small">
                                    <a style="color: #02f;" data-toggle="modal" (click)="Details(past)" data-target="#conDetails">
                                        <i style="cursor:pointer;">Details</i>
                                    </a>
                                </p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 card-date-div">
                                {{past.boosterStartDate}} - {{past.boosterEndDate}}
                            </div>
                            <div class="row card-button-div" *ngIf="displaymobile">
                                <div class="col-sm-6 col-6">
                                    <button class=" btn btn-sm mobile-button" type="submit" (click)="viewGallery(past)">View Gallery</button>
                                </div>
                                <div class="col-sm-6 col-6">
                                    <button class="btn btn-sm mobile-button" type="submit" data-toggle="modal" data-target="#winner" id="openPopUp" (click)="Winners(past)">View Winners</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile Responsive Cards Ends here-->
    </div>


    <!-- Contest Detail Start -->
    <div class="modal fade" id="conDetails" tabindex="-1" role="dialog" aria-labelledby="imgGalleryTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mobile-modal-header-font">Contest Description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="close()">&times;</span>
                    </button>
                </div>
                <div class="modal-body mobile-modal-body-font">
                    <p>
                        {{boosterDescription}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contest Detail End -->



    <div class="modal fade" id="winner" tabindex="-1" role="dialog" aria-labelledby="imgGalleryTitle" aria-hidden="true" style="z-index: 99999">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imgGalleryTitle">Past Contest Winners</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closePopup">
                        <span aria-hidden="true" (click)="winnerClose()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="spinner" style="z-index: 9999;top:59%;position: fixed;" *ngIf="showLoader">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>

                    <div class="row d-flex" style="justify-content: center;">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-12" *ngFor="let contest of displayContestArr; let i = index;">
                            <div class="winner-box text-center">
                                <p>
                                    <strong>{{contest.nameOfParticipant}}</strong>
                                    <br>Member</p>
                                <p>
                                    <a class="btn-jsw" href="" data-toggle="modal" data-target="#winner2" (click)="viewEntry(contest)">View Entry</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="noRecords1===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found</div>
                </div>

            </div>
        </div>
    </div>




    <div class="modal fade" id="winner2" tabindex="-1" role="dialog" aria-labelledby="imgGalleryTitle" aria-hidden="true" style="z-index: 99999">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Past Winners Entries</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" (click)="entryImageClose()">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x:hidden; overflow-y:scroll;height:450px;margin: 1rem;">

                    <div class="row d-flex">
                        <div class="col-md-12 col-12">
                            <p><strong>Images:</strong></p>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="row con-box">
                                <div *ngFor="let image of imageArr; let j=index;">
                                    <div class="img-padding">
            
                                        <div class="con-img" >
                                            <div style="display:flex;justify-content:flex-end;">
                                            </div>
                                        <img id="clientLogo" class="img1" [src]="image" style="width: 250px;height: 145px;" alt="Image preview...">
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="imageArr.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No images added.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex">
                        <div class="col-md-12 col-12"> 
                            <p><strong>Videos:</strong></p>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="row con-box">
                                <div *ngFor="let video of videoArr; let h=index;">
                                    <div style="padding-top: 1rem;">
                                        <div class="" style="padding: 1rem;">
                                            <div style="display:flex;justify-content:flex-end;">
                                            </div>
                                            <video class="videoC" id="video_here" width="320" height="240" controls>
                                                <source [src]="video" > Your browser does not support the video preview.
                                            </video>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="videoArr.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No videos added.</div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>


</div>