<div class="spinner" style="z-index: 9999;top:56%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>


<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="bannerImage" width="100%" style="margin-top: 8px;" />
</div>
<!--Banner For mobile (Only for deler and distributor-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="bannerImage bannerImage1" width="100%" />
</div>

<div class="container">
    <div class="col-md-12">
        <div class="row mobile-margin">
            <div *ngIf="displaypc" class="col-md-12 col-sm-12 col-12 backbuttondiv">
                <a style="color: #02f;" (click)="backtopastContests()">
                    <i style="cursor:pointer;">Back to Past Contest List</i>
                </a>
            </div>
            <!-- <button *ngIf="displaymobile" class=" btn btn-sm mobile-button" type="submit" (click)="backtopastContests()">Back</button> -->

        </div>
        <div class="row titlebox my-4">
            Contest Gallery
        </div>
        <!-- <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole ||
            this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
            this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="row" style="justify-content: center">
            <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="dealer-tab" data-toggle="tab"  role="tab" aria-controls="dealer" aria-selected="true" (click)="setContestprofile(i = 0)">Dealer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="distributor-tab" data-toggle="tab"  role="tab" aria-controls="distributor" aria-selected="false" (click)="setContestprofile(i = 1)">Distributor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="engineer-tab" data-toggle="tab"  role="tab" aria-controls="engineer" aria-selected="false" (click)="setContestprofile(i = 2)">Engineer</a>
                </li>
            </ul>
        </div> -->

        <!-- <div class="row">
            <div class="card info-box col-lg-4 col-md-4 col-sm-4 col-12 mobile-cards" *ngFor="let gallery of imageGallery">
                <img class="card-img-top" [src]="gallery.imagePath">
            </div>

            <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found</div>


        </div> -->

        <!-- new code to seprate images and videos-->
        <div class="row">
            <div class="col-md-12 mt-3 info-box1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="true"
                            >Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos"
                            aria-selected="false" >Videos</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- images tab -->
                    <div class="tab-pane fade show active" id="images" role="tabpanel" aria-labelledby="images-tab">
                        <div class="row con-box">
                            <div *ngFor="let image of imageGallery; let j=index;">
                                <div style="padding-top: 2rem; padding-bottom: 2rem;">
        
                                    <div class="con-img">
                                        <div style="display:flex;justify-content:flex-end;">
                                        </div>
                                        <img *ngIf="displaypc" id="clientLogo" class="img1" [src]="image" (click)="zoom(image)" style="width: 250px;height: 145px;" alt="Image preview...">
                                        <img *ngIf="displaymobile" id="clientLogo" class="img1" [src]="image" style="width: 250px;height: 145px;" alt="Image preview...">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="imageGallery.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No images added.</div>
                        </div>
                    </div>
                    <!-- videoes tab -->
                    <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                        <div class="row con-box">
                            <div *ngFor="let video of videoGallery; let h=index;">
                                <div style="padding-top: 1rem;">
        
                                    <div class="">
                                        <div style="display:flex;justify-content:flex-end;">
                                        </div>
                                        <video class="videoC" id="video_here" width="320" height="240" controls>
                                            <source [src]="video"> Your browser does not support the video preview.
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="videoGallery.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No videos added.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- for zooming the image -->
<div *ngIf="isZoom" class="alert alert-info zoom-img" >
    <a (click)="closeDetails()" style="color:white;float:right;padding: 2px;">X</a>
    <img id="First IMG" class="img1" [src]="imageURL" style="height:100%;" alt="Image preview...">
</div>