$font-family:Roboto;
p {
    font-family: $font-family;
}

.card-img-top {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}
.mobile-button
{
    width:128.61px;
    color: #000;
    background: #ae995a;
}

.info-box1 {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.con-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.con-img { 
    background: #c7c7c7;
    width: 15em;
    height: 8em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.zoom-img{
    background-color:#000;
    background-image:none;
    max-height: 100vh; 
    overflow-y:scroll;  
    z-index:1000; 
    position:fixed; 
    width:84%; 
    height: 81%; 
    top:15%; 
    left:8%;
    text-align:center; 
}

@media screen and (max-width:820px) and (min-width:310px)
{
    .mobile-cards
    {
        padding:0;
        margin-bottom: 15px;    
    }
    .mobile-margin
    {
        margin-top:-20px;
    }
    .backbuttondiv
    {
        margin-bottom:-16px;
        padding-left: 0px;
        margin-top: -7px;
    }
    .bannerImage1{
        height: 150px;
        margin-top: -47px;
    }
    .container
    {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
    }
}