$font-family:Roboto;
.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.event-info {
    font-size: 16px;
    font-family: $font-family;
    font-weight: bold;
    line-height: inherit;
    color: #b3975b;
}

.event-info span {
    font-size: 16px;
    font-family: $font-family;
    font-weight: normal;
    line-height: inherit;
    font-weight: bold;
    color: #444;
}

.content-box {
    display: flex;
}

.text-box {
    width: 100%;
    height: 250px;
    padding: 1em;
}

.info-box {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.winner-box {
    flex: 1;
    padding: 1em;
    // width: 32%;
    margin: .55em;
    border: 1px solid #ae995a;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.past-eve {
    width: 25%;
    border-radius: 50px;
}

.work {
    width: 30%;
    height: 30%;
}

.card-img-top {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.imgClass {
    width: 108%;
    margin-bottom: 1%;
}
// winner entry css
.con-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.con-img {
    background: #c7c7c7;
    width: 15em;
    height: 8em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.img-padding{
    padding-top: 2rem; 
    padding-bottom: 2rem;    
    padding-left: 1rem;       
    padding-right: 1rem;
}

//CSS For Mobile Responsive
.mobile-full-card-div
{
    padding:28px;margin-top:-57px;
}
.mobile-card
{
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom: -5px;
    margin-top:20px;
    box-shadow: 0 2px 6px #adadad;
}
.card-body-div
{
    padding:0.25rem;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
.card-row
{
    font-size: 18px;
    margin-bottom: 5px;
}
.notification-tab {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: blue;
}
.paragraph-div
{
    font-size: 17px;
    margin-bottom:-14px;
}
.card-date-div
{
    font-size: 15px;
}
.card-button-div
{
    padding-top: 3%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:0;
}
.mobile-button
{
    width:128.61px;
    color: #000;
    background: #ae995a;
}
@media screen and (max-width:810px) and (min-width:310px)
{
    .my-4
    {
        margin-top: -1.5rem !important;
    }
    .mobile-modal-header-font
    {
        font-size:19px;
    }
    .mobile-modal-body-font
    {
        font-size:15px;
    }
    .notification-tab {
        font-family: $font-family;
        display: flex;
        justify-content: center;
        margin-top: 0em;
        color: blue;
    }
    .bannerImage 
    {
        height: 150px;
        margin-top: -30px;
        margin-bottom:-23px;
    }
    .mobile-imgclass
    {
        padding: 10px;
        padding-right: 24px;
    }
    .title-for-mobile
    {
        margin-left:-0.1em;
        margin-right:-0.1em;
    }
    .container-for-mobile
    {
        margin-top:-1%;
    }
    .btn-jsw
    {
        font-size:15px;
    }

}

@media screen and (max-width:350px) and (min-width:300px)
{
   
    .videoC{
        width: 230px !important;
    }
 
}
