


<div *ngIf="displaypc" class="col-lg-12 col-md-12 col-sm-12 padding">
    <img src="assets/images/coming_soon.jpg" style="width:100%; margin-top: 2%" height="585px;" />
</div>




<div *ngIf="displaymobile" class="col-lg-12 col-md-12 col-sm-12" style="background-color: #ffdf9a;display: flex; justify-content: center;">
    <img style="height:60vh;" src="assets/images/Coming_Soon.jpg" />
</div>