<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%"/>
</div>

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="" width="100%"/>
</div>

<div class="container div-mobile-adjust">
    <div class="col-md-12">
        <div class="row" *ngIf="displaypc">
            <div class="col-md-12 mobile-adjust-link">
                <a style="color: #02f;" (click)="backtoupcoingContests()">
                    <i style="cursor:pointer;">Back to Upcoming Contest List</i>
                </a>
            </div>
        </div>
        

        <div *ngIf="displaypc">
            <div class="col-md-12 d-flex mt-5" *ngFor="let contest of boosterArr; let i = index;">
                <div class="col-md-6">
                    <p class="event-info">Contest Name -
                        <span>{{contest.boosterName}}</span>
                    </p>
                    <p class="event-info" *ngIf="contest.boosterVenue">Contest Venue -
                        <span>{{contest.boosterVenue}}</span>
                    </p>
                    <p class="event-info">Contest Dates -
                        <span>{{contest.boosterStartDate}} - {{contest.boosterEndDate}}</span>
                    </p>
                    <p class="event-info" *ngIf="contest.boosterContactDetails">Contact Details -
                        <span>{{contest.boosterContactDetails}}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="event-info">Contest Info. -
                        <span> &nbsp;{{contest.boosterDescription}}</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="displaymobile">
        <div class="col-md-12 col-sm-12 col-12" *ngFor="let contest of boosterArr; let i = index;" style="margin-top:9px;padding:0;">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-5 col-5" style="font-size:15px;">
                    <strong>Contest Name</strong>
                </div>
                <div class="col-sm-7 col-7" style="font-size:15px;">{{contest.boosterName}}</div>
            </div>
            <div class="row" style="margin-bottom:10px;"  *ngIf="contest.boosterVenue">
                <div class="col-sm-5 col-5" style="font-size:15px;">
                    <strong>Contest Venue</strong>
                </div>
                <div class="col-sm-7 col-7" style="font-size:15px;">{{contest.boosterVenue}}</div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-5 col-5" style="font-size:15px;">
                    <strong>Contest Dates</strong>
                </div>
                <div class="col-sm-7 col-7" style="font-size:15px;">{{contest.boosterStartDate}} - {{contest.boosterEndDate}}</div>
            </div>
            <div class="row" style="margin-bottom:10px;" *ngIf="contest.boosterContactDetails">
                <div class="col-sm-5 col-5" style="font-size:15px;">
                    <strong>Contact Details</strong>
                </div>
                <div class="col-sm-7 col-7" style="font-size:15px;">{{contest.boosterContactDetails}}</div>
            </div>
            <!-- <div class="row" style="display:flex;justify-content: center; margin-top:20px;">
                <button (click)="backtoupcoingContests()" class="btn-jsw" style="font-size:15px;">Back</button>
            </div> -->
        </div>
    </div>
</div>