$font-family:Roboto;
a {
    text-decoration: none;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a !important;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    cursor: pointer;
    text-decoration: underline !important;
}
.notification-tab {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    color: blue;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.event-info {
    font-size: 16px;
    font-family: $font-family;
    font-weight: bold;
    line-height: inherit;
    color: #b3975b;
}

.event-info span {
    font-size: 16px;
    font-family: $font-family;
    font-weight: normal;
    line-height: inherit;
    font-weight: bold;
    color: #444;
}

.content-box {
    display: flex;
}

.text-box {
    width: 100%;
    height: 250px;
    padding: 1em;
}

.comp-box {
    flex: 1;
    padding: 2em;
    width: 32%;
    margin: 0 .55em;
    border: 1px solid #ae995a;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.timebox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    // background: url('../../assets/images/calender.png') no-repeat -5% 50%;
    background-size: contain;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.placebox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    // background: url('../../assets/images/map.png') no-repeat -5% 50%;
    background-size: contain;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.coninfo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: contain;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.f {
    font-family: $font-family;
    font-size: 1.15rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.f span {
    font-family: $font-family;
    font-size: 1rem;
    font-weight: normal;
    color: #444;
    text-align: center;
}

.f a {
    font-family: $font-family;
    font-size: .8rem;
    font-weight: bold;
    color: #0c7;
    text-align: center;
    padding-left: .5em;
}

.info-box {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.card-body {
    text-align: center;
}

h5 {
    font-family: $font-family !important;
}

p {
    font-family: $font-family !important;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.alert-error {
    font-size: 11px;
    color: red;
}

.button-spacing {
    margin-top: 24px;
}
@media screen and (max-width:820px) and (min-width:310px)
{
    .btn-jsw
    {
        font-size:17px;
    }
    .btn-jsw:hover
    {
        padding: .25em 2em;
    }
    .mobile-spacing
    {
        margin-top:0.6em;
        margin-bottom:0.6em;
        padding-left:0.6em;
        padding-right:0.6em;
    }
    .info-box
    {
        margin-bottom: 0.6em;
        margin-top:-36px;
    }
    .bannerImage
    {
        height:150px;
        margin-top:-30px;
        margin-bottom:-40px;
    }
    .notification-tab {
        font-family: $font-family;
        display: flex;
        justify-content: center;
        margin-top: 0em;
        color: blue;
    }
    .bannerImage1
    {
        // height:150px;
        // margin-top:-30px;
        margin-bottom:-40px;
    }
    .align-left
    {
        text-align: left;
    }
    .mobile-font
    {
        font-size: 15px;
    }
    .content-card-padding
    {
        padding-left:0px;
        margin-top:7px;
        padding-top:0px;
        padding-right:0px;
    }
    .content-header-element
    {
        margin-bottom:4px;
    }
    .content-element
    {
        margin-bottom:10px;
    }
    .button-spacing
    {
        margin-top:20px;
    }
    .modal-mobile-label
    {
        font-size: 15px;
    }
    .info-box
    {
        width:100%;
    }
    .align-top-from-content
    {
        margin-top:18px;
    }
    .title-for-mobile
    {
        margin-left:-0.1em;
        margin-right:-0.1em;
    }
    .container-for-mobile
    {
        margin-top:13%;
    }
}

@media screen and (max-width:350px) and (min-width:300px)
{
    .eng-banner{
        margin-top:8px !important;
    }
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .eng-banner{
        margin-top:10px !important;
    }
}