$font-family:Roboto;
.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1.8em;
    color: #b3975b;
    letter-spacing: 0;
    text-align: center;
}

.subheading {
    font-family: $font-family;
    font-weight: 100;
    font-size: 1.25em;
    color: #000;
    text-align: center;
}

.description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.event-info {
    font-size: 16px;
    font-family: $font-family;
    font-weight: bold;
    line-height: inherit;
    color: #b3975b;
}

.event-info span {
    font-size: 16px;
    font-family: $font-family;
    font-weight: normal;
    line-height: inherit;
    font-weight: normal;
    color: #444;
}

.content-box {
    display: flex;
}

.text-box {
    width: 100%;
    height: 250px;
    padding: 1em;
}

.info-box {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

textarea {
    border: 1px solid #ccc;
}
@media screen and (max-width:820px) and (min-width:310px)
{
    .div-mobile-adjust
    {
        margin-top:-23px;
    }
    .mobile-adjust-link
    {
        padding-left:0;
        font-size: 16px;
    }
    .btn-jsw
    {
        //padding: .25em 2em;
        font-size:17px;
    }
   
}