<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="(this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole
&& this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDealerProgramRole) && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>
<!-- contest is not for Dealer so Added comming soon banner -->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/contestBannerNew.jpg" class="bannerImage" width="100%" />
</div>
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/comp.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="bannerImage1 eng-banner" width="100%" />
</div>

<!--Banner For mobile -->
<!-- contest is not for Dealer so Added comming soon banner -->

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="(this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDistributorProgramRole
&& this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole) && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/contestBannerNew.jpg" class="bannerImage1" width="100%" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/mobile/contest.png" class="bannerImage1" width="100%" />
</div>

<div class="container container-for-mobile">
    <feedback-message></feedback-message>
    <div class="row titlebox my-4 title-for-mobile">
        Upcoming Contests
    </div>
    <div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswASMAdminProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswCMProgramRole ||
        this.programUserInfo.programRole === this.stringService.getStaticContents().jswRCMProgramRole" class="row" style="justify-content: center">
        <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="wish-tab" data-toggle="tab" role="tab" aria-controls="wish" aria-selected="false" (click)="setContestprofile(i = 0)">Engineer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="activity-tab" data-toggle="tab" role="tab" aria-controls="activity" aria-selected="true" (click)="setContestprofile(i = 1)">Dealer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="birthday-tab" data-toggle="tab" role="tab" aria-controls="birthday" aria-selected="false" (click)="setContestprofile(i = 2)">Distributor</a>
            </li>
        </ul>
    </div>
    <div class="row d-flex justify-content-center mt-5 mobile-spacing">

        <div class="card info-box col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let upcoming of upcomingContests; let i = index;">
            <img class="card-img-top" [src]="upcoming.bannerImages">
            <div class="card-body content-card-padding">
                <h5 class="card-title align-left content-header-element">{{upcoming.boosterName}}</h5>
                <p class="card-text align-left mobile-font content-element">{{upcoming.boosterStartDate}} - {{upcoming.boosterEndDate}} </p>
                <a *ngIf="displaypc" class="btn-jsw" (click)="contestDetails(upcoming)">See Details</a>
                <div class="align-top-from-content">
                    <a *ngIf="displaymobile" class="btn-jsw" (click)="contestDetails(upcoming)">See Details</a>
                </div>
            </div>
        </div>


    </div>

    <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">

        <img *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDealerProgramRole" src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/images/Coming_Soon.jpg" style="width: 100%" />
        <span *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswDealerProgramRole" style="color: red">Contest Coming Soon</span>
    </div>
</div>