<div id="claims-container" class="pad-20" style="min-height:105vh; width:100%;padding:20px;">


    <md-card *ngIf="!isOffer">Sorry, currently there are no special offers in this program.</md-card>


    <!--	************************** 		END OF LOADER 		**************************	-->

    <div class="margin-20 body-text-header" *ngIf="isOffer">Offer Details</div>

    <!-- 	**************************     	CODE FORM     	******************************	-->

    <md-card id="cardOne" class="box-shadow">
        <div class="col-md-12 col-lg-12" *ngIf="isOffer">
            <div class="swiper-container" class="rg-img-box">
                <swiper class="swiper" [config]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let booster of boosterArr" style="height:665px">
                            <div class="col-lg-12" style="display: flex; align-items: center; margin: 15px; padding: 0px">

                                <div class="col-lg-12" style="border-style:solid; border-width:1px; margin: 0px 35px">
                                    <div class="col-lg-12 row be-text">
                                        <div class="col-md-6 row">
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <label class="col-form-label form-labels sm-label" style="font-weight:500">
						                        {{stringService.getfieldLabels().offerName}}
                                        </label>
                                            </div>
                                            <div class="col-md-8 sm-text col-sm-12 col-xs-12" style="font-size: 0.9em; color: #777;padding-top: 2px;padding-left:19px">
                                                {{booster.boosterName}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 row be-text">
                                        <div class="col-md-12 row">
                                            <div class="col-md-2 col-sm-12 col-xs-12">
                                                <label class="col-form-label form-labels sm-label" style="font-weight:500">
						                    {{stringService.getfieldLabels().startDate}}
                                        </label>
                                            </div>
                                            <div class="col-md-4 sm-text col-sm-12 col-xs-12" style="font-size: 0.9em; color: #777;padding-top: 2px;">
                                                {{booster.boosterStartDate | date: 'longDate'}}
                                            </div>
                                            <div class="col-md-2 col-sm-12 col-xs-12">
                                                <label class="col-form-label form-labels sm-label" style="font-weight:500">
						                    {{stringService.getfieldLabels().endDate}}
                                        </label>
                                            </div>
                                            <div class="col-md-4 sm-text col-sm-12 col-xs-12" style="font-size: 0.9em; color: #777;padding-top: 2px;">
                                                {{booster.boosterEndDate | date: 'longDate'}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 row be-text">
                                        <div class="col-md-12 row">
                                            <div class="col-md-2 col-sm-12 col-xs-12">
                                                <label class="col-form-label form-labels sm-label" style="font-weight:500">
						                    {{stringService.getfieldLabels().offerDescription}}
                                        </label>
                                            </div>
                                            <div class="col-md-10 sm-text col-sm-12 col-xs-12" style="font-size: 0.9em; color: #777;padding-top: 2px;">
                                                {{booster.boosterDescription}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 row be-text" style="height:500px;margin:auto">
                                        <div class="col-md-12 row imgContest" style="margin-left: 30px;" *ngIf="booster.bannerImages">
                                            <img [src]="booster.bannerImages[0]" width="80%" height="80%" class="sm-image" style="margin:50px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination" style="padding-bottom:10px"></div>
                    <div class="swiper-button-prev" style="height: 20px"></div>
                    <div class="swiper-button-next" style="height: 20px"></div>
                </swiper>
            </div>
        </div>
        <!--</form>-->
        <!--    ********************************   END OF FORM     ***********************************   -->
    </md-card>
</div>

<client-footer></client-footer>
<app-footer>
</app-footer>