.alert-error {
    font-size: 11px;
    color: red;
}

.bottompadding {
    padding-bottom: 4%;
}

.form-control {
    height: 2.4rem;
}

.buttonClass {
    margin-bottom: 15px;
}

.formClass {
    padding-bottom: 1.8%;
}
.align-mob{
    margin-top: -42px;
}

@media screen and (min-width: 300px)and (max-width: 812px){
    .btn-jsw{
        border: 1px solid #ae995a;
        color: #000;
        background: #ae995a;
        padding: 0.25em 2em;
        cursor: pointer;
       }
       .mob-btn{
           justify-content: center;
       }
       .detail-field{
        padding-left: 0px;
        padding-right: 0px;
       }
       
}