<div *ngIf="displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="assets/privilege-club.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
        <img src="assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:15px" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="container align-mob">
    <feedback-message></feedback-message>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Hall Of Fame Data Upload</h6>
                </div>
                <form [formGroup]="uploadForm" class="formClass">
                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <input class="form-control" type="file" (change)="onFileChange($event)" id="uploadFile" accept="application/pdf,image/*" formControlName="uploadFile">
                            <div *ngIf="(!isFileError)" class="alert-error">
                                Please select file to Upload
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6  ">
                            <label for="year">Year:</label>
                            <select class="form-control" tabindex="1" formControlName="year" (change)="onChange($event.target.value)">
                                <option value="">Select Year</option>
                                <option value={{yr.val}} *ngFor="let yr of year let i=index">
                                    {{yr.yr}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6 ">
                            <label for="month">Month:</label>
                            <select class="form-control" tabindex="1" formControlName="month">
                                <option value="">Select Month</option>
                                <option value={{month.val}} *ngFor="let month of month">
                                    {{month.mon}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-sm-12 detail-field">
                        <button type="button" class="btn btn-jsw my-4" (click)="downloadLeadReport()" [disabled]="!(uploadForm.valid)">Download Qualified Lead Report</button>
                    </div>
                </form>

                <div *ngIf="displaypc" class="row mt-3">
                    <div class="buttonClass">
                        <button class="btn btn-jsw" [disabled]="!(uploadForm.valid && isFileError)" (click)="bulkUpload()">Upload</button>
                        <button class="btn btn-jsw" (click)="resetClick()">Reset</button>
                    </div>
                </div>
                <div *ngIf="displaymobile" class="row mt-3 mob-btn">
                    <div class="buttonClass">
                        <button class="btn-jsw" [disabled]="!(uploadForm.valid && isFileError)" (click)="bulkUpload()">Upload</button>
                        <button class="btn-jsw" (click)="resetClick()">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>