.btn-jsw {
    border: 1px solid #ae995a;
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.btn-jsw:hover {
    border: 1px solid #ae995a;
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    padding-right: 13px;
}

.titlebox {
    background-color: #222;
    color: #d8b56f;
    height: 3em;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: center;
    justify-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    padding-top: 27px;
}

.innerdiv-margin-mob {
    margin-top: -25px;
}

.nav-back-btn-mob {
    margin-top: 18%;
    margin-bottom: -11px;
}

.s {
    background: white;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding: 20px 0;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
    list-style: none;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-Qty {
    color: #ABB0BE;
}

.Qty {
    display: block;
    text-align: center;
    margin-right: 30px;
    margin-top: 5px;
}

input {
    border: 1px solid #ccc;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
.h5
{
    margin-bottom: 2px;
    font-size:23px;
}
.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.danger {
    color: #ff0000;
    float: right !important;
}

.btn-addcart {
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    height: 35px;
    margin-bottom: 15px;
}

.btn-addcart {
    color: #fff;
    background: #ae995a;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    width: 50% !important;
    text-align: center;
}

.btn-addcart:hover {
    color: #ae995a;
    background: #0d0e0f;
    padding: .25em 4em;
    transition: all .3s ease 0s;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.cartProductImg {
    height: 70px;
    width: 65px;
}

.margin-up {
    margin-top: 2rem;
}

.place-order-msg {
    height: 35px;
    margin-bottom: 8px;
    color: red;
    display: flex;
    justify-content: flex-end;
    margin-right: 26px;
    font-size: 20px;
}
.div-margin
{
    margin-top: 2rem !important;
}

@media screen and (max-width:810px) and (min-width:310px) {
  
    .cartProductImg {
        height: 70px;
        width: 50px;
    }
    .shopping-cart .shopping-cart-items {
        padding: 0px 0;
    }
    .Qty {
        display: block;
        text-align: center;
        margin-right: 120px;
        margin-top: 5px;
    }
    .input-filed {
        border: 1px solid #ccc;
        width: 60px;
    }
    .shopping-cart {
        margin: 7px 0;
        float: right;
        background: white;
        width: 100%;
        position: relative;
        border-radius: 3px;
        padding: 15px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    .danger {
        color: #ff0000;
        float: right !important;
        margin-top: -26px;
        cursor: pointer;
    }
    .padding-mob-div {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 1rem;
    }
    .padding-mob-div2 {
        margin-top: -25px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .padding-mob-div3 {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -15px;
    }
    .h6 {
        margin-bottom: 0px;
        font-size: 23px;
    }
    .h5
    {
        margin-bottom: 2px;
        margin-top: -15px;
    }
    .danger {
        margin-top: -26px;
    }
    .margin-up {
        margin-top: 0px;
    }
    .p-margin-mob {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .col-form-label {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -12px;
    }
    .btn-addcart1 {
        color: #fff;
        background: #ae995a;
        padding: .25em 4em;
        transition: all .3s ease 0s;
        margin-bottom: 20px;
    }
    .btn-addcart:hover {
        color: #ae995a;
        background: #0d0e0f;
        padding: .25em 4em;
        transition: all .3s ease 0s;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .place-order-msg {
        height: 35px;
        margin-bottom: 20px;
        color: red;
        display: flex;
        justify-content: flex-end;
        margin-right: 26px;
        font-size: 15px;
    }
    .feedback-message {
        max-height: 30vh;
        z-index: 1000;
        text-align: center;
        margin-top: -0.7em;
        margin-bottom: 0.5em;
    }
    .div-margin
   {
    margin-top: 1rem !important;
   }
}

@media screen and (max-width:350px) and (min-width:300px)
{
    .margin-main-div-mob
    {
        margin-top: 33px;
    }
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .margin-main-div-mob {
        margin-top: 58px;
    }
}