.main-container {
    margin-top: 20px;
    padding: 15px 0;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 992px) {
    .main-container {
        padding: 0px !important;
    }
}