<div class="container margin-main-div-mob">
    <div *ngIf="displaypc" class="row" style="margin-top: 100px;">
        <div class="col-md-12">
            <p style="cursor:pointer;color: #02f;" (click)="nav()">Back to Reward Gallery</p>
        </div>
    </div>
    <feedback-message *ngIf="displaymobile"></feedback-message>
    <div *ngIf="displaymobile" class="row">
        <div class="col-md-12">
            <button class="btn btn-sm" type="submit" (click)="nav()" style="width:128.61px;color: #000;background: #ae995a;">Back</button>
        </div>
    </div>


    <div class="row mt-5 div-margin">
        <div class="col-md-5 col-12 col-sm-12">

            <feedback-message *ngIf="displaypc" style="max-height: 30vh;
          z-index: 1000;
          text-align: center;
          margin-top: 1em;
          margin-bottom: 1.5em;
          WIDTH: 80%; 
          MARGIN-LEFT: 10%;"></feedback-message>

            <h5>
                <strong>Order Summary</strong>
            </h5>
            <div class="shopping-cart" style="float:left !important">
                <ul class="shopping-cart-items " *ngFor="let product of cartService.cartArray; let i=index">
                    <li class="clearfix ">
                        <img class="cartProductImg" src="{{product.productInfo.smallImage}}" alt="item1 " />
                        <span class="item-name ">{{product.productInfo.productName}}</span>
                        <span class="item-name ">{{configService.getTerminology()}} : {{product.productInfo.pointsPerQuantity}}</span>
                        <span class="Qty item-Qty">Qty:
                <input type="number" [readonly]=isQuantityReadOnly class="col-sm-3 input-filed" [(ngModel)]="product.quantity" (change)="onQuantityClick(product,product.quantity,i)"
                  min="1" [max]="product.productInfo.stock">
              </span>
                        <span *ngIf="product.quantity>=product.productInfo.stock"> You have reached the stock limit {{product.productInfo.stock}}</span>
                        <p class="danger" style="cursor:pointer;" (click)="onRemoveFromCart(product.productId, product.productInfo.productName)">
                            <small>Remove</small>
                        </p>
                    </li>
                </ul>
                <div *ngIf="cartService.cartArray.length===0">
                    <p>No product added to cart</p>
                </div>
            </div>

        </div>
        <!-- Code to add Loader -->
        <div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

        <div class="col-md-7 col-12 col-sm-12">
            <div class="col-md-12 col-12 col-sm-12 padding-mob-div">
                <h5>
                    <strong>Current Shipping Address</strong>
                </h5>
                <hr>
                <form [formGroup]="currentShippingAddressForm">
                    <div class="form-group row">
                        <label for="outletName" class="col-sm-2 col-form-label">OutletName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="outletName" formControlName="outletName" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userName" class="col-sm-2 col-form-label">UserName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userName" formControlName="userName" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentState" class="col-sm-2 col-form-label">State</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="currentState" formControlName="currentState" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentCity" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="currentCity" formControlName="currentCity" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentPincode" class="col-sm-2 col-form-label">Pincode</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="currentPincode" formControlName="currentPincode" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentMobileNumber" class="col-sm-2 col-form-label">Mobile No</label>
                        <div class="col-sm-10">
                            <input type="phone" class="form-control" id="currentMobileNumber" formControlName="currentMobileNumber" readonly>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="isAlternate">
                        <label for="alternateMobileNumber" class="col-sm-2 col-form-label" style="margin-top: -9px">Alternate No</label>
                        <div class="col-sm-10">
                            <input type="phone" class="form-control" id="alternateMobileNumber" formControlName="alternateMobileNumber" readonly>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="isAlternate">
                        <label for="landmark" class="col-sm-2 col-form-label">Landmark</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="landmark" formControlName="landmark" readonly>
                        </div>
                    </div>
                </form>
                <br>
                <div class="col-md-12 col-12 col-sm-12 padding-mob-div3">
                    <h5>
                        <strong>Payment Details</strong>
                    </h5>
                    <hr>
                    <p class="p-margin-mob">{{configService.getTerminology()}} available for redemption:
                        <strong>{{reedemPoints}} {{stringService.getStaticContents().h2Star}}</strong>
                    </p>
                    <p>Redeem {{configService.getTerminology()}}:
                        <strong> {{subPoint}}</strong>
                    </p>
                    <p>Total Cart Amount:
                        <strong> {{subPoint}}</strong>
                    </p>
                </div>
                <div *ngIf="displaypc">
                    <div class="margin-20 col-lg-12 " style="margin-top: 20px ">
                        <div *ngIf="!hasPointsToRedeem " class="place-order-msg">
                            <strong>Sorry! You do not have sufficient points to redeem</strong>
                        </div>
                    </div>
                    <button class="btn-addcart float-right" *ngIf="( hasPointsToRedeem && cartService.cartArray.length>0 )" (click)="onPlaceOrderClick()">
          Place Order
        </button>
                </div>
                <div class="col-lg-12 col-12 col-md-12 col-sm-12" *ngIf="displaymobile">
                    <div class="margin-20 col-lg-12 col-12 col-md-12 col-sm-12" style="margin-top: 20px ">
                        <div *ngIf="!hasPointsToRedeem " class="place-order-msg">
                            <strong>Sorry! You do not have sufficient points to redeem</strong>
                        </div>
                    </div>
                    <button class="btn-addcart1 btn-block" *ngIf="( hasPointsToRedeem && cartService.cartArray.length>0 )" (click)="onPlaceOrderClick()">
              Place Order
            </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>