<div class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="assets/privilege-club.jpg" class="bannerImage" width="100%" />
</div>
<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="container main-din-mob">
    <feedback-message></feedback-message>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 contact-form">
                <div class="row titlebox my-4">
                    <h6 class="">Leaderboard Data Upload</h6>
                </div>
                <form [formGroup]="uploadForm" class="formClass">
                    <div class="row my-3">
                        <div class="col-md-6 detail-field">
                            <input class="form-control" type="file" (change)="onFileChange($event)" id="uploadFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                formControlName="uploadFile">
                            <div *ngIf="!isFileError" class="alert-error">
                                Please select file to Upload
                            </div>
                        </div>


                        <div class="col-md-6 detail-field">
                            <a href="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/JSW_LeaderboardUploadTemplate/LeaderboardUpload.xlsx"
                                target="_blank" download>Download Template</a>
                        </div>
                    </div>
                </form>
                <p>
                    <strong>Note: Please enter 'Month' ranging from 1 to 12, with adding a '0'. Make sure there are no unwanted spaces
                        while entering data into the sheet.</strong>
                </p>
                <div *ngIf="displaypc" class="buttonClass">
                    <button class="btn btn-jsw" [disabled]="!(uploadForm.valid && isFileError)" (click)="bulkUpload()">Upload</button>
                    <button class="btn btn-jsw" (click)="resetClick()">Reset</button>
                </div>
                <div *ngIf="displaymobile" class="col-md-6 col-sm-12 col-xs-12 col-12 row" style="margin-top:15px;text-align: center;">
                    <div class="col-6 col-sm-6">
                        <button [disabled]="!(uploadForm.valid && isFileError)" class="btn btn-sm" style="width:129px;color: #000;background: #ae995a;"
                            (click)="bulkUpload()">SUBMIT</button>
                    </div>
                    <div class="col-6 col-sm-6">
                        <button id="signup-button" class="btn btn-sm" style="width:120px;color: #000;background: #ae995a;" (click)="resetClick()">Reset</button>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>