.alert-error {
    font-size: 11px;
    color: red;
}

.bottompadding {
    padding-bottom: 4%;
}

.form-control {
    height: 2.4rem;
}

.buttonClass {
    margin-bottom: 15px;
}

.formClass {
    padding-bottom: 1.8%;
}
.my-4
{
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}
@media screen and (max-width:825px) and (min-width:300px)
{
.main-din-mob
{
    margin-top: -29px;
}
.feedback-message
{
max-height: 30vh;
z-index: 1000;
text-align: center;
margin-top: -1.5em;
margin-bottom:0px;
}
.my-4
{
    margin-bottom: 1.5rem !important;
    margin-top: 0px !important;
}
.form-control {
    height: 2.4rem;
    padding-bottom: 37px;
}
}