<div class="container" style="margin-top: 65px;">
    <div class="row mobile-text">
        <div class="col-md-12">
            <p class="description">
                <strong>Dear Business Partner,</strong>
            </p>
            <p class="description">
                We would like to welcome you to the “JSW dealer loyalty program”. It has been an exciting time for JSW as we continue to grow, adapt, continue to be continue, customer- focused and hugely responsive.
                <br> We appreciate your continuous support in making our business grow. We at JSW believe in offering value to our esteemed partners, who contribute significantly to our business growth.
                <br> We believe this would be a great opportunity for all our partners to sell more & grow with us. The program begins from 1 July 2018 and will run up to 31 March 2019, and is built to be action packed & exciting for you.
                <br> We look forward to a rewarding and wonderful 2018 with you.
                <br> Happy Selling!</p>
        </div>
        <div class="col-md-12">
            <p class="highlighter">About Program</p>
            <p class="description">JSW welcomes you to a loyalty program designed exclusively for their Shopee connect and Cat A dealers.
                <br> An excellent chance to earn attractive gifts and rewards on buying & selling more JSW TMT & Coated products. The points you will earn are based on the achievement of target volumes and your participation in the program.</p>
        </div>
        <div class="col-md-12">
            <p class="highlighter">Who Can Participate?</p>
            <p class="description">Authorized JSW Shopee Connect & Cat A dealers across India.</p>
        </div>
        <div class="col-md-12">
            <p class="highlighter">Participation Benefits</p>
            <p class="description">As an exclusive member of the
                <strong>Dealer loyalty program</strong> you will be entitled to:</p>
            <ul>
                <li>Earn attractive incentives & rewards on your performance</li>
                <li>Participate in program boosters & activities</li>
                <li>Regular updates on product/ offerings</li>
            </ul>
        </div>
        <div class="col-md-12">
            <p class="highlighter">Program Slab</p>
            <table class="table my-4" *ngIf="displaypc">
                <thead class="">
                    <tr>
                        <td colspan="5" class="table-head1">Categories &amp; Quantities</td>
                    </tr>
                    <tr>
                        <td class="table-head1">Brand</td>
                        <td class="table-head1">Club Category</td>
                        <td class="table-head1">Points/Ton</td>
                        <td class="table-head1">Monthly Targets (In Tons)</td>
                        <td class="table-head1">Reward Gallery Opens (Points Thresholds)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" class="table-spcl">TMT</td>
                        <td class="table-cells">Silver</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">20</td>
                        <td class="table-cells">2000</td>
                    </tr>
                    <tr>
                        <td class="table-cells">Gold</td>
                        <td class="table-cells">50</td>
                        <td class="table-cells">35</td>
                        <td class="table-cells">7000</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="table-spcl">Coated</td>
                        <td class="table-cells">Silver</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">10</td>
                        <td class="table-cells">1000</td>
                    </tr>
                    <tr>
                        <td class="table-cells">Gold</td>
                        <td class="table-cells">50</td>
                        <td class="table-cells">20</td>
                        <td class="table-cells">4000</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="table-spcl">TMT+Coated</td>
                        <td class="table-cells">Silver</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">25</td>
                        <td class="table-cells">2500</td>
                    </tr>
                    <tr>
                        <td class="table-cells">Gold</td>
                        <td class="table-cells">50</td>
                        <td class="table-cells">45</td>
                        <td class="table-cells">9000</td>
                    </tr>
                </tbody>
            </table>
            <!--Code for mobile starts here-->
            <div class="col-12 card-dealer-main-div" *ngIf="displaymobile" style="margin-top:-33px;padding:14px;">
                <div>
                    <div class="card shadow-prop dealer-table1-card">
                        <div class="card-body dealer-table1-card-body">
                            <div class="dealer-card-header">

                                <div class="row dealer-card-header-subdiv">
                                    <p class="card-text">
                                        <b>TMT</b>
                                    </p>
                                </div>
                            </div>

                            <div class="dealer-card-contentheader">
                                <div class="row dealer-card-contentsubheader">
                                    <b style="opacity:0.8;">Silver</b>
                                </div>
                            </div>

                            <div class="row card-content-div">
                                <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                    <div class="row">
                                        Points/Ton
                                    </div>
                                    <div class="row">
                                        Monthly Targets (In Tons)
                                    </div>
                                    <div class="row">
                                        Reward Gallery Opens (Points Thresholds)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                    <div class="row dealer-card-content-padding">
                                        25
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        20
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        2000
                                    </div>
                                </div>
                            </div>


                            <div class="dealer-card-contentheader">
                                <div class="row dealer-card-contentsubheader">
                                    <b style="opacity:0.8;">Gold</b>
                                </div>
                            </div>

                            <div class="row card-content-div" style="padding-bottom:0px;">
                                <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                    <div class="row">
                                        Points/Ton
                                    </div>
                                    <div class="row">
                                        Monthly Targets (In Tons)
                                    </div>
                                    <div class="row">
                                        Reward Gallery Opens (Points Thresholds)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                    <div class="row dealer-card-content-padding">
                                        50
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        35
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        7000
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div>
                    <div class="card shadow-prop dealer-table1-card">
                        <div class="card-body dealer-table1-card-body">
                            <div class="dealer-card-header">

                                <div class="row dealer-card-header-subdiv">
                                    <p class="card-text">
                                        <b>Coated</b>
                                    </p>
                                </div>
                            </div>

                            <div class="dealer-card-contentheader">
                                <div class="row dealer-card-contentsubheader">
                                    <b style="opacity:0.8;">Silver</b>
                                </div>
                            </div>

                            <div class="row card-content-div">
                                <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                    <div class="row">
                                        Points/Ton
                                    </div>
                                    <div class="row">
                                        Monthly Targets (In Tons)
                                    </div>
                                    <div class="row">
                                        Reward Gallery Opens (Points Thresholds)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                    <div class="row dealer-card-content-padding">
                                        25
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        10
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        1000
                                    </div>
                                </div>
                            </div>


                            <div class="dealer-card-contentheader">
                                <div class="row dealer-card-contentsubheader">
                                    <b style="opacity:0.8;">Gold</b>
                                </div>
                            </div>

                            <div class="row card-content-div" style="padding-bottom:0px;">
                                <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                    <div class="row">
                                        Points/Ton
                                    </div>
                                    <div class="row">
                                        Monthly Targets (In Tons)
                                    </div>
                                    <div class="row">
                                        Reward Gallery Opens (Points Thresholds)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                    <div class="row dealer-card-content-padding">
                                        50
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        20
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        4000
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div>
                    <div class="card shadow-prop dealer-table1-card" style="margin-bottom:10px;">
                        <div class="card-body dealer-table1-card-body">
                            <div class="dealer-card-header">

                                <div class="row dealer-card-header-subdiv">
                                    <p class="card-text">
                                        <b>TMT+Coated</b>
                                    </p>
                                </div>
                            </div>

                            <div class="dealer-card-contentheader">
                                <div class="row dealer-card-contentsubheader">
                                    <b style="opacity:0.8;">Silver</b>
                                </div>
                            </div>

                            <div class="row card-content-div">
                                <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                    <div class="row">
                                        Points/Ton
                                    </div>
                                    <div class="row">
                                        Monthly Targets (In Tons)
                                    </div>
                                    <div class="row">
                                        Reward Gallery Opens (Points Thresholds)                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                    <div class="row dealer-card-content-padding">
                                        25
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        25
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        2500
                                    </div>
                                </div>
                            </div>


                            <div class="dealer-card-contentheader">
                                <div class="row dealer-card-contentsubheader">
                                    <b style="opacity:0.8;">Gold</b>
                                </div>
                            </div>

                            <div class="row card-content-div" style="padding-bottom:0px;">
                                <div class="col-lg-6 col-md-6 col-sm-8 col-8">
                                    <div class="row">
                                        Points/Ton
                                    </div>
                                    <div class="row">
                                        Monthly Targets (In Tons)
                                    </div>
                                    <div class="row">
                                        Reward Gallery Opens (Points Thresholds)                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 col-4">
                                    <div class="row dealer-card-content-padding">
                                        50
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        45
                                    </div>
                                    <div class="row dealer-card-content-padding">
                                        9000
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!--Code for mobile ends here-->


            <p class="text-center" style="margin-top: -2%;">
                <img src="assets/Bonus.png" class="col-md-6" alt="">
            </p>
            <div class="description">
                <h6>Terms &amp; Conditions</h6>
                <small>
                    <ul>
                        <li>Only the Shoppe Connect partners earn a 20% bonus on their points.</li>
                        <li>On reaching their respective redemption points slabs, their points account will be credited for every
                            ton purchased.</li>
                        <li>The dealer will be eligible to participate in the next year program only if he has made purchases
                            in nine out of twelve months.</li>
                        <li>Only sales recorded in iSales will be considered.</li>
                        <li>Only ECP billing will be considered.</li>
                    </ul>
                </small>
            </div>
        </div>

        <div class="col-md-12">
            <p class="highlighter">Terms and Conditions:</p>
            <div class="description">
                <ul>
                    <li>Only Approved dealers can participate in the program.</li>
                    <li>The reward points are valid only on purchase of JSW Coated & TMT purchases from authorized JSW distributor only.
                    </li>
                    <li>The rewards will not be disbursed/delivered if there is any-due or outstanding with the respective distributor.
                    </li>
                    <li>Program benefits are not transferable and points earned cannot be shared between the registered members.
                    </li>
                    <li>Neither JSW nor its subsidiaries or agencies will be held responsible for late, misdirected, incomplete or illegible promotional materials or typographical or other errors I printing or advertising of materials.
                    </li>
                    <li>The images shown in the online reward catalogue may differ form the actual product.</li>
                    <li>Benefits can neither be exchanged for cash under any circumstances.</li>
                    <li>JSW reserves the right to change. Modify or discontinue the program at any given point of time without assigning any reasons for the same.</li>
                    <li>Redemption request once given cannot be cancelled or withdrawn or changed. On redemption, the points would automatically be subtracted from the accumulated balance.</li>
                    <li>For Reward items such as Motor cycle, company will bear only Ex-showroom prices. Any other costs for any product such as Road tax/ Insurance etc. will have to be borne by the claimant only before taking the delivery.
                    </li>
                    <li>Dealers reward items will be disbursed directly to participating Dealer address mentioned by the dealer at the time of enrollment through annectoś Rewards & Retail Pvt Ltd.</li>
                    <li>Company does not take any responsibility of the quality/guarantee/after sales service of the respective rewards. In case of any issue with the product, the same needs to be intimated to annectoś Rewards & Retail Pvt Ltd. within 7 days
                        for replacement of the product. No request shall be entertained after 7 days post-delivery acceptance.</li>
                    <li>All disputes are subject to jurisdiction of Mumbai courts only.</li>
                </ul>
            </div>
        </div>
    </div>


</div>