.highlighter {
    background-color: #2f4f9b;
    border-radius: 0px 20px 0px 0px;
    padding: 1em 2em;
    text-align: left;
    width: 20em;
    color: #fff;
}

.heading {
    font-family: inherit;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5em;
}

ul li,
.description {
    font-family: inherit;
    font-size: 1.05em;
    font-weight: normal;
    line-height: 1.95em;
}

.con-boxx {
    background-color: #2f4f9b;
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
}


/* Table CSS */

.bg-program {
    background: #0d0e0f;
    padding: 40px 0px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.proglist {
    display: flex;
    justify-content: space-evenly;
}

.proglistContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progsublist {
    list-style: none;
}

.intro-icon {
    background: #b3975b;
    padding: 2em;
    border: 0;
    border-radius: 50%;
}

.content-box {
    background: #232425;
    color: #fff;
}

.table-head1 {
    font-family: inherit;
    font-size: 1em;
    background-color: #2f4f9b;
    color: #fff;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-higlighter {
    font-family: inherit;
    font-size: 1em;
    background: #e8dcc3;
    color: #222 !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-spcl {
    font-family: inherit;
    font-size: 1em;
    background-color: #b6985b;
    color: #fff !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.table-cells {
    font-family: inherit;
    font-size: 1em;
    background-color: #f7f6f6;
    color: #222 !important;
    border: 1px solid #e7b551 !important;
    text-align: center;
}

.checked2 {
    width: 5%;
}

.dividerr {
    height: 1px;
    width: 80%;
    color: rgba(255, 255, 255, .4) !important;
    border: 1px solid rgba(255, 255, 255, .4) !important;
}

.dealer-table1-card
{
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom: -5px;
    margin-top:20px;
}
.dealer-table1-card-body
{
    padding:0.25rem;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
}
.card-dealer-main-div
{
    margin-top:-61px;
    padding:28px;
}
.dealer-card-header
{
    font-size: 15px;
    margin-bottom: 5px;
}
.dealer-card-header-subdiv
{
    padding-left:14px;
    font-size: 20px;
}
.dealer-card-contentheader
{
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}
.dealer-card-contentsubheader
{
    padding-left:14px;
    font-size: 15px;
    margin-bottom:7px;
}
.card-content-div
{
    margin-bottom: 5px;
    font-size:15px;
    padding:16px;
    padding-top:1px;
}
.dealer-card-content-padding
{
    padding-left:10px;
}
.shadow-prop
{
    box-shadow: 0 2px 6px #adadad;
}
@media screen and  (min-width:310px) and (max-width:810px)
{
    .mobile-text
    {
        font-size: 15px;
    }
    .highlighter
    {
        font-size:15px;
    }
}