$font-family:Roboto;
.noti-box {
    font-family: $font-family;
    display: flex;
    justify-content: space-around;
    padding: 1em 2em;
    border: none;
    border-bottom: 1px solid #c7c7c7;
}

.birthday-box {
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 2em;
    margin: 1em .25em;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15)
}

.b-holder {
    display: flex;
    justify-content: space-between;
}

.notification-tab {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

th {
    font-family: $font-family;
    background: #222;
    color: #fff;
    padding: .5em 1em;
}

td {
    font-family: $font-family;
    padding: 1em;
    border: 1px solid #222;
}

p,
em,
strong {
    font-family: $font-family !important;
    color: #222;
}

.b-holder {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.notification-tab {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-block {
    display: flex;
    align-items: center;
}

.bottom-block {
    display: flex;
    align-items: center;
}

.table-block {
    width: 100%
}

.top-box {
    border: .5px solid #000;
    color: #222;
    background: #DEB35E;
    text-align: center;
    padding: .5em;
}

.bottom-box {
    border: .5px solid #000;
    text-align: center;
    padding: .5em;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-wish {
    display: flex;
    padding-top: 2%;
    padding-right: 11%;
    align-items: center;
    justify-content: flex-end;
}

.wish-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.noRecords {
    font-family: $font-family;
    color: Red;
    padding-top: 1%;
    text-align: center;
}

.textArea {
    width: 100%;
    margin-top: 1rem;
}

.formClass {
    width: 100%
}

.modalDiv {
    width: 645px;
}

.Main {
    margin-right: 35%;
    margin-top: 15%;
}

.btn1 {
    margin-left: -11%;
}

.btn2 {
    margin-left: 3%;
}

.td-padding {
    padding: 0.5em;
    border: none;
    padding-left: 0px;
    text-align: left;
}

.mobile-card {
    margin-left: 1em
}

.img-width {
    width: 100%;
}

//For IE11
.modal-content {
    display: list-item;
}

.btn-jsw {
    border: 1px solid #ae995a;
    color: #000;
    background: #ae995a;
    padding: 0.25em 4em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

//Code for mobile
@media screen and (min-width:300px) and (max-width:580px) {
    .mobile-card {
        margin-left: 35px;
        margin-bottom: 0px;
    }
    .img-width {
        width: 86%;
    }
    .notification-tab {
        margin-top: -1em;
    }
    .noRecords {
        margin-top: 0.5em;
    }
    .mobile-font {
        font-size: 17px;
    }
    .send-button {
        font-size: 18px;
    }
    .card-mobile-padding {
        padding: 17px;
    }
    .btn-jsw {
        padding: 0.25em 2em;
        font-size: 18px;
    }
    .btn1 {
        margin-left: 0;
    }
    .btn2 {
        margin-left: 0;
    }
    .mobile-small-font {
        font-size: 15px;
    }
    .mobile-padding-div {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:350px) and (min-width:300px)
{
    .bannerImage1{
        margin-top:-48px;
    }
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .bannerImage1
    {
        margin-top:-23px;
    }
}

//Code for mobile ends here