<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="assets/banner.jpg" class="bannerImage bannerImage1" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile" class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<feedback-message></feedback-message>
<div class="container-fluid mobile-padding-div">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <ul class="nav nav-tabs notification-tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true" (click)="tabClick('Activities')">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="birthday-tab" data-toggle="tab" href="#birthday" role="tab" aria-controls="birthday" aria-selected="false" (click)="tabClick('Birthdays')">Birthdays</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wish-tab" data-toggle="tab" href="#wish" role="tab" aria-controls="wish" aria-selected="false" (click)="tabClick('Wishes')">Wishes</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                    <div class="col-md-12">
                        <div *ngIf="this.noRecords===true" class="noRecords">
                            No Activities Received Yet
                        </div>
                        <div *ngIf="displaypc">
                            <div class="noti-box col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngFor="let activities of activity">
                                <div class="notification col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                    <p>
                                        <strong>{{activities.activitymessage}} </strong>
                                        <br>
                                        <em>Approved Date : {{activities.createdAt}}</em>
                                    </p>
                                </div>
                                <div class="noti-details col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                    <a style="color:#02f;  cursor: pointer" (click)="updateUserNotification(activities)">Mark as Read </a>
                                </div>
                            </div>
                        </div>
                        <!--Code for mobile starts-->
                        <div *ngIf="displaymobile" style="margin-bottom:20px;">
                            <div *ngFor="let activities of activity">
                                <div class="card" style="margin-bottom: 0px;margin-top:20px; box-shadow: 0 2px 6px #adadad;">
                                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                                        <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-9" style="font-size:15px;">
                                                {{activities.activitymessage}}
                                                <br>
                                                <em>Approved Date : {{activities.createdAt}}</em>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-3" style="justify-content: center; display: flex;">
                                                <a style="font-size:15px;color:#ae995a;  cursor: pointer;margin-top:auto;margin-bottom:auto;" (click)="updateUserNotification(activities)">
                                                    <h4>
                                                        <i class="fa fa-check"></i>
                                                    </h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="birthday" role="tabpanel" aria-labelledby="birthday-tab">
                    <div *ngIf="this.noBirthdayRecords===true" class="noRecords">
                        No Birthdays Today
                    </div>


                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  b-holder">
                        <div class="row birthday-box col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 card-mobile-padding mobile-card" *ngFor="let todays of todaysBirthday">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-4 profile-img">
                                <img src="assets/about/avatar.svg" class="img-width" alt="">
                            </div>
                            <div class="row col-xl-8 col-lg-8 col-md-8 col-sm-12 col-8 mobile-font birthday-info">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;">
                                    {{todays.fullName}}

                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile-small-font">
                                    {{todays.state}}

                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mobile-small-font">
                                    {{todays.roleName}}

                                </div>
                                <br>

                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 send-button mobile-small-font">
                                <a data-toggle="modal" data-target="#myModal1" (click)="sendData(todays)" style="color: #02f;float: right;">
                                    <i style="cursor:pointer;">Send Wishes</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div *ngIf="this.showData===true && displaypc" class="modal fade" id="myModal1" style="z-index: 99999;text-align: center;">
                    <div class="modal-dialog Main">
                        <div class="modal-content modalDiv">
                            <!-- Modal Header -->
                            <div class="modal-header">

                                <h4 class="modal-title" style="margin-left: 29%;">Send Birthday Wishes</h4>

                                <div class="spinner" style="z-index: 999" *ngIf="showLoader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>

                            </div>
                            <!-- Modal body -->
                            <div class="col-md-12 mx-auto mt-3 d-flex row justify-content-center ">


                                <div id="pages " class="col-md-8 col-12 ">


                                    <span style="float:left">
                                        <b>{{fullname}}</b>
                                    </span>
                                    <br>
                                    <span style="float:left">{{State}}&nbsp; </span>
                                    <span style="float:left">({{RoleName}})</span>
                                    <br>
                                    <form [formGroup]="birthdaywish " class="formClass ">
                                        <textarea rows="3" formControlName="message" class="textArea " placeholder="Happy Birthday...!!! "></textarea>
                                    </form>



                                    <div id="2 " class="wish-content ">

                                        <br>
                                        <div style="display:run-in" class="modal-footer">
                                            <button type="button " class="btn-jsw btn1" (click)="sendWish() ">Send</button>
                                            <button type="button " class="btn-jsw  btn2" data-dismiss="modal" id="closePopup">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="this.showData===true && displaymobile" class="modal fade" id="myModal1" style="z-index: 99999;text-align: center;">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="width:152%">
                            <!-- Modal Header -->
                            <div class="modal-header">

                                <h4 class="modal-title" style="margin-left:auto;margin-right:auto;font-size:20px;">Send Birthday Wishes</h4>

                                <div class="spinner" style="z-index: 999" *ngIf="showLoader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>

                            </div>
                            <!-- Modal body -->
                            <div class="col-md-12 mx-auto mt-3 d-flex row justify-content-center ">


                                <div id="pages " class="col-md-8 col-12 ">

                                    <span style="float:left;font-size: 15px;">
                                        <b>{{fullname}}</b>
                                    </span>
                                    <br>
                                    <span style="float:left;font-size: 15px;">{{State}}&nbsp; </span>
                                    <span style="float:left;font-size: 15px;">({{RoleName}})</span>
                                    <br>
                                    <br>
                                    <form [formGroup]="birthdaywish " class="formClass ">
                                        <textarea rows="3" style="font-size: 15px;" formControlName="message" class="form-control" placeholder="Happy Birthday...!!! "></textarea>
                                    </form>

                                    <div id="2 " class="wish-content ">

                                        <br>
                                        <div style="display:run-in; margin-left: auto;margin-right:auto;" class="modal-footer">
                                            <button type="button " class="btn-jsw btn1" (click)="sendWish() ">Send</button>
                                            <button type="button " class="btn-jsw  btn2" data-dismiss="modal" id="closePopup">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade " id="wish" role="tabpanel" aria-labelledby="wish-tab">
                    <div class="col-md-12 ">

                        <div *ngIf="this.noRecordswish===true " class="noRecords ">
                            No Wishes Received Yet
                        </div>
                        <div *ngIf="displaypc">
                            <div class="noti-box " *ngFor="let wishes of wish ">
                                <div class="notification ">
                                    <p>
                                        <strong>{{wishes.wishesmessage}} </strong>
                                        <br>
                                        <em>Sender Name: {{wishes.senderName}}</em>
                                        <br>
                                        <em>Received Date: {{wishes.createdAt | date:'longDate'}}</em>
                                    </p>
                                </div>
                                <div class="noti-details ">
                                    <a style="color:#02f; cursor: pointer " (click)="userNotifications(wishes) ">Mark as Read </a>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="displaymobile" style="margin-bottom:20px;">
                            <div *ngFor="let wishes of wish ">
                                <div class="card" style="margin-bottom: 0px;margin-top:20px; box-shadow: 0 2px 6px #adadad;height:100px;">
                                    <div class="card-body" style="padding:0.25rem; padding-top:15px;padding-bottom:15px; padding-left:15px;padding-right:15px;">
                                        <div class="row" style="font-size: 15px;margin-bottom: 5px;">
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-9" style="font-size:15px;">
                                                <p>
                                                    <strong>{{wishes.wishesmessage}} </strong>
                                                    <br>
                                                    <em>Sender Name: {{wishes.senderName}}</em>
                                                    <br>
                                                    <em>Received Date: {{wishes.createdAt | date:'longDate'}}</em>
                                                </p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-3" style="justify-content: center; display: flex;">
                                                <a style="font-size:15px;color:#ae995a;  cursor: pointer;margin-top:auto;margin-bottom:auto;" (click)="updateUserNotification(activities)">
                                                    <h4>
                                                        <i class="fa fa-check"></i>
                                                    </h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>