.mainClass {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    border-radius: 2px;
    font-family: Roboto;
    background: #fff;
    color: #000;
    min-height: 350px;
    font-size: 1em!important;
}

.class1 {
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 3%;
}

.modalcommon {
    z-index: 9999999;
    text-align: center;
}

.contentcommon {
    width: 769px;
    min-height: 33em;
}

.inside-paragraph {
    font-size: 1em;
    color: #222;
    font-weight: 600;
    padding-right: 6%;
    opacity: .8;
    font-family: Roboto !important
}

.PopupDiv {
    background-color: white;
    background-image: none;
    max-height: 100vh;
    background-color: white;
    background-image: none;
    max-height: 100vh;
    z-index: 10000;
    position: fixed;
    width: 50%;
    height: 75%;
    text-align: center;
    border-style: solid;
    border-color: #333333;
    border-width: 8px;
    opacity: 1;
    margin-left: 23.17%;
    box-shadow: 5px 5px 20px #333333;
    font-family: Roboto !important;
    transition: opacity 0.5s linear;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
}

h3 {
    color: #fff;
    margin-top: 0% ! important;
    padding-top: 2%;
    font-family: Roboto !important;
}

h4 {
    color: #222;
    //padding-top: 2%;
    font-family: Roboto !important;
}

.PopUpHeading {
    background-color: #222;
    height: 65px;
}

.div2 {
    background-color: white;
}

a {
    color: white;
    float: right;
    cursor: pointer;
    padding-top: -1%;
}

.voucherHeading {
    font-size: 18px;
}

.heading {
    margin-top: 5%;
    margin-right: -12%;
}

p,
td,
tr {
    font-family: Roboto !important;
}

.rewarddiv {
    padding-top: 0.5%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 3%;
}