<!--
    Author          :   Deepak Terse
    Description     :   UI  which will be available in all the pages
    Date Created    :   07 March 2016
    Date Modified   :   05 March 2018
-->




<div *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswDistributorProgramRole">

    <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="displaypc">
        <img src="assets/banner.jpg" class="bannerImage mobile-banner" width="100%" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="displaymobile">
        <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
    </div>

    <div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-12" style="min-height:100vh; width:100%; padding-left:25px;padding-right:0px;display:inherit">





        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-form class1" *ngIf="displaypc">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 db-thin-header sm-title mainClass">
                <h1 align="center">GROWING & NURTURING PARTNERSHIPS</h1>
                <p align="center" style="padding-left:8%; padding-right:8%;">Our aim is to accentuate and encourage growth of our partners. Our active role under this facet will include professional business training, more technical details on our industry and many such initiatives.</p>
                <div style="float:left; margin-left: 30%; margin-top:1%;" data-toggle="modal" data-target="#myModal1">
                    <div style="width:160px; height:160px;  border-radius:50%; border: 1px solid #b3975b;">
                        <div style="width:145px; height:145px;  border-radius:50%; border: 1px solid #b3975b; margin: 4%;">
                            <img src="assets/jsw/icon-technical-business-training.png" class="intro-icon" width="145" height="145" style="background-color: #b3975b;">
                        </div>
                    </div>

                    <p style="margin-top: 5%; margin-left: -12%;">Technical and Business Training</p>

                </div>
                <div style="float:right; margin-right: 30%; margin-top:1% ;" data-toggle="modal" data-target="#myModal2">
                    <div style="width:160px; height:160px;  border-radius:50%; border: 1px solid #b3975b; ">
                        <div style="width:145px; height:145px;  border-radius:50%; border: 1px solid #b3975b; margin: 4%;">
                            <img src="assets/jsw/icon-felicitation-privilege.png" class="intro-icon" width="145" height="145" style="background-color: #b3975b;">
                        </div>
                    </div>

                    <p style="margin-top: 5%; margin-right: -12%;">Felicitation of Privilege 21</p>

                </div>


            </div>
        </div>
        <!--Mobile div for partners in progress-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 contact-form class1" style="margin-top:-9px;padding: 0px;border-bottom:1px solid lightgray" *ngIf="displaymobile">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 align="center" style="font-size:17px;">
                    <b>GROWING & NURTURING PARTNERSHIPS</b>
                </h1>
                <p align="center" style="padding-left:1%; padding-right:1%;font-size:15px;">Our aim is to accentuate and encourage growth of our partners. Our active role under this facet will include professional business training, more technical details on our industry and many such initiatives.</p>
                <div class="row" style="margin-left:0;margin-right:0;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" data-toggle="modal" data-target="#myModal1" style="display:block;text-align: center;justify-content:center;">
                        <div class="row" style="width:115px; height:115px;margin-left:auto;margin-right:auto;border-radius:50%; border: 1px solid #b3975b;">
                            <div style="width:105px; height:105px;  border-radius:50%; border: 1px solid #b3975b; margin: 3.5%;">
                                <img src="assets/jsw/icon-technical-business-training.png" class="intro-icon" style="background-color: #b3975b;height:100%;width:100%">
                            </div>
                        </div>
                        <div>
                            <p style="text-align:center;margin-top: 5%; margin-left:0;margin-right:0;font-size:15px;">Technical and Business Training</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" data-toggle="modal" data-target="#myModal2">
                        <div style="width:115px; height:115px; margin-left:auto;margin-right:auto;  border-radius:50%; border: 1px solid #b3975b; ">
                            <div class="row" style="width:105px; height:105px;  border-radius:50%; border: 1px solid #b3975b; margin: 3.5%;">
                                <img src="assets/jsw/icon-felicitation-privilege.png" class="intro-icon" style="background-color: #b3975b;height:100%;width:100%">
                            </div>
                        </div>
                        <div>
                            <p style="text-align:center;margin-top: 5%; margin-left:0;margin-right:0;font-size:15px;">Felicitation of Privilege 21</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- ************************************************************ -->
        <div class="modal fade modalcommon" id="myModal1" *ngIf="displaypc">
            <div class="modal-dialog" style="margin-right: 41%;">
                <div class="modal-content contentcommon">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 25%;"> Technical and Business Training</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body div2">
                        <h4>“Learning and development is a continuous process.”</h4>
                        <br>
                        <p class="inside-paragraph">When experience and training gets coupled it adds fuel to the growth and development of an individual and the organisation.</p>
                        <br>
                        <p class="inside-paragraph">Keeping this in mind JSW has planned for a business training for all our distributors to enhance their business processes and help them manage their business in a more efficient manner.</p>
                        <br>
                        <p class="inside-paragraph">This training would be conducted once a year with help of an external faculty from premium institute.</p>
                        <br>
                        <p class="inside-paragraph">Business training would be conducted for all members except silver tier members.</p>
                    </div>



                </div>
            </div>
        </div>
        <!--Modal 1 Mobile Header-->
        <div class="modal fade col-12" id="myModal1" *ngIf="displaymobile" style="z-index: 10000;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content col-12">

                    <!-- Modal Header -->
                    <div class="modal-header col-12" style="text-align: center;">
                        <h4 class="modal-title" style="font-size: 17px"> Technical and Business Training</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <h4 style="font-size:15px">“Learning and development is a continuous process.”</h4>
                        </div>

                        <div>
                            <p style="font-size:15px">When experience and training gets coupled it adds fuel to the growth and development of an individual and the organisation.</p>
                        </div>

                        <div>
                            <p style="font-size:15px">Keeping this in mind JSW has planned for a business training for all our distributors to enhance their business processes and help them manage their business in a more efficient manner.</p>
                        </div>

                        <div>
                            <p style="font-size:15px">This training would be conducted once a year with help of an external faculty from premium institute.</p>
                        </div>

                        <div>
                            <p style="font-size:15px">Business training would be conducted for all members except silver tier members.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 1 Mobile Header ends here-->
        <!-- ************************************************************ -->

        <!-- ********************Modal2 Start**************************************** -->
        <div class="modal fade modalcommon" id="myModal2" *ngIf="displaypc">
            <div class="modal-dialog" style="margin-right: 41%;">
                <div class="modal-content contentcommon">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 29%;">Felicitation of Privilege 21</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body div2">
                        <br>
                        <p class="inside-paragraph">Privilege21 is an initiative to recognize the best of the best distributors and give them the opportunity to interact closely with the senior management.</p>
                        <br>
                        <p class="inside-paragraph">This is an annual event which will happen in Mumbai after the financial year</p>
                        <br>
                        <p class="inside-paragraph">The top 21 distributors would be announced in the month of April basis their volume growth over last year and MOU compliance.</p>
                        <br>
                        <p class="inside-paragraph">Privilege21 is applicable to all distributors falling under platinum +, platinum & diamond tiers.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile responsive modal 2-->
        <div class="modal fade col-12" id="myModal2" *ngIf="displaymobile" style="z-index: 10000;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content col-12">

                    <!-- Modal Header -->
                    <div class="modal-header col-12" style="text-align: center;">
                        <h4 class="modal-title" style="font-size: 17px">Felicitation of Privilege 21</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <p style="font-size:15px">Privilege21 is an initiative to recognize the best of the best distributors and give them the opportunity to interact closely with the senior management.</p>
                        </div>
                        <div>
                            <p style="font-size:15px">This is an annual event which will happen in Mumbai after the financial year</p>
                        </div>
                        <div>
                            <p style="font-size:15px">The top 21 distributors would be announced in the month of April basis their volume growth over last year and MOU compliance.</p>
                        </div>
                        <div>
                            <p style="font-size:15px">Privilege21 is applicable to all distributors falling under platinum +, platinum & diamond tiers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile responsive modal 2 ends here-->
        <!-- *******************Modal2 End***************************************** -->


        <!-- CELEBRATIONS & MORE Div Start-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top:0.5%; padding-bottom:2%; padding-left:0%; padding-right:0% " *ngIf="selectedTab=='Activity' ">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 db-thin-header sm-title " style="transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1); ; will-change: box-shadow; display: block; position: relative; border-radius: 2px; font-family: Roboto,
                            'HelveticaNeueTT'; background: #fff; color: #000; min-height:350px; font-size: 1em!important " *ngIf="displaypc">
                <h1 align="center">BUILDING & CELEBRATING BOND BEYOND BUSINESS</h1>
                <p align="center" style="padding-left:8%; padding-right:8%; ">While we win it is also important to celebrate our victory whether it's with JSW family or your family. We will celebrate together all the special occasions of your life.</p>

                <!--Celebrating Special Moments Start -->

                <div style="float:left; margin-left: 30%; margin-top:1%;" data-toggle="modal" data-target="#myModal3">
                    <div style="width:160px; height:160px; border-radius:50%; border: 1px solid #b3975b; ">
                        <div style="width:145px; height:145px; border-radius:50%; border: 1px solid #b3975b; margin: 4%; ">
                            <img src="assets/jsw/icon-celebrating-special-moments.png " class="intro-icon " width="145 " height="145 " style="background-color: #b3975b; ">
                        </div>
                    </div>

                    <p style="margin-top: 5%; margin-left: -12%; ">Celebrating Special Moments</p>

                </div>
                <div style="float:right; margin-right: 30%; margin-top:1% " data-toggle="modal" data-target="#myModal4">
                    <div style="width:160px; height:160px; border-radius:50%; border: 1px solid #b3975b; ">
                        <div style="width:145px; height:145px; border-radius:50%; border: 1px solid #b3975b; margin: 4%; ">
                            <img src="assets/jsw/icon-benefits-offers-family.png " class="intro-icon " width="145 " height="145 " style="background-color: #b3975b; ">
                        </div>
                    </div>

                    <p style="margin-top: 5%; margin-right: -12%; "> Benefits and offers for Family</p>

                </div>

                <!--Benefits and offers for Family End -->
            </div>
            <!--Mobile responsive div for celebrations and more-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:36px;border-bottom: 1px solid lightgray" *ngIf="displaymobile">
                <h1 align="center" style="font-size:17px;transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1); will-change: box-shadow; font-family: inherit;">
                    <b>BUILDING & CELEBRATING BOND BEYOND BUSINESS</b>
                </h1>
                <p align="center" style="padding-left:1%; padding-right:1%;font-size:15px;">While we win it is also important to celebrate our victory whether it's with JSW family or your family. We will celebrate together all the special occasions of your life.</p>
                <div class="row" style="margin-left:0;margin-right:0;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" data-toggle="modal" data-target="#myModal3" style="display:block;text-align: center;justify-content:center;">
                        <div class="row" style="width:115px; height:115px;margin-left:auto;margin-right:auto;border-radius:50%; border: 1px solid #b3975b;">
                            <div style="width:105px; height:105px;  border-radius:50%; border: 1px solid #b3975b; margin: 3.5%;">
                                <img src="assets/jsw/icon-celebrating-special-moments.png" class="intro-icon" style="background-color: #b3975b;height:100%;width:100%">
                            </div>
                        </div>
                        <div>
                            <p style="text-align:center;margin-top: 5%; margin-left:0;margin-right:0;font-size:15px;">Celebrating Special Moments</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" data-toggle="modal" data-target="#myModal4">
                        <div style="width:115px; height:115px; margin-left:auto;margin-right:auto;  border-radius:50%; border: 1px solid #b3975b; ">
                            <div class="row" style="width:105px; height:105px;  border-radius:50%; border: 1px solid #b3975b; margin: 3.5%;">
                                <img src="assets/jsw/icon-benefits-offers-family.png" class="intro-icon" style="background-color: #b3975b;height:100%;width:100%">
                            </div>
                        </div>
                        <div>
                            <p style="text-align:center;margin-top: 5%; margin-left:0;margin-right:0;font-size:15px;">Benefits and offers for Family</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CELEBRATIONS & MORE Div End-->

        <!-- ******************************************************************************************************************* -->

        <div class="modal fade modalcommon" id="myModal3" *ngIf="displaypc">
            <div class="modal-dialog" style="margin-right: 41%;">
                <div class="modal-content contentcommon">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 27%;">Celebrating Special Moments</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body div2">
                        <table style="margin-top: 20%;
                                        margin-left: 2%;
                                        margin-right: 2%">
                            <tbody style="color: black;">
                                <tr>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2%">Festival Contests</td>
                                    <td style="border: 2px solid grey !important;  padding-top: 2%;
                                                    padding-bottom: 2%">Win Exciting Gifts/ Vouchers during Festival time. Watch out this space for Exciting festival contests for you and your family.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
        <!--Mobile Responsive modal 3 starts-->
        <div class="modal fade col-12" id="myModal3" *ngIf="displaymobile" style="z-index: 10000;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content col-12">

                    <!-- Modal Header -->
                    <div class="modal-header col-12" style="text-align: center;">
                        <h4 class="modal-title" style="font-size: 17px">Celebrating Special Moments</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <p style="font-size: 15px;">Festival Contests</p>
                            <p style="font-size:15px">Win Exciting Gifts/ Vouchers during Festival time. Watch out this space for Exciting festival contests for you and your family.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mobile responsive modal 3 ends here-->
        <!-- ******************************************************************************************************************* -->

        <!-- ******************************************************************************************************************* -->
        <div class="modal fade modalcommon" id="myModal4" *ngIf="displaypc">
            <div class="modal-dialog" style="margin-right: 41%;">
                <div class="modal-content contentcommon">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 26%;"> Benefits and Offers for Family</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body div2">
                        <table style="margin-top:12%;
                                        margin-left: 2%;
                                        margin-right: 2%">
                            <tbody style="color: black;">

                                <tr>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2%; padding-left: 1%;
                                                    padding-right: 1%;">Health Check Up</td>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2%; padding-left: 1%;
                                                    padding-right: 1%;">At JSW Steel, health is always given priority. JSW takes a privilege to provide health checkup vouchers for Platinum + and Platinum Members</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2%;">Movie Vouchers</td>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2%;  padding-left: 1%;
                                                    padding-right: 1%;">Gift your family a gift of fun and Entertainment with exciting Movie Vouchers.
                                        <br>Eligibility - Platinum +, Platinum and Diamond members once in a year</td>
                                </tr>
                                <tr>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2%;padding-left: 1%;
                                                    padding-right: 1%;">Special Deals</td>
                                    <td style="border: 2px solid grey !important; padding-top: 2%;
                                                    padding-bottom: 2% ; padding-left: 1%;
                                                    padding-right: 1%;">Here's a chance to get exciting offers of Top 50 brands for your dear ones to gift on special occasions.
                                        <br>Watch out this space for special offers</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 4 Mobile resonsive div starts-->
        <div class="modal fade col-12" id="myModal4" *ngIf="displaymobile" style="z-index: 10000;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content col-12">
                    <!-- Modal Header -->
                    <div class="modal-header col-12" style="text-align: center;">
                        <h4 class="modal-title" style="font-size: 17px">Celebrating Special Moments</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <p style="font-size: 15px;">Health Check Up</p>
                            <p style="font-size:15px">Gift your family a gift of fun and Entertainment with exciting Movie Vouchers.
                                <br>Eligibility - Platinum +, Platinum and Diamond members once in a year</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">Movie Vouchers</p>
                            <p style="font-size:15px">Win Exciting Gifts/ Vouchers during Festival time. Watch out this space for Exciting festival contests for you and your family.</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">Special Deals</p>
                            <p style="font-size:15px">Here's a chance to get exciting offers of Top 50 brands for your dear ones to gift on special occasions.
                                <br>Watch out this space for special offers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 4 mobile responsive div ends-->
        <!-- ******************************************************************************************************************* -->

        <!-- REWARDS & RECOGNITION Start-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rewarddiv" *ngIf="selectedTab=='Activity' ">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 db-thin-header sm-title " style="transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1); ; will-change: box-shadow; display: block; position: relative; border-radius: 2px; font-family: Roboto,
                            'HelveticaNeueTT'; background: #fff; color: #000; min-height:350px; font-size: 1em!important " *ngIf="displaypc">
                <h1 align="center">REWARDS & RECOGNITION</h1>
                <p align="center" style="padding-left:8%; padding-right:8%; ">Leader Board to keep a track of your performance and families of top 5 performers (one per product category) get shopping vouchers. International trip on successfully completion of MOU</p>


                <div style="float:left; margin-left: 30%; margin-top:1%; " data-toggle="modal" data-target="#myModal5">
                    <div style="width:160px; height:160px; border-radius:50%; border: 1px solid #b3975b; ">
                        <div style="width:145px; height:145px; border-radius:50%; border: 1px solid #b3975b; margin: 4%; ">
                            <img src="assets/jsw/icon-vouchures-monthly.png " class="intro-icon " width="145 " height="145 " style="background-color: #b3975b; ">
                        </div>
                    </div>

                    <p style="margin-top: 5%; margin-left: -12%; ">₹ 10,000 vouchers monthly for top 5
                        <br> performers (one per product category)</p>

                </div>

                <div style="float:right; margin-right: 25%; margin-top:1%;" data-toggle="modal" data-target="#myModal6">
                    <div style="width:160px; height:160px; border-radius:50%; border: 1px solid #b3975b; ">
                        <div style="width:145px; height:145px; border-radius:50%; border: 1px solid #b3975b; margin: 4%; ">
                            <img src="assets/jsw/icon-international-trip.png " class="intro-icon " width="145 " height="145 " style="background-color: #b3975b; ">
                        </div>
                    </div>

                    <p style="margin-top: 5%; margin-right: -12%; ">International trip on MOU completion</p>

                </div>

                <!--International trip on MOU completion End -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:30px" *ngIf="displaymobile">
                <h1 align="center" style="font-size:17px;">
                    <b>REWARDS & RECOGNITION</b>
                </h1>
                <p align="center" style="padding-left:1%; padding-right:1%;font-size:15px;">Leader Board to keep a track of your performance and families of top 5 performers (one per product category) get shopping vouchers. International trip on successfully completion of MOU.</p>
                <div class="row" style="margin-left:0;margin-right:0;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" data-toggle="modal" data-target="#myModal5" style="display:block;text-align: center;justify-content:center;">
                        <div class="row" style="width:115px; height:115px;margin-left:auto;margin-right:auto;border-radius:50%; border: 1px solid #b3975b;">
                            <div style="width:105px; height:105px;  border-radius:50%; border: 1px solid #b3975b; margin: 3.5%;">
                                <img src="assets/jsw/icon-vouchures-monthly.png" class="intro-icon" style="background-color: #b3975b;height:100%;width:100%">
                            </div>
                        </div>
                        <div>
                            <p style="text-align:center;margin-top: 5%; margin-left:0;margin-right:0;font-size:15px;">₹ 10,000 vouchers monthly for top 5
                                <br> performers (one per product category)</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6" data-toggle="modal" data-target="#myModal6">
                        <div style="width:115px; height:115px; margin-left:auto;margin-right:auto;  border-radius:50%; border: 1px solid #b3975b; ">
                            <div class="row" style="width:105px; height:105px;  border-radius:50%; border: 1px solid #b3975b; margin: 3.5%;">
                                <img src="assets/jsw/icon-international-trip.png" class="intro-icon" style="background-color: #b3975b;height:100%;width:100%">
                            </div>
                        </div>
                        <div>
                            <p style="text-align:center;margin-top: 5%; margin-left:0;margin-right:0;font-size:15px;">International trip on MOU completion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REWARDS & RECOGNITION End-->


        <!-- ******************************************************************************************************************* -->
        <div class="modal fade modalcommon" id="myModal5" *ngIf="displaypc">
            <div class="modal-dialog" style="margin-right: 41%;">
                <div class="modal-content contentcommon">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"> ₹ 10,000 vouchers monthly for top 5 performers (one per product category) </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body div2">
                        <h4>“Great performers should always be rewarded”</h4>
                        <br>
                        <p class="inside-paragraph">Leader board will display India’s top 5 performers of the month (1 per product category).</p>
                        <br>
                        <p class="inside-paragraph">The winners would be evaluated basis their monthly performance over last year same month.</p>
                        <br>
                        <p class="inside-paragraph">To ensure every distributor whether big or small gets an equal opportunity to win, the volume growth would be indexed as per below formula:--
                            <br> (Index = volume added over last year same month * % growth over last year same month)</p>
                        <br>
                        <p class="inside-paragraph">Spouses of top five winners every month would be rewarded with Rs 10,000 Amazon gift voucher</p>
                    </div>



                </div>
            </div>
        </div>
        <!--Modal 5 Mobile responsive div starts-->
        <div class="modal fade col-12" id="myModal5" *ngIf="displaymobile" style="z-index: 10000;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content col-12">
                    <!-- Modal Header -->
                    <div class="modal-header col-12" style="text-align: center;">
                        <h4 class="modal-title" style="font-size: 17px"> ₹ 10,000 vouchers monthly for top 5 performers (one per product category) </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <h4 style="font-size: 17px;">“Great performers should always be rewarded”</h4>
                        <div>
                            <p style="font-size: 15px;">Leader board will display India’s top 5 performers of the month (1 per product category).</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">The winners would be evaluated basis their monthly performance over last year same month.</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">The winners would be evaluated basis their monthly performance over last year same month.</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">To ensure every distributor whether big or small gets an equal opportunity to win, the volume growth would be indexed as per below formula:--
                                <br> (Index = volume added over last year same month * % growth over last year same month)</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">Spouses of top five winners every month would be rewarded with Rs 10,000 Amazon gift voucher.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 5 Mobile responsive div ends-->


        <!-- ******************************************************************************************************************* -->


        <!-- ******************************************************************************************************************* -->
        <div class="modal fade modalcommon" id="myModal6" *ngIf="displaypc">
            <div class="modal-dialog" style="margin-right: 41%;">
                <div class="modal-content contentcommon">


                    <div class="modal-header">
                        <h4 class="modal-title" style="margin-left: 25%;"> International trip on MOU completion </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <div class="modal-body div2">
                        <br>
                        <p class="inside-paragraph">Travelling is always fascinating and the best of the best distributors have witnessed all our previous international conferences in last so many years.</p>
                        <br>
                        <p class="inside-paragraph">All distributors who achieve 100% of their MOU volumes would be eligible for an international conference.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 6 Mobile responsive div starts-->
        <div class="modal fade col-12" id="myModal6" *ngIf="displaymobile" style="z-index: 10000;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content col-12">
                    <!-- Modal Header -->
                    <div class="modal-header col-12" style="text-align: center;">
                        <h4 class="modal-title" style="font-size: 17px">International trip on MOU completion</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>
                            <p style="font-size: 15px;">Travelling is always fascinating and the best of the best distributors have witnessed all our previous international conferences in last so many years.</p>
                        </div>
                        <div>
                            <p style="font-size: 15px;">All distributors who achieve 100% of their MOU volumes would be eligible for an international conference.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal 6 Mobile responsive div ends-->
        <!-- ******************************************************************************************************************* -->




    </div>

</div>
<!--Code for mobile starts-->
<style>
    @media screen and (max-width:812px)and (min-width:300px) {
        .mobile-banner {
            margin-bottom: 0px;
        }
    }
</style>
<!--Code for mobile ends here-->