
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf=" displaypc">
    <img src="assets/privilege-club.jpg" class="bannerImage" width="100%" />
</div>
<!-- <div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile"> -->
    <!-- <img src="assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:7px" /> -->
<!-- </div> -->

<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
        <img src="assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:15px" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>

<div class="spinner" style="z-index: 9999;top: 53%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div class="col-lg-12 center-button-mobile" >
    <feedback-message></feedback-message>
    <!-- <feedback-message style="margin-top: 50%"></feedback-message>
    <div *ngIf="displaymobile && showPopUp" class="alert alert-success col-12 col-sm-12" style="text-align: center;margin-top: -50px;">
        <button type="button" class="close" data-dismiss="alert" (click)="closePopUp()">&times;</button>
        <strong>File downloaded successfully!</strong> 
        <button class="btn-jsw-popup" style="text-align: center" (click)="openFileMobile()">View file</button>
    </div> -->

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" *ngIf="displaypc">

            <div class="col-md-3" style="margin-right: 4%;" *ngIf="this.programRoleInfo.showDistributorReport === true && displaypc">
                <button type="button" class="btn btn-jsw my-4" (click)="downloadDistributorDealerReport('distributor')">Download Distributor Report</button>
            </div>


            <div class="col-md-3" style="margin-right: 4%;" *ngIf="(this.programRoleInfo.showLeadReport === true ) && displaypc">
                <button type="button" class="btn btn-jsw my-4" (click)="downloadLeadReport()">Download Lead Report</button>
                <!-- <a href="{{report}}" target="_blank" class="cd-download" download> Download Lead Report</a> -->
            </div>



            <div class="col-md-3" style="margin-right: 4%;" *ngIf="this.programRoleInfo.showDealerReport === true && displaypc">
                <button type="button" class="btn btn-jsw my-4" (click)="downloadDistributorDealerReport('dealer')">Download Dealer Report</button>
            </div>

            <div class="col-md-3" style="margin-right: 4%;" *ngIf="this.programRoleInfo.showEngineerReport === true && displaypc">
                <button type="button" class="btn btn-jsw my-4" (click)="downloadDistributorDealerReport('engineer')">Download Engineer Report</button>
            </div>


        </div>
        <div class="col-md-12 col-12 col-sm-12 col-lg-12" *ngIf="displaymobile">
         

            <!--Code for mobile-->
            <div class="col-md-3 col-12 div-padding" *ngIf="this.programRoleInfo.showDistributorReport === true && displaymobile">

                <button type="button" class="btn btn-jsw my-4 btn-block" style="font-size:15px" id="dwnld1">Download Distributor Report</button>
            </div>
            <!--Code for mobile-->

            <!--Code for mobile-->
            <div class="col-md-3 col-12 div-padding" *ngIf="(this.programRoleInfo.showLeadReport === true) && displaymobile">
                <button type="button" class="btn btn-jsw my-4 btn-block" id="dwnld" style="font-size:15px">Download Lead Report</button> 
                <!-- <a href="{{report}}" target="_blank" class="cd-download" download> Download Lead Report</a> -->
            </div>
            <!--Code for mobile-->

            <!--Code for mobile-->
            <div class="col-md-3 col-12 div-padding" *ngIf="this.programRoleInfo.showDealerReport === true && displaymobile">
                <button type="button" class="btn btn-jsw my-4 btn-block" style="font-size:15px" id="dwnld2">Download Dealer Report</button>
            </div>
            <div class="col-md-3 col-12 div-padding" *ngIf="this.programRoleInfo.showEngineerReport === true && displaymobile">
                <button type="button" class="btn btn-jsw my-4 btn-block" style="font-size:15px" id="dwnld3">Download Engineer Report</button>
            </div>
            <!--Code for mobile-->


        </div>
    </div>

</div>
<style>
    .center-mobile-button {
        margin-top: 3%;
    }
    
    @media screen and (min-width:310px) and (max-width:810px) {
        .center-button-mobile {
            margin-top: 62px;
        }
        .div-padding {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
</style>