<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc " class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!-- <div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile " class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="bannerImage bannerImage1" width="100%" />
</div> -->
<!--Banner For mobile (Only for engineer--> 
<!-- <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="eng-banner" width="100%" />
</div> -->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain banner-height" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:15px" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
 
<div class="container container-for-mobile">
    <div class="row" *ngIf="displaypc">
        <div class="col-md-12" style="padding-left: 0;">
            <a style="color: #02f;" (click)="backToCelebrations()">
                <i style="cursor:pointer;">Back to celebrations</i>
            </a>
        </div>
    </div>
    <div class="row titlebox my-4 title-for-mobile" style="padding-top:22px;">
        {{selectedCelebration.title}}
    </div>

    <div class="row">
        <div class="col-md-12 mt-3 info-box1">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="true" (click)="tabClick('imagesTabClick')">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="false" (click)="tabClick('videosTabClick')">Videos</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- images tab -->
                <div class="tab-pane fade show active" id="images" role="tabpanel" aria-labelledby="images-tab">
                    <div class="row con-box">
                        <div *ngFor="let image of selectedCelebration.images; let j=index;">
                            <div style="padding-top: 2rem; padding-bottom: 2rem;">
    
                                <div class="con-img">
                                    <div style="display:flex;justify-content:flex-end;">
                                    </div>
                                    <img *ngIf="displaypc" id="clientLogo" class="img1" [src]="image" (click)="zoom(image)" style="width: 250px;height: 145px;" alt="Image preview...">
                                    <img *ngIf="displaymobile" id="clientLogo" class="img1" [src]="image" style="width: 250px;height: 145px;" alt="Image preview...">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedCelebration.images.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No images added.</div>
                    </div>
                </div>
                <!-- videoes tab -->
                <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                    <div class="row con-box">
                        <div *ngFor="let video of selectedCelebration.videos; let h=index;">
                            <div style="padding-top: 1rem;">
    
                                <div class="">
                                    <div style="display:flex;justify-content:flex-end;">
                                    </div>
                                    <video class="videoC" id="video_here" width="320" height="240" controls>
                                        <source [src]="video"> Your browser does not support the video preview.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedCelebration.videos.length === 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No videos added.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- for zooming the image -->
<div *ngIf="isZoom" class="alert alert-info zoom-img" >
    <a (click)="closeDetails()" style="color:white;float:right">X</a>
    <img id="First IMG" class="img1" [src]="imageURL" style="height:100%;" alt="Image preview...">
</div>