.multi-item-carousel {
    .carousel-inner {
        >.item {
            transition: 500ms ease-in-out left;
        }
        .active {
            &.left {
                left: -33%;
            }
            &.right {
                left: 33%;
            }
        }
        .next {
            left: 33%;
        }
        .prev {
            left: -33%;
        }
        @media all and (transform-3d),
        (-webkit-transform-3d) {
            >.item {
                //                 // use your favourite prefixer here
                transition: 500ms ease-in-out left;
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none!important;
            }
        }
    }
    .banner-height{
        height: 10rem;
    }
    .carouse-control {
        &.left,
        &.right {
            background-image: none;
        }
    }
}

card-body-events {
    flex: 1 1 auto; // padding: 1.25rem;
}

.main {
 margin-bottom:0px;
}

.noRecords {
    font-family: Roboto;
    color: Red;
    padding-top: 1%;
    text-align: center;
    margin-top: 4rem;
}

.img-height {
    height: 450px;
}

.info-box {
    padding: 1em;
    margin: 10px 30px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.info-box1 {
    padding: 1em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.con-img {
    background: #c7c7c7;
    width: 15em;
    height: 8em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.con-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-img{
    height: 170px;
    width: 297px;
}

.zoom-img{
    background-color:#000;
    background-image:none;
    max-height: 100vh; 
    overflow-y:scroll;  
    z-index:1000; 
    position:fixed; 
    width:84%; 
    height: 81%; 
    top:15%; 
    left:8%;
    text-align:center; 
}

//code for mobile
@media screen and(max-width:580px)and (min-width:300px) {
    .bannerImage {
        margin-top: -8px;
        display: flex;
        justify-content: center;
    }
    .img-height {
        height: 220px;
    }
    

}

@media screen and (max-width:825px) and (min-width:300px)
{
.main 
{
    margin-bottom:20px;
}
.bannerImage1
{
    margin-top: -48px !important;
}
}
@media screen and (max-width:350px) and (min-width:300px)
{
    .eng-banner{
        margin-top:51px !important;
    }

    .main-img{
        width: 185px !important;
    }

    .videoC{
        width: 230px !important;
    }
 
}
@media screen and (max-width:825px) and (min-width:351px)
{
    .eng-banner{
        margin-top:51px !important;
    }
   
}

@media screen and (max-width:430px) and (min-width:400px)
{
    .eng-banner{
        margin-top:51px !important;
    }

    .main-img{
        width: 277px !important;
    }
   
}

@media screen and (max-width:375px) and (min-width:370px)
{
    .main-img{
        width: 240px !important;
    }
   
}

@media screen and (max-width:365px) and (min-width:355px)
{
    .main-img{
        width: 227px !important;
    }
   
}

//code for mobile ends here