<div class="spinner" style="z-index: 9999;top:58%;position: fixed;" *ngIf="showLoader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>


<div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaypc " class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!-- <div *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile " class="col-lg-12 col-md-12 col-sm-12 bannerMain">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="bannerImage bannerImage1" width="100%" />
</div> -->
<!--Banner For mobile (Only for engineer-->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club.jpg" class="eng-banner" width="100%" />
</div> -->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain banner-height" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaypc">
    <img src="https://s3.ap-south-1.amazonaws.com/phoenix2-content-files/jsw-assets/assets/privilege-club_2.jpg" class="bannerImage" width="100%" />
</div>
<!--Banner For mobile (Only for engineer-->
<div class="col-lg-12 col-md-12 col-sm-12 bannerMain-eng" *ngIf="this.programUserInfo.programRole === this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" style="margin-top:15px" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 bannerMain" *ngIf="this.programUserInfo.programRole !== this.stringService.getStaticContents().jswEngineerProgramRole && displaymobile">
    <img src="assets/images/mobile/privilege-club.png" class="" width="100%" />
</div>
<!-- <div class="col-lg-12 main">
 
    <div class="card-body-events col-md-6 mx-auto">
        <p style="font-weight: 600;">Celebration Gallery</p>
        <ngb-carousel style="width: 97.8%;">
            <template ngbSlide *ngFor="let slider of sliders">
                <img class="img-fluid mx-auto d-block img-height" [src]="slider.imagePath" alt="Random first slide" width="100%">
                <div class="carousel-caption">
                    <p>{{slider.text}}</p>
                </div>
            </template>
        </ngb-carousel>
        <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Records Found</div>
    </div>
</div> -->

<!-- new code added by trupti -->
<div class="container">
        <div class="row titlebox my-4 title-for-mobile" style="padding-top:22px;">
            Celebrations
        </div>
    <div class="row d-flex justify-content-center mt-5 mobile-spacing" >
        
        <div class="card info-box col-md-4" *ngFor="let celebration of celebrationslist; let i = index;">

            <div class="card-body">
                <img class="card-img-top main-img" [src]="celebration.bannerImage">
            </div>
            <div class="card-body content-card-padding" style="text-align: center;">
                <h5 class="card-title align-left content-header-element">{{celebration.title}}</h5>
                <!-- <p class="card-text align-left mobile-font content-element">{{upcoming.startDate}} - {{upcoming.endDate}}</p> -->
                <p class="card-text align-left mobile-font">{{celebration.celebrationDate}}</p>
                <button class="btn-jsw" data-toggle="modal" data-target="#imgGallery" (click)="viewGallery(celebration)">View Gallery</button>
            </div> 
        </div>
        <div *ngIf="noRecords===true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 noRecords">No Celebration Found</div>
    </div>
</div>